﻿<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">×</button>
    <h2 class="modal-title">System Error</h2>
</div>
<div class="modal-body">
    <br />
    <p>An error occurred while processing your request.  The support team has been notified of the issue.</p>
    <br />
    <p class="text-muted small">{{Message}}<br />{{RequestUrl}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="Close()">Ok</button>
</div>
