﻿.client-address-container {
  /*Giving space to the validation icon*/
  width: calc(100% - 20px);
}
.client-address-container > table {
  min-width: 900px;
  margin-bottom: 10px;
}
.client-address-container > table input + input {
  margin-top: 5px;
}
.client-address-container > table .type-column {
  width: 110px;
}
.client-address-container > table .type-column input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}
.client-address-container > table .country-column {
  width: 80px;
}
.client-address-container > table .postal-column {
  width: 110px;
}
.client-address-container > table .postal-column .postal-code-input {
  width: 95px;
}
.client-address-container > table .city-column {
  width: 150px;
}
.client-address-container > table .state-column {
  width: 70px;
}
.client-address-container > table .county-column {
  width: 110px;
}
.client-clearance-addresses tbody tr td {
  padding: 0;
}
.client-clearance-addresses .address-header {
  display: block;
  color: #333333;
  background-color: #f4f4f4;
  padding: 3px 0 3px 10px;
  border: solid 1px #dddddd;
  margin-bottom: 5px;
  border-radius: 4px;
}
.client-clearance-addresses .address-header > i:nth-child(1) {
  float: left;
  margin-top: 8px;
  width: 15px;
}
.client-clearance-addresses .address-header > div:nth-child(2) {
  margin-top: 4px;
  font-size: 14px;
  float: left;
  width: calc(100% - 50px);
}
.client-clearance-addresses .address-header > button:nth-child(3) {
  float: right;
}
.client-clearance-addresses .address-header:after {
  content: "";
  display: table;
  clear: both;
}
.client-clearance-addresses .address-header.selected-address {
  cursor: default;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
