﻿<div class="client-address-container editable-collection">
    <table class="table table-striped table-condensed table-bordered table-curved">
        <thead>
            <tr>
                <th class="type-column">Type</th>
                <th class="country-column">Country</th>
                <th>Address</th>
                <th class="postal-column">Postal Cd</th>
                <th class="city-column">City</th>
                <th class="state-column">State</th>
                <th class="county-column">County</th>
                <th class="primary-column">Primary</th>
                <th class="delete-button-column"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="vm.Addresses.length == 0">
                <td colspan="10" class="text-muted">
                    <div validated-field="{icon: true, iconOnly: true, names: ['Address']}">
                        There are no addresses associated to this client
                    </div>
                </td>
            </tr>
            <tr ng-repeat="addr in vm.Addresses">
                <td class="type-column" dynamic-name="'AddressTypeSection[' + $index + ']'">
                    <div ng-hide="usesCms" ng-if="vm.LegacyAddressTypes != null">
                        <select class="form-control" ng-model="addr.AddressTypes[0]" ng-options="i as i for i in vm.LegacyAddressTypes"></select>
                    </div>
                    <div ng-show="vm.UsesCms">
                        <label ng-repeat="at in vm.AddressTypes" class="address-type-checkbox">
                            <input type="checkbox" ng-checked="vm.AddressHasType(addr, at)" ng-click="vm.ToggleAddressType(addr, at)" />
                            <span>{{at}}</span>
                        </label>
                    </div>
                </td>
                <td class="country-column">
                    <select class="form-control" ng-model="addr.Country" ng-options="i.Code as i.Code for i in vm.Countries"></select>
                </td>
                <td>
                    <input type="text" dynamic-name="'Address[' + $index + ']-Address1'" ng-model="addr.Address1" class="form-control" placeholder="Address Line 1" validated-field />
                    <input type="text" dynamic-name="'Address[' + $index + ']-Address2'" ng-model="addr.Address2" class="form-control" placeholder="Address Line 2" />
                </td>
                <td class="postal-column">
                    <div class="input-group">
                        <input type="text" dynamic-name="'Address[' + $index + ']-PostalCode'" ng-model="addr.PostalCode" class="form-control" ng-change="vm.PostalCodeSearch(addr)" validated-field />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-disabled="vm.AppState.Loading || addr.Country != 'USA'" tab-index="-1" ng-click="vm.AdvancedAddressSearch(addr)" validated-field>
                                <i class="fa fa-location-arrow"></i>
                            </button>
                        </span>
                    </div>
                </td>
                <td class="city-column">
                    <input type="text" dynamic-name="'Address[' + $index + ']-City'" ng-model="addr.City" class="form-control" ng-class="{ 'async-search': addr.PostalCodeSearching }" validated-field />
                </td>
                <td class="state-column">
                    <div ng-switch="addr.Country">
                        <div ng-switch-when="USA">
                            <select class="form-control" dynamic-name="'Address[' + $index + ']-State'" ng-model="addr.State" ng-options="i.Abbreviation as i.Abbreviation for i in vm.States" ng-class="{ 'async-search': addr.PostalCodeSearching }" validated-field></select>
                        </div>
                        <div ng-switch-default>
                            <input class="form-control" dynamic-name="'Address[' + $index + ']-State'" type="text" ng-model="addr.State" validated-field />
                        </div>
                    </div>
                </td>
                <td class="county-column">
                    <input type="text" ng-model="addr.County" class="form-control" ng-class="{ 'async-search': addr.PostalCodeSearching }" validated-field />
                </td>
                <td class="primary-column">
                    <input type="radio" name="PrimaryAddress" ng-checked="addr.IsPrimary" ng-click="vm.SetPrimaryAddress(addr)" />
                </td>
                <td class="delete-button-column">
                    <div validated-field="{icon: true, iconOnly: true, names: ['Address[' + $index + ']', 'Address[' + $index + ']-Address1', 'Address[' + $index + ']-PostalCode', 'Address[' + $index + ']-City', 'Address[' + $index + ']-State']}">
                        <button type="button" class="btn btn-link" ng-disabled="vm.AppState.Loading" ng-click="vm.DeleteAddress($index)"><i class="fa fa-trash-o"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.AddAddress()">
                        <i class="fa fa-plus-circle"></i><span>Add Address</span>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
