﻿<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Address Search</h2>
    </div>
    <div class="modal-body">
        <loading-well text="Loading Addresses" ng-show="vm.LoadingMatches" layout="loading-well-sm"></loading-well>
        <table ng-hide="vm.LoadingMatches" class="table table-striped table-condensed table-outlined table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>Postal Code</th>
                    <th>City</th>
                    <th>State</th>
                    <th>County</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="!vm.LoadingMatches && vm.Matches.length == 0">
                    <td colspan="7">No addresses found</td>
                </tr>
                <tr ng-show="!vm.LoadingMatches" ng-repeat="m in vm.Matches" class="cursor-pointer" ng-click="vm.SetSelectedAddress(m)">
                    <td>
                        <input type="radio" name="AddressSelection" ng-checked="m == vm.SelectedAddress" />
                    </td>
                    <td>{{m.Address1}}</td>
                    <td>{{m.Address2}}</td>
                    <td>{{m.City}}</td>
                    <td>{{m.State}}</td>
                    <td>{{m.PostalCode | postalCode}}</td>
                    <td>{{m.County}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="vm.SelectedAddress == null" ng-click="vm.PopulateAddress(vm.SelectedAddress)">Update</button>
        <button class="btn btn-default" ng-click="vm.Close()">Cancel</button>
    </div>
</div>