﻿<div class="client-clearance-addresses">
    <div ng-repeat="addr in vm.Addresses">
        <div class="row">
            <div class="col-md-6">
                <a class="address-header" ng-href="{{(vm.EditIndex == $index) ? '' : 'javascript:void(0);'}}" ng-click="vm.EditAddress($index)" ng-show="vm.Addresses.length > 1" ng-class="{'selected-address': vm.EditIndex == $index, 'form-invalid': addr.IsInvalid}">
                    <i class="fa fa-caret-down" ng-class="{'fa-caret-down': vm.EditIndex == $index, 'fa-caret-right': vm.EditIndex != $index}"></i>
                    <div>
                        <span ng-show="vm.EditIndex == $index">Address #{{$index + 1}}</span>
                        <span ng-show="vm.EditIndex != $index">
                            <address-view address="addr" single-line></address-view>
                        </span>
                    </div>
                    <button type="button" class="btn btn-link" tabindex="-1" ng-disabled="vm.AppState.Loading || $index == 0" ng-click="vm.DeleteAddress($index)"><i class="fa fa-trash-o"></i></button>
                </a>
            </div>
            <div class="col-md-6">
                <span ng-if="$index == 0"><validation-message property="Address"></validation-message></span>
                <span ng-show="vm.EditIndex != $index"><validation-message regex="{{'Address\\[' + $index + '\\].+'}}"></validation-message></span>
                <validation-message property="{{'Address[' + $index + ']'}}"></validation-message>
            </div>
        </div>
        <div class="address-body" ng-show="vm.EditIndex == $index">
            <div class="row form-group">
                <div class="col-md-2">Type</div>
                <div class="col-md-4" dynamic-name="'AddressTypeSection[' + $index + ']'">
                    <div ng-hide="vm.UsesCms">
                        <label class="inline-radio-selection" ng-repeat="at in vm.LegacyAddressTypes">
                            <input type="radio" class="radio-inline" name="Address[{{$parent.$index}}]-TypeSelector" ng-model="addr.AddressTypes[0]" ng-value="at" />
                            <span>{{at}}</span>
                        </label>
                    </div>
                    <div ng-show="vm.UsesCms">
                        <label ng-repeat="at in vm.AddressTypes">
                            <input type="checkbox" ng-checked="vm.AddressHasType(addr, at)" ng-click="vm.ToggleAddressType(addr, at)" />
                            <span>{{at}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">Address Line 1</div>
                <div class="col-md-4">
                    <input type="text" dynamic-name="'Address[' + $index + ']-Address1'" ng-model="addr.Address1" class="form-control" validated-field />
                </div>
                <div class="col-md-6">
                    <validation-message property="{{'Address[' + $index + ']-Address1'}}"></validation-message>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">Address Line 2</div>
                <div class="col-md-4">
                    <input type="text" dynamic-name="'Address[' + $index + ']-Address2'" ng-model="addr.Address2" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">Postal Code</div>
                <div class="col-md-4">
                    <input type="text" dynamic-name="'Address[' + $index + ']-PostalCode'" ng-model="addr.PostalCode" class="form-control postal-code-input" ng-change="vm.PostalCodeSearch(addr)" placeholder="{{(addr.Country == 'USA') ? '_____-____' : ''}}" validated-field />
                </div>
                <div class="col-md-6">
                    <validation-message property="{{'Address[' + $index + ']-PostalCode'}}"></validation-message>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">City</div>
                <div class="col-md-4">
                    <input type="text" dynamic-name="'Address[' + $index + ']-City'" ng-model="addr.City" class="form-control" ng-class="{ 'async-search': addr.PostalCodeSearching }" validated-field />
                </div>
                <div class="col-md-6">
                    <validation-message property="{{'Address[' + $index + ']-City'}}"></v></validation-message>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">County</div>
                <div class="col-md-4">
                    <input type="text" ng-model="addr.County" class="form-control" ng-class="{ 'async-search': addr.PostalCodeSearching }" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">State</div>
                <div class="col-md-4">
                    <div ng-switch="addr.Country">
                        <div ng-switch-when="USA">
                            <select class="form-control" dynamic-name="'Address[' + $index + ']-State'" ng-model="addr.State" ng-options="i.Abbreviation as (i.Abbreviation + ' - ' + i.StateName) for i in vm.States" ng-class="{ 'async-search': addr.PostalCodeSearching }" validated-field>
                                <option></option>
                            </select>
                        </div>
                        <div ng-switch-default>
                            <input class="form-control" dynamic-name="'Address[' + $index + ']-State'" type="text" ng-model="addr.State" validated-field />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <validation-message property="{{'Address[' + $index + ']-State'}}"></></validation-message>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">Country</div>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control" ng-model="addr.Country" ng-options="i.Code as i.Code for i in vm.Countries"></select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" tabindex="-1" ng-disabled="AppState.Loading || addr.Country != 'USA'" tab-index="-1" ng-click="vm.AdvancedAddressSearch(addr)" title="Address Lookup">
                                <i class="fa fa-location-arrow"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row form-group" ng-show="vm.Addresses.length > 1">
                <div class="col-md-2">Primary</div>
                <div class="col-md-4">
                    <label class="inline-radio-selection" ng-repeat="i in [{ value: true, text: 'Yes' }, { value: false, text: 'No' }]">
                        <input type="radio" class="radio-inline" name="Address[{{$parent.$index}}]-PrimarySelector" ng-model="addr.IsPrimary" ng-value="i.value" ng-change="vm.PrimaryAddressSelectionChanged(addr)" />
                        <span>{{i.text}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.AddAddress()">
            <i class="fa fa-plus-circle"></i><span>Add Address</span>
        </button>
    </div>
</div>