﻿@import "../../../styles/variables";

.client-address-container {
    /*Giving space to the validation icon*/
    width: ~"calc(100% - 20px)";

    & > table {
        min-width: 900px;
        margin-bottom: 10px;

        input + input {
            margin-top: 5px;
        }

        .type-column {
            width: 110px;

            input[type="checkbox"] {
                margin-right: 5px;
                vertical-align: middle;
            }
        }

        .country-column {
            width: 80px;
        }

        .postal-column {
            width: 110px;

            .postal-code-input {
                width: 95px;
            }
        }

        .city-column {
            width: 150px;
        }

        .state-column {
            width: 70px;
        }

        .county-column {
            width: 110px;
        }
    }
}

.client-clearance-addresses {
    tbody {
        tr {
            td {
                padding: 0;
            }
        }
    }

    .address-header {
        display: block;
        color: @bts-black;
        background-color: @light-gray;
        padding: 3px 0 3px 10px;
        border: solid 1px @dark-gray;
        margin-bottom: 5px;
        border-radius: @border-radius;

        & > i:nth-child(1) {
            float: left;
            margin-top: 8px;
            width: 15px;
        }

        & > div:nth-child(2) {
            margin-top: 4px;
            font-size: 14px;
            float: left;
            width: ~"calc(100% - 50px)";
        }

        & > button:nth-child(3) {
            float: right;
        }

        &:after {
            .clearfix();
        }

        &.selected-address {
            cursor: default;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
