﻿<div class="client-address-container">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th class="type-column">Type</th>
                <th class="country-column">Country</th>
                <th>Address</th>
                <th class="postal-column">Postal Cd</th>
                <th class="city-column">City</th>
                <th class="state-column">State</th>
                <th class="county-column">County</th>
                <th class="primary-column">Primary</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="vm.Addresses.length == 0">
                <td colspan="10" class="text-muted">
                    There are no addresses associated to this client
                </td>
            </tr>
            <tr ng-repeat="addr in vm.Addresses">
                <td class="type-column" dynamic-name="'AddressTypeSection[' + $index + ']'">
                    {{ addr.AddressTypes.join(', ') }}
                </td>
                <td class="country-column">
                    {{addr.Country}}
                </td>
                <td>
                    <div>{{addr.Address1}}</div>
                    <div>{{addr.Address2}}</div>
                </td>
                <td class="postal-column">
                    {{addr.PostalCode | postalCode}}
                </td>
                <td class="city-column">
                    {{addr.City}}
                </td>
                <td class="state-column">
                    {{addr.State}}
                </td>
                <td class="county-column">
                    {{addr.County}}
                </td>
                <td class="primary-column">
                    <i class="fa fa-check" ng-show="addr.IsPrimary"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
