﻿<div class="client-detail" ng-hide="vm.AppState.PageGenerating || vm.Client == null">
    <form role="form" name="ClientForm">
        <div class="content-header with-section-headings affix">
            <div class="container">
                <div class="pull-left">
                    <ul class="list-inline">
                        <li>
                            <label>Client</label>
                            <div>{{vm.Client.ClientCoreId}}</div>
                        </li>
                        <li>
                            <label is-required="vm.Editing">Name</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>
                                        <div>{{vm.Client.PrimaryName.BusinessName}}</div>
                                    </read>
                                    <write>
                                        <input type="text" name="BusinessName" class="form-control primary-name-input" ng-model="vm.Client.PrimaryName.BusinessName" validated-field="{icon: true}" />
                                    </write>
                                </editable-field>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pull-right" ng-show="vm.ShowActions">
                    <editable-field editing="vm.Editing">
                        <read>
                            <button type="button" class="btn btn-default" ng-click="vm.Edit()">Edit</button>
                            <span ng-if="!vm.ShowAdvancedActions">
                                <button type="button" class="btn btn-default" ng-click="vm.NewSubmission()">Create Application</button>
                            </span>
                            <span ng-if="vm.ShowAdvancedActions">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-click="vm.NewSubmission()">Create Application</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a ng-click="vm.SwitchClient()">Switch Submissions' Client</a></li>
                                    </ul>
                                </div>
                            </span>
                        </read>
                        <write>
                            <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading || vm.PerformingPortfolioSearch" ng-click="vm.Save()">Save</button>
                            <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading || vm.PerformingPortfolioSearch" ng-click="vm.Cancel()">Cancel</button>
                        </write>
                    </editable-field>
                </div>
            </div>
        </div>
        <div class="content-detail with-section-headings">
            <alert ng-show="ClientForm.ValidationErrors.length > 0" type="'danger'">
                <ul>
                    <li ng-repeat="v in ClientForm.ValidationErrors">{{v.Message}}</li>
                </ul>
            </alert>
            <div class="primary-information-container">
                <div class="primary-information-grid">
                    <div class="{{vm.ColumnClasses}}">
                        <div class="form-group property-information" ng-if="vm.CompanySettings.ClientFields.FEIN.Enabled">
                            <label is-required="vm.Editing && vm.CompanySettings.ClientFields.FEIN.Required">{{vm.CompanySettings.ClientFields.FEIN.Label}}</label>
                            <div class="fein-input">
                                <editable-field editing="vm.Editing">
                                    <read>{{vm.Client.FEIN | FEIN | NA}}</read>
                                    <write><input type="text" name="FEIN" class="form-control" ng-model="vm.Client.FEIN" validated-field="{icon: true}" /></write>
                                </editable-field>
                            </div>
                        </div>
                        <div class="form-group property-information" ng-if="vm.CompanySettings.ClientFields.SicCode.Enabled">
                            <label is-required="vm.Editing && vm.CompanySettings.ClientFields.SicCode.Required">{{vm.CompanySettings.ClientFields.SicCode.Label}}</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>{{vm.Client.SicCode | codeItem | NA}}</read>
                                    <write>
                                        <span ng-model="vm.Client.SicCode" item-select="{ source: vm.SicCodeSearch, display: 'i.Code + \' - \' + i.Description', matchTemplate: 'item-select-sic-code', appendToBody: true}"></span>
                                    </write>
                                </editable-field>
                            </div>
                        </div>
                        <div class="form-group property-information" ng-if="vm.CompanySettings.ClientFields.NaicsCode.Enabled">
                            <label is-required="vm.Editing && vm.CompanySettings.ClientFields.NaicsCode.Required">{{vm.CompanySettings.ClientFields.NaicsCode.Label}}</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>{{vm.Client.NaicsCode | codeItem | NA}}</read>
                                    <write>
                                        <span ng-model="vm.Client.NaicsCode" item-select="{ source: vm.NaicsCodeSearch, display: 'i.Code + \' - \' + i.Description', matchTemplate: 'item-select-naics-code', appendToBody: true}"></span>
                                    </write>
                                </editable-field>
                            </div>
                        </div>
                        <div class="form-group property-information" ng-if="vm.CompanySettings.ClientFields.AccountPremium.Enabled" ng-show="!vm.Editing">
                            <label>{{vm.CompanySettings.ClientFields.AccountPremium.Label}}</label>
                            <div>
                                {{(vm.Client.AccountPremium != null) ? vm.Client.AccountPremium : 0 | currency}}
                            </div>
                        </div>
                        <div class="form-group property-information" ng-if="vm.ShowSegment" ng-show="!vm.Editing">
                            <label>{{vm.CompanySettings.ClientFields.ClientCoreSegment.Label}}</label>
                            <div>
                                {{vm.Client.ClientCoreSegment.Description}}
                            </div>
                        </div>
                        <div ng-if="vm.CompanySettings.ClientFields.PortfolioInformation.Enabled">
                            <div class="form-group property-information">
                                <label is-required="vm.Editing">Portfolio</label>
                                <div>
                                    <editable-field editing="vm.Editing">
                                        <read>
                                            {{vm.Client.Portfolio.Id | NA}}
                                            (<ng-pluralize count="vm.Client.Portfolio.ClientCount"
                                                           when="{'1': '1 client', 'other': '{} clients'}"></ng-pluralize>)
                                        </read>
                                        <write>
                                            <input type="text" name="PortfolioId" class="form-control" ng-model="vm.Client.Portfolio.Id" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" ng-change="vm.PortfolioIdChanged()" validated-field="{icon: true}" />
                                        </write>
                                    </editable-field>
                                </div>
                            </div>
                            <div class="form-group property-information">
                                <label is-required="vm.Editing">Portfolio Name</label>
                                <div>
                                    <editable-field editing="vm.Editing">
                                        <read>{{vm.Client.Portfolio.Name | NA}}</read>
                                        <write>
                                            <input type="text" name="PortfolioName" class="form-control" ng-class="{'async-search': vm.PerformingPortfolioSearch}" ng-model="vm.Client.Portfolio.Name" validated-field="{icon: true}" />
                                        </write>
                                    </editable-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group property-information" ng-repeat="b in vm.Client.CompanyCustomizationBindings">
                            <label>{{b.Customization.Description}}</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>
                                        <company-customization-read binding="b"></company-customization-read>
                                    </read>
                                    <write>
                                        <company-customization-write binding="b"></company-customization-write>
                                    </write>
                                </editable-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.CompanySettings.ClientFields.BusinessDescription.Enabled">
                    <hr />
                    <div class="property-information">
                        <label is-required="vm.Editing && vm.CompanySettings.ClientFields.BusinessDescription.Required">{{vm.CompanySettings.ClientFields.BusinessDescription.Label}}</label>
                        <div>
                            <editable-field editing="vm.Editing">
                                <read>{{vm.Client.BusinessDescription | NA}}</read>
                                <write>
                                    <textarea class="form-control" ng-model="vm.Client.BusinessDescription"></textarea>
                                </write>
                            </editable-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondary-information-tabs">
                <div class="nav-tab-bar">
                    <ul class="nav nav-tabs nav-tabs-borderless">
                        <li ui-sref-active="active" validated-tab="{regexs: ['Address.*']}">
                            <a ui-sref="cn.search.client.contactinfo">Contact Info</a>
                        </li>
                        <li ui-sref-active="active" validated-tab="{regexs: ['AdditionalNames.*']}">
                            <a ui-sref="cn.search.client.names"><collection-label title="Additional Names" count="vm.Client.AdditionalNames.length"></collection-label></a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="cn.search.client.classcodes"><collection-label title="Class Codes" count="vm.ClassCodes.length"></collection-label></a>
                        </li>
                        <li ui-sref-active="active" ng-hide="vm.Editing">
                            <a ui-sref="cn.search.client.submissions"><collection-label title="Submissions" count="vm.Submissions.count"></collection-label></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-detail">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </form>
</div>
