﻿<div class="editable-collection client-contacts">
    <table class="table table-striped table-condensed table-bordered table-curved table-curved-no-header table-curved-no-footer table-no-margin" ng-class="{'table-no-footer': !vm.UsesCms}">
        <tbody>
            <tr ng-repeat="contact in vm.Contacts">
                <td>
                    <select class="form-control" dynamic-name="'Contact[' + $index + ']-ContactType'" ng-model="contact.ContactType" ng-options="i as i for i in vm.ContactTypes" ng-disabled="vm.ContactTypes.length <= 1"></select>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="contact.Value" />
                </td>
                <td class="delete-button-column" ng-if="vm.UsesCms">
                    <button type="button" tabindex="-1" class="btn btn-link" ng-disabled="vm.AppState.Loading" ng-click="vm.DeleteContact(contact)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot ng-if="vm.UsesCms">
            <tr>
                <td colspan="3">
                    <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.AddContact()">
                        <i class="fa fa-plus-circle"></i><span>{{(vm.Contacts.length == 0) ? 'Add Contact Information' : 'Add Contact Information'}}</span>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>