﻿<table class="table table-striped table-condensed table-bordered client-contacts">
    <thead>
        <tr>
            <th class="type-column">Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-show="vm.Contacts.length == 0">
            <td colspan="2" class="text-muted">
                N/A
            </td>
        </tr>
        <tr ng-repeat="contact in vm.Contacts">
            <td>
                {{contact.ContactType}}
            </td>
            <td>
                {{contact.Value | phoneNumber}}
            </td>
        </tr>
    </tbody>
</table>