﻿<div class="editable-collection">
    <table class="table table-striped table-condensed table-curved table-curved-no-header table-curved-no-footer table-no-margin" ng-class="{'table-bordered': additionalNames.length > 0}">
        <tbody>
            <tr ng-repeat="name in vm.Names">
                <td>
                    <select class="form-control" dynamic-name="'AdditionalNames[' + $index + ']-NameType'" ng-model="name.NameType" ng-options="i as i for i in vm.NameTypes"></select>
                </td>
                <td>
                    <input type="text" dynamic-name="'AdditionalNames[' + $index + ']-BusinessName'" ng-model="name.BusinessName" class="form-control" validated-field />
                </td>
                <td class="delete-button-column">
                    <button type="button" tabindex="-1" class="btn btn-link" ng-disabled="AppState.Loading" ng-click="vm.DeleteName(name)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.AddName()">
        <i class="fa fa-plus-circle"></i><span>{{(vm.Names.length == 0) ? 'Add Additional Names' : 'Add Additional Name'}}</span>
    </button>
</div>

