﻿<div>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="name in vm.Names">
                <td>
                    {{name.NameType}}
                </td>
                <td>
                    {{name.BusinessName}}
                </td>
            </tr>
        </tbody>
    </table>
</div>