﻿<form role="form" name="vm.UserForm" ng-submit="vm.SaveUser()">
    <alert ng-show="vm.UserForm.ValidationErrors.length > 0" type="'danger'">
        <ul>
            <li ng-repeat="v in vm.UserForm.ValidationErrors">{{v.Message}}</li>
        </ul>
    </alert>
    <div ng-if="!vm.AppState.PageGenerating">
        <div class="row dotted-columns">
            <div class="col-md-7">
                <h3>Details</h3>
                <div class="form-group property-information">
                    <label is-required="true">User Name</label>
                    <div>
                        <input type="text" name="UserName" class="form-control" ng-model="vm.SelectedUser.UserName" validated-field />
                    </div>
                </div>
                <div class="form-group property-information">
                    <label is-required="true">User Type</label>
                    <div>
                        <select class="form-control" ng-model="vm.SelectedUser.UserType" ng-options="i as i for i in vm.UserTypes"></select>
                    </div>
                </div>
                <div class="form-group property-information">
                    <label is-required="true">Status</label>
                    <div>
                        <select class="form-control" ng-model="vm.SelectedUser.Active" ng-options="i.value as i.text for i in [{ value: true, text: 'Active' }, { value: false, text: 'Inactive' }]"></select>
                    </div>
                </div>
                <div class="form-group property-information">
                    <label is-required="true">Default Company</label>
                    <div>
                        <select class="form-control" ng-model="vm.SelectedUser.DefaultCompany" ng-options="c as c.Description for c in vm.SelectedUser.Companies | orderBy:'Description' track by c.Description" ng-change="vm.DefaultCompanyChanged()">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group property-information">
                    <label><abbr title="If this is set, all clients created by this user will be created in the selected segment">Client Segment</abbr></label>
                    <div>
                        <select class="form-control" ng-model="vm.SelectedUser.ClientCoreSegmentCode" ng-options="c.Code as c.Description for c in vm.ClientCoreSegments | orderBy:'Description'">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group property-information">
                    <label><abbr title="If a Limiting Agency is set, this user will only be able to select this agency (or its child agencies) on submissions.  They will also only be able to view submissions that are tied to those agencies.">Limiting Agency</abbr></label>
                    <div>
                        <span ng-model="vm.SelectedUser.LimitingAgency" item-select="{ source: vm.AgencyAutoCompleteSearch, display: 'i.Code + \' - \' + i.Name', matchTemplate: 'item-select-agency'}"></span>
                    </div>
                </div>
                <div class="form-group property-information">
                    <label>Notes</label>
                    <div>
                        <textarea class="form-control" rows="3" ng-model="vm.SelectedUser.Notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h3>Roles</h3>
                <div ng-switch="vm.SelectedUser.UserType">
                    <div ng-switch-when="System Administrator">
                        System Administrators have all roles.
                    </div>
                    <div ng-switch-default>
                        <div ng-repeat="role in vm.Roles">
                            <label class="role-selection">
                                <input type="checkbox" class="checkbox-inline" ng-checked="vm.SelectedUser.Roles.indexOf(role.Code) > -1" ng-click="vm.ToggleRole(role.Code)" />
                                <abbr title="{{role.Description}}">{{role.Code}}</abbr>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="vm.Companies">
            <hr />
            <div class="col-sm-12">
                <h3>Viewable Companies</h3>
                <div class="tri-column-grid" ng-class="{'form-invalid': vm.Companies.InvalidAtFormLevel }">
                    <div ng-repeat="company in vm.Companies">
                        <label>
                            <input type="checkbox" ng-checked="vm.CompanyChecked(company)" ng-click="vm.ToggleCompany(company)" />
                            {{company.CompanyName}} ({{company.CompanyNumber}})
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-sm-12">
                <input type="submit" ng-disabled="vm.AppState.Loading" class="btn btn-primary pull-right" value="{{ vm.IsNew ? 'Create User' : 'Save User' }}" />
            </div>
        </div>
    </div>
</form>