﻿<div class="administration-users row" ng-hide="vm.AppState.PageGenerating">
    <div class="col-md-4 primary-actions-container">
        <div>
            Select an existing user to edit:
            <span name="UserSearchInput" ng-model="vm.SelectedTypeAheadUser" ng-change="vm.SelectUser(vm.SelectedTypeAheadUser)" item-select="{ source: vm.UserSearch, multiSelect: true, matchTemplate: 'item-select-user'}"></span>
        </div>
        <div class="or-container">
            or
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.SelectUser()">Create New User</button>
        </div>
        <div class="or-container">
            or
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.GenerateUsersReport()">Download Active User List</button>
        </div>
    </div>
    <div class="col-md-8 primary-view-container">
        <div ui-view></div>
    </div>
</div>
