﻿@import "../../../../styles/variables";

.administration {
    .administration-users {
        .dotted-columns {
            & > div + div {
                border-left: 1px dotted @medium-gray;
            }
        }

        .primary-actions-container {
            span[name="UserSearchInput"] {
                margin: 5px auto 0;
                width: 80%;
                max-width: 250px;
            }
        }

        .primary-view-container {
            label.role-selection {
                padding-bottom: 5px;
            }
        }
    }
}
