﻿.administration .administration-users .dotted-columns > div + div {
  border-left: 1px dotted #eeeeee;
}
.administration .administration-users .primary-actions-container span[name="UserSearchInput"] {
  margin: 5px auto 0;
  width: 80%;
  max-width: 250px;
}
.administration .administration-users .primary-view-container label.role-selection {
  padding-bottom: 5px;
}
