﻿<div class="exceptions-container" ng-show="vm.PageLoaded">
    <div class="panel panel-default exceptions-form">
        <div class="panel-body">
            <form class="form-inline" ng-submit="vm.Search()">
                <div class="form-group">
                    <label for="exampleInputEmail2">Database</label>
                    <select class="form-control" ng-model="vm.SelectedDatabase" ng-options="i as i.name for i in vm.Databases"></select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">Exception Date</label>
                    <input class="form-control" ng-model="vm.ExceptionFrom" placeholder="From" date-picker>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">&nbsp;</label>
                    <input class="form-control" ng-model="vm.ExceptionTo" placeholder="To" date-picker>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">&nbsp;</label>
                    <button type="submit" class="btn btn-primary" ng-disabled="vm.Searching">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div ui-view>
        <div ng-switch="vm.Searching">
            <div ng-switch-when="true">
                <div class="well loading-well">
                    <i class="loading-loader fa fa-circle-o-notch fa-spin"></i>
                    <div class="loading-txt">
                        <h2>Searching</h2>
                    </div>
                </div>
            </div>
            <div class="exception-list" ng-switch-default>
                <div class="results-header clearfix">
                    <label class="pull-left"><ng-pluralize count="vm.Exceptions.length" when="{'1': '{} Exception', 'other': '{} Exceptions'}"></ng-pluralize> Found:</label>
                    <pagination class="pull-right" source="vm.PagedExceptions"></pagination>
                </div>
                <div ng-if="vm.Exceptions.length == 0">
                    <img src="/images/excited-baby.gif" />
                </div>
                <div ng-if="vm.Exceptions.length > 0">
                    <exception item="ex" ng-repeat="ex in vm.PagedExceptions.items"></exception>
                </div>
            </div>
        </div>
    </div>
</div>