﻿<div class="panel panel-default exception" ng-show="vm.Exception">
    <div class="panel-heading clearfix {{vm.Exception.ApplicationEnvironment}}" ng-click="vm.ToggleVisibility(vm.Exception)">
        <h3 class="panel-title pull-left application">{{vm.Exception.ApplicationName}}</h3>
        <span class="details pull-left">
            <span title="{{vm.Exception.LoggedDate | date:'MM/dd/yyyy h:mma'}}">{{vm.Exception.LoggedDate | fromNow}}</span>
            <span ng-if="vm.Exception.WebRequestData">from {{vm.Exception.WebRequestData.UserName}}</span>
        </span>
        <h3 class="panel-title pull-right expand-collapse"><i class="fa" ng-class="{'fa-chevron-up': vm.Exception.Expanded, 'fa-chevron-down': !vm.Exception.Expanded}"></i></h3>
        <h3 class="panel-title pull-right environment">{{vm.Exception.ApplicationEnvironment}}</h3>
    </div>
    <div class="panel-body condensed clearfix" ng-hide="vm.Exception.Expanded" ng-click="vm.ToggleVisibility()" title="Click to expand">
        <span class="pull-left">{{vm.Exception.ExceptionInformation.TypeName}} - {{vm.Exception.ExceptionInformation.Message}}</span>
        <span class="pull-right" ng-if="vm.Exception.WebRequestData">{{vm.Exception.WebRequestData.RequestData.RefererFullUrl}}</span>
    </div>
    <div class="panel-body" ng-show="vm.Exception.Expanded">
        <div class="direct-link" ng-if="vm.ShowDirectLink()">
            <a ui-sref="exceptions.exception({ id: vm.Exception.Id, db: vm.Exception.Database })">Direct link to this exception</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Web Request</label>
                <pre>{{vm.Exception.WebRequestData | json | decodeNewline}}</pre>
            </div>
            <div class="col-md-6">
                <label>Context</label>
                <pre>{{vm.Exception.ExceptionContext | json | decodeNewline}}</pre>
            </div>
            <div class="col-md-6">
                <label>Exception</label>
                <pre>{{vm.Exception.ExceptionInformation | json | decodeNewline}}</pre>
            </div>
            <div class="col-md-6">
                <label>Stack Trace</label>
                <pre>{{vm.Exception.StackTrace}}</pre>
            </div>
        </div>
    </div>
</div>