﻿@inherits System.Web.Mvc.WebViewPage
<!doctype html>
<html>
<head>
    <base href="/">
    <title></title>
    <!--[if lt IE 9]>
    <script type="text/javascript">
        window.location = '@Url.Action("UnsupportedBrowser", "Home")';
    </script>
    <![endif]-->
    <!--[if IE 9]>
    <script type="text/javascript">
        document.documentElement.className += " ie9";
    </script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/jquery-ui/jquery-ui-2014.8.8.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/bundles/framework-styles")
    @System.Web.Optimization.Styles.Render("~/bundles/app-styles")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-sanitize.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/framework-scripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/app-scripts")
    @{
        var iconUrl = String.Format("/images/favicons/{0}.png", BTS.WFA.Providers.HealthMonitorProvider.GetEnvironmentName());
        if (File.Exists(Server.MapPath(iconUrl)))
        {
            <link rel="shortcut icon" type="image/png" href="@iconUrl" />
        }
    }
</head>
<body ng-app="bcs">
    <loading-indicator></loading-indicator>
    <div ui-view></div>
    <focus-trigger></focus-trigger>
    <login-trigger></login-trigger>
    @Html.Raw(File.ReadAllText(Server.MapPath("~/app/templates/item-select.html")))
</body>
</html>
