﻿@inherits System.Web.Mvc.WebViewPage
<!doctype html>
<html>
<head>
    <title>Berkley Clearance System</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/bundles/styles")
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Unsupported Browser</h3>
            </div>
            <div class="panel-body">
                <div>
                    Internet Explorer versions prior to 9 are not supported to view this system.
                </div>
                <br />
                <div class="text-muted small">@Request.UserAgent</div>
            </div>
        </div>
    </div>
</body>
</html>
