﻿<div class="standard-view">
    <div class="site-header affix">
        <div class="branding-container">
            <div class="pull-right">
                <span class="brand">Berkley Clearance System</span>
                <select ng-show="vm.User.Companies.length > 1" class="form-control" ng-model="vm.User.SelectedCompany" ng-options="i as i.Description for i in vm.User.Companies" ng-change="vm.ChangeCompany()"></select>
            </div>
        </div>
        <div class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li>
                    <div class="side-nav-company">
                        <div class="company-image" style="background-image: url('/images/company/{{vm.User.SelectedCompany.Code}}.svg')"></div>
                    </div>
                </li>
                <li ng-repeat="link in vm.Links" ng-class="{active: link.IsActive()}" class="tab-link">
                    <a ui-sref="{{ link.RouteUrl }}">{{ link.Title }}</a>
                </li>
                <li class="pull-right dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" click-event><i class="fa fa-question-circle"></i><span class="caret"></span></a>
                    <help-menu></help-menu>
                </li>
                <li class="pull-right divider"></li>
            </ul>
        </div>
    </div>
    <div class="view-container">
        <div notification-container></div>
        <div ui-view></div>
    </div>
</div>