<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Menu2.ascx.cs" Inherits="BCS.WebApp.Admin.Menu2" %>
<table cellspacing="0" cellpadding="0" border="0" class="tabControl">
    <tbody>
    <tr>
        <td><img id="img1" runat="server" width="11" height="18" src='<% $ Code : Common.GetImageUrl("tableft_off.gif") %>'/></td>
        <td nowrap class="tabTextOff">
            <a href=".">LOOKUP TABLES</a>
        </td>
        <td><img id="img4" runat="server" width="11" height="18" src='<% $ Code : Common.GetImageUrl("tabright_off.gif") %>'/></td>
        
        <td><img id="img2" runat="server" width="11" height="18" src='<% $ Code : Common.GetImageUrl("tableft_off.gif") %>'/></td>
        <td nowrap class="tabTextOff">
            <a href="Users.aspx">USERS</a>
        </td>
        <td><img id="img5" runat="server" width="11" height="18" src='<% $ Code : Common.GetImageUrl("tabright_off.gif") %>'/></td>
        
        <td><img id="img3" runat="server" width="11" height="18" src='<% $ Code : Common.GetImageUrl("tableft_off.gif") %>'/></td>
        <td nowrap class="tabTextOff">
            <a href="CompanyNoCodeTypes.aspx">CODE TYPES</a>
        </td>
        <td><img id="img6" runat="server" width="11" height="18" src='<% $ Code : Common.GetImageUrl("tabright_off.gif") %>'/></td>
        
        <td><img id="img7" runat="server" width="11" height="18" src='<% $ Code : Common.GetImageUrl("tableft_on.gif") %>'/></td>
        <td nowrap class="tabTextOn"><a href="../">MAIN SITE</a></td>
        <td><img id="img8" runat="server" width="11" height="18" src='<% $ Code : Common.GetImageUrl("tabright_on.gif") %>'/></td>
    </tr>
    </tbody>
</table>