﻿<div ng-show="vm.Agency.Agents.length == 0">
    This agency does not have any agents.
</div>
<div class="col-md-8" ng-show="vm.Agency.Agents.length > 0">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Agent</th>
                <th>Agent Number</th>
                <th>Contact Info</th>
                <th>Cancel Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in vm.Agency.Agents" ng-class="{'soft-deleted': m.RetirementDate}">
                <td>
                    {{m.FirstName }} {{m.MiddleName }} {{m.LastName }}
                </td>
                <td>
                    {{m.BrokerNo }}
                </td>
                <td class="agent-contact-column">
                    <div ng-if="m.Contacts.length == 0">
                        {{null | NA}}
                    </div>
                    <div class="dotted-divider" ng-repeat="c in m.Contacts">
                        <div>{{c.Name}}</div>
                        <div>{{c.Value}}</div>
                    </div>
                </td>
                <td>
                    {{m.RetirementDate | date:'MM/dd/yyyy' | NA }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
