﻿<div ng-show="vm.VerticallyOrderedLicensedStates.length == 0">
    This agency does not have any licensed states.
</div>
<div class="row">
    <div class="col-md-8" ng-show="vm.VerticallyOrderedLicensedStates.length > 0">
        <table class="table table-striped table-condensed table-bordered">
            <tbody>
                <tr ng-repeat="row in vm.VerticallyOrderedLicensedStates">
                    <td ng-repeat="cell in row track by $index" class="col-sm-3">
                        {{cell.StateName}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>