﻿<div ng-show="vm.Agency.Parent == null && vm.Agency.Children.length == 0">
    This agency does not have any linked agencies.
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped table-condensed table-bordered" ng-show="vm.Agency.Parent != null">
            <thead>
                <tr>
                    <th class="col-sm-8">Parent Agency</th>
                    <th class="col-sm-4">Agency Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <a ng-href="{{vm.Agency.ParentAgencyUrl}}" ng-click="vm.Workflow.AgencySelected(vm.Agency.Parent.Code)">{{vm.Agency.Parent.Name}}</a>
                        </div>
                        <address-view address="vm.Agency.Parent.Address"></address-view>
                    </td>
                    <td>{{vm.Agency.Parent.Code}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-condensed table-bordered" ng-show="vm.Agency.Children.length > 0">
            <thead>
                <tr>
                    <th class="col-sm-8">Child Agencies</th>
                    <th class="col-sm-4">Agency Number</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in vm.Agency.Children">
                    <td>
                        <div>
                            <a ng-href="{{c.ChildAgencyUrl}}" ng-click="vm.Workflow.AgencySelected(c.Code)">{{c.Name}}</a>
                        </div>
                        <address-view address="c.Address"></address-view>
                    </td>
                    <td>{{c.Code}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>