﻿<div ng-if="vm.SubmissionDataSource.count == null">
    <loading-well></loading-well>
</div>
<div ng-if="vm.SubmissionDataSource.count != null">
    <div ng-if="vm.SubmissionDataSource.count == 0">
        This agency does not have any submissions.
    </div>
    <div ng-if="vm.SubmissionDataSource.count > 0">
        <submissions fields="vm.SubmissionFields" data-source="vm.SubmissionDataSource" disable-links="vm.IsModal"></submissions>
    </div>
</div>
