﻿<div ng-show="vm.Agency.UnderwritingUnits.length == 0">
    This agency does not have any associated underwriting units.
</div>
<div class="row">
    <div class="col-md-8" ng-show="vm.Agency.UnderwritingUnits.length > 0">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Line</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>{{vm.UnderwritersLabel}}s</th>
                    <th ng-show="vm.AnalystEnabled">{{vm.AnalystLabel}}s</th>
                    <th ng-show="vm.TechnicianEnabled">{{vm.TechnicianLabel}}s</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="uw in vm.Agency.UnderwritingUnits">
                    <td>{{uw.Line}}</td>
                    <td>{{uw.Code}}</td>
                    <td>{{uw.Description}}</td>
                    <td>
                        <span ng-if="uw.Underwriters.length == 0">{{null | NA}}</span>
                        <a ng-if="uw.Underwriters.length > 0" ng-click="vm.ShowPersonnel(uw, uw.Underwriters, 'Underwriters')">({{uw.Underwriters.length}})</a>
                    </td>
                    <td ng-show="vm.AnalystEnabled">
                        <span ng-if="uw.Analysts.length == 0">{{null | NA}}</span>
                        <a ng-if="uw.Analysts.length > 0" ng-click="vm.ShowPersonnel(uw, uw.Analysts, 'Analysts')">({{uw.Analysts.length}})</a>
                    </td>
                    <td ng-show="vm.TechnicianEnabled">
                        <span ng-if="uw.Technicians.length == 0">{{null | NA}}</span>
                        <a ng-if="uw.Technicians.length > 0" ng-click="vm.ShowPersonnel(uw, uw.Technicians, 'Technicians')">({{uw.Technicians.length}})</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
