﻿@import "../../../styles/variables";

.survey-container {
    .page-header {
        &:before, &:after {
            display: block;
        }
    }

    .page-content {
        .panel {
            .panel-body {
                &.panel-body-single-column {
                    max-width: 450px;
                }

                .primary-info {
                    font-size: 14px;
                }

                .single-row-form {
                    margin: 10px 10px 0 20px;
                }
                /*Coverages Step*/
                &.panel-coverages {
                    .setDetailPanelWidth(400px);

                    & > table {
                        & > tbody {
                            font-size: 14px;

                            .fa.lob-icon {
                                &:before {
                                    content: "\f128";
                                }

                                &.PK:before {
                                    content: "\f187";
                                }

                                &.CA:before {
                                    content: "\f1b9";
                                }

                                &.IM:before {
                                    content: "\f13d";
                                }

                                &.CU:before {
                                    content: "\f0e9";
                                }
                            }

                            & > tr:not(.tr-padding-0) > td {
                                padding: 10px 5px;
                            }

                            & > tr > td.checkbox-toggle {
                                font-size: 16px;
                            }

                            & > tr.no-border > td {
                                border-top: none;
                            }

                            .table-policy-coverages {
                                font-size: 12px;
                                border-top: none;
                                border-bottom: none;

                                tbody tr:first-child td {
                                    border-top: none;
                                }
                            }
                        }
                    }

                    & > div:nth-child(3) {
                        .item-detail-body {
                            .single-row-form {
                                margin: 20px 20px 10px 20px;
                                width: 300px;

                                .form-row {
                                    & > label:nth-child(1) {
                                        width: 135px;
                                    }

                                    & > div:nth-child(2) {
                                        margin-left: 135px;
                                    }
                                }
                            }

                            .table-policies-detail-coverage {
                                margin: 10px 0 20px 10px;

                                & > label {
                                    margin-bottom: 0;
                                }

                                & > .single-row-form {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
                /*Locations Step*/
                &.panel-locations {
                    .setDetailPanelWidth(700px);

                    & > div:nth-child(3) {
                        .item-detail-body {
                            h4 + div > div {
                                margin: 10px 10px 20px 10px;
                            }

                            h4 + div > .single-row-form {
                                width: 300px;

                                .form-row {
                                    & > label:nth-child(1) {
                                        width: 135px;
                                    }

                                    & > div:nth-child(2) {
                                        margin-left: 135px;
                                    }
                                }
                            }
                        }
                    }
                }
                /*Documents*/
                &.panel-documents {
                    .filter-container {
                        margin: 10px 15px;

                        &:after {
                            .clearfix();
                        }

                        & > div:nth-child(1) {
                            margin-top: 5px;
                            margin-right: 10px;
                        }

                        button + button {
                            margin-right: 5px;
                        }
                    }
                }
                /*Assignments*/
                &.panel-comments {
                    .primary-info {
                        margin-bottom: 10px;
                        font-weight: bold;
                    }

                    div + .primary-info {
                        margin-top: 5px;
                        border-top: solid 1px @border-gray;
                        padding-top: 15px;
                    }

                    .comment {
                        margin: 0 10px;
                    }

                    .location-comment-container {
                        .location-header {
                            margin-bottom: 5px;
                            font-weight: bold;

                            i {
                                margin-left: 5px;
                            }
                        }

                        & + .location-comment-container {
                            margin-top: 10px;
                            border-top: solid 1px @border-gray;
                            padding-top: 5px;
                        }
                    }
                }

                .comment + .comment {
                    margin-top: 10px;
                    border-top: solid 1px @border-gray;
                }
            }
        }
    }

    .checkbox-toggle {
        color: @brand-primary;
        font-size: 14px;
    }

    .excluded {
        color: rgba(51,51,51,.4);
    }

    .search-input {
        background: url('/images/search-icon.png') no-repeat scroll 6px 6px;
        border: solid 1px transparent;
        padding-left: 27px;

        &:focus {
            border-color: @border-gray;
        }
    }
}
