﻿<div class="panel panel-default">
    <div class="panel-heading">
        <label class="pull-left">Assignment Details</label>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus-circle"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ng-click="vm.ShowAddCommentModal()">Comment</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="single-row-form margin-0">
            <div class="form-row">
                <label>Due By Date</label>
                <div>
                    <input type="text" class="form-control width-90" ng-model="vm.Survey.DueDate" date-picker />
                </div>

            </div>
            <div class="form-row" ng-if="vm.SurveyReasons.length > 0">
                <label>Survey Reasons</label>
                <div>
                    <checkbox-list ng-model="vm.Survey.SurveyReasons" options="vm.SurveyReasons" display="i" trackby="i"></checkbox-list>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <label class="pull-left">Comments</label>
        <div class="pull-right"></div>
    </div>
    <div class="panel-body panel-comments">
        <div class="primary-info">Overall Comments</div>
        <div ng-repeat="c in vm.Survey.Comments" class="comment">
            <div>
                {{c.Text}}
            </div>
            <small class="text-muted">
                Set By User: {{c.Author}} on {{c.Date | date:'MM/dd/yyyy'}}
            </small>
        </div>
        <div class="primary-info">Location Specific Comments</div>
        <div ng-repeat="l in vm.Survey.Locations" class="location-comment-container">
            <div class="location-header">
                <span>{{l.Address.Address1}}</span>
                <i class="fa fa-map-marker"></i>
                <span>{{l.Number}}</span>
            </div>
            <div ng-repeat="c in l.Comments" class="comment">
                <div>
                    {{c.Text}}
                </div>
                <small class="text-muted">
                    Set By User: {{c.Author}} on {{c.Date | date:'MM/dd/yyyy'}}
                </small>
            </div>
        </div>
    </div>
</div>
