﻿<div class="panel panel-default">
    <div class="panel-heading">
        <label class="pull-left">Documents to Include</label>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus-circle"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a>File from My Computer</a></li>
                    <li><a>File from FileNet</a></li>
                    <li><a ng-click="vm.ShowAddCommentModal()">Comment</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body padding-0 panel-documents">
        <div class="filter-container">
            <div class="pull-left">Filters:</div>
            <button type="button" class="btn btn-switch pull-left" ng-class="{'active': vm.DocumentFilterIncluded}" ng-click="vm.ToggleDocumentFilterIncluded()">Included</button>
            <button type="button" class="btn btn-switch pull-left" ng-class="{'active': vm.DocumentFilterExcluded}" ng-click="vm.ToggleDocumentFilterExcluded()">Excluded</button>
            <div class="pull-left">
                <input type="text" class="form-control search-input" ng-model="vm.DocumentFilterText" ng-change="vm.DocumentFilterChanged()" />
            </div>
        </div>
        <table class="table table-striped table-condensed table-header-condensed margin-bottom-0">
            <thead>
                <tr>
                    <th class="width-60"><b>Doc type</b></th>
                    <th>File Name</th>
                    <th class="width-80">Entry Date</th>
                    <th class="width-100">Doc #</th>
                    <th>Policy #</th>
                    <th>Policy Type</th>
                    <th>Document Remarks</th>
                    <th class="width-40">Include</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in vm.FilteredDocuments" ng-class="{'excluded': !d.Included}">
                    <td class="width-60">{{d.DocumentType}}</td>
                    <td>{{d.FileName}}</td>
                    <td class="width-80">{{d.EntryDate | date: 'MM/dd/yyyy'}}</td>
                    <td class="width-100">{{d.Number}}</td>
                    <td>{{d.PolicyNumber}}</td>
                    <td>{{d.PolicyType}}</td>
                    <td><input type="text" class="form-control" ng-model="d.Remarks" ng-disabled="!d.Included" ng-blur="vm.DocumentFilterChanged()" /></td>
                    <td class="width-40 text-center cursor-pointer checkbox-toggle" ng-click="vm.ToggleDocumentInclusion(d)">
                        <i class="fa" ng-class="{'fa-check-square': d.Included, 'fa-square-o': !d.Included}"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
