﻿<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="pull-left">Locations to Include in Report</label>
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-default" ng-hide="vm.ShowSelectedLocationDetail" ng-click="vm.ToggleShowSelectedLocationDetail()" ng-disabled="vm.SelectedLocation == null"><i class="fa fa-info-circle"></i><span>Show Details</span></button>
                <button type="button" class="btn btn-sm btn-default" ng-show="vm.SelectedLocation != null && vm.ShowSelectedLocationDetail" ng-click="vm.ToggleShowSelectedLocationDetail()"><i class="fa fa-times"></i><span>Hide Details</span></button>
                <button type="button" class="btn btn-sm btn-default" ng-click="vm.ToggleShowLocationMap()"><i class="fa" ng-class="{'fa-map-marker': !vm.ShowLocationMap, 'fa-times': vm.ShowLocationMap}"></i><span>{{(vm.ShowLocationMap) ? 'Hide' : 'Show'}} Map</span></button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-plus-circle"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a>Location</a></li>
                        <li><a>Building</a></li>
                        <li><a>Contact</a></li>
                        <li><a ng-click="vm.ShowAddCommentModal()">Comment</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body padding-0 table-panel-with-detail panel-locations">
            <table class="table table-striped table-hover table-condensed table-header-condensed table-double-click margin-bottom-0" ng-class="{'item-detail-visible': vm.LocationDetailVisible()}">
                <thead>
                    <tr>
                        <th class="width-40 text-center">#</th>
                        <th><b>Street Address</b></th>
                        <th ng-hide="vm.LocationDetailVisible()">City</th>
                        <th ng-hide="vm.LocationDetailVisible()">State</th>
                        <th ng-hide="vm.LocationDetailVisible()">Zip</th>
                        <th ng-hide="vm.LocationDetailVisible()" class="width-60">Buildings</th>
                        <th ng-hide="vm.LocationDetailVisible()" class="width-60">Contacts</th>
                        <th ng-hide="vm.LocationDetailVisible()">Comments</th>
                        <th class="width-40">Include</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="l in vm.Survey.Locations" ng-class="{'excluded': !l.Included, 'selected-row': l == vm.SelectedLocation}">
                        <td class="width-40 text-center" ng-class="{'cursor-pointer': l.Included}" ng-click="vm.SelectLocation(l)" ng-dblclick="vm.SelectLocation(l, true)">
                            {{l.Number}}
                        </td>
                        <td ng-class="{'cursor-pointer': l.Included}" ng-click="vm.SelectLocation(l)" ng-dblclick="vm.SelectLocation(l, true)">
                            {{l.Address.Address1}} {{l.Address.Address2}}
                        </td>
                        <td ng-hide="vm.LocationDetailVisible()" ng-class="{'cursor-pointer': l.Included}" ng-click="vm.SelectLocation(l)" ng-dblclick="vm.SelectLocation(l, true)">
                            {{l.Address.City}}
                        </td>
                        <td ng-hide="vm.LocationDetailVisible()" ng-class="{'cursor-pointer': l.Included}" ng-click="vm.SelectLocation(l)" ng-dblclick="vm.SelectLocation(l, true)">
                            {{l.Address.State}}
                        </td>
                        <td ng-hide="vm.LocationDetailVisible()" ng-class="{'cursor-pointer': l.Included}" ng-click="vm.SelectLocation(l)" ng-dblclick="vm.SelectLocation(l, true)">
                            {{l.Address.PostalCode}}
                        </td>
                        <td ng-hide="vm.LocationDetailVisible()" class="width-60" ng-class="{'cursor-pointer': l.Included}" ng-click="vm.SelectLocation(l)" ng-dblclick="vm.SelectLocation(l, true)">
                            {{l.Buildings.length}}
                        </td>
                        <td ng-hide="vm.LocationDetailVisible()" class="width-60" ng-class="{'cursor-pointer': l.Included}" ng-click="vm.SelectLocation(l)" ng-dblclick="vm.SelectLocation(l, true)">
                            {{l.Contacts.length}}
                        </td>
                        <td ng-hide="vm.LocationDetailVisible()" ng-class="{'cursor-pointer': l.Included}" ng-click="vm.SelectLocation(l)" ng-dblclick="vm.SelectLocation(l, true)"></td>
                        <td class="width-40 text-center cursor-pointer checkbox-toggle" ng-click="vm.ToggleLocationInclusion(l)" ng-dblclick="vm.SelectLocation(l, true)">
                            <i class="fa" ng-class="{'fa-check-square': l.Included, 'fa-square-o': !l.Included}"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-class="{'item-detail-visible': vm.LocationDetailVisible()}"></div>
            <div ng-class="{'item-detail-visible': vm.LocationDetailVisible()}">
                <div ng-show="vm.ShowSelectedLocationDetail">
                    <div class="item-detail-heading">
                        <label>{{vm.SelectedLocation.Address.Address1}} Details</label>
                    </div>
                    <div class="item-detail-body">
                        <h4 class="animate-slider-header" ng-click="vm.ToggleShowLocationAddress()">
                            <span class="pull-left">Address</span>
                            <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowLocationAddress, 'fa-chevron-down': !vm.ShowLocationAddress}"></i></span>
                        </h4>
                        <div animate-slider="vm.ShowLocationAddress">
                            <div class="single-row-form">
                                <div class="form-row">
                                    <label>Location #</label>
                                    <div>
                                        <input type="text" class="form-control" ng-model="vm.SelectedLocation.Number" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label>Address</label>
                                    <div>
                                        <div><input type="text" class="form-control" ng-model="vm.SelectedLocation.Address.Address1" /></div>
                                        <div><input type="text" class="form-control" ng-model="vm.SelectedLocation.Address.Address2" /></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label>City</label>
                                    <div>
                                        <input type="text" class="form-control" ng-model="vm.SelectedLocation.Address.City" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label>State</label>
                                    <div>
                                        <select class="form-control" ng-model="vm.SelectedLocation.Address.State" ng-options="i.Abbreviation as (i.Abbreviation + ' - ' + i.StateName) for i in vm.States">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label>Zip</label>
                                    <div>
                                        <input type="text" class="form-control" ng-model="vm.SelectedLocation.Address.PostalCode" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label>Description</label>
                                    <div>
                                        <input type="text" class="form-control" ng-model="vm.SelectedLocation.Description" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="animate-slider-header" ng-click="vm.ToggleShowLocationBuildings()">
                            <span class="pull-left">Buildings</span>
                            <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowLocationBuildings, 'fa-chevron-down': !vm.ShowLocationBuildings}"></i></span>
                        </h4>
                        <div animate-slider="vm.ShowLocationBuildings">
                            <div>
                                <table class="table table-striped table-condensed table-header-condensed table-outlined">
                                    <thead>
                                        <tr>
                                            <th class="width-40 text-center">#</th>
                                            <th>Year Built</th>
                                            <th>Sprinkler</th>
                                            <th>Sprinkler Credit</th>
                                            <th>Public Protection</th>
                                            <th>Building Value</th>
                                            <th class="width-60">More/Edit</th>
                                            <th class="width-40">Include</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="b in vm.SelectedLocation.Buildings" ng-class="{'excluded': !b.Included}">
                                            <td class="width-40 text-center">{{b.Number}}</td>
                                            <td>{{b.YearBuilt}}</td>
                                            <td>{{b.Sprinkler | YesNo}}</td>
                                            <td>{{b.SprinklerCredit | YesNo}}</td>
                                            <td>{{b.PublicProtection | YesNo}}</td>
                                            <td>{{b.Value | currency}}</td>
                                            <td class="width-60 text-center">
                                                <i class="fa fa-info-circle"></i>
                                            </td>
                                            <td class="width-40 text-center cursor-pointer checkbox-toggle" ng-click="vm.ToggleLocationBuildingInclusion(b)">
                                                <i class="fa" ng-class="{'fa-square-o': !b.Included, 'fa-check-square': b.Included}"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h4 class="animate-slider-header" ng-click="vm.ToggleShowLocationContacts()">
                            <span class="pull-left">Contacts</span>
                            <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowLocationContacts, 'fa-chevron-down': !vm.ShowLocationContacts}"></i></span>
                        </h4>
                        <div animate-slider="vm.ShowLocationContacts">
                            <div>
                                <table class="table table-striped table-condensed table-header-condensed table-outlined">
                                    <thead>
                                        <tr>
                                            <th class="width-40 text-center">#</th>
                                            <th>Name</th>
                                            <th>Title</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th class="width-60">More/Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="c in vm.SelectedLocation.Contacts">
                                            <td class="width-40 text-center">{{c.Number}}</td>
                                            <td>{{c.Name}}</td>
                                            <td>{{c.Title}}</td>
                                            <td>{{c.Phone}}</td>
                                            <td>{{c.Email}}</td>
                                            <td class="width-60 text-center">
                                                <i class="fa fa-info-circle"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h4 class="animate-slider-header" ng-click="vm.ToggleShowLocationComments()">
                            <span class="pull-left">Comments</span>
                            <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowLocationComments, 'fa-chevron-down': !vm.ShowLocationComments}"></i></span>
                        </h4>
                        <div animate-slider="vm.ShowLocationComments">
                            <div ng-repeat="c in vm.SelectedLocation.Comments" class="comment">
                                <div>
                                    {{c.Text}}
                                </div>
                                <small class="text-muted">
                                    Set By User: {{c.Author}} on {{c.Date | date:'MM/dd/yyyy'}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.ShowLocationMap">
                    <img style="width: 100%; height: 100%" src="http://bts-uxsourceforge/prototypes/arms-request/round2/images/acadia___arms__full_/u2165.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>