﻿<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="pull-left">Insured Details</label>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-plus-circle"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a ng-click="vm.ShowAddCommentModal()">Comment</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body panel-body-single-column">
            <div class="primary-info">{{vm.Survey.Insured.Name}}</div>
            <div class="single-row-form">
                <div class="form-row">
                    <label>Client ID</label>
                    <div>
                        {{vm.Survey.Insured.Id}}
                    </div>
                </div>
                <div class="form-row">
                    <label>Additional Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Insured.AdditionalName" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Mailing Address</label>
                    <div>
                        <div><input type="text" class="form-control" ng-model="vm.Survey.Insured.Address.Address1" /></div>
                        <div><input type="text" class="form-control" ng-model="vm.Survey.Insured.Address.Address2" /></div>
                    </div>
                </div>
                <div class="form-row">
                    <label>City</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Insured.Address.City" />
                    </div>
                </div>
                <div class="form-row">
                    <label>State</label>
                    <div>
                        <select class="form-control" ng-model="vm.Survey.Insured.Address.State" ng-options="i.Abbreviation as (i.Abbreviation + ' - ' + i.StateName) for i in vm.States">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label>Zip</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Insured.Address.PostalCode" />
                    </div>
                </div>
                <div class="form-row"></div>
                <div class="form-row">
                    <label>Primary Contact</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Insured.PrimaryContact.Name" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Phone</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Insured.PrimaryContact.Phone" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Email</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Insured.PrimaryContact.Email" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="pull-left">Underwriter</label>
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-default"><span>APS</span><i class="fa fa-external-link"></i></button>
            </div>
        </div>
        <div class="panel-body panel-body-single-column">
            <div class="primary-info">
                <select class="form-control" ng-model="vm.Survey.Underwriter" ng-options="i as i.Name group by i.SelectGroup for i in vm.Underwriters track by i.Name">
                    <option value="">Add New Underwriter</option>
                </select>
            </div>
            <div class="single-row-form" ng-hide="vm.Survey.Underwriter == null">
                <div class="form-row">
                    <label>Phone</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Underwriter.Phone" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Email</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Underwriter.Email" />
                    </div>
                </div>
            </div>
            <div class="single-row-form" ng-show="vm.Survey.Underwriter == null">
                <div class="form-row">
                    <label>Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.NewUnderwriter.Name" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Phone</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.NewUnderwriter.Phone" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Email</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.NewUnderwriter.Email" />
                    </div>
                </div>
                <div class="form-row">
                    <label></label>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" ng-click="vm.AddUnderwriter()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>