﻿<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="pull-left">Agency</label>
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-default"><span>APS</span><i class="fa fa-external-link"></i></button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-plus-circle"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a ng-click="vm.ShowAddCommentModal()">Comment</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body panel-body-single-column">
            <div class="primary-info">
                <span ng-model="vm.Survey.Insured.Agency" ng-change="vm.AgencyChanged(true)" item-select="{ source: vm.AgencySearch, display: 'i.Code + \' - \' + i.Name', matchTemplate: 'item-select-agency'}"></span>
            </div>
            <div class="single-row-form">
                <div class="form-row">
                    <label>Agency ID</label>
                    <div>
                        {{vm.Survey.Insured.Agency.Code}}
                    </div>
                </div>
                <div class="form-row">
                    <label>Mailing Address</label>
                    <div>
                        {{vm.Survey.Insured.Agency.Address.Address1}}
                    </div>
                </div>
                <div class="form-row">
                    <label>City</label>
                    <div>
                        {{vm.Survey.Insured.Agency.Address.City}}
                    </div>
                </div>
                <div class="form-row">
                    <label>State</label>
                    <div>
                        {{vm.Survey.Insured.Agency.Address.State}}
                    </div>
                </div>
                <div class="form-row">
                    <label>Zip</label>
                    <div>
                        {{vm.Survey.Insured.Agency.Address.PostalCode}}
                    </div>
                </div>
                <div class="form-row">
                    <label>Phone</label>
                    <div>
                        {{vm.Survey.Insured.Agency.Phone}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="pull-left">Agent</label>
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-default"><span>APS</span><i class="fa fa-external-link"></i></button>
            </div>
        </div>
        <div class="panel-body panel-body-single-column">
            <div class="primary-info">
                <select class="form-control" ng-model="vm.Survey.Insured.Agent" ng-disabled="vm.Agents == null" ng-options="i as i.Name group by i.SelectGroup for i in vm.Agents track by i.Name">
                    <option value="">Add New Agent</option>
                </select>
            </div>
            <div class="single-row-form" ng-hide="vm.Survey.Insured.Agent == null">
                <div class="form-row">
                    <label>Phone</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Insured.Agent.Phone" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Email</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.Survey.Insured.Agent.Email" />
                    </div>
                </div>
            </div>
            <div class="single-row-form" ng-show="vm.Survey.Insured.Agent == null">
                <div class="form-row">
                    <label>Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.NewAgent.Name" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Phone</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.NewAgent.Phone" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Email</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.NewAgent.Email" />
                    </div>
                </div>
                <div class="form-row">
                    <label></label>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" ng-click="vm.AddAgent()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>