﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Add Comment</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <select class="form-control" ng-model="vm.NewCommentLocation" ng-options="i as i.Description group by i.Group for i in vm.CommentTypeOptions"></select>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-checkbox" ng-class="{'active': !vm.NewComment.Internal}" ng-click="vm.ToggleInternal()">
                <span>Visible To All</span>
                <i class="fa" ng-class="{'fa-check-square': !vm.NewComment.Internal, 'fa-square-o': vm.NewComment.Internal}"></i>
            </button>
            <button type="button" class="btn btn-checkbox" ng-class="{'active': vm.NewComment.Internal}" ng-click="vm.ToggleInternal()">
                <span>Internal Only</span>
                <i class="fa" ng-class="{'fa-check-square': vm.NewComment.Internal, 'fa-square-o': !vm.NewComment.Internal}"></i>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Add Comment</button>
        <button class="btn btn-default" ng-click="vm.Close()">Cancel</button>
    </div>
</div>