﻿.survey-container .page-header:before,
.survey-container .page-header:after {
  display: block;
}
.survey-container .page-content .panel .panel-body {
  /*Coverages Step*/
  /*Locations Step*/
  /*Documents*/
  /*Assignments*/
}
.survey-container .page-content .panel .panel-body.panel-body-single-column {
  max-width: 450px;
}
.survey-container .page-content .panel .panel-body .primary-info {
  font-size: 14px;
}
.survey-container .page-content .panel .panel-body .single-row-form {
  margin: 10px 10px 0 20px;
}
.survey-container .page-content .panel .panel-body.panel-coverages {
  /*Helper to set the widths of .panel-body.table-panel-with-detail */
}
.survey-container .page-content .panel .panel-body.panel-coverages > table.item-detail-visible {
  width: calc(100% - 400px);
}
.survey-container .page-content .panel .panel-body.panel-coverages > div:nth-child(2).item-detail-visible {
  right: 390px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > div:nth-child(3).item-detail-visible {
  width: 400px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody {
  font-size: 14px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody .fa.lob-icon:before {
  content: "\f128";
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody .fa.lob-icon.PK:before {
  content: "\f187";
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody .fa.lob-icon.CA:before {
  content: "\f1b9";
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody .fa.lob-icon.IM:before {
  content: "\f13d";
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody .fa.lob-icon.CU:before {
  content: "\f0e9";
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody > tr:not(.tr-padding-0) > td {
  padding: 10px 5px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody > tr > td.checkbox-toggle {
  font-size: 16px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody > tr.no-border > td {
  border-top: none;
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody .table-policy-coverages {
  font-size: 12px;
  border-top: none;
  border-bottom: none;
}
.survey-container .page-content .panel .panel-body.panel-coverages > table > tbody .table-policy-coverages tbody tr:first-child td {
  border-top: none;
}
.survey-container .page-content .panel .panel-body.panel-coverages > div:nth-child(3) .item-detail-body .single-row-form {
  margin: 20px 20px 10px 20px;
  width: 300px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > div:nth-child(3) .item-detail-body .single-row-form .form-row > label:nth-child(1) {
  width: 135px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > div:nth-child(3) .item-detail-body .single-row-form .form-row > div:nth-child(2) {
  margin-left: 135px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > div:nth-child(3) .item-detail-body .table-policies-detail-coverage {
  margin: 10px 0 20px 10px;
}
.survey-container .page-content .panel .panel-body.panel-coverages > div:nth-child(3) .item-detail-body .table-policies-detail-coverage > label {
  margin-bottom: 0;
}
.survey-container .page-content .panel .panel-body.panel-coverages > div:nth-child(3) .item-detail-body .table-policies-detail-coverage > .single-row-form {
  margin-top: 10px;
}
.survey-container .page-content .panel .panel-body.panel-locations {
  /*Helper to set the widths of .panel-body.table-panel-with-detail */
}
.survey-container .page-content .panel .panel-body.panel-locations > table.item-detail-visible {
  width: calc(100% - 700px);
}
.survey-container .page-content .panel .panel-body.panel-locations > div:nth-child(2).item-detail-visible {
  right: 690px;
}
.survey-container .page-content .panel .panel-body.panel-locations > div:nth-child(3).item-detail-visible {
  width: 700px;
}
.survey-container .page-content .panel .panel-body.panel-locations > div:nth-child(3) .item-detail-body h4 + div > div {
  margin: 10px 10px 20px 10px;
}
.survey-container .page-content .panel .panel-body.panel-locations > div:nth-child(3) .item-detail-body h4 + div > .single-row-form {
  width: 300px;
}
.survey-container .page-content .panel .panel-body.panel-locations > div:nth-child(3) .item-detail-body h4 + div > .single-row-form .form-row > label:nth-child(1) {
  width: 135px;
}
.survey-container .page-content .panel .panel-body.panel-locations > div:nth-child(3) .item-detail-body h4 + div > .single-row-form .form-row > div:nth-child(2) {
  margin-left: 135px;
}
.survey-container .page-content .panel .panel-body.panel-documents .filter-container {
  margin: 10px 15px;
}
.survey-container .page-content .panel .panel-body.panel-documents .filter-container:after {
  content: "";
  display: table;
  clear: both;
}
.survey-container .page-content .panel .panel-body.panel-documents .filter-container > div:nth-child(1) {
  margin-top: 5px;
  margin-right: 10px;
}
.survey-container .page-content .panel .panel-body.panel-documents .filter-container button + button {
  margin-right: 5px;
}
.survey-container .page-content .panel .panel-body.panel-comments .primary-info {
  margin-bottom: 10px;
  font-weight: bold;
}
.survey-container .page-content .panel .panel-body.panel-comments div + .primary-info {
  margin-top: 5px;
  border-top: solid 1px #cccccc;
  padding-top: 15px;
}
.survey-container .page-content .panel .panel-body.panel-comments .comment {
  margin: 0 10px;
}
.survey-container .page-content .panel .panel-body.panel-comments .location-comment-container .location-header {
  margin-bottom: 5px;
  font-weight: bold;
}
.survey-container .page-content .panel .panel-body.panel-comments .location-comment-container .location-header i {
  margin-left: 5px;
}
.survey-container .page-content .panel .panel-body.panel-comments .location-comment-container + .location-comment-container {
  margin-top: 10px;
  border-top: solid 1px #cccccc;
  padding-top: 5px;
}
.survey-container .page-content .panel .panel-body .comment + .comment {
  margin-top: 10px;
  border-top: solid 1px #cccccc;
}
.survey-container .checkbox-toggle {
  color: #428bca;
  font-size: 14px;
}
.survey-container .excluded {
  color: rgba(51, 51, 51, 0.4);
}
.survey-container .search-input {
  background: url('/images/search-icon.png') no-repeat scroll 6px 6px;
  border: solid 1px transparent;
  padding-left: 27px;
}
.survey-container .search-input:focus {
  border-color: #cccccc;
}
