﻿<div class="single-row-form">
    <div class="form-row">
        <label>Policy #</label>
        <div>
            <input type="text" class="form-control" ng-model="vm.Policy.Number" />
        </div>
    </div>
    <div class="form-row">
        <label>LOB</label>
        <div>
            <select class="form-control" ng-model="vm.Policy.LineOfBusiness" ng-options="i as i.Description for i in vm.LineOfBusinesses track by i.Code">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <label>Policy Symbol</label>
        <div>
            <input type="text" class="form-control" ng-model="vm.Policy.PolicySymbol" />
        </div>
    </div>
    <div class="form-row">
        <label>Effective Date</label>
        <div>
            <input type="text" class="form-control" ng-model="vm.Policy.EffectiveDate" date-picker />
        </div>
    </div>
    <div class="form-row">
        <label>Expiration Date</label>
        <div>
            <input type="text" class="form-control" ng-model="vm.Policy.ExpirationDate" date-picker />
        </div>
    </div>
    <div class="form-row">
        <label>Premium</label>
        <div>
            <input type="text" class="form-control" ng-model="vm.Policy.Premium" />
        </div>
    </div>
    <div class="form-row">
        <label>Branch Code</label>
        <div>
            <input type="text" class="form-control" ng-model="vm.Policy.BranchCode" />
        </div>
    </div>
    <div class="form-row">
        <label>Profit Center</label>
        <div>
            <select class="form-control" ng-model="vm.Policy.ProfitCenter" ng-options="i as i.Description for i in vm.ProfitCenters track by i.Code">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <label>Carrier</label>
        <div>
            <input type="text" class="form-control" ng-model="vm.Policy.Carrier" />
        </div>
    </div>
    <div class="form-row">
        <label>Primary State</label>
        <div>
            <select class="form-control" ng-model="vm.Policy.PrimaryState" ng-options="i.Abbreviation as (i.Abbreviation + ' - ' + i.StateName) for i in vm.States">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <label>Hazard Grade</label>
        <div>
            <input type="text" class="form-control" ng-model="vm.Policy.HazardGrade" />
        </div>
    </div>
</div>