﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Add Policy</h2>
    </div>
    <div class="modal-body">
        <survey-policy-form policy="vm.NewPolicy"></survey-policy-form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Add Policy</button>
        <button class="btn btn-default" ng-click="vm.Close()">Cancel</button>
    </div>
</div>