﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Submissions with Class Code {{vm.ClassCode.GLCodeValue || vm.ClassCode.CodeValue}}</h2>
    </div>
    <div class="modal-body">
        <div ng-show="vm.Submissions.count == null">
            <loading-well></loading-well>
        </div>
        <div ng-show="vm.Submissions.count != null">
            <submissions fields="vm.SubmissionFields" source="vm.Submissions"></submissions>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="vm.Close()">Close</button>
    </div>
</div>