﻿.table.class-codes tbody > tr:nth-child(4n) > td,
.table.class-codes tbody > tr:nth-child(4n+2) > td {
  border-top: dotted 1px #dddddd;
}
.table.class-codes .code-description-column {
  width: 200px;
}
.table.class-codes .hazard-grade-column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.table.class-codes .hazard-grade-column .hazard-grade-row {
  width: 140px;
}
.table.class-codes .hazard-grade-column .hazard-grade-row .hazard-grade-value {
  float: right;
}
.table.class-codes tfoot td {
  height: 34px;
}
.table.class-codes tfoot .item-select {
  width: 190px;
}
