﻿@import "../../styles/variables";

.table.class-codes {
    tbody > tr:nth-child(4n) > td,
    tbody > tr:nth-child(4n+2) > td {
        border-top: dotted 1px @dark-gray;
    }

    .code-description-column {
        width: 200px;
    }

    .hazard-grade-column {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

        .hazard-grade-row {
            width: 140px;

            .hazard-grade-value {
                float: right;
            }
        }
    }

    tfoot {
        td {
            height: 34px;
        }

        .item-select {
            width: 190px;
        }
    }
}
