﻿<div class="editable-collection">
    <table class="table table-striped-double table-condensed table-bordered table-no-margin class-codes" ng-class="{'table-curved': vm.Editing}">
        <thead>
            <tr>
                <th class="code-description-column">Code Description</th>
                <th>SIC Code</th>
                <th>NAICS Code</th>
                <th ng-repeat="cust in vm.ClassCodeCustomizations">{{cust.Description}}</th>
                <th class="delete-button-column" ng-if="vm.Editing"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="cc in vm.ClassCodes">
                <td class="code-description-column"><b>{{cc.GLCodeValue || cc.CodeValue}}</b></td>
                <td>{{cc.SicCode.Code}}</td>
                <td>{{cc.NaicsCode.Code}}</td>
                <td rowspan="2" ng-repeat="cust in vm.ClassCodeCustomizations">
                    {{vm.DisplayClassCodeCustomization(cust, cc)}}
                </td>
                <td rowspan="2" class="delete-button-column" ng-if="vm.Editing">
                    <button type="button" tabindex="-1" class="btn btn-link" ng-disabled="vm.AppState.Loading" ng-click="vm.Delete(cc)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td>{{cc.Description}}</td>
                <td>{{cc.SicCode.Description}}</td>
                <td>{{cc.NaicsCode.Description}}</td>
            </tr>
        </tbody>
        <tfoot ng-if="vm.Editing">
            <tr>
                <td colspan="{{vm.GetTotalColumnCount()}}">
                    <span ng-switch="vm.ShowInput">
                        <span ng-switch-when="false">
                            <button type="button" name="btnAddClassCode" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.Add()">
                                <i class="fa fa-plus-circle"></i><span>{{(vm.ClassCodes.length == 0) ? 'Add Class Codes' : 'Add Class Code'}}</span>
                            </button>
                        </span>
                        <span ng-switch-when="true">
                            <span name="ClassCodeSearchInput" ng-model="vm.SelectedClassCode" ng-change="vm.AddClassCode(vm.SelectedClassCode)" item-select="{ source: vm.ClassCodeLookup, multiSelect: true, matchTemplate: 'item-select-class-code', onBlur: vm.InputBlurred}" placeholder="Code or Description Search"></span>
                        </span>
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>