﻿<div ng-switch="b.Customization.DataType">
    <div ng-switch-when="List">
        {{ b.Value.CodeValue | codeItem | NA}}
    </div>
    <div ng-switch-when="Text">
        {{b.Value.TextValue | NA}}
    </div>
    <div ng-switch-when="Money">
        {{(b.Value.TextValue != null && b.Value.TextValue != '') ? '$' + b.Value.TextValue : '' | NA}}
    </div>
    <div ng-switch-when="Date">
        {{b.Value.TextValue | date:'MM/dd/yyyy' | NA}}
    </div>
    <div ng-switch-when="Boolean">
        {{b.Value.TextValue | YesNo}}
    </div>
</div>