﻿<div ng-switch="b.Customization.DataType" class="company-customization">
    <div ng-switch-when="List">
        <select class="form-control" dynamic-name="'Customization-' + b.Customization.Description" ng-model="b.Value.CodeValue" ng-options="i as (i | codeItemEdit) for i in b.Customization.Options track by i.Code" validated-field>
            <option></option>
        </select>
    </div>
    <div ng-switch-when="Text">
        <input class="form-control" dynamic-name="'Customization-' + b.Customization.Description" type="text" ng-model="b.Value.TextValue" ng-readonly="b.Customization.ReadOnly" validated-field />
    </div>
    <div ng-switch-when="Money">
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" dynamic-name="'Customization-' + b.Customization.Description" type="text" ng-model="b.Value.TextValue" ng-readonly="b.Customization.ReadOnly" validated-field />
        </div>
    </div>
    <div ng-switch-when="Date">
        <input type="text" dynamic-name="'Customization-' + b.Customization.Description" class="form-control date-input" ng-model="b.Value.TextValue" ng-readonly="b.Customization.ReadOnly" date-picker validated-field />
    </div>
    <div ng-switch-when="Boolean">
        <div ng-if="booleanAsDropdown">
            <select class="form-control" dynamic-name="'Customization-' + b.Customization.Description" ng-model="b.Value.TextValue" ng-options="i.Value as i.Text for i in [{Value: 'True', Text: 'Yes'}]" ng-readonly="b.Customization.ReadOnly" validated-field>
                <option></option>
            </select>
        </div>
        <div ng-if="!booleanAsDropdown">
            <label class="inline-radio-selection">
                <input type="radio" class="radio-inline" dynamic-name="'Customization-' + b.Customization.Description" ng-model="b.Value.TextValue" ng-value="null" ng-readonly="b.Customization.ReadOnly" validated-field />
                No
            </label>
            <label class="inline-radio-selection">
                <input type="radio" class="radio-inline" dynamic-name="'Customization-' + b.Customization.Description" ng-model="b.Value.TextValue" value="True" ng-readonly="b.Customization.ReadOnly" validated-field />
                Yes
            </label>
        </div>
    </div>
</div>