﻿@import "../../styles/variables";

.switch-client {
    .steps-container {
        height: 75px;
        border-bottom: 1px dotted @medium-gray;

        ol.list-inline {
            width: 90%;
            margin: 0 auto;
            counter-reset: stepCounter;

            li {
                float: left;
                position: relative;
                padding: 0;
                width: 33%;
                color: @dark-gray;
                display: block;
                text-align: center;

                .circle-icon {
                    position: relative;
                    display: inline-block;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    border: 1px solid @dark-gray;
                    background-color: @light-gray;
                    box-shadow: inset 0 0 10px @dark-gray;
                    z-index: 2;

                    &:after {
                        counter-increment: stepCounter;
                        content: counter(stepCounter);
                        display: inline-block;
                        margin: 5px 0 0 0;
                        border-radius: 50%;
                        width: 28px;
                        height: 28px;
                        background-color: @light-gray;
                        border: 1px solid @dark-gray;
                        text-align: center;
                        font-family: Arial;
                        font-weight: 700;
                        font-size: 18px;
                    }
                }

                label {
                    display: block;
                    font-size: 1.3em;
                }

                &.completed {
                    color: @bts-black;

                    .circle-icon:after {
                        font-family: fontawesome;
                        content: "\f00c";
                        background-color: @brand-info;
                        border-color: darken(@brand-info, 10%);
                        color: white;
                    }
                }

                &.active {
                    color: @brand-info;

                    .circle-icon:after {
                        background-color: @brand-info;
                        border-color: darken(@brand-info, 10%);
                        color: white;
                    }
                }
            }

            .progress-line(@color) {
                content: " ";
                position: absolute;
                top: 20px;
                left: -50%;
                z-index: 1;
                width: 100%;
                height: 4px;
                box-shadow: inset 1px 2px 5px @color;
            }

            li + li:before {
                .progress-line(@dark-gray);
            }

            li.completed + li:after {
                .progress-line(@brand-info);
            }
        }
    }

    .step-detail-container {
        margin: 10px 0;
        min-height: 200px;
    }
}
