﻿<form>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Switch Client</h2>
    </div>
    <div class="modal-body switch-client">
        <div class="steps-container" ng-hide="vm.IsComplete">
            <ol class="list-inline">
                <li ng-class="{'completed': vm.CurrentStep > 1, 'active': vm.CurrentStep == 1}">
                    <span class="circle-icon"></span>
                    <label>Validate Submissions</label>
                </li>
                <li ng-class="{'completed': vm.CurrentStep > 2, 'active': vm.CurrentStep == 2}">
                    <span class="circle-icon"></span>
                    <label>Select New Client</label>
                </li>
                <li ng-class="{'active': vm.CurrentStep == 3}">
                    <span class="circle-icon"></span>
                    <label>Review and Confirm</label>
                </li>
            </ol>
        </div>
        <div ng-show="vm.IsComplete">
            <alert type="'success'">The client was successfully switched on the following submissions</alert>
        </div>
        <div ng-switch="vm.CurrentStep" class="step-detail-container" ng-hide="vm.LoadingSubmissions">
            <div ng-switch-when="1">
                <p>The following submissions will be updated:</p>
                <div>
                    <submissions fields="vm.SubmissionFields" submissions="vm.Submissions" disable-links="true"></submissions>
                </div>
            </div>
            <div ng-switch-when="2">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row form-group">
                            <label class="col-sm-3">New Client ID</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="ClientId" ng-model="vm.ClientSearch.Id" ng-change="vm.ClearSearchResults()" />
                            </div>
                        </div>
                    </div>
                </div>
                <alert ng-show="!vm.ClientSearch.Searching && vm.ClientSearch.ClientNotFound">
                    Client #{{vm.ClientSearch.Id}} could not be found.
                </alert>
                <alert ng-show="vm.ClientSearch.IsDuplicateId">
                    Client #{{vm.ClientSearch.Id}} is the original client.  Please enter the client Id you'd like to switch the submissions to.
                </alert>
            </div>
            <div ng-switch-when="3">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <submissions fields="vm.SubmissionFields" submissions="vm.Submissions" disable-links="true"></submissions>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">From</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row form-group">
                                    <label class="col-sm-3">
                                        Client ID
                                    </label>
                                    <label class="col-sm-9">
                                        {{vm.ClientId}}
                                    </label>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3">
                                        Insured Name
                                    </label>
                                    <label class="col-sm-9">
                                        {{vm.ClientName}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">To</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row form-group">
                                    <label class="col-sm-3">
                                        Client ID
                                    </label>
                                    <label class="col-sm-9">
                                        {{vm.ClientSearch.Match.ClientCoreId}}
                                    </label>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3">
                                        Insured Name
                                    </label>
                                    <label class="col-sm-9">
                                        {{vm.ClientSearch.Match.PrimaryName.BusinessName}}
                                    </label>
                                </div>
                                <div class="row form-group" ng-show="vm.ClientSearch.DoingBusinessAsNames.length > 0">
                                    <label class="col-sm-3">
                                        dba
                                    </label>
                                    <label class="col-sm-9">
                                        <select class="form-control" ng-model="vm.ClientSearch.DbaName" ng-options="i.BusinessName as i.BusinessName for i in vm.ClientSearch.DoingBusinessAsNames">
                                            <option></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div ng-show="vm.IsComplete">
            <button type="button" class="btn btn-primary" ng-click="vm.Close()">Close</button>
        </div>
        <div ng-hide="vm.IsComplete">
            <button type="submit" class="btn btn-primary" ng-click="vm.Continue()" ng-hide="vm.CurrentStep == 3" ng-disabled="vm.LoadingSubmissions || vm.ClientSearch.Searching">Continue</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.Complete()" ng-show="vm.CurrentStep == 3">Switch Client</button>
            <button type="button" class="btn btn-default" ng-click="vm.Close()">Cancel</button>
        </div>
    </div>
</form>
