﻿.switch-client .steps-container {
  height: 75px;
  border-bottom: 1px dotted #eeeeee;
}
.switch-client .steps-container ol.list-inline {
  width: 90%;
  margin: 0 auto;
  counter-reset: stepCounter;
}
.switch-client .steps-container ol.list-inline li {
  float: left;
  position: relative;
  padding: 0;
  width: 33%;
  color: #dddddd;
  display: block;
  text-align: center;
}
.switch-client .steps-container ol.list-inline li .circle-icon {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
  background-color: #f4f4f4;
  box-shadow: inset 0 0 10px #dddddd;
  z-index: 2;
}
.switch-client .steps-container ol.list-inline li .circle-icon:after {
  counter-increment: stepCounter;
  content: counter(stepCounter);
  display: inline-block;
  margin: 5px 0 0 0;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
}
.switch-client .steps-container ol.list-inline li label {
  display: block;
  font-size: 1.3em;
}
.switch-client .steps-container ol.list-inline li.completed {
  color: #333333;
}
.switch-client .steps-container ol.list-inline li.completed .circle-icon:after {
  font-family: fontawesome;
  content: "\f00c";
  background-color: #5bc0de;
  border-color: #31b0d5;
  color: white;
}
.switch-client .steps-container ol.list-inline li.active {
  color: #5bc0de;
}
.switch-client .steps-container ol.list-inline li.active .circle-icon:after {
  background-color: #5bc0de;
  border-color: #31b0d5;
  color: white;
}
.switch-client .steps-container ol.list-inline li + li:before {
  content: " ";
  position: absolute;
  top: 20px;
  left: -50%;
  z-index: 1;
  width: 100%;
  height: 4px;
  box-shadow: inset 1px 2px 5px #dddddd;
}
.switch-client .steps-container ol.list-inline li.completed + li:after {
  content: " ";
  position: absolute;
  top: 20px;
  left: -50%;
  z-index: 1;
  width: 100%;
  height: 4px;
  box-shadow: inset 1px 2px 5px #5bc0de;
}
.switch-client .step-detail-container {
  margin: 10px 0;
  min-height: 200px;
}
