﻿<form class="form-horizontal" role="form" name="vm.StatusForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">{{vm.Revert ? 'Revert' : 'Update'}} Status</h2>
    </div>
    <div class="modal-body">
        <submission-status item="vm.Item" view="submission" revert="vm.Revert" submission-type="vm.SubmissionType"></submission-status>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-if="!vm.Revert" ng-disabled="vm.Loading" ng-click="vm.UpdateStatus()">Update Status</button>
        <button type="button" class="btn btn-primary" ng-if="vm.Revert" ng-disabled="vm.Loading || vm.Item.RevertStatusTo == null" ng-click="vm.RevertStatus()">Revert Status</button>
        <button type="button" class="btn btn-default" ng-disabled="vm.Loading" ng-click="vm.Close()">Cancel</button>
    </div>
</form>