﻿<div id="body-container">
    <div id="body-header">
        <div class="row">
            <div class="col-xs-12">
                <div id="header-container">
                    <div class="page-heading">
                        <h1>{{vm.pageHeading}}</h1>
                    </div>
                    <div class="row page-controls-container">
                        <div class="col-xs-6 page-subheading">{{vm.pageSubheading}}</div>
                        <div class="col-xs-6 page-controls">{RIGHT}</div>
                    </div>
                    <div class="page-navigation">
                        <!--<ul id="" class="list-inline">
                            <li><a href="#">Page Section1</a></li>
                            <li><a href="#">Page Section2</a></li>
                            <li><a href="#">Page Section3</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="body-content" ng-show="!PageLoading">

        <div class="row">
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ligula arcu, ornare eu sollicitudin ac, facilisis aliquet nulla. Aenean mattis arcu ut finibus semper. Nam a lacus at sem tempor aliquam in tincidunt eros. Etiam sapien nunc, accumsan ac pellentesque sed, interdum efficitur enim. Donec quam nulla, auctor non efficitur et, feugiat in metus. Mauris egestas, arcu at malesuada tincidunt, magna elit pharetra justo, et maximus justo lacus a augue. Vestibulum pulvinar neque at elit varius tempus. Etiam et augue ligula.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                left column
            </div>
            <div class="col-md-10">
                <div ui-view></div>
            </div>
        </div>

    </div>
</div>
<!--
<div class="panel panel-default" ng-show="!PageLoading">
    <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
        <h3 class="panel-title pull-left" style="margin-top: 3px">Territories</h3>
        <div class="pull-right">
            <button type="button" class="btn btn-info btn-xs" ng-click="NewTerritory()">New Territory</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input class="col-sm-6" type="text" class="form-control" ng-model="NameFilter" ng-change="Territories.FilterChanged()" placeholder="Search Description" />
            <select class="col-sm-6" ng-model="SurveyFilter" ng-change="Territories.FilterChanged()">
                <option value="S">Consultant Territories</option>
                <option value="R">Reviewer Territories</option>
            </select>
        </div>
        <div>
            <label class="col-sm-12 control-label"><br /></label>
        </div>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assigned Users</th>
                </tr>
            </thead>
            <tr ng-repeat="territory in Territories.DisplayItems()">
                <td><a ng-click="SelectTerritory(territory)">{{territory.Name}}</a></td>
                <td><font ng-show="user.PercentAllocated != null"  ng-repeat="user in territory.UserTerritories">{{user.User.Name}}({{user.PercentAllocated}}%){{$last ? '' : ', '}}</font><font ng-show="user.MinPremiumAmount != null" ng-repeat="user in territory.UserTerritories">{{user.User.Name}}(${{user.MinPremiumAmount}} - ${{user.MaxPremiumAmount}} ){{$last ? '' : ', '}}</font></td>
                
            </tr>
            </tbody>
            <tfoot ng-show="Territories.ShowPager">
                <tr>
                    <td colspan="2" class="text-center">
                        <pagination on-select-page="Territories.ChangePage(page)" boundary-territorys="true" total-items="Territories.TotalItemCount" max-size="5" page="Territories.CurrentPage" items-per-page="Territories.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <script type="text/ng-template" id="territory-item-modal">
        <div class="modal-header">
            <h3>Territory</h3>
        </div>
        <form class="form-horizontal" role="form" name="Form.Territories" ng-submit="Update()">
            <div class="modal-body">
                <alert ng-repeat="v in ValidationErrors" type="'danger'">{{v.Message}}</alert>
                <h5>Territory Information</h5>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" ng-model="Item.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea rows="10" class="form-control" name="Description" ng-model="Item.Description" />
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <h5>Assigned Users</h5>
                    <div class="col-sm-12" ng-repeat="userterritory in Item.UserTerritories">
                        <label class="col-sm-3 control-label">{{userterritory.User.Name}}</label>
                        <div ng-show="Percent"><input type="text" name="PercentAllocated" ng-model="userterritory.PercentAllocated" />%</div>
                        <div ng-show="!Percent"><input type="text" name="MinPremiumAmount" ng-model="userterritory.MinPremiumAmount" /> to <input type="text" name="MaxPremiumAmount" ng-model="userterritory.MaxPremiumAmount" /></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Add User</label>
                    <div class="col-sm-4"><select class="col-sm-12" ng-model="ID" ng-options="u.ID as u.Name for u in Item.Users"></select>
                        <button type="button" class="btn btn-primary pull-right" ng-click="AddUser(ID)">Add User</button>                        
                    </div>                    
                </div>
                
                <div>
                    <input type="radio" name="Allocation" ng-value="true" ng-model="Percent">Percentage<br>
                    <input type="radio" name="Allocation" ng-value="false" ng-model="Percent">Premium Limit
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" ng-disabled="SavingItem" ng-click="Delete()" ng-show="ShowDelete">Delete</button>
                    <input type="submit" ng-disabled="SavingItem" class="btn btn-primary" value="{{SaveButtonText}}" />
                    <button type="button" class="btn btn-default" ng-disabled="SavingItem" ng-click="Cancel()">Cancel</button>
                </div>
        </form>
    </script>
-->