﻿@import "../../../styles/variables";

.advanced-submission-search {
    .query-field {
        & > label:nth-child(1) {
            float: left;
            width: 140px;
        }

        & > div:nth-child(2) {
            margin-left: 140px;

            &.date-field {
                div:nth-child(1) {
                    padding-right: 5px;
                }

                div:nth-child(2) {
                    padding-left: 5px;
                }

                div {
                    display: inline-block;
                    width: 50%;
                }
            }
        }

        &:after {
            .clearfix();
        }
    }

    .button-container {
        button {
            min-width: 90px;
        }

        a {
            margin-right: 10px;
        }
    }
}
