﻿<div class="advanced-submission-search" ng-hide="vm.AppState.PageGenerating">
    <form role="form" class="search-form clearfix" ng-submit="vm.Search()">
        <div class="search-input-container tri-column-grid">
            <div class="form-group query-field">
                <label>Client Id</label>
                <div>
                    <input type="text" class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.ClientId" character-filter="[^0-9]" />
                </div>
            </div>
            <div class="form-group query-field">
                <label>Submission or Policy #</label>
                <div>
                    <input type="text" class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.EntityNumber" />
                </div>
            </div>
            <div class="form-group query-field">
                <label>Submitted By</label>
                <div>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmittedBy" ng-options="i.UserName as i.DisplayName for i in vm.CompanyUsers">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group query-field">
                <label>Submitted Date</label>
                <div class="date-field">
                    <div>
                        <input type="text" class="form-control" placeholder="From" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmittedStart" date-picker />
                    </div><div>
                        <input type="text" class="form-control" placeholder="To" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmittedEnd" date-picker />
                    </div>
                </div>
            </div>
            <div class="form-group query-field">
                <label>Effective Date</label>
                <div class="date-field">
                    <div>
                        <input type="text" class="form-control" placeholder="From" ng-model="vm.Workflow.SubmissionSearchCriteria.EffectiveStart" date-picker />
                    </div><div>
                        <input type="text" class="form-control" placeholder="To" ng-model="vm.Workflow.SubmissionSearchCriteria.EffectiveEnd" date-picker />
                    </div>
                </div>
            </div>
            <div class="form-group query-field">
                <label>Expiration Date</label>
                <div class="date-field">
                    <div>
                        <input type="text" class="form-control" placeholder="From" ng-model="vm.Workflow.SubmissionSearchCriteria.ExpirationStart" date-picker />
                    </div><div>
                        <input type="text" class="form-control" placeholder="To" ng-model="vm.Workflow.SubmissionSearchCriteria.ExpirationEnd" date-picker />
                    </div>
                </div>
            </div>
            <div class="form-group query-field">
                <label>Last Updated</label>
                <div class="date-field">
                    <div>
                        <input type="text" class="form-control" placeholder="From" ng-model="vm.Workflow.SubmissionSearchCriteria.UpdatedStart" date-picker />
                    </div><div>
                        <input type="text" class="form-control" placeholder="To" ng-model="vm.Workflow.SubmissionSearchCriteria.UpdatedEnd" date-picker />
                    </div>
                </div>
            </div>
            <div class="form-group query-field">
                <label>Type</label>
                <div>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmissionType" ng-options="i.TypeName as i.TypeName for i in vm.Workflow.SubmissionTypes">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group query-field">
                <label>Status</label>
                <div>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmissionStatus" ng-options="i.Code as i.Code for i in vm.Workflow.SubmissionStatuses">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group query-field" ng-show="vm.Workflow.Domains.UsesPolicySymbol">
                <label>{{vm.Workflow.Domains.PolicySymbolLabel}}</label>
                <div>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.PolicySymbol" ng-options="i.Code as (i.Code + ' - ' + i.Description) for i in vm.Workflow.PolicySymbols">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group query-field">
                <label>Agency</label>
                <div>
                    <span name="Agency" ng-model="vm.Workflow.SubmissionSearchCriteria.Agency" item-select="{ source: vm.Workflow.AgencyAutoCompleteSearch, display: 'i.Code + \' - \' + i.Name', tooltip: 'i | agencyTooltip', matchTemplate: 'item-select-agency', appendToBody: true}"></span>
                </div>
            </div>
            <div class="form-group query-field">
                <label>Underwriting Unit</label>
                <div>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.UnderwritingUnit" ng-options="i.Description as i.Description for i in vm.Workflow.UnderwritingUnits">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group query-field">
                <label>{{vm.Workflow.UnderwritersLabel}}</label>
                <div>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.Underwriter" ng-options="i.FullName as i.FullName for i in vm.Workflow.Underwriters">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group query-field" ng-show="vm.Workflow.UsesUnderwritingAnalyst">
                <label>{{vm.Workflow.UnderwritingAnalystLabel}}</label>
                <div>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.UnderwritingAnalyst" ng-options="i.FullName as i.FullName for i in vm.Workflow.UnderwritingAnalysts">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group query-field" ng-show="vm.Workflow.UsesUnderwritingTechnician">
                <label>{{vm.Workflow.UnderwritingTechnicianLabel}}</label>
                <div>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.UnderwritingTechnician" ng-options="i.FullName as i.FullName for i in vm.Workflow.UnderwritingTechnicians">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group query-field" ng-repeat="b in vm.Workflow.SubmissionSearchCriteria.CompanyCustomizationBindings">
                <label>{{b.Customization.Description}}</label>
                <div>
                    <company-customization-write binding="b" boolean-as-dropdown="true"></company-customization-write>
                </div>
            </div>
        </div>
        <div class="pull-right button-container">
            <a ng-click="vm.Workflow.ResetSubmissionSearchCriteria()">Reset</a>
            <button type="submit" class="btn btn-primary" ng-disabled="vm.AppState.Loading">Search</button>
        </div>
    </form>
    <div ng-show="vm.AppState.Loading">
        <loading-well text="Searching"></loading-well>
    </div>
    <div ng-show="vm.HasSearched && !vm.AppState.Loading && vm.Workflow.SubmissionDataSource != null">
        <hr />
        <submissions fields="vm.SubmissionFields" data-source="vm.Workflow.SubmissionDataSource" include-actions="true"></submissions>
    </div>
</div>
