﻿.advanced-submission-search .query-field > label:nth-child(1) {
  float: left;
  width: 140px;
}
.advanced-submission-search .query-field > div:nth-child(2) {
  margin-left: 140px;
}
.advanced-submission-search .query-field > div:nth-child(2).date-field div:nth-child(1) {
  padding-right: 5px;
}
.advanced-submission-search .query-field > div:nth-child(2).date-field div:nth-child(2) {
  padding-left: 5px;
}
.advanced-submission-search .query-field > div:nth-child(2).date-field div {
  display: inline-block;
  width: 50%;
}
.advanced-submission-search .query-field:after {
  content: "";
  display: table;
  clear: both;
}
.advanced-submission-search .button-container button {
  min-width: 90px;
}
.advanced-submission-search .button-container a {
  margin-right: 10px;
}
