﻿<div>
    <form role="form" ng-submit="vm.ClassCodeLookup(SearchTerm)" class="form-inline form-group">
        <div class="form-group">
            <input type="text" class="form-control" name="SearchTerm" ng-model="SearchTerm" placeholder="Description or Code" />
            <input type="submit" class="btn btn-primary" value="Filter" ng-disabled="vm.AppState.Loading" />
        </div>
    </form>
    <div>
        <div ng-show="vm.AppState.Loading">
            <loading-well text="Searching"></loading-well>
        </div>
        <div ng-hide="vm.AppState.Loading">
            <class-codes class-codes="vm.DataSource.items" view="standard"></class-codes>
            <pagination source="vm.DataSource"></pagination>
        </div>
    </div>
</div>