﻿<form role="form" ng-submit="vm.GeneratePolicyNumber()">
    <p>Click the button below to generate a new Policy Number.</p>
    <div class="row form-group" ng-show="vm.ShowPolicySymbol">
        <div class="col-md-2">
            Policy Symbol
        </div>
        <div class="col-md-4">
            <select class="form-control" ng-model="vm.SelectedPolicySymbol" ng-options="i as (i.Code + ' - ' + i.Description) for i in vm.PolicySymbols">
                <option></option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Generate Policy Number" ng-disabled="vm.AppState.Loading" />
        </div>
    </div>
    <div class="row form-group" ng-show="vm.AppState.Loading || vm.GeneratedPolicyNumber != null">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <hr />
            {{(vm.AppState.Loading) ? 'Generating..' : vm.GeneratedPolicyNumber}}
        </div>
    </div>
</form>
