﻿<div class="sub-menu-container padded-page-container">
    <div class="content-header affix">
        <div class="container">
            <ul class="nav nav-sub-menu ">
                <li ng-repeat="m in vm.Menu" ui-sref-active="active">
                    <a ui-sref="{{m.state}}">{{m.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-detail">
        <div class="container">
            <div ui-view></div>
        </div>
    </div>
</div>