﻿<div class="row" ng-show="!PageLoading">
    <div class="col-md-2">
        <ul>
            <!--<li ng-repeat="m in Menu">
                <a ui-sref="{{m.state}}">{{m.name}}</a>
            </li>-->
            <li><a class="cursor-pointer"  ui-sref="insured({servicePlanID: ServicePlan.ID})">Insured Details</a></li>
        </ul>
    </div>
    <div class="col-md-10">

        <div class="panel panel-default" ng-show="!PageLoading">
            <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
                <h3 class="panel-title pull-left" style="margin-top: 3px">Service Plan</h3>
            </div>
            <div class="panel-body">
                <div>
                    <h4>Service Plan Information</h4>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Service Plan Number</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Number}}</label>
                        <label class="col-sm-2 control-label">Created On</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.CreateDate | date:'MM/dd/yyyy'}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Created By</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.CreatedByUser.Name}}</label>
                        <label class="col-sm-2 control-label">Type</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Type.Name}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Service Plan Status</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.ServicePlanStatus.Name}}</label>
                        <label class="col-sm-2 control-label">Assigned User</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.AssignedUser.Name}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Last Modified On</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.LastModifiedOn | date:'MM/dd/yyyy'}}</label>
                    </div>
                </div>
                <div>
                    <h4>Additional Plan Information</h4>
                    <div class="col-sm-12 form-group" ng-repeat="serviceplanattribute in ServicePlan.ServicePlanAttribute">
                        <label class="col-sm-2 control-label">{{serviceplanattribute.CompanyAttribute.Label}}</label>
                        <label class="col-sm-10 control-label">{{serviceplanattribute.AttributeValue}}</label>
                    </div>                    
                </div>

                <div>
                    <h4>Service Visits</h4>

                </div>
                <div>
                    <h4>Objectives</h4>

                </div>
                <div>
                    <h4>Comments</h4>
                    <div class="col-sm-12 form-group" ng-repeat="serviceplannote in ServicePlan.ServicePlanNote">
                        <label class="control-label">{{serviceplannote.EntryDate | date:'MM/dd/yyyy'}}</label>&nbsp;&nbsp;
                        <label class="control-label">{{serviceplannote.EntryBy.Name}}</label>
                        <u class="col-sm-12"></u>
                        <div>
                            <label class="col-sm-12 control-label">{{serviceplannote.Comment}}</label>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Documents</h4>
                    <div class="col-sm-12 form-group" ng-repeat="serviceplandocument in ServicePlan.ServicePlanDocument">
                        <label class="col-sm-4 control-label">{{serviceplandocument.DocumentName}}({{serviceplandocument.SizeInBytes}})</label>
                        <label class="control-label">{{serviceplandocument.UploadedUser.Name}} on</label>                        
                        <label class="control-label">{{serviceplandocument.UploadedOn | date:'MM/dd/yyyy'}}</label>                                                
                    </div>
                </div>
                <div>
                    <h4>History</h4>
                    <div class="col-sm-12 form-group" ng-repeat="serviceplanhistory in ServicePlan.ServicePlanHistory">
                        <label class="control-label">{{serviceplanhistory.EntryDate | date:'MM/dd/yyyy'}}</label>&nbsp;&nbsp;
                        <label class="control-label">{{serviceplanhistory.EntryText}}</label>
                        
                    </div>
                </div>
            </div>

        </div>
</div>
