﻿<div id="body-container">
    <div id="body-header">
        <div class="row">
            <div class="col-xs-12">
                <div id="header-container">
                    <div class="page-heading">
                        <h1>{{vm.pageHeading}}</h1>
                    </div>
                    <div class="row page-controls-container">
                        <div class="col-xs-6 page-subheading">{{vm.pageSubheading}}</div>
                        <div class="col-xs-6 page-controls">{RIGHT}</div>
                    </div>
                    <div class="page-navigation"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="body-content">
        <div class="row">
            <div class="col-xs-12">

                <p>vm.companyNumber: {{vm.companyNumber}}</p>

                <!-- --------------------------------------------- -->
                <!--<div class="panel panel-default" ng-show="!PageLoading">
                    <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
                        <h3 class="panel-title pull-left" style="margin-top: 3px">Service Plans</h3>
                        <div class="pull-right">
                            <button type="button" class="btn btn-info btn-xs" ng-click="NewServicePlan()">New Service Plan</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-sm-4 control-label">Status</label>
                                <select ng-init="StatusFilter ='A'" ng-model="StatusFilter" ng-change="ServicePlans.FilterChanged()" ng-options="s.Code as s.Name for s in ServicePlanStatus"></select>
                            </div>
                            <div ng-show="false" class="col-sm-2">
                                <input type="text" ng-model="InsuredNameFilter" ng-change="ServicePlans.FilterChanged()" placeholder="Search Name" />
                            </div>
                            <div ng-show="false" class="col-sm-2">
                                <input type="text" ng-change="ServicePlans.FilterChanged()" ng-model="NumberFilter" placeholder="Search Number" />
                            </div>
                            <div class="col-sm-4">
                                <select ng-model="user" ng-init="user='a1ded771-65ca-49bf-8580-8b1060ad7e0f'" ng-change="ServicePlans.FilterChanged()" ng-options="u.ID as u.Name for u in Users"></select>
                            </div>
                        </div>
                        <div>
                            <label class="col-sm-12 control-label"><br /></label>
                        </div>
                        <table class="table table-striped table-condensed table-hover">
                            <tbody>
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>ClientID</th>
                                    <th>Type</th>
                                    <th>Insured</th>
                                    <th>Insured City</th>
                                    <th>Insured State</th>
                                    <th>Insured Zip</th>
                                    <th>Open Visits</th>
                                    <th>Assigned User</th>
                                    <th>Agency Name</th>
                                    <th>Policy Expiration</th>
                                    <th>Underwriter</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="serviceplan in ServicePlans.DisplayItems()">
                                <td><a class="cursor-pointer" ui-sref="number({servicePlanNumber: serviceplan.Number})">{{serviceplan.Number}}</a></td>
                                <td>{{serviceplan.Insured.ClientID}}</td>
                                <td>{{serviceplan.Type.Name}}</td>
                                <td>{{serviceplan.Insured.Name}}</td>
                                <td>{{serviceplan.Insured.City}}</td>
                                <td>{{serviceplan.Insured.StateCode}}</td>
                                <td>{{serviceplan.Insured.ZipCode}}</td>
                                <td></td>
                                <td>{{serviceplan.AssignedUser.Name}}</td>
                                <td>{{serviceplan.Insured.Agency.Name}}</td>
                                <td>{{serviceplan.PrimaryPolicy.ExpireDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{serviceplan.Insured.Underwriter.Name}}</td>
                                <td></td>
                            </tr>
                            </tbody>
                            <tfoot ng-show="ServicePlans.ShowPager">
                                <tr>
                                    <td colspan="6" class="text-center">
                                        <pagination on-select-page="ServicePlans.ChangePage(page)" boundary-links="true" total-items="ServicePlans.TotalItemCount" max-size="10" page="ServicePlans.CurrentPage" items-per-page="ServicePlans.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>-->
                <!-- --------------------------------------------- -->

            </div>
        </div>
    </div>
</div>