﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>

    <script>
        var imgA = "./Images/Expand.png";
        var imgB = "./Images/arrow_forward.png";
        var flag = true;
        function changeImage(obj) {
            if (flag) {
                obj.src = imgB;
            }
            else {
                obj.src = imgA;
            }
            flag = !flag
        }
    </script> 


    <form id="form1" runat="server">
    <div>
        <img src="./Images/Expand.png" onclick="changeImage(this)" / >
    </div>
    </form>
</body>
</html>
