<%@ Page Language="C#" AutoEventWireup="false" CodeFile="Logout.aspx.cs" Inherits="LogoutAspx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Logout</title>
</head>
<body style="margin:0px">
    <form id="PostForm" method="post" runat="server">
    <!-- No Page Content -->
    </form>
</body>
</html>
