<%@ Control Language="C#" CompilationMode="always" AutoEventWireup="true" CodeFile="ClientClassCode.ascx.cs" Inherits="BCS.WebApp.UserControls.UserControls_ClientClassCode" %>

<asp:Panel ID="pnlCC" runat="server" Width="80%">
</asp:Panel>