<%@ Page Language="C#" MasterPageFile="~/Site.PATS.master" AutoEventWireup="true" CodeFile="CompanyUsers.aspx.cs" Inherits="CompanyUsers" Title="User Admin" Theme="DefaultTheme" %>
<%@ Register Src="~/WebUserControls/CompanyUsers.ascx" TagName="Users" TagPrefix="bcs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <bcs:Users ID="bcsUSers" runat="server" />
</asp:Content>
