<%@ Page language="c#" Inherits="BCS.WebApp.KeepSessionAlive" CodeFile="KeepSessionAlive.aspx.cs" Theme="DefaultTheme" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" ><html><head><title>KeepSessionAlive</title></head><body><form id="Form1" method="post" runat="server"><!-- This page should never be directly viewed --></form></body></html>
