

.pageIcon
{
	clear: none;
	left: 0px;
	float: left;
	position: absolute;
	top: 0px;
}


.tableHeader
{
	font-weight: bold;
	color: white;
	background-color: #c0c0c0;
}
.tableHeaderSort a
{
	font-weight: bold;
	color: white;
	background-color: #c0c0c0;
	text-decoration: underline;
}
.filter
{
	font-size: 10pt;
}
.login
{
	font-size: 12pt;
}
.stepNumber
{
	font-weight: bold;
	font-size: 20pt;
	color: maroon;
}
.masterGrid
{
	font-size: 11pt;
}
.userEditor
{
	font-size: 10pt;
}
.switchers
{
	font-size: 10pt;
}
.searchFilter
{
	background: #eee;
	float: left;
	border-right: #000 1px solid;
	width: 140px;
	padding-top: 6px;
	padding-left: 6px;
	border-bottom: #000 1px solid;
	border-top: #000 1px solid;
	border-left: #000 1px solid;
}



.switch
{
	background: #eee;
	float: left;
	border-right: #000 1px solid;
	width: 140px;
	padding-top: 6px;
	padding-left: 6px;
	border-bottom: #000 1px solid;
	border-top: #000 1px solid;
	border-left: #000 1px solid;
}
#pleaseWait
{
	border-right: #00563f 1px solid;
	border-top: #00563f 1px solid;
	font-weight: bold;
	font-size: 16pt;
	z-index: 5;
	left: 30%;
	visibility: hidden;
	border-left: #00563f 1px solid;
	width: 350px;
	color: white;
	border-bottom: #00563f 1px solid;
	position: absolute;
	top: 30%;
	height: 100px;
	background-color: #00563f;
	text-align: center;
}
#leftnav
{
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	padding-bottom: 5px;
	margin: 5px;
	width: 165px;
	padding-top: 5px;
	height: auto;
	background-color: white;
}
#leftnav p
{
	/*padding-right: 5px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 5px;*/
}

#main
{
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	padding-top: 10px;
	background-color: white;
}
#copyright
{
	padding-right: 5px;
	margin-top: 10px;
	padding-left: 5px;
	font-size: 8pt;
	left: 0px;
	float: none;
	padding-bottom: 5px;
	margin-left: 10px;
	width: 100%;
	color: white;
	bottom: 9px;
	margin-right: 10px;
	padding-top: 5px;
	position: relative;
	background-color: Silver;
	text-align: center;
}


.lbLogOff
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10pt;
	padding-bottom: 5px;
	padding-top: 17px;
	position: absolute;
	top: 105px;
	right: 10px;
}


