<%@ Page Language="C#" MasterPageFile="~/Site.PATS.master" AutoEventWireup="true" CodeFile="SubmissionID.aspx.cs" Inherits="SubmissionID" Title="Berkley Clearance System : Submission ID" Theme="DefaultTheme" ValidateRequest="False" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

</asp:Content>