﻿<script type="text/ng-template" id="item-select-code-item">
    <div>{{ i | codeItemEdit }}</div>
</script>
<script type="text/ng-template" id="item-select-agency">
    <div>{{ i.Code }} - {{ i.Name }}</div>
    <div class="secondary-data text-muted">
        <small>
            <address-view address="i.Address"></address-view>
        </small>
    </div>
</script>