﻿.administration .primary-actions-container {
  text-align: center;
}
.administration .primary-actions-container .or-container {
  margin: 20px 0;
}
.administration .primary-view-container {
  border-left: 1px dotted #eeeeee;
  padding-left: 15px;
}
