﻿<div class="administration sub-menu-container padded-page-container">
    <div class="content-header affix">
        <div class="container">
            <ul class="nav nav-sub-menu ">
                <li ng-repeat="m in vm.Menu" ui-sref-active="active">
                    <a ui-sref="{{m.state}}">{{m.name}}</a>
                </li>
                <li class="dropdown" ng-if="vm.SystemAdminMenu" ng-class="{'active': vm.OnSystemAdminState()}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" click-event>System Administration<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li ng-repeat="m in vm.SystemAdminMenu" ui-sref-active="active">
                            <a ui-sref="{{m.state}}">{{m.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-detail">
        <div class="container">
            <div ui-view></div>
        </div>
    </div>
</div>