﻿@import "../../../styles/variables";

.administration {
    .primary-actions-container {
        text-align: center;

        .or-container {
            margin: 20px 0;
        }
    }

    .primary-view-container {
        border-left: 1px dotted @medium-gray;
        padding-left: 15px;
    }
}
