﻿<div>
    <form class="form-inline" ng-submit="vm.SyncPersonnel()">
        <div class="form-group">
            Underwriting Personnel:
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-disabled="vm.AppState.Loading">Sync Personnel</button>
        </div>
    </form>
    <hr />
    <form class="form-inline" ng-submit="vm.SyncAgency()">
        <div class="form-group">
            Agency Code:
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.SyncAgencyCode" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-disabled="vm.AppState.Loading">Sync Agency</button>
        </div>
    </form>
</div>