﻿<div class="row">
    <div class="col-md-4">
        <h4>Test Client</h4>
        <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="vm.TestClientName" />
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control state-input" ng-model="vm.TestClientState" ng-options="i.Abbreviation as i.Abbreviation for i in vm.States">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <h4>All Company Actions</h4>
        <div class="primary-actions-container">
            <ul class="list-unstyled">
                <li class="or-container"><button type="button" class="btn btn-default" ng-click="vm.ResetTests()">Reset Tests</button></liclass>
                <li><button type="button" class="btn btn-primary" ng-disabled="!vm.CanRunAllSearch()" ng-click="vm.RunAllSearch()">Run All Search</button></liclass="or-container">
                <li class="or-container"><button type="button" class="btn btn-primary" ng-disabled="!vm.CanRunAllGet()" ng-click="vm.RunAllGet()">Run All Get</button></li>
                <li><button type="button" class="btn btn-primary" ng-disabled="!vm.CanRunAllSave()" ng-click="vm.RunAllSave()">Run All Save</button></li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-condensed table-bordered table-no-margin">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Search Operation</th>
                    <th>Get Operation</th>
                    <th>Save Operation</th>
                    <th class="delete-button-column" ng-if="vm.Editing"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in vm.Companies">
                    <td>{{c.Summary.CompanyName}}</td>
                    <td>
                        <div ng-show="c.SearchSucceeded == null">
                            <i class="loading-loader fa fa-circle-o-notch fa-spin" ng-show="c.SearchRunning"></i>
                            <button ng-hide="c.SearchRunning" ng-click="c.RunSearch()" type="button" class="btn btn-primary">Run</button>
                        </div>
                        <div ng-hide="c.SearchSucceeded == null">
                            <i class="fa fa-lg" ng-class="{'fa-check alert-success': c.SearchSucceeded, 'fa-times alert-danger': !c.SearchSucceeded}"></i>
                        </div>
                    </td>
                    <td>
                        <div ng-show="c.GetSucceeded == null">
                            <i class="loading-loader fa fa-circle-o-notch fa-spin" ng-show="c.GetRunning"></i>
                            <button ng-hide="c.GetRunning" ng-click="c.RunGet()" type="button" class="btn btn-primary" ng-disabled="c.SearchSucceeded != true">Run</button>
                        </div>
                        <div ng-hide="c.GetSucceeded == null">
                            <i class="fa fa-lg" ng-class="{'fa-check alert-success': c.GetSucceeded, 'fa-times alert-danger': !c.GetSucceeded}"></i>
                        </div>
                    </td>
                    <td>
                        <div ng-show="c.SaveSucceeded == null">
                            <i class="loading-loader fa fa-circle-o-notch fa-spin" ng-show="c.SaveRunning"></i>
                            <button ng-hide="c.SaveRunning" ng-click="c.RunSave()" type="button" class="btn btn-primary" ng-disabled="c.GetSucceeded != true">Run</button>
                        </div>
                        <div ng-hide="c.SaveSucceeded == null">
                            <i class="fa fa-lg" ng-class="{'fa-check alert-success': c.SaveSucceeded, 'fa-times alert-danger': !c.SaveSucceeded}"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>