﻿<div class="administration-view-settings" ng-hide="vm.AppState.PageGenerating">
    <h3>Company Settings</h3>
    <div>
        <table class="table table-condensed table-bordered table-no-margin">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="f in vm.companySettingsFields" title="{{f}}"><div><span>{{f}}</span></div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in vm.companies" title="{{c.Summary.Abbreviation}}">
                    <td>{{c.Summary.Abbreviation}}</td>
                    <td ng-repeat="f in vm.companySettingsFields">
                        {{c.Configuration[f]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <h3>System Settings</h3>
    <div>
        <table class="table table-condensed table-bordered table-no-margin">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="f in vm.systemSettingsFields" title="{{f}}"><div><span>{{f}}</span></div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in vm.companies" title="{{c.Summary.Abbreviation}}">
                    <td>{{c.Summary.Abbreviation}}</td>
                    <td ng-repeat="f in vm.systemSettingsFields">
                        {{c.SystemSettings[f]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>