﻿.administration-view-fields div.table-content {
  max-height: 250px;
  overflow: auto;
}
.administration-view-fields .client-fields thead tr th:first-child {
  width: 50px;
}
.administration-view-fields .client-fields tbody tr td.company-column {
  text-align: left;
  width: 50px;
}
.administration-view-fields .submission-fields thead tr th:first-child {
  width: 150px;
}
.administration-view-fields .submission-fields tbody tr td.company-column {
  text-align: left;
  width: 50px;
}
.administration-view-fields .submission-fields tbody tr td.submission-type-column {
  text-align: left;
  width: 100px;
}
.administration-view-fields table {
  width: auto;
}
.administration-view-fields table tbody tr td {
  text-align: center;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.administration-view-fields table tbody tr td .icon-container {
  position: relative;
}
.administration-view-fields table tbody tr td .icon-container i.fa-asterisk {
  color: #d9534f;
  position: absolute;
  font-size: 0.7em;
  top: -5px;
  right: -6px;
}
.administration-view-fields table tbody tr td .icon-container i.fa-plus {
  position: absolute;
  top: -4px;
  right: 13px;
}
.administration-view-fields table tbody tr td .icon-container i.fa-sign-out {
  color: #428bca;
  position: absolute;
  top: 11px;
  right: 11px;
}
.administration-view-fields table tbody tr.alt-row td {
  background-color: #f4f4f4;
}
.administration-view-fields table.table-rotated-header {
  border: 0;
}
.administration-view-fields table.table-rotated-header thead {
  background-color: transparent;
}
.administration-view-fields table.table-rotated-header thead th {
  border: 0;
  height: 100px;
  width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}
.administration-view-fields table.table-rotated-header thead th div {
  background-color: #dddddd;
  position: relative;
  left: 50px;
  height: 100%;
  -ms-transform: skew(-45deg, 0);
  -moz-transform: skew(-45deg, 0);
  -webkit-transform: skew(-45deg, 0);
  -o-transform: skew(-45deg, 0);
  transform: skew(-45deg, 0);
  overflow: hidden;
  border: 1px solid #cccccc;
  border-bottom: none;
}
.administration-view-fields table.table-rotated-header thead th div span {
  -ms-transform: skew(45deg, 0) rotate(315deg);
  -moz-transform: skew(45deg, 0) rotate(315deg);
  -webkit-transform: skew(45deg, 0) rotate(315deg);
  -o-transform: skew(45deg, 0) rotate(315deg);
  transform: skew(45deg, 0) rotate(315deg);
  position: absolute;
  bottom: 30px;
  left: -22px;
  width: 85px;
  text-align: left;
}
