﻿@import "../../../styles/variables";

.administration-view-fields {
    div.table-content {
        max-height: 250px;
        overflow: auto;
    }

    .client-fields {
        thead {
            tr {
                th:first-child {
                    width: 50px;
                }
            }
        }

        tbody {
            tr {
                td.company-column {
                    text-align: left;
                    width: 50px;
                }
            }
        }
    }

    .submission-fields {
        thead {
            tr {
                th:first-child {
                    width: 150px;
                }
            }
        }

        tbody {
            tr {
                td.company-column {
                    text-align: left;
                    width: 50px;
                }

                td.submission-type-column {
                    text-align: left;
                    width: 100px;
                }
            }
        }
    }

    table {
        width: auto;

        tbody {
            tr {
                td {
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    vertical-align: middle;

                    .icon-container {
                        position: relative;

                        i.fa-asterisk {
                            color: @brand-danger;
                            position: absolute;
                            font-size: 0.7em;
                            top: -5px;
                            right: -6px;
                        }

                        i.fa-plus {
                            position: absolute;
                            top: -4px;
                            right: 13px;
                        }

                        i.fa-sign-out {
                            color: @brand-primary;
                            position: absolute;
                            top: 11px;
                            right: 11px;
                        }
                    }
                }
            }

            tr.alt-row {
                td {
                    background-color: @light-gray;
                }
            }
        }
    }

    table.table-rotated-header {
        border: 0;

        thead {
            background-color: transparent;

            th {
                border: 0;
                height: 100px;
                width: 40px;
                position: relative;
                vertical-align: bottom;
                padding: 0;
                font-size: 12px;
                line-height: 0.8;

                div {
                    background-color: @dark-gray;
                    position: relative;
                    left: 50px;
                    height: 100%;
                    -ms-transform: skew(-45deg,0);
                    -moz-transform: skew(-45deg,0);
                    -webkit-transform: skew(-45deg,0);
                    -o-transform: skew(-45deg,0);
                    transform: skew(-45deg,0);
                    overflow: hidden;
                    border: 1px solid @border-gray;
                    border-bottom: none;

                    span {
                        -ms-transform: skew(45deg,0) rotate(315deg);
                        -moz-transform: skew(45deg,0) rotate(315deg);
                        -webkit-transform: skew(45deg,0) rotate(315deg);
                        -o-transform: skew(45deg,0) rotate(315deg);
                        transform: skew(45deg,0) rotate(315deg);
                        position: absolute;
                        bottom: 30px;
                        left: -22px;
                        width: 85px;
                        text-align: left;
                    }
                }
            }
        }
    }
}
