﻿<div class="administration-view-fields" ng-hide="vm.AppState.PageGenerating">
    <div style="width: {{ 250 + (vm.submissionFields.length * 40)}}px">
        <h3 class="no-top-margin">Submission Fields</h3>
        <table class="table table-condensed table-bordered table-no-margin table-rotated-header submission-fields">
            <thead>
                <tr>
                    <th></th>
                    <th><div><span>Summary</span></div></th>
                    <th><div><span>Is Renewal</span></div></th>
                    <th ng-repeat="f in vm.submissionFields" title="{{f}}"><div><span>{{f}}</span></div></th>
                </tr>
            </thead>
        </table>
        <div class="table-content">
            <table class="table table-condensed table-bordered submission-fields">
                <tbody>
                    <tr ng-repeat="c in vm.submissionCompanies" ng-class="{'alt-row' : c.AlternateRow}">
                        <td class="company-column" ng-if="c.FirstCompanyRow" rowspan="{{c.RowCount}}" title="{{c.Description}}">
                            {{c.Abbreviation}}
                        </td>
                        <td class="submission-type-column">
                            <span ng-class="{'text-bold': c.Type.TypeIsDefault}">{{c.Type.TypeName}}</span>
                        </td>
                        <td>
                            <i class="fa fa-info-circle fa-lg" title="{{'Property Name: &quot;' + c.Type.SummaryField.PropertyName + '&quot;\nCustomization: ' + (c.Type.SummaryField.IsCustomization | YesNo) + '\nDisplay Name: ' + c.Type.SummaryField.DisplayName + '\nHeader: ' + c.Type.SummaryField.Header}}"></i>
                        </td>
                        <td>
                            <i class="fa fa-check" ng-show="c.Type.TypeIsRenewal" title="Yes"></i>
                            <i class="fa fa-times text-muted" ng-show="!c.Type.TypeIsRenewal" title="No"></i>
                        </td>
                        <td ng-repeat="t in vm.submissionFields">
                            <span class="icon-container" title="{{'Label: &quot;' + c.Type[t].Label + '&quot;\nRequired: ' + (c.Type[t].Required | YesNo) + '\nVisible On Add: ' + (c.Type[t].VisibleOnAdd | YesNo) + '\nVisible On BPM Screen: ' + (c.Type[t].VisibleOnBPM | YesNo)}}">
                                <i class="fa fa-check fa-lg" ng-show="c.Type[t].Enabled"></i>
                                <i class="fa fa-times text-muted" ng-show="!c.Type[t].Enabled"></i>
                                <i class="fa fa-asterisk" ng-show="c.Type[t].Required"></i>
                                <i class="fa fa-plus" ng-show="c.Type[t].VisibleOnAdd"></i>
                                <i class="fa fa-sign-out" ng-show="c.Type[t].VisibleOnBPM"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div style="width: {{ 70 + (vm.clientFields.length * 40)}}px">
        <h3>Client Fields</h3>
        <table class="table table-condensed table-bordered table-no-margin table-rotated-header client-fields">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="f in vm.clientFields" title="{{f}}"><div><span>{{f}}</span></div></th>
                </tr>
            </thead>
        </table>
        <div class="table-content">
            <table class="table table-condensed table-striped table-bordered client-fields">
                <tbody>
                    <tr ng-repeat="c in vm.clientCompanies">
                        <td class="company-column" title="{{c.Description}}">
                            {{c.Abbreviation}}
                        </td>
                        <td ng-repeat="t in vm.clientFields">
                            <span class="icon-container" title="{{'Label: &quot;' + c.Type[t].Label + '&quot;\nRequired: ' + (c.Type[t].Required | YesNo) + '\nVisible On Add: ' + (c.Type[t].VisibleOnAdd | YesNo)}}">
                                <i class="fa fa-check fa-lg" ng-show="c.Type[t].Enabled"></i>
                                <i class="fa fa-times text-muted" ng-show="!c.Type[t].Enabled"></i>
                                <i class="fa fa-asterisk" ng-show="c.Type[t].Required"></i>
                                <i class="fa fa-plus" ng-show="c.Type[t].VisibleOnAdd"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>