﻿.administration-submission-table {
    .primary-view-container {
        .col-sm-6 {
            .scroll-container {
                max-height: 400px;
                overflow: auto;
            }
        }
    }
}
