﻿<div class="row administration-submission-table">
    <div class="col-md-4 primary-actions-container">
        <ul class="text-left">
            <li>
                To add a new carrier as an "Acquiring Carrier" or "Prior Carrier" option, find it in the "Other Known Carriers" table, and click the
                <button type="button" class="btn btn-link btn-add" tabindex="-1">
                    <i class="fa fa-plus-circle"></i>
                </button>
                button.
            </li>
            <li>
                To remove a carrier, find it in the "Carrier Options" table and click the
                <button type="button" class="btn btn-link" tabindex="-1">
                    <i class="fa fa-trash-o"></i>
                </button> button.
            </li>
            <li>Click "Save Changes" once you're finished altering the carrier options.</li>
        </ul>
    </div>
    <div class="col-md-8 primary-view-container" ng-show="!vm.AppState.Loading">
        <div class="row form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="vm.OptionsFilter" placeholder="Filter Lists" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="scroll-container">
                    <table class="table table-striped table-condensed table-outlined">
                        <thead>
                            <tr>
                                <th>Carrier Options</th>
                                <th class="delete-button-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in vm.CompanyOptions | filter: vm.OptionsFilter">
                                <td>
                                    {{c.Description}}
                                </td>
                                <td class="delete-button-column">
                                    <button type="button" tabindex="-1" class="btn btn-link" ng-disabled="vm.AppState.Loading" ng-click="vm.RemoveCarrier(c)"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="scroll-container">
                    <table class="table table-striped table-condensed table-outlined">
                        <thead>
                            <tr>
                                <th>Other Known Carriers</th>
                                <th class="delete-button-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in vm.AvailableOptions | filter: vm.OptionsFilter">
                                <td>
                                    {{c.Description}}
                                </td>
                                <td class="delete-button-column">
                                    <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.AddCarrier(c)">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr />
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="vm.Save()">Save Changes</button>
        </div>
    </div>
</div>