﻿.policy-symbol-administration table {
  width: auto;
}
.policy-symbol-administration table .code-column {
  width: 100px;
}
.policy-symbol-administration table .description-column {
  width: 250px;
}
.policy-symbol-administration table .expiration-column {
  width: 100px;
}
.policy-symbol-administration table .usage-column {
  width: 75px;
}
.policy-symbol-administration table .policy-generation-column {
  width: 125px;
}
.policy-symbol-administration table .action-column {
  width: 125px;
}
