﻿<div class="policy-symbol-administration" ng-hide="vm.AppState.PageGenerating">
    <alert ng-show="vm.ValidationResults.length > 0" type="'danger'">
        <ul>
            <li ng-repeat="v in vm.ValidationResults">{{v.Message}}</li>
        </ul>
    </alert>
    <div class="editable-collection">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="code-column">Code</th>
                    <th class="description-column">Description</th>
                    <th class="expiration-column">Expiration Date</th>
                    <th class="usage-column" ng-show="vm.ShowUsageOptions">Primary Option</th>
                    <th class="usage-column" ng-show="vm.ShowUsageOptions">Package Option</th>
                    <th class="policy-generation-column" ng-show="vm.ShowNumberControls">Policy # Generation</th>
                    <th ng-show="vm.ShowNumberControls">Policy # Prefix</th>
                    <th class="action-column"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in vm.PolicySymbols" ng-class="{'soft-deleted': i.RetirementDate != null && !i.Editing}">
                    <td class="code-column">
                        <editable-field editing="i.Editing">
                            <read>
                                {{i.Code}}
                            </read>
                            <write>
                                <input type="text" class="form-control" ng-model="i.Code" name="code-{{$index}}" />
                            </write>
                        </editable-field>
                    </td>
                    <td class="description-column">
                        <editable-field editing="i.Editing">
                            <read>
                                {{i.Description}}
                            </read>
                            <write>
                                <input type="text" class="form-control" ng-model="i.Description" />
                            </write>
                        </editable-field>
                    </td>
                    <td class="expiration-column">
                        <editable-field editing="i.Editing">
                            <read>
                                {{i.RetirementDate | date:'MM/dd/yyyy'}}
                            </read>
                            <write>
                                <input type="text" class="form-control" ng-model="i.RetirementDate" date-picker />
                            </write>
                        </editable-field>
                    </td>
                    <td class="usage-column" ng-show="vm.ShowUsageOptions">
                        <editable-field editing="i.Editing">
                            <read>
                                {{i.IsPrimaryOption | YesNo}}
                            </read>
                            <write>
                                <input type="checkbox" ng-model="i.IsPrimaryOption" />
                            </write>
                        </editable-field>
                    </td>
                    <td class="usage-column" ng-show="vm.ShowUsageOptions">
                        <editable-field editing="i.Editing">
                            <read>
                                {{i.IsPackageOption | YesNo}}
                            </read>
                            <write>
                                <input type="checkbox" ng-model="i.IsPackageOption" />
                            </write>
                        </editable-field>
                    </td>
                    <td class="policy-generation-column" ng-show="vm.ShowNumberControls">
                        <editable-field editing="i.Editing">
                            <read>
                                {{i.NumberControl.CurrentNumber}}
                            </read>
                            <write>
                                <select class="form-control" ng-model="i.NumberControl" ng-options="n as n.CurrentNumber for n in vm.NumberControls track by n.Id">
                                    <option value="">Standard</option>
                                </select>
                            </write>
                        </editable-field>
                    </td>
                    <td ng-show="vm.ShowNumberControls">
                        <editable-field editing="i.Editing">
                            <read>
                                {{i.PolicyNumberPrefix}}
                            </read>
                            <write>
                                <input type="text" class="form-control" ng-model="i.PolicyNumberPrefix" />
                            </write>
                        </editable-field>
                    </td>
                    <td class="action-column">
                        <button type="button" class="btn btn-default" ng-click="vm.Edit(i)" ng-hide="i.Editing" ng-disabled="vm.AppState.Loading">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.Delete(i)" ng-hide="i.Editing" ng-disabled="vm.AppState.Loading">Delete</button>

                        <button type="button" class="btn btn-primary" ng-click="vm.Save(i)" ng-show="i.Editing" ng-disabled="vm.AppState.Loading">Save</button>
                        <button type="button" class="btn btn-default" ng-click="vm.Cancel(i)" ng-show="i.Editing" ng-disabled="vm.AppState.Loading">Cancel</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.Add()">
                            <i class="fa fa-plus-circle"></i><span>Add Policy Symbol</span>
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>