﻿.policy-symbol-administration {
    table {
        width: auto;

        .code-column {
            width: 100px;
        }

        .description-column {
            width: 250px;
        }

        .expiration-column {
            width: 100px;
        }

        .usage-column {
            width: 75px;
        }

        .policy-generation-column {
            width: 125px;
        }

        .action-column {
            width: 125px;
        }
    }
}
