﻿<div class="row">
    <div class="col-md-3">
        <button class="btn btn-default" ng-click="vm.ServerException()">Server Exception</button>
        <hr />
        <p>Displays the unhandled exception modal</p>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default" ng-click="vm.NotFound()">404 Not Found</button>
        <hr />
        <p>Displays a simple alert (this shouldn't happen in production)</p>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default" ng-click="vm.Unauthorized()">Unauthorized Action</button>
        <hr />
        <p>Displays a login prompt</p>
        <p>On login failure, an alert should appear informing the user they don't have access</p>
        <p>Note: If you're a "System Administrator", you will not see this message because you're authorized to view everything.</p>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default" ng-click="vm.JavascriptError()">Javascript Exception</button>
        <hr />
        <p>On javascript exception, angular should send the exception to a logging API call on the server for processing</p>
    </div>
</div>

