﻿<div class="row administration-submission-table">
    <div class="col-md-4 primary-actions-container">
        <div>
            Select the Submission Table Type to edit:
            <div name="ExistingClassCodesContainer">
                <select class="form-control" ng-change="vm.SelectedTableChanged()" ng-model="vm.SelectedTable" ng-options="i as i.Code for i in vm.Tables">
                    <option></option>
                </select>
            </div>
            <hr />
            <ul class="text-left">
                <li>To order the table fields, drag the rows of the "Table Fields" table vertically.</li>
                <li>
                    To add a new field, find it in the "Available Fields" table, and click the
                    <button type="button" class="btn btn-link btn-add" tabindex="-1">
                        <i class="fa fa-plus-circle"></i>
                    </button>
                    button.
                </li>
                <li>
                    To remove a field, find it in the "Table Fields" table and click the
                    <button type="button" class="btn btn-link" tabindex="-1">
                        <i class="fa fa-trash-o"></i>
                    </button> button.
                </li>
                <li>Click "Save Changes" once you're finished altering the table.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 primary-view-container" ng-show="vm.SelectedTable && !vm.AppState.Loading">
        <h3>{{vm.SelectedTable.Code}}</h3>
        <div>{{vm.SelectedTable.Description}}</div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-striped table-condensed table-outlined">
                    <thead>
                        <tr>
                            <th>Table Fields</th>
                            <th class="delete-button-column"></th>
                        </tr>
                    </thead>
                    <tbody data-ui-sortable="vm.SortSettings" ng-model="vm.SelectedTableFields">
                        <tr ng-repeat="f in vm.SelectedTableFields" class="cursor-pointer">
                            <td>
                                {{f.Header}} ({{f.DisplayName}})
                            </td>
                            <td class="delete-button-column">
                                <button type="button" tabindex="-1" class="btn btn-link" ng-disabled="vm.AppState.Loading" ng-click="vm.RemoveField(f)"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-striped table-condensed table-outlined">
                    <thead>
                        <tr>
                            <th>Available Fields</th>
                            <th class="delete-button-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="f in vm.SelectedTableAvailableFields">
                            <td>
                                {{f.Header}} ({{f.DisplayName}})
                            </td>
                            <td class="delete-button-column">
                                <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.AddField(f)">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="vm.Save()">Save Changes</button>
        </div>
    </div>
</div>