﻿<table class="table table-striped table-condensed table-bordered" ng-hide="vm.AppState.PageGenerating">
    <thead>
        <tr>
            <th>Line</th>
            <th>Code</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unit in vm.UnderwritingUnits">
            <td>{{unit.Line}}</td>
            <td>{{unit.Code}}</td>
            <td>{{unit.Description}}</td>
        </tr>
    </tbody>
</table>