﻿<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Invalid Controls</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="vm.InvalidControlsForm">
                    <div class="form-group">
                        <input type="text" name="InputTextBox" ng-model="vm.InvalidControls1" class="form-control" validated-field />
                    </div>
                    <div class="form-group">
                        <select name="InputSelect" ng-model="vm.InvalidControls2" class="form-control" ng-options="i as i for i in ['A', 'B', 'C']" validated-field></select>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="text" name="InputWithIcon" ng-model="vm.InvalidControls1" class="form-control" validated-field="{icon: true}" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="InputWithMessage" ng-model="vm.InvalidControls1" class="form-control" validated-field />
                        <validation-message property="InputWithMessage"></validation-message>
                    </div>
                    <hr />
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary" ng-click="vm.InvalidControls()">Submit</button>
                        <button type="button" class="btn btn-default" ng-click="vm.ResetValidations()">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>