﻿<div id="body-container">
    <div id="body-header">
        <div class="row">
            <div class="col-xs-12">
                <div id="header-container">
                    <div class="page-heading">
                        <h1>{{vm.pageHeading}}</h1>
                    </div>
                    <div class="row page-controls-container">
                        <div class="col-xs-6 page-subheading">{{vm.pageSubheading}}</div>
                        <div class="col-xs-6 page-controls">{RIGHT}</div>
                    </div>
                    <div class="page-navigation">
                        <!--<ul id="" class="list-inline">
                            <li><a href="#">Page Section1</a></li>
                            <li><a href="#">Page Section2</a></li>
                            <li><a href="#">Page Section3</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="body-content" ng-show="!PageLoading">

        <div class="row">
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ligula arcu, ornare eu sollicitudin ac, facilisis aliquet nulla. Aenean mattis arcu ut finibus semper. Nam a lacus at sem tempor aliquam in tincidunt eros. Etiam sapien nunc, accumsan ac pellentesque sed, interdum efficitur enim. Donec quam nulla, auctor non efficitur et, feugiat in metus. Mauris egestas, arcu at malesuada tincidunt, magna elit pharetra justo, et maximus justo lacus a augue. Vestibulum pulvinar neque at elit varius tempus. Etiam et augue ligula.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                left column
            </div>
            <div class="col-md-10">
                <div ui-view></div>
            </div>
        </div>

    </div>
</div>
<!--
<div class="panel panel-default" ng-show="!PageLoading">
    <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
        <h3 class="panel-title pull-left" style="margin-top: 3px">Assignment Rule</h3>
        <div class="pull-right">
            <button type="button" class="btn btn-info btn-xs" ng-click="NewRule()">New Rule</button>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-hover">
            <tbody>
            <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Assignment Rule</th>
                </tr>
            </thead>
            <tr ng-repeat="rule in AssignmentRules.DisplayItems()" ng-click="SelectRule(rule)" style="cursor:pointer">
                <td>{{((AssignmentRules.CurrentPage-1)*AssignmentRules.ItemsPerPage) + $index + 1}}</td>
                <td>If <font color="#993300">{{rule.Filter.FilterCondition[0].FilterField.Name}}</font> {{rule.Filter.FilterCondition[0].FilterOperator.DisplayName}} <font color="#008000"> {{rule.Filter.FilterCondition[0].DisplayValue}} </font> then the survey <font color="#0000A0"> {{rule.AssignmentRuleAction.DisplayName}} </font>  </td>
            </tr>
            </tbody>
            <tfoot ng-show="AssignmentRules.ShowPager">
                <tr>
                    <td colspan="2" class="text-center">
                        <pagination on-select-page="AssignmentRules.ChangePage(page)" boundary-links="true" total-items="AssignmentRules.TotalItemCount" max-size="5" page="AssignmentRules.CurrentPage" items-per-page="AssignmentRules.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script type="text/ng-template" id="rule-item-modal">
        <div class="modal-header">
            <h3>Assignment Rule</h3>
        </div>
        <form class="form-horizontal" role="form" name="Form.Rule" ng-submit="Update()">
            <div class="modal-body">
                <alert ng-repeat="v in ValidationErrors" type="'danger'">{{v.Message}}</alert>
                <div class="form-group">
                    <label class="col-sm-1 control-label">If</label>
                    <div class="col-sm-3"><select ng-model="Item.Filter.FilterCondition[0].FilterField.Code" ng-change="PopulateFilterValue(Item.Filter.FilterCondition[0].FilterField.Code)" ng-init="PopulateFilterValue(Item.Filter.FilterCondition[0].FilterField.Code)"  ng-options="m.Code as m.Name for m in Item.FilterField"></select></div>
                    <div class="col-sm-3"><select  ng-model="Item.Filter.FilterCondition[0].FilterOperator.Code" ng-options="c.Code as c.Name for c in Item.FilterOperator"></select></div>
                    <div class="col-sm-3"><select ng-model="Item.Filter.FilterCondition[0].CompareValue" ng-options="c.Code as c.Description for c in Item.FieldValue"></select></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">then the survey </label>
                    <div class="col-sm-7"><select class="col-sm-12" ng-model="Item.AssignmentRuleAction.Code" ng-options="s.Code as s.DisplayName for s in Item.AssignmentRuleActions"></select></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" ng-disabled="SavingItem" ng-click="Delete()" ng-show="ShowDelete">Delete</button>
                    <input type="submit" ng-disabled="SavingItem" class="btn btn-primary" value="{{SaveButtonText}}" />
                    <button type="button" class="btn btn-default" ng-disabled="SavingItem" ng-click="Cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </script>
-->