﻿.requests-container .page-header:before,
.requests-container .page-header:after {
  display: block;
}
.requests-container .page-content div.table-panel-with-detail {
  /*Helper to set the widths of .panel-body.table-panel-with-detail */
}
.requests-container .page-content div.table-panel-with-detail > table.item-detail-visible {
  width: calc(100% - 550px);
}
.requests-container .page-content div.table-panel-with-detail > div:nth-child(2).item-detail-visible {
  right: 540px;
}
.requests-container .page-content div.table-panel-with-detail > div:nth-child(3).item-detail-visible {
  width: 550px;
}
.requests-container .page-content div.table-panel-with-detail > table .request-icon.fa-refresh {
  color: #cccccc;
}
.requests-container .page-content div.table-panel-with-detail > table .request-icon.fa-question-circle {
  color: #f0ad4e;
}
.requests-container .page-content div.table-panel-with-detail > table .request-icon.fa-check {
  color: #5cb85c;
}
.requests-container .page-content div.table-panel-with-detail > table .request-icon.fa-exclamation-triangle {
  color: #d9534f;
}
.requests-container .page-content div.table-panel-with-detail > table .list-inline {
  margin-left: 0;
  font-style: italic;
}
.requests-container .page-content div.table-panel-with-detail > table .list-inline li {
  padding: 0;
}
.requests-container .page-content div.table-panel-with-detail > table .list-inline li + li:before {
  padding: 0 5px 0 3px;
  content: '|';
}
.requests-container .page-content div.table-panel-with-detail > div:nth-child(3) .item-detail-body {
  margin-top: 15px;
}
.requests-container .page-content div.table-panel-with-detail > div:nth-child(3) .item-detail-body .primary-details {
  margin: 0 10px;
}
.requests-container .page-content div.table-panel-with-detail > div:nth-child(3) .item-detail-body .primary-details h5 {
  margin: 0;
  font-weight: bold;
}
.requests-container .page-content div.table-panel-with-detail > div:nth-child(3) .item-detail-body h4 + div[animate-slider] > div {
  margin: 10px 10px 20px 10px;
}
.requests-container .page-content div.table-panel-with-detail > div:nth-child(3) .item-detail-body .single-row-form {
  margin: 10px;
}
