﻿<div class="requests-container">
    <div class="page-header" active-state="{{vm.CurrentStateRoute}}">
        <div class="page-title">
            <h2>Request Queue</h2>
        </div>
        <div id="list-navigation-arrow"></div>
        <ul class="list-inline list-navigation">
            <li active-page-menu-item="ck.requests"><a href>Assigned to Me</a></li>
            <li><a href>Unassigned</a></li>
            <li><a href>Trash</a></li>
        </ul>
        <div class="page-actions"></div>
    </div>
    <div class="page-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="pull-left">Open Requests</label>
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-default" ng-hide="vm.ShowSelectedRequestDetail" ng-click="vm.ToggleShowRequestDetail()" ng-disabled="vm.SelectedRequest == null"><i class="fa fa-info-circle"></i><span>Show Details</span></button>
                    <button type="button" class="btn btn-sm btn-default" ng-show="vm.ShowSelectedRequestDetail" ng-click="vm.ToggleShowRequestDetail()"><i class="fa fa-times"></i><span>Hide Details</span></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-plus-circle"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a>Action</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body padding-0 table-panel-with-detail">
                <table class="table table-striped table-hover table-condensed table-header-condensed table-double-click margin-bottom-0" ng-class="{'item-detail-visible': vm.ShowSelectedRequestDetail}">
                    <thead>
                        <tr>
                            <th class="width-40 text-center"></th>
                            <th class="width-120">Client ID / Survey #</th>
                            <th>Insured Name / Survey Type | Due Date</th>
                            <th class="width-80"><b>Date Added <span class="caret"></span></b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in vm.RequestQueue" ng-class="{'selected-row': vm.SelectedRequest.Survey.Number == r.Survey.Number}">
                            <td class="width-40 text-center cursor-pointer" ng-click="vm.SelectRequest(r)" ng-dblclick="vm.SelectRequest(r, true)">
                                <i class="fa request-icon" ng-class="{'fa-refresh': r.StatusCode == 'LD', 'fa-question-circle': r.StatusCode == 'IN', 'fa-check': r.StatusCode == 'RD', 'fa-exclamation-triangle': r.StatusCode == 'WA'}"></i>
                            </td>
                            <td class="width-120 cursor-pointer" ng-click="vm.SelectRequest(r)" ng-dblclick="vm.SelectRequest(r, true)">
                                <div>{{r.Survey.Insured.Id | NA}}</div>
                                <div>{{r.Survey.Number}}</div>
                            </td>
                            <td class="cursor-pointer" ng-click="vm.SelectRequest(r)" ng-dblclick="vm.SelectRequest(r, true)">
                                <div ng-switch="r.StatusCode">
                                    <div ng-switch-when="LD">
                                        <em>Processing request for {{r.InputTypeCode}} {{r.InputValue}}</em>
                                    </div>
                                    <div ng-switch-default>
                                        <div><b>{{r.Survey.Insured.Name}}</b></div>
                                        <div>
                                            <ul class="list-inline">
                                                <li>Type</li>
                                                <li>Due Date</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="width-80 cursor-pointer" ng-click="vm.SelectRequest(r)" ng-dblclick="vm.SelectRequest(r, true)">
                                {{r. CreateDate | date : 'MM/dd/yyyy'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-class="{'item-detail-visible': vm.ShowSelectedRequestDetail}"></div>
                <div ng-class="{'item-detail-visible': vm.ShowSelectedRequestDetail}">
                    <div class="item-detail-heading">
                        <label>Request Details</label>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm">Work Request</button>
                                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a>Express Request</a></li>
                                    <li><a>Move to Trash</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail-body">
                        <request request="vm.SelectedRequest"></request>
                    </div>
                </div>
            </div>
        </div>
        <loading-well ng-if="vm.AppState.PageGenerating"></loading-well>
    </div>
</div>