﻿@import "../../../styles/variables";

.requests-container {
    .page-header {
        &:before, &:after {
            display: block;
        }
    }

    .page-content {
        div.table-panel-with-detail {
            .setDetailPanelWidth(550px);

            & > table {
                .request-icon {
                    &.fa-refresh {
                        color: @border-gray;
                    }

                    &.fa-question-circle {
                        color: @brand-warning;
                    }

                    &.fa-check {
                        color: @brand-success;
                    }

                    &.fa-exclamation-triangle {
                        color: @brand-danger;
                    }
                }

                .list-inline {
                    margin-left: 0;
                    font-style: italic;

                    li {
                        padding: 0;
                    }

                    li + li:before {
                        padding: 0 5px 0 3px;
                        content: '|';
                    }
                }
            }

            & > div:nth-child(3) {
                .item-detail-body {
                    margin-top: 15px;

                    .primary-details {
                        margin: 0 10px;

                        h5 {
                            margin: 0;
                            font-weight: bold;
                        }
                    }

                    h4 + div[animate-slider] > div {
                        margin: 10px 10px 20px 10px;
                    }

                    .single-row-form {
                        margin: 10px;
                    }
                }
            }
        }
    }
}
