﻿<div>
    <div class="primary-details">
        <h5>{{vm.Request.Survey.Insured.Name}}</h5>
        <p>Client ID: {{vm.Request.Survey.Insured.Id}}</p>
        <address>
            {{vm.Request.Survey.Insured.Address.Address1}}<br />
            {{vm.Request.Survey.Insured.Address.Address2}}<br />
            {{vm.Request.Survey.Insured.Address.City}}, {{vm.Request.Survey.Insured.Address.State}} {{vm.Request.Survey.Insured.Address.PostalCode}}
        </address>
        <p>Survey: <a ui-sref="ck.survey({surveyId: vm.Request.Survey.Number})">{{vm.Request.Survey.Number}}</a></p>
    </div>
    <h4 class="animate-slider-header" ng-click="vm.ToggleShowPastSurveys()">
        <span class="pull-left">Past Surveys</span>
        <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowPastSurveys, 'fa-chevron-down': !vm.ShowPastSurveys}"></i></span>
    </h4>
    <div animate-slider="vm.ShowPastSurveys">
        <div>
            <table class="table table-striped table-condensed table-header-condensed table-outlined">
                <thead>
                    <tr>
                        <th>Past Surveys</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <h4 class="animate-slider-header" ng-click="vm.ToggleShowRequestInformation()">
        <span class="pull-left">Request Information</span>
        <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowRequestInformation, 'fa-chevron-down': !vm.ShowRequestInformation}"></i></span>
    </h4>
    <div animate-slider="vm.ShowRequestInformation">
        <div class="single-row-form">
            <div class="form-row">
                <label>Survey Type</label>
                <div>
                    <select class="form-control width-100"></select>
                </div>
            </div>
            <div class="form-row">
                <label>Due By Date</label>
                <div>
                    <input type="text" class="form-control width-100" ng-model="vm.Request.DueDate" date-picker />
                </div>
            </div>
            <div class="form-row" ng-if="vm.SurveyReasons.length > 0">
                <label>Survey Reasons</label>
                <div>
                    <checkbox-list ng-model="vm.Request.SurveyReasons" options="vm.SurveyReasons" display="i" trackby="i"></checkbox-list>
                </div>
            </div>
            <div class="form-row">
                <label>Comments or Instructions</label>
                <div>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
