﻿.submissions-underwriting-assignment-modal .modal-body .row > .col-sm-4 {
  border-right: solid 1px #cccccc;
}
.submissions-underwriting-assignment-modal .modal-body .row > .col-sm-4 .submissions {
  max-height: 148px;
  overflow-y: auto;
}
