﻿<div class="submissions">
    <div class="pull-right additional-actions" ng-if="vm.includeActions && vm.source.count > 0" ng-class="{'btn-group': vm.actionsAvailable.length > 0}">
        <button type="button" title="Export to .CSV" ng-disabled="vm.actionInProcess" class="btn btn-default" ng-click="vm.ExportToCsv()"><i class="fa fa-file-excel-o"></i> Export Results</button>
        <button type="button" ng-show="vm.actionsAvailable.length > 0" ng-disabled="vm.actionInProcess" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="a in vm.actionsAvailable">
                <a ng-click="a.Action()">{{a.Description}}</a>
            </li>
        </ul>
    </div>
    <table class="table table-striped table-condensed table-bordered table-no-margin">
        <thead></thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
    <div class="paging-container">
        <pagination source="vm.source"></pagination>
    </div>
</div>