﻿@import "../../../styles/variables";

.submissions {
    .additional-actions {
        margin-bottom: 10px;

        i.fa.fa-file-excel-o {
            margin-right: 5px;
        }

        &:after {
            .clearfix();
        }
    }

    .paging-container {
        margin-top: 15px;
    }

    table {
        border-width: 1px 0 0 0;

        thead {
            th {
                cursor: default;
            }

            .SubmissionView {
                width: 38px;
            }

            .PolicyNumber {
                white-space: nowrap;
                width: 85px;
            }

            .SubmissionNumber {
                width: 60px;
            }

            .SequenceNumber {
                width: 33px;
            }

            .Notes {
                width: 22px;
            }
        }

        tbody {
            .Notes a {
                color: @bts-black;
            }

            .Status div:first-child,
            .EffectivePeriod {
                white-space: nowrap;
            }

            .SubmissionNumber {
                white-space: nowrap;
            }

            i.fa-files-o {
                margin: 0 2px 0 3px;
            }
        }

        tfoot {
            tr.no-duplicates-row {
                td {
                    padding-top: 15px;
                    border: none;
                }
            }
        }
    }
}
