﻿.submissions .additional-actions {
  margin-bottom: 10px;
}
.submissions .additional-actions i.fa.fa-file-excel-o {
  margin-right: 5px;
}
.submissions .additional-actions:after {
  content: "";
  display: table;
  clear: both;
}
.submissions .paging-container {
  margin-top: 15px;
}
.submissions table {
  border-width: 1px 0 0 0;
}
.submissions table thead th {
  cursor: default;
}
.submissions table thead .SubmissionView {
  width: 38px;
}
.submissions table thead .PolicyNumber {
  white-space: nowrap;
  width: 85px;
}
.submissions table thead .SubmissionNumber {
  width: 60px;
}
.submissions table thead .SequenceNumber {
  width: 33px;
}
.submissions table thead .Notes {
  width: 22px;
}
.submissions table tbody .Notes a {
  color: #333333;
}
.submissions table tbody .Status div:first-child,
.submissions table tbody .EffectivePeriod {
  white-space: nowrap;
}
.submissions table tbody .SubmissionNumber {
  white-space: nowrap;
}
.submissions table tbody i.fa-files-o {
  margin: 0 2px 0 3px;
}
.submissions table tfoot tr.no-duplicates-row td {
  padding-top: 15px;
  border: none;
}
