﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Submission Notes - {{vm.SubmissionNumber}}</h2>
    </div>
    <div class="modal-body">
        <submission-notes-read notes="vm.Notes" is-copyable="vm.Copyable"></submission-notes-read>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="vm.Close()">Close</button>
    </div>
</div>