﻿@import "../../../styles/variables";

.submissions-underwriting-assignment-modal {
    .modal-body .row {
        & > .col-sm-4 {
            border-right: solid 1px @border-gray;

            .submissions {
                max-height: 148px;
                overflow-y: auto;
            }
        }
    }
}
