﻿<div class="modal-content-wrapper submissions-underwriting-assignment-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Reassign Submission Underwriting Personnel</h2>
    </div>
    <div class="modal-body">
        <div ng-show="vm.Submissions == null">
            <loading-well></loading-well>
        </div>
        <div ng-show="vm.Submissions != null">
            <form role="form" name="vm.ReassignmentForm" ng-hide="vm.AppState.StillWaiting || vm.Saving">
                <alert ng-show="vm.ReassignmentForm.ValidationErrors.length > 0" type="'danger'">
                    <ul>
                        <li ng-repeat="v in vm.ReassignmentForm.ValidationErrors">{{v.Message}}</li>
                    </ul>
                </alert>
                <div class="row">
                    <div class="col-sm-4">
                        <h3>{{vm.Submissions.length}} {{(vm.Submissions.length == 1) ? 'Submission' : 'Submissions'}}</h3>
                        <submissions submissions="vm.Submissions" fields="vm.SubmissionFields" disable-links="true"></submissions>
                    </div>
                    <div class="col-sm-8">
                        <h3>Reassignments</h3>
                        <table class="table table-striped table-condensed table-bordered table-no-margin">
                            <thead>
                                <tr>
                                    <th>Reassign</th>
                                    <th>Role</th>
                                    <th>New Assignment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><input id="chkUnderwriter" type="checkbox" class="checkbox-inline" ng-model="vm.ReassignUnderwriter" /></td>
                                    <td ng-class="{'text-muted': !vm.ReassignUnderwriter}"><label for="chkUnderwriter">{{vm.SearchWorkflow.UnderwritersLabel}}</label></td>
                                    <td>
                                        <select class="form-control" ng-disabled="!vm.ReassignUnderwriter" ng-model="vm.SelectedUnderwriter" ng-options="i as i.FullName for i in vm.SearchWorkflow.Underwriters" name="Underwriter" validated-field>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr ng-show="vm.SearchWorkflow.UsesUnderwritingAnalyst">
                                    <td class="text-center"><input id="chkUnderwritingAnalyst" type="checkbox" class="checkbox-inline" ng-model="vm.ReassignUnderwritingAnalyst" /></td>
                                    <td ng-class="{'text-muted': !vm.ReassignUnderwritingAnalyst}"><label for="chkUnderwritingAnalyst">{{vm.SearchWorkflow.UnderwritingAnalystLabel}}</label></td>
                                    <td>
                                        <select class="form-control" ng-disabled="!vm.ReassignUnderwritingAnalyst" ng-model="vm.SelectedUnderwritingAnalyst" ng-options="i as i.FullName for i in vm.SearchWorkflow.UnderwritingAnalysts" name="UnderwritingAnalyst" validated-field>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr ng-show="vm.SearchWorkflow.UsesUnderwritingTechnician">
                                    <td class="text-center"><input id="chkUnderwritingTechnician" type="checkbox" class="checkbox-inline" ng-model="vm.ReassignUnderwritingTechnician" /></td>
                                    <td ng-class="{'text-muted': !vm.ReassignUnderwritingTechnician}"><label for="chkUnderwritingTechnician">{{vm.SearchWorkflow.UnderwritingTechnicianLabel}}</label></td>
                                    <td>
                                        <select class="form-control" ng-disabled="!vm.ReassignUnderwritingTechnician" ng-model="vm.SelectedUnderwritingTechnician" ng-options="i as i.FullName for i in vm.SearchWorkflow.UnderwritingTechnicians" name="UnderwritingTechnician" validated-field>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-disabled="vm.ReassignInProgress" ng-click="vm.Reassign()">Reassign</button>
        <button class="btn btn-default" ng-disabled="vm.ReassignInProgress" ng-click="vm.Close()">Cancel</button>
    </div>
</div>