﻿html {
  overflow-y: scroll;
}
body {
  background-color: #F8F8F8;
}
.navbar.navbar-default {
  background-color: #F0F0F0;
  border-color: transparent;
}
.navbar.navbar-default .navbar-header img {
  display: inline;
  position: absolute;
  top: 2px;
  left: 2px;
}
.navbar.navbar-default .navbar-header .navbar-brand {
  display: block;
  margin-left: 45px;
  margin-right: 35px;
}
.well.loading-well {
  width: 200px;
  height: 150px;
  margin: auto;
  text-align: center;
}
.well.loading-well .loading-loader {
  font-size: 50px;
  color: #999999;
  width: 52px;
}
.well.loading-well .loading-txt {
  padding-top: 20px;
}
.well.loading-well .loading-txt p {
  margin-top: 5px;
}
.well.loading-well .loading-txt a {
  display: block;
  margin-top: 15px;
}
/*Exceptions page specific*/
.exceptions-container .panel.exceptions-form {
  margin-bottom: 15px;
}
.exceptions-container .panel.exceptions-form .form-inline .form-group label {
  display: block;
}
.exceptions-container .panel.exceptions-form .form-inline .form-group input,
.exceptions-container .panel.exceptions-form .form-inline .form-group select {
  width: 125px;
}
.exceptions-container .panel.exceptions-form .form-inline .form-group button {
  margin-left: 10px;
}
.exceptions-container .panel.exceptions-form .form-inline .form-group:last-child {
  border-left: dotted 1px #F0F0F0;
  margin-left: 7px;
}
.exceptions-container .exception-list .results-header {
  margin-bottom: 10px;
}
.exceptions-container .exception-list .results-header label {
  margin: 8px 0 0 0;
}
.exceptions-container .exception-list .results-header .pagination {
  margin: 0;
}
.exceptions-container .panel.exception {
  position: relative;
  margin-bottom: 5px;
}
.exceptions-container .panel.exception .panel-heading {
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  color: white;
}
.exceptions-container .panel.exception .panel-heading.LOCAL {
  background: #bebe1b;
}
.exceptions-container .panel.exception .panel-heading.DEV {
  background: #5286e2;
}
.exceptions-container .panel.exception .panel-heading.INT {
  background: #666666;
}
.exceptions-container .panel.exception .panel-heading.TEST {
  background: #df8020;
}
.exceptions-container .panel.exception .panel-heading.PROD {
  background: #117b46;
}
.exceptions-container .panel.exception .panel-heading .panel-title {
  display: inline-block;
}
.exceptions-container .panel.exception .panel-heading .panel-title.environment {
  opacity: .75;
}
.exceptions-container .panel.exception .panel-heading .panel-title.expand-collapse {
  opacity: .75;
}
.exceptions-container .panel.exception .panel-heading .panel-title.expand-collapse .fa {
  padding-right: 0;
  padding-left: 10px;
}
.exceptions-container .panel.exception .panel-heading .details {
  font-size: 12px;
  display: inline-block;
  padding-left: 5px;
  opacity: .75;
}
.exceptions-container .panel.exception .panel-body .direct-link {
  position: absolute;
  right: 7px;
  z-index: 1;
  bottom: 3px;
}
.exceptions-container .panel.exception .panel-body.condensed {
  cursor: pointer;
  opacity: .75;
}
.exceptions-container .panel.exception .panel-body pre {
  word-wrap: normal;
  height: 250px;
  overflow: auto;
}
