﻿html {
    overflow-y: scroll;
}

body {
    background-color: #F8F8F8;
}

.navbar.navbar-default {
    background-color: #F0F0F0;
    border-color: transparent;

    .navbar-header {
        img {
            display: inline;
            position: absolute;
            top: 2px;
            left: 2px;
        }

        .navbar-brand {
            display: block;
            margin-left: 45px;
            margin-right: 35px;
        }
    }
}

.well.loading-well {
    width: 200px;
    height: 150px;
    margin: auto;
    text-align: center;

    .loading-loader {
        font-size: 50px;
        color: #999999;
        width: 52px;
    }

    .loading-txt {
        padding-top: 20px;

        p {
            margin-top: 5px;
        }

        a {
            display: block;
            margin-top: 15px;
        }
    }
}

/*Exceptions page specific*/
.exceptions-container {
    .panel.exceptions-form {
        margin-bottom: 15px;

        .form-inline {
            .form-group {
                label {
                    display: block;
                }

                input, select {
                    width: 125px;
                }

                button {
                    margin-left: 10px;
                }

                &:last-child {
                    border-left: dotted 1px #F0F0F0;
                    margin-left: 7px;
                }
            }
        }
    }

    .exception-list {
        .results-header {
            margin-bottom: 10px;

            label {
                margin: 8px 0 0 0;
            }

            .pagination {
                margin: 0;
            }
        }
    }

    .panel.exception {
        position: relative;
        margin-bottom: 5px;

        .panel-heading {
            text-shadow: none;
            font-size: 14px;
            cursor: pointer;
            color: white;

            &.LOCAL {
                background: desaturate(rgb(217,217,0), 25%);
            }

            &.DEV {
                background: desaturate(rgb(57,127,251), 25%);
            }

            &.INT {
                background: desaturate(rgb(102,102,102), 25%);
            }

            &.TEST {
                background: desaturate(rgb(255,128,0), 25%);
            }

            &.PROD {
                background: desaturate(rgb(0,140,70), 25%);
            }

            .panel-title {
                display: inline-block;

                &.application {
                }

                &.environment {
                    opacity: .75;
                }

                &.expand-collapse {
                    opacity: .75;

                    .fa {
                        padding-right: 0;
                        padding-left: 10px;
                    }
                }
            }

            .details {
                font-size: 12px;
                display: inline-block;
                padding-left: 5px;
                opacity: .75;
            }
        }

        .panel-body {
            .direct-link {
                position: absolute;
                right: 7px;
                z-index: 1;
                bottom: 3px;
            }

            &.condensed {
                cursor: pointer;
                opacity: .75;
            }

            pre {
                word-wrap: normal;
                height: 250px;
                overflow: auto;
            }
        }
    }
}
