﻿/* Default Screen */
.default_portfoliosearch
{
	display: none;
}

/* Client Screen */
#client_row_business_description
{
}

#client_row_sic_code
{
}

#client_row_fein
{
}

#rowPortfolio
{
}

#client_row_tax_type
{
	display: none;
}

/* Submission Screen */
#submission_row_submission_type
{
}

#submission_row_effective_date
{
}

.submission_row_effective_date_TBD
{
	display:none;
}

#submission_row_expiration_date
{
}

#submission_row_agency
{
}

#submission_row_agent
{
	display:none;
}

#submission_row_agent_reasons
{
	display: none;
}

#submission_row_contact
{
	display:none;
}

#submission_row_underwriting_unit
{
}
.submission_row_underwriter_previous
{
	display: none;
}

#submission_row_underwriter
{
}

#submission_row_analyst
{
}

#submission_row_policy_system
{
	display: none;
}

#submission_row_policy_number
{
}

#submission_row_insured_name
{
}

#submission_row_dba
{
}

#submission_row_dba_dbas
{
}

#submission_row_premium
{
}

#submission_row_status
{
}

#submission_row_status_reason
{
}

#submission_row_status_reason_comment
{
}

#submission_row_comments
{
	display:none;
}

#submission_row_other_carrier
{
	display: none;
}

#submission_row_other_carrier_premium
{
	display: none;
}

#submission_row_lobchildren
{
	display:none;
}