﻿/*
	file name chosen arbitrarily to be consistent with company initials.
        will require rename if some company has initials to DEF.css and also change to the default returned by ThemeStyleSheet method
*/
        
/* Default Screen */
.default_portfoliosearch
{
	display: none;
}

/* Client Screen */
#client_row_business_description
{
}

#client_row_sic_code
{
}

#client_row_fein
{
}

.rowPortfolio
{
	
}

#client_row_tax_type
{
	
}

/* Submission Screen */
#submission_row_submission_type
{
}

#submission_row_effective_date
{
}

.submission_row_effective_date_TBD
{
}

#submission_row_expiration_date
{
}

#submission_row_agency
{
}

#submission_row_agent
{
}

#submission_row_agent_reasons
{
}

#submission_row_contact
{
}

#submission_row_underwriting_unit
{
}

.submission_row_underwriter_previous
{
}

#submission_row_underwriter
{
}

#submission_row_analyst
{
}

#submission_row_policy_system
{
}

#submission_row_policy_number
{
}

#submission_row_insured_name
{
}

#submission_row_dba
{
}

#submission_row_dba_dbas
{
}

#submission_row_premium
{
}

#submission_row_status
{
}

#submission_row_status_reason
{
}

#submission_row_status_reason_comment
{
}

#submission_row_comments
{
}

#submission_row_other_carrier
{
}

#submission_row_other_carrier_premium
{
}

#submission_row_lobchildren
{
}