﻿<div id="body-container">
    <div id="body-header">
        <div class="row">
            <div class="col-xs-12">
                <div id="header-container">
                    <div class="page-heading">
                        <h1>{{vm.pageHeading}}</h1>
                    </div>
                    <div class="row page-controls-container">
                        <div class="col-xs-6 page-subheading">{{vm.pageSubheading}}</div>
                        <div class="col-xs-6 page-controls">{RIGHT}</div>
                    </div>
                    <div class="page-navigation">
                        <!--<ul id="" class="list-inline">
                            <li><a href="#">Page Section1</a></li>
                            <li><a href="#">Page Section2</a></li>
                            <li><a href="#">Page Section3</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="body-content" ng-show="!PageLoading">

        <div class="row">
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ligula arcu, ornare eu sollicitudin ac, facilisis aliquet nulla. Aenean mattis arcu ut finibus semper. Nam a lacus at sem tempor aliquam in tincidunt eros. Etiam sapien nunc, accumsan ac pellentesque sed, interdum efficitur enim. Donec quam nulla, auctor non efficitur et, feugiat in metus. Mauris egestas, arcu at malesuada tincidunt, magna elit pharetra justo, et maximus justo lacus a augue. Vestibulum pulvinar neque at elit varius tempus. Etiam et augue ligula.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                left column
            </div>
            <div class="col-md-10">
                <div ui-view></div>
            </div>
        </div>

    </div>
</div>
<!--
<div class="panel panel-default" ng-show="!PageLoading">
    <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
        <h3 class="panel-title pull-left" style="margin-top: 3px">Recommendations</h3>
        <div class="pull-right">
            <button type="button" class="btn btn-info btn-xs" ng-click="NewRec()">New Rec</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input class="col-sm-6" type="text" class="form-control" ng-model="NameFilter" ng-change="Recs.FilterChanged()" placeholder="Search Title" />
            <div class="col-sm-6">
                <label class="col-sm-6 control-label">Show disabled recs</label>
                <input class="col-sm-6 pull-left" type="checkbox" class="form-control" ng-change="Recs.FilterChanged()" ng-model="DisabledFilter" />
            </div>
        </div>
        <div>
            <label class="col-sm-12 control-label"><br /></label>
        </div>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tr ng-repeat="rec in Recs.DisplayItems()">
                <td><a ng-click="SelectRec(rec)" style="cursor:pointer">{{rec.Code}}</a></td>
                <td>{{rec.Title}}</td>
            </tr>
            </tbody>
            <tfoot ng-show="Recs.ShowPager">
                <tr>
                    <td colspan="2" class="text-center">
                        <pagination on-select-page="Recs.ChangePage(page)" boundary-links="true" total-items="Recs.TotalItemCount" max-size="10" page="Recs.CurrentPage" items-per-page="Recs.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>
<script type="text/ng-template" id="rec-item-modal">
    <div class="modal-header">
        <h3>Recommendation</h3>
    </div>
    <form class="form-horizontal" role="form" name="Form.Recs" ng-submit="Update()">
        <div class="modal-body">
            <alert ng-repeat="v in ValidationErrors" type="'danger'">{{v.Message}}</alert>
            <div class="form-group">
                <label class="col-sm-2 control-label">Code</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Code" ng-model="Item.Code" />
                </div>            
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Title" ng-model="Item.Title" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea rows="10"  class="form-control" name="Description" ng-model="Item.Description" />
                </div>
            </div>           
            <div class="form-group">              
                <label class="col-sm-2 control-label">Disabled</label>
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" name="Disabled" ng-model="Item.Disabled" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" ng-disabled="SavingItem" class="btn btn-primary" value="{{SaveButtonText}}" />
                <button type="button" class="btn btn-default" ng-disabled="SavingItem" ng-click="Cancel()">Cancel</button>
            </div>
    </form>
</script>
-->