﻿<div class="panel panel-default" ng-show="!PageLoading">
    <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
        <h3 ng-show="documentType==1" class="panel-title pull-left" style="margin-top: 3px">Reports</h3>
        <h3 ng-show="documentType==2" class="panel-title pull-left" style="margin-top: 3px">Letters</h3>
        <h3 ng-show="documentType==3" class="panel-title pull-left" style="margin-top: 3px">Service Plan Documents</h3>        
        
        <div class="pull-right">
            <button type="button" class="btn btn-info btn-xs" ng-click="NewDocument()">New Document</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="checkbox" ng-change="Documents.FilterChanged()" ng-model="DisabledFilter" />&nbsp;
                <label class="control-label">Show disabled documents</label>
            </div>
        </div>
        <div>
            <label class="col-sm-12 control-label"><br /></label>
        </div>
        <table ng-switch="documentType" class="table table-striped table-condensed table-hover">
            <tbody>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Disabled</th>
                    <th ng-switch-when="2">Reminder Days</th>

                </tr>
            </thead>
            <tr ng-switch="documentType"  ng-repeat="document in Documents.DisplayItems()">
                <td><a ng-click="SelectDocument(document)" style="cursor:pointer">{{document.Name}}</a></td>
                <td>{{document.Disabled | yesOrNo }}</td>
                <td ng-switch-when="2">{{document.DaysUntilReminder}}</td>
            </tr>
            </tbody>
            <tfoot ng-show="Documents.ShowPager">
                <tr>
                    <td colspan="2" class="text-center">
                        <pagination on-select-page="Documents.ChangePage(page)" boundary-links="true" total-items="Documents.TotalItemCount" max-size="5" page="Documents.CurrentPage" items-per-page="Documents.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/ng-template" id="document-item-modal">    
        <div class="modal-header">
            <h3 ng-show="documentType==1">Report</h3>
            <h3 ng-show="documentType==2">Letter</h3>
            <h3 ng-show="documentType==3">Service Plan Document</h3>
        </div>
    <form class="form-horizontal" role="form" name="Form.Documents" ng-submit="Update()">
        <div class="modal-body">
            <alert ng-repeat="v in ValidationErrors" type="'danger'">{{v.Message}}</alert>
            <div class="form-group col-sm-12">
                <h5>Details</h5>
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Name" ng-model="Item.Name" />
                </div>
            </div>
            <div ng-show="documentType==2" class="form-group col-sm-12">
                <label class="col-sm-2 control-label">Reminder</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="DaysUntilReminder" ng-model="Item.DaysUntilReminder" />
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-2 control-label">Disabled</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-control" name="Disabled" ng-model="Item.Disabled" />
                </div>
            </div>
            <div class="form-group col-sm-12">
                <h5>Template History</h5>
                <table class="col-sm-12 table table-striped table-condensed table-hover">
                    <tbody>
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Reference</th>
                            <th>Date Uploaded</th>
                            <th>Active</th>
                            <th>Preview</th>
                            <th>Make Active</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="documentversion in Item.DocumentVersions">
                        <td>{{documentversion.VersionNumber}}</td>
                        <td>{{documentversion.FileNetReference }}</td>
                        <td>{{documentversion.UploadedOn | date:'MM/dd/yyyy'}}</td>
                        <td>{{documentversion.IsActive | yesOrNo }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">                
                <input type="submit" ng-disabled="SavingItem" class="btn btn-primary" value="{{SaveButtonText}}" />
                <button type="button" class="btn btn-default" ng-disabled="SavingItem" ng-click="Cancel()">Cancel</button>
            </div>
    </form>
</script>



