﻿<div id="body-container">
    <div id="body-header">
        <div class="row">
            <div class="col-xs-12">
                <div id="header-container">
                    <div class="page-heading">
                        <h1>{{vm.pageHeading}}</h1>
                    </div>
                    <div class="row page-controls-container">
                        <div class="col-xs-6 page-subheading">{{vm.pageSubheading}}</div>
                        <div class="col-xs-6 page-controls">{RIGHT}</div>
                    </div>
                    <div class="page-navigation">
                        <!--<ul id="" class="list-inline">
                            <li><a href="#">Page Section1</a></li>
                            <li><a href="#">Page Section2</a></li>
                            <li><a href="#">Page Section3</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="body-content" ng-show="!PageLoading">

        <div class="row">
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ligula arcu, ornare eu sollicitudin ac, facilisis aliquet nulla. Aenean mattis arcu ut finibus semper. Nam a lacus at sem tempor aliquam in tincidunt eros. Etiam sapien nunc, accumsan ac pellentesque sed, interdum efficitur enim. Donec quam nulla, auctor non efficitur et, feugiat in metus. Mauris egestas, arcu at malesuada tincidunt, magna elit pharetra justo, et maximus justo lacus a augue. Vestibulum pulvinar neque at elit varius tempus. Etiam et augue ligula.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                left column
            </div>
            <div class="col-md-10">
                <div ui-view></div>
            </div>
        </div>

    </div>
</div>
<!--
<div class="panel panel-default" ng-show="!PageLoading">
    <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
        <h3 class="panel-title pull-left" style="margin-top: 3px">Underwriters</h3>        
        <div class="pull-right">
            <button type="button" class="btn btn-info btn-xs" ng-click="NewUnderwriter()">New Underwriter</button>
        </div>
    </div>
    
    <div class="panel-body">
        <div class="form-group">
            <input class="col-sm-6" type="text" class="form-control" ng-model="NameFilter" ng-change="Underwriters.FilterChanged()" placeholder="Search Name" />
            <div class="col-sm-6">
                <label class="col-sm-6 control-label">Show disabled underwriters</label>
                <input class="col-sm-6 pull-left" type="checkbox" class="form-control" ng-change="Underwriters.FilterChanged()" ng-model="AccountDisabledFilter" />
            </div>
        </div>
        <div>
            <label class="col-sm-12 control-label"><br /></label>
        </div>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Initials</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Ext</th>
                    <th>Title</th>
                    <th>Profit Center</th>
                </tr>
            </thead>
            <tr ng-repeat="underwriter in Underwriters.DisplayItems()">
                <td><a ng-click="SelectUnderwriter(underwriter)" style="cursor:pointer">{{underwriter.Name}}</a></td>
                <td>{{underwriter.UserName}}</td>
                <td>{{underwriter.Code}}</td>
                <td>{{underwriter.EmailAddress}}</td>
                <td>{{underwriter.PhoneNumber | tel}}</td>
                <td>{{underwriter.PhoneExt}}</td>
                <td>{{underwriter.Title}}</td>
                <td>{{underwriter.ProfitCenter.Description}}</td>
                <td></td>
            </tr>
            </tbody>
            <tfoot ng-show="Underwriters.ShowPager">
                <tr>
                    <td colspan="2" class="text-center">
                        <pagination on-select-page="Underwriters.ChangePage(page)" boundary-links="true" total-items="Underwriters.TotalItemCount" max-size="5" page="Underwriters.CurrentPage" items-per-page="Underwriters.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<script type="text/ng-template" id="underwriter-item-modal">
    <div class="modal-header">
        <h3>Underwriter</h3>        
    </div>
    <form class="form-horizontal" role="form" name="Form.Underwriters" ng-submit="Update()">
        <div class="modal-body">
            <alert ng-repeat="v in ValidationErrors" type="'danger'">{{v.Message}}</alert>
            <div class="form-group">
                <label class="col-sm-2 control-label">Initials</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Name" ng-model="Item.Code" />
                </div>
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Name" ng-model="Item.Name" />
                </div>
            </div>
            <div class="form-group">                
                <label ng-show="!isFeeCompany" class="col-sm-2 control-label">Domain Name</label>
                <div ng-show="!isFeeCompany" class="col-sm-4">
                    <input type="text" class="form-control" name="DomainName" ng-model="Item.DomainName" />
                </div>
                <label ng-show="!isFeeCompany" class="col-sm-2 control-label">Username</label>
                <div ng-show="!isFeeCompany" class="col-sm-4">
                    <input type="text" class="form-control" name="Username" ng-model="Item.UserName" />
                </div>
            </div>
            <div class="form-group">                
                <label class="col-sm-2 control-label">Phone Number</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="WorkPhone" ng-model="Item.PhoneNumber" />
                </div>               
                <label class="col-sm-2 control-label">Phone Ext</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="WorkPhone" ng-model="Item.PhoneExt" />
                </div>               
            </div>
            <div class="form-group">               
                <label class="col-sm-2 control-label">EmailAddress</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="EmailAddress" ng-model="Item.EmailAddress" />
                </div>
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Certifications" ng-model="Item.Title" />
                </div>
            </div>            
            <div class="form-group">                
                <label class="col-sm-2 control-label">Profit Center</label>
                <div class="col-sm-4"><select class="col-sm-12" ng-model="Item.ProfitCenter.Code" ng-options="c.Code as c.Description for c in Item.ProfitCenters"></select></div>
                <label class="col-sm-2 control-label">Disabled</label>
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" name="Disabled" ng-model="Item.Disabled" />
                </div>
            </div>            
            
            <div class="modal-footer">                
                <input type="submit" ng-disabled="SavingItem" class="btn btn-primary" value="{{SaveButtonText}}" />
                <button type="button" class="btn btn-default" ng-disabled="SavingItem" ng-click="Cancel()">Cancel</button>
            </div>
    </form>
</script>
-->