﻿<div ng-show="vm.ClassCodes == null">
    <loading-well></loading-well>
</div>
<div ng-show="vm.ClassCodes != null">
    <div ng-switch="vm.ClassCodes.length == 0 && !vm.Editing">
        <div ng-switch-when="true">
            This client does not have any associated class codes.
        </div>
        <div ng-switch-default>
            <class-codes editing="vm.Editing" client-id="vm.clientId" class-codes="vm.ClassCodes" deleted-class-codes="vm.DeletedClassCodes" submission-fields="vm.SubmissionFields" view="standard"></class-codes>
        </div>
    </div>
</div>