﻿<div>
    <div>
        <h3 class="no-top-margin">Addresses</h3>
        <div class="overflow-auto">
            <editable-field editing="vm.Editing">
                <read>
                    <client-addresses-read addresses="vm.Client.Addresses"></client-addresses-read>
                </read>
                <write>
                    <client-addresses-write addresses="vm.Client.Addresses" uses-cms="vm.CompanySettings.UsesCms"></client-addresses-write>
                </write>
            </editable-field>
        </div>
    </div>
    <div ng-show="vm.CompanySettings.ClientFields.ContactInformation.Enabled">
        <h3>{{vm.CompanySettings.ClientFields.ContactInformation.Label}}</h3>
        <div class="row">
            <div class="col-sm-4">
                <editable-field editing="vm.Editing">
                    <read>
                        <client-contacts-read contacts="vm.Client.Contacts" uses-cms="vm.CompanySettings.UsesCms"></client-contacts-read>
                    </read>
                    <write>
                        <client-contacts-write contacts="vm.Client.Contacts" uses-cms="vm.CompanySettings.UsesCms"></client-contacts-write>
                    </write>
                </editable-field>
            </div>
        </div>
    </div>
</div>