﻿<div class="row">
    <div class="col-sm-4 names-tab">
        <editable-field editing="vm.Editing">
            <read>
                <div ng-show="vm.Client.AdditionalNames.length == 0">
                    This client does not have any additional names.
                </div>
                <div ng-hide="vm.Client.AdditionalNames.length == 0">
                    <client-names-read additional-names="vm.Client.AdditionalNames"></client-names-read>
                </div>
            </read>
            <write>
                <client-names-write additional-names="vm.Client.AdditionalNames"></client-names-write>
            </write>
        </editable-field>
    </div>
</div>