﻿<div ng-show="vm.Submissions.count == null">
    <loading-well></loading-well>
</div>
<div ng-show="vm.Submissions.count != null">
    <div ng-show="vm.Submissions.count == 0">
        This client does not have any submissions.
    </div>
    <div ng-hide="vm.Submissions.count == 0">
        <submissions fields="vm.SubmissionFields" source="vm.Submissions"></submissions>
    </div>
</div>
