/*! BTS Bootstrap v1.0.1 */
a {
  color: #00a3d8;
  text-decoration: none;
}
hr {
  border: 1px solid #eeeeee !important;
}
/*Table */
.table > thead > tr > td.selected,
.table > tbody > tr > td.selected,
.table > tfoot > tr > td.selected,
.table > thead > tr > th.selected,
.table > tbody > tr > th.selected,
.table > tfoot > tr > th.selected,
.table > thead > tr.selected > td,
.table > tbody > tr.selected > td,
.table > tfoot > tr.selected > td,
.table > thead > tr.selected > th,
.table > tbody > tr.selected > th,
.table > tfoot > tr.selected > th {
  background-color: #c5e9f3;
}
thead {
  background-color: #eeeeee;
}
.table > thead > tr > th {
  text-align: center;
  font-weight: normal;
}
.table input[type="checkbox"] {
  padding-right: 25px;
}
.table > thead > tr > td.total,
.table > tbody > tr > td.total,
.table > tfoot > tr > td.total,
.table > thead > tr > th.total,
.table > tbody > tr > th.total,
.table > tfoot > tr > th.total,
.table > thead > tr.total > td,
.table > tbody > tr.total > td,
.table > tfoot > tr.total > td,
.table > thead > tr.total > th,
.table > tbody > tr.total > th,
.table > tfoot > tr.total > th {
  font-weight: bold;
}
.table-curved {
  border-collapse: separate;
  border-radius: 6px;
}
.table-curved th:first-child {
  border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
  border-radius: 0 6px 0 0;
}
.table-curved th:only-child {
  border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}
/*Form*/
.required {
  color: #ff0000;
}
.icon-required {
  color: #ff0000;
  font-size: 6px;
  position: relative;
  top: -5px;
  padding-right: 3px;
}
.has-warning .form-control {
  border-color: #c09853;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.has-error .form-control {
  border-color: #ff0000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.has-warning .form-control:focus {
  border-color: #c09853;
  box-shadow: none;
}
.has-success .form-control:focus {
  border-color: #468847;
  box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #ff0000;
  box-shadow: none;
}
.has-error .error-message {
  color: #ff0000;
  font-size: 12px;
  position: relative;
  top: -6px;
}
.has-warning .control-label,
.has-error .control-label,
.has-success .control-label {
  color: #333333;
}
.form-control:focus {
  border-color: #46acca;
  box-shadow: none;
}
.control-label {
  font-weight: normal;
}
.btn-default {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.btn-default:hover,
.btn-default:focus {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.btn-default:active {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #dcdcdc 0%, #dddddd 4%);
  background-image: linear-gradient(to bottom, #dcdcdc 0%, #dddddd 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdcdc', endColorstr='#ffdddddd', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-default-group {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.btn-default-group:hover {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.btn-default-group:active,
.btn-default-group:focus {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #2cacd1 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #2cacd1 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2cacd1', endColorstr='#ff46acca', GradientType=0);
  background-position: 0px 0px;
  border-color: #46acca;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #82c7db 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #82c7db 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff82c7db', endColorstr='#ff46acca', GradientType=0);
  border-color: #3497b4;
}
.btn-primary:hover,
.btn-primary:focus {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #45aac8 0%, #73bbd6 4%);
  background-image: linear-gradient(to bottom, #45aac8 0%, #73bbd6 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff45aac8', endColorstr='#ff73bbd6', GradientType=0);
  background-position: 0px 0px;
  border-color: #73bbd6;
}
.btn-primary:active {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #2cacd1 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #2cacd1 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2cacd1', endColorstr='#ff46acca', GradientType=0);
  background-position: 0px 0px;
  border-color: #6abeca;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #7cc67b 0%, #5bb85d 4%);
  background-image: linear-gradient(to bottom, #7cc67b 0%, #5bb85d 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7cc67b', endColorstr='#ff5bb85d', GradientType=0);
  border-color: #47a547;
}
.btn-success:hover,
.btn-success:focus {
  background-image: -webkit-linear-gradient(top, #7bc67b 0%, #7ec77e 4%);
  background-image: linear-gradient(to bottom, #7bc67b 0%, #7ec77e 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7bc67b', endColorstr='#ff7ec77e', GradientType=0);
  background-position: 0px 0px;
  border-color: #62ba63;
}
.btn-success:active {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #70bbd2 0%, #5bb85d 4%);
  background-image: linear-gradient(to bottom, #70bbd2 0%, #5bb85d 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff70bbd2', endColorstr='#ff5bb85d', GradientType=0);
  background-position: 0px 0px;
  border-color: #4da34c;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #7dcee6 0%, #5bc0de 4%);
  background-image: linear-gradient(to bottom, #7dcee6 0%, #5bc0de 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7dcee6', endColorstr='#ff5bc0de', GradientType=0);
  border-color: #43b7d9;
}
.btn-info:hover,
.btn-info:focus {
  background-image: -webkit-linear-gradient(top, #7dcee6 0%, #75cbe3 4%);
  background-image: linear-gradient(to bottom, #7dcee6 0%, #75cbe3 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7dcee6', endColorstr='#ff75cbe3', GradientType=0);
  background-position: 0px 0px;
  border-color: #48bbda;
}
.btn-info:active {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #24a0c4 0%, #5bc0de 4%);
  background-image: linear-gradient(to bottom, #24a0c4 0%, #5bc0de 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff24a0c4', endColorstr='#ff5bc0de', GradientType=0);
  background-position: 0px 0px;
  border-color: #4aabcb;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 4%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  border-color: #d58512;
}
.btn-warning:hover,
.btn-warning:focus {
  background-image: -webkit-linear-gradient(top, #f1b65c 0%, #f1b456 4%);
  background-image: linear-gradient(to bottom, #f1b65c 0%, #f1b456 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1b65c', endColorstr='#fff1b456', GradientType=0);
  background-position: 0px 0px;
  border-color: #ec9d27;
}
.btn-warning:active {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ec991f 0%, #ed9c27 4%);
  background-image: linear-gradient(to bottom, #ec991f 0%, #ed9c27 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec991f', endColorstr='#ffed9c27', GradientType=0);
  background-position: 0px 0px;
  border-color: #c97400;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #dc625f 0%, #d2322d 4%);
  background-image: linear-gradient(to bottom, #dc625f 0%, #d2322d 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc625f', endColorstr='#ffd2322d', GradientType=0);
  border-color: #ac2925;
}
.btn-danger:hover,
.btn-danger:focus {
  background-image: -webkit-linear-gradient(top, #dc625f 0%, #dd6360 4%);
  background-image: linear-gradient(to bottom, #dc625f 0%, #dd6360 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc625f', endColorstr='#ffdd6360', GradientType=0);
  background-position: 0px 0px;
  border-color: #dd6360;
}
.btn-danger:active {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #bf302c 0%, #d1322e 4%);
  background-image: linear-gradient(to bottom, #bf302c 0%, #d1322e 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf302c', endColorstr='#ffd1322e', GradientType=0);
  background-position: 0px 0px;
  border-color: #a23532;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-link {
  font-weight: normal;
  color: #0088cc;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link[disabled] {
  background-color: transparent;
  color: #9fb8e1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #74c0d7;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
/*.dropdown*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: none;
  background-image: -webkit-linear-gradient(top, #46acca 0%, #279abc 4%);
  background-image: linear-gradient(to bottom, #46acca 0%, #279abc 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff46acca', endColorstr='#ff279abc', GradientType=0);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #279abc;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}
/*.Navs */
.nav-pills > li.active > a {
  background-image: -webkit-linear-gradient(top, #82c7db 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #82c7db 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff82c7db', endColorstr='#ff46acca', GradientType=0);
  border-color: #3497b4;
}
.nav-pills > li > a {
  color: #333333;
  text-decoration: none;
}
#nav-pills-icon > li.active > a,
.nav-pills.nav-pills-icon > li.active > a {
  color: #ffffff;
  text-decoration: none;
}
.nav-pills .caret,
.nav-pills > .dropdown > a:hover .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav-pills .open > a .caret,
.nav-pills .open > a:hover .caret,
.nav-pills .open > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav-pills > li > a > i,
.nav-tabs > li > a > i {
  padding-right: 2px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
  color: #00a3d8;
}
.nav-tabs a:hover .caret {
  border-top-color: #00a3d8;
  border-bottom-color: #00a3d8;
}
.nav-tabs .open > a .caret,
.nav-tabs .open > a:hover .caret,
.nav-tabs .open > a:focus .caret {
  border-top-color: #00a3d8;
  border-bottom-color: #00a3d8;
}
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  border-color: #00a3d8;
}
.navbar {
  border-radius: 0px;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #333333;
  border-top-color: #333333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: #ffffff;
}
.navbar.navbar-default > .navbar-collapse.collapse.navbar-responsive-collapse > ul > li.active {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}
.bs-docs-section.clearfix .bs-example .navbar-collapse.collapse.navbar-responsive-collapse > ul > li.active {
  margin-bottom: -1px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-bottom: 1px solid #cccccc;
}
.breadcrumb {
  background-color: transparent;
}
.breadcrumb > .active {
  color: #333333;
}
.breadcrumb > li > a {
  font-weight: normal;
  color: #00a3d8;
  cursor: pointer;
  border-radius: 0px;
}
/* Breadcrumb Filter - Custom BTS */
.bts-nav-breadcrumb {
  padding-left: 0;
  padding-right: 33px;
  /*centering*/
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
}
.bts-nav-breadcrumb li {
  float: left;
  /*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
}
.bts-nav-breadcrumb li a {
  width: 100%;
  color: #0088cc;
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  padding: 0 10px 0 35px;
  background: #eeeeee;
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 1px #dddddd;
  box-shadow: inset 0 0 0 1px #dddddd;
}
.bts-nav-breadcrumb li a span i {
  margin-left: 5px;
  width: 11px;
}
.bts-nav-breadcrumb li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  /*  As you see the rotated square takes a larger height which makes it tough to position it properly. 
                        So we are going to scale it down so that the diagonals become equal to the line-height of the link. 
                    */
  -webkit-transform: scale(0.72) rotate(45deg);
  -ms-transform: scale(0.72) rotate(45deg);
  transform: scale(0.72) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #eeeeee;
  /*stylish arrow design using box shadow*/
  -webkit-box-shadow: inset -2px 2px 0 0 #dddddd;
  box-shadow: inset -2px 2px 0 0 #dddddd;
  /*5px - for rounded arrows and 
     50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}
.bts-nav-breadcrumb li a:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.bts-nav-breadcrumb li a:hover:after {
  background: #ffffff;
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.bts-nav-breadcrumb li:first-child a {
  padding-left: 20px;
  border-radius: 5px 1px 1px 5px;
  /*to match with the parent's radius*/
  padding-right: 10px;
}
.bts-nav-breadcrumb li:first-child a:before {
  left: 14px;
}
.bts-nav-breadcrumb li.active a {
  background: #333333;
  background-image: -webkit-linear-gradient(top, #333333 0%, #333333 4%);
  background-image: linear-gradient(to bottom, #333333 0%, #333333 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff333333', GradientType=0);
  color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 1px #333333;
  box-shadow: inset 0 0 0 1px #333333;
}
.bts-nav-breadcrumb li.active a:after {
  background: #333333;
  color: #ffffff;
  -webkit-box-shadow: inset -2px 2px 0 0 #333333;
  box-shadow: inset -2px 2px 0 0 #333333;
}
.bts-nav-breadcrumb.flat a {
  background: #eeeeee;
}
.bts-nav-breadcrumb.flat a:after {
  background: #eeeeee;
}
.bts-nav-breadcrumb.flat a:hover {
  background: #ffffff;
}
.bts-nav-breadcrumb.flat li.active a {
  background: #333333;
  color: #ffffff;
}
.bts-nav-breadcrumb.flat li.active a:after {
  background: #333333;
  color: #ffffff;
}
.bts-nav-breadcrumb.flat li.active a:hover {
  background: #333333;
}
.bts-nav-breadcrumb.flat li.active a:after {
  background: #333333;
}
/* Pagination */
.pagination > li {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.pagination > li > a {
  color: #333333;
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.pagination > li > a:hover {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.pagination > .active > a {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #279abc 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #279abc 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff279abc', endColorstr='#ff46acca', GradientType=0);
  background-position: 0px 0px;
  border-color: #46acca;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.pagination > .active > a:hover {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #45aac8 0%, #73bbd6 4%);
  background-image: linear-gradient(to bottom, #45aac8 0%, #73bbd6 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff45aac8', endColorstr='#ff73bbd6', GradientType=0);
  background-position: 0px 0px;
  border-color: #73bbd6;
}
/*Pager*/
.pager .next i {
  padding-left: 6px;
}
.pager .previous i {
  padding-right: 6px;
}
.pager li > a,
.pager li > span {
  color: #333333;
  border-radius: 6px;
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.pager li > a:hover,
.pager li > a:focus {
  color: #333333;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.pager li > a:active {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #dcdcdc 0%, #dddddd 4%);
  background-image: linear-gradient(to bottom, #dcdcdc 0%, #dddddd 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdcdc', endColorstr='#ffdddddd', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
/*badges */
.badge {
  display: inline-block;
  min-width: 8px;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #ff0000;
  border-radius: 2px;
}
.nav-pills .badge {
  position: relative;
  top: -10px;
  left: -10px;
}
.nav-pills .badge-icon {
  font-size: 22px;
}
/*Progress Bar */
.progress-bar {
  background-color: #5bc0de;
}
/*list group */
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #279abc 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #279abc 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff279abc', endColorstr='#ff46acca', GradientType=0);
  background-position: 0px 0px;
  border-color: #46acca;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
/*panels */
.panel-default > .panel-heading {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #82c7db 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #82c7db 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff82c7db', endColorstr='#ff46acca', GradientType=0);
  border-color: #46acca;
}
.panel-primary {
  border-color: #46acca;
}
/*Collapsible panel*/
.icon-pad-right {
  padding-right: 10px;
}
.inset {
  padding: 15px 20px 20px;
}