/*! BTS Bootstrap v1.1.0 */
body {
  font-size: 12px;
  line-height: 1.42857143;
}
a {
  color: #00a3d8;
  text-decoration: none;
}
hr {
  margin-top: 12px;
  margin-bottom: 12px;
  border-top: 1px dotted #eeeeee;
  color: #eeeeee;
  background-color: transparent;
}
h1,
.h1 {
  font-weight: normal;
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 0;
}
h2,
.h2 {
  font-weight: normal;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 0;
}
h3,
.h3 {
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}
h4,
.h4 {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}
h5,
.h5 {
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}
h6,
.h6 {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}
h1 small,
.h1 small {
  font-weight: normal;
  font-size: 12px;
}
h2 small,
.h2 small {
  font-weight: normal;
  font-size: 12px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: 0%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: 0%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*Table */
thead {
  background-color: #eeeeee;
}
.table > thead > tr > th {
  text-align: center;
  font-weight: normal;
  padding: 8px 5px;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  padding: 5px;
}
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  text-align: left;
  background-color: transparent;
  padding: 8px 5px;
}
.table input[type="checkbox"] {
  padding-right: 25px;
}
.table > thead > tr > td.total,
.table > tbody > tr > td.total,
.table > tfoot > tr > td.total,
.table > thead > tr > th.total,
.table > tbody > tr > th.total,
.table > tfoot > tr > th.total,
.table > thead > tr.total > td,
.table > tbody > tr.total > td,
.table > tfoot > tr.total > td,
.table > thead > tr.total > th,
.table > tbody > tr.total > th,
.table > tfoot > tr.total > th {
  font-weight: bold;
}
.table-curved {
  border-collapse: separate;
  border-radius: 6px;
}
.table-curved > thead > tr:first-child > th:first-child {
  border-top-left-radius: 6px;
}
.table-curved > thead > tr:first-child > th:last-child {
  border-top-right-radius: 6px;
}
.table-curved > tbody > tr:last-child > th:first-child {
  border-bottom-left-radius: 6px;
}
.table-curved > tbody > tr:last-child > th:last-child {
  border-bottom-right-radius: 6px;
}
.table-curved > thead > tr > th,
.table-curved > tbody > tr > td {
  border-width: 1px 0 0 1px;
}
.table-curved > thead > tr > th {
  border-top-width: 0;
}
.table-curved > tbody > tr:first-child > th {
  border-top-width: 0;
}
.table-curved > tbody > tr > td:first-child,
.table-curved > thead > tr > th:first-child {
  border-left-width: 0;
}
.table-curved > tfoot > tr > th:first-child {
  border-left-width: 0;
}
.table-curved > tfoot > tr > th {
  border-right-width: 0;
  border-bottom-width: 0;
}
.table-extended > thead > tr > th,
.table-extended > tbody > tr > th,
.table-extended > tfoot > tr > th,
.table-extended > thead > tr > td,
.table-extended > tbody > tr > td,
.table-extended > tfoot > tr > td {
  padding: 8px;
}
.table-striped-double > tbody > tr:nth-child(4n-1) > th,
.table-striped-double > tbody > tr:nth-child(4n) > th,
.table-striped-double > tbody > tr:nth-child(4n-1) > td,
.table-striped-double > tbody > tr:nth-child(4n) > td {
  background: #f9f9f9;
}
.table-expandable > tbody > tr:nth-child(2n) {
  display: none;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.table > thead > tr > td.selected,
.table > tbody > tr > td.selected,
.table > tfoot > tr > td.selected,
.table > thead > tr > th.selected,
.table > tbody > tr > th.selected,
.table > tfoot > tr > th.selected,
.table > thead > tr.selected > td,
.table > tbody > tr.selected > td,
.table > tfoot > tr.selected > td,
.table > thead > tr.selected > th,
.table > tbody > tr.selected > th,
.table > tfoot > tr.selected > th {
  background-color: #c5e9f3;
}
/*Form*/
.form-horizontal .control-label {
  text-align: left;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 27px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.42857143;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 2px 0 0;
}
input[type="date"] {
  line-height: 27px;
}
.radio,
.checkbox {
  min-height: 17px;
}
.input-sm {
  height: 23px;
  padding: 3px 8px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 2px;
}
select.input-sm {
  height: 23px;
  line-height: 23px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.input-lg {
  height: 32px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-lg {
  height: 32px;
  line-height: 32px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 5px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 22px;
}
.form-horizontal .form-control-static {
  padding-top: 5px;
}
fieldset {
  padding-bottom: 8.5px;
}
legend {
  margin-bottom: 8.5px;
  font-size: 14px;
  font-weight: bold;
}
.required {
  color: #ff0000;
}
.icon-required {
  color: #ff0000;
  font-size: 6px;
  position: relative;
  top: -5px;
  padding-right: 3px;
}
.has-warning .form-control {
  border-color: #c09853;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.has-error .form-control {
  border-color: #ff0000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.has-warning .form-control:focus {
  border-color: #c09853;
  box-shadow: none;
}
.has-success .form-control:focus {
  border-color: #468847;
  box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #ff0000;
  box-shadow: none;
}
.has-error .error-message {
  color: #ff0000;
  font-size: 12px;
  position: relative;
  top: -6px;
}
.has-warning .control-label,
.has-error .control-label,
.has-success .control-label {
  color: #333333;
}
.form-control:focus {
  border-color: #46acca;
  box-shadow: none;
}
.control-label {
  font-weight: normal;
}
.btn {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
}
.btn-lg {
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 3px 8px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn:active,
button:active,
.btn.active,
button.active,
.btn:focus,
button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.btn-default {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #e1e1e1;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #dddddd;
  background-image: -webkit-linear-gradient(top, #dcdcdc 0%, #dddddd 4%);
  background-image: linear-gradient(to bottom, #dcdcdc 0%, #dddddd 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdcdc', endColorstr='#ffdddddd', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-default-group {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.btn-default-group:hover {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.btn-default-group:active,
.btn-default-group.active,
.btn-default-group:focus {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #dddddd;
  background-image: -webkit-linear-gradient(top, #2cacd1 0%, #3190ac 4%);
  background-image: linear-gradient(to bottom, #2cacd1 0%, #3190ac 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2cacd1', endColorstr='#ff3190ac', GradientType=0);
  background-position: 0px 0px;
  border-color: #3190ac;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background-color: #46acca;
  background-image: -webkit-linear-gradient(top, #82c7db 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #82c7db 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff82c7db', endColorstr='#ff46acca', GradientType=0);
  border-color: #3497b4;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #6ebed5;
  border-color: #3ba7c6;
}
.btn-primary:hover,
.btn-primary:focus {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #73bbd6;
  background-image: -webkit-linear-gradient(top, #45aac8 0%, #73bbd6 4%);
  background-image: linear-gradient(to bottom, #45aac8 0%, #73bbd6 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff45aac8', endColorstr='#ff73bbd6', GradientType=0);
  background-position: 0px 0px;
  border-color: #73bbd6;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #3190ac;
  background-image: -webkit-linear-gradient(top, #2cacd1 0%, #3190ac 4%);
  background-image: linear-gradient(to bottom, #2cacd1 0%, #3190ac 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2cacd1', endColorstr='#ff3190ac', GradientType=0);
  background-position: 0px 0px;
  border-color: #6abeca;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-success {
  background-color: #5bb85d;
  background-image: -webkit-linear-gradient(top, #7cc67b 0%, #5bb85d 4%);
  background-image: linear-gradient(to bottom, #7cc67b 0%, #5bb85d 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7cc67b', endColorstr='#ff5bb85d', GradientType=0);
  border-color: #47a547;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #7fc780;
  border-color: #51b451;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #7ec77e;
  background-image: -webkit-linear-gradient(top, #7bc67b 0%, #7ec77e 4%);
  background-image: linear-gradient(to bottom, #7bc67b 0%, #7ec77e 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7bc67b', endColorstr='#ff7ec77e', GradientType=0);
  background-position: 0px 0px;
  border-color: #62ba63;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #449c46;
  background-image: -webkit-linear-gradient(top, #70bbd2 0%, #449c46 4%);
  background-image: linear-gradient(to bottom, #70bbd2 0%, #449c46 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff70bbd2', endColorstr='#ff449c46', GradientType=0);
  background-position: 0px 0px;
  border-color: #4da34c;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-info {
  background-color: #5bc0de;
  background-image: -webkit-linear-gradient(top, #7dcee6 0%, #5bc0de 4%);
  background-image: linear-gradient(to bottom, #7dcee6 0%, #5bc0de 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7dcee6', endColorstr='#ff5bc0de', GradientType=0);
  border-color: #43b7d9;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #85d0e7;
  border-color: #43b7d9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #75cbe3;
  background-image: -webkit-linear-gradient(top, #7dcee6 0%, #75cbe3 4%);
  background-image: linear-gradient(to bottom, #7dcee6 0%, #75cbe3 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7dcee6', endColorstr='#ff75cbe3', GradientType=0);
  background-position: 0px 0px;
  border-color: #48bbda;
}
.btn-info:active,
.btn-info:active,
.open .dropdown-toggle.btn-info {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #31b0d5;
  background-image: -webkit-linear-gradient(top, #24a0c4 0%, #31b0d5 4%);
  background-image: linear-gradient(to bottom, #24a0c4 0%, #31b0d5 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff24a0c4', endColorstr='#ff31b0d5', GradientType=0);
  background-position: 0px 0px;
  border-color: #4aabcb;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-warning {
  background-color: #eb9316;
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 4%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  border-color: #d58512;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #efa945;
  border-color: #eb9315;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #f1b456;
  background-image: -webkit-linear-gradient(top, #f1b65c 0%, #f1b456 4%);
  background-image: linear-gradient(to bottom, #f1b65c 0%, #f1b456 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1b65c', endColorstr='#fff1b456', GradientType=0);
  background-position: 0px 0px;
  border-color: #ec9d27;
}
.btn-warning:active,
.btn-warning:active,
.open .dropdown-toggle.btn-warning {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #e79113;
  background-image: -webkit-linear-gradient(top, #ec991f 0%, #e79113 4%);
  background-image: linear-gradient(to bottom, #ec991f 0%, #e79113 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec991f', endColorstr='#ffe79113', GradientType=0);
  background-position: 0px 0px;
  border-color: #c97400;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-danger {
  background-color: #d2322d;
  background-image: -webkit-linear-gradient(top, #dc625f 0%, #d2322d 4%);
  background-image: linear-gradient(to bottom, #dc625f 0%, #d2322d 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc625f', endColorstr='#ffd2322d', GradientType=0);
  border-color: #ac2925;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #db5b57;
  border-color: #c12e2a;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #dd6360;
  background-image: -webkit-linear-gradient(top, #dc625f 0%, #dd6360 4%);
  background-image: linear-gradient(to bottom, #dc625f 0%, #dd6360 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc625f', endColorstr='#ffdd6360', GradientType=0);
  background-position: 0px 0px;
  border-color: #dd6360;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #bc2d29;
  background-image: -webkit-linear-gradient(top, #bf302c 0%, #bc2d29 4%);
  background-image: linear-gradient(to bottom, #bf302c 0%, #bc2d29 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf302c', endColorstr='#ffbc2d29', GradientType=0);
  background-position: 0px 0px;
  border-color: #a23532;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.btn-link {
  font-weight: normal;
  color: #0088cc;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link[disabled] {
  background-color: transparent;
  color: #9fb8e1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #74c0d7;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.disabled .fa,
.btn[disabled] .fa,
fieldset[disabled] .btn .fa {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
/*.dropdown*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #46acca;
  background-image: -webkit-linear-gradient(top, #46acca 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #46acca 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff46acca', endColorstr='#ff46acca', GradientType=0);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #46acca;
}
.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*.Navs */
.nav li.disabled > a:hover,
.nav li.disabled > a:focus {
  border-color: transparent;
}
.tab-content {
  padding: 10px 0;
}
.nav-pills > li.active > a {
  background-color: #46acca;
  background-image: -webkit-linear-gradient(top, #82c7db 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #82c7db 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff82c7db', endColorstr='#ff46acca', GradientType=0);
  border-color: #3497b4;
}
.nav-pills > li > a {
  color: #333333;
  text-decoration: none;
}
.nav-pills .caret,
.nav-pills > .dropdown > a:hover .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav-pills .open > a .caret,
.nav-pills .open > a:hover .caret,
.nav-pills .open > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav-pills > li > a > i,
.nav-tabs > li > a > i {
  padding-right: 2px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
  color: #00a3d8;
}
.nav-tabs a:hover .caret {
  border-top-color: #00a3d8;
  border-bottom-color: #00a3d8;
}
.nav-tabs .open > a .caret,
.nav-tabs .open > a:hover .caret,
.nav-tabs .open > a:focus .caret {
  border-top-color: #00a3d8;
  border-bottom-color: #00a3d8;
}
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  border-color: #00a3d8;
}
.navbar {
  border-radius: 0px;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #333333;
  border-top-color: #333333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: #ffffff;
}
.navbar.navbar-default > .navbar-collapse.collapse.navbar-responsive-collapse > ul > li.active {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}
.bs-docs-section.clearfix .bs-example .navbar-collapse.collapse.navbar-responsive-collapse > ul > li.active,
.bs-docs-section.container .bs-example .navbar-collapse.collapse.navbar-responsive-collapse > ul > li.active,
.bs-docs-section.container-fluid .bs-example .navbar-collapse.collapse.navbar-responsive-collapse > ul > li.active,
.bs-docs-section.row .bs-example .navbar-collapse.collapse.navbar-responsive-collapse > ul > li.active {
  margin-bottom: -1px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 768px) {
  .navbar-collapse .navbar-nav > .active > a,
  .navbar-collapse .navbar-nav > .active > a:hover,
  .navbar-collapse .navbar-nav > .active > a:focus {
    border-radius: 0;
    border: none;
  }
}
.breadcrumb {
  background-color: transparent;
}
.breadcrumb > .active {
  color: #333333;
}
.breadcrumb > li > a {
  font-weight: normal;
  color: #00a3d8;
  cursor: pointer;
  border-radius: 0px;
}
/* Breadcrumb Filter - Custom BTS */
.bts-nav-breadcrumb {
  padding-left: 0;
  padding-right: 33px;
  /*centering*/
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
}
.bts-nav-breadcrumb li {
  float: left;
  /*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
}
.bts-nav-breadcrumb li a {
  width: 100%;
  color: #0088cc;
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  padding: 0 10px 0 35px;
  background: #eeeeee;
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 1px #dddddd;
  box-shadow: inset 0 0 0 1px #dddddd;
}
.bts-nav-breadcrumb li a span i {
  margin-left: 5px;
  width: 11px;
}
.bts-nav-breadcrumb li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  /*  As you see the rotated square takes a larger height which makes it tough to position it properly. 
                        So we are going to scale it down so that the diagonals become equal to the line-height of the link. 
                    */
  -webkit-transform: scale(0.72) rotate(45deg);
  -ms-transform: scale(0.72) rotate(45deg);
  transform: scale(0.72) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #eeeeee;
  /*stylish arrow design using box shadow*/
  -webkit-box-shadow: inset -2px 2px 0 0 #dddddd;
  box-shadow: inset -2px 2px 0 0 #dddddd;
  /*5px - for rounded arrows and 
     50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}
.bts-nav-breadcrumb li a:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.bts-nav-breadcrumb li a:hover:after {
  background: #ffffff;
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.bts-nav-breadcrumb li:first-child a {
  padding-left: 20px;
  border-radius: 5px 1px 1px 5px;
  /*to match with the parent's radius*/
  padding-right: 10px;
}
.bts-nav-breadcrumb li:first-child a:before {
  left: 14px;
}
.bts-nav-breadcrumb li.active a {
  background: #333333;
  background-image: -webkit-linear-gradient(top, #333333 0%, #333333 4%);
  background-image: linear-gradient(to bottom, #333333 0%, #333333 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff333333', GradientType=0);
  color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 1px #333333;
  box-shadow: inset 0 0 0 1px #333333;
}
.bts-nav-breadcrumb li.active a:after {
  background: #333333;
  color: #ffffff;
  -webkit-box-shadow: inset -2px 2px 0 0 #333333;
  box-shadow: inset -2px 2px 0 0 #333333;
}
.bts-nav-breadcrumb.flat a {
  background: #eeeeee;
}
.bts-nav-breadcrumb.flat a:after {
  background: #eeeeee;
}
.bts-nav-breadcrumb.flat a:hover {
  background: #ffffff;
}
.bts-nav-breadcrumb.flat li.active a {
  background: #333333;
  color: #ffffff;
}
.bts-nav-breadcrumb.flat li.active a:after {
  background: #333333;
  color: #ffffff;
}
.bts-nav-breadcrumb.flat li.active a:hover {
  background: #333333;
}
.bts-nav-breadcrumb.flat li.active a:after {
  background: #333333;
}
/* Pagination */
.pagination > li {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.pagination > li > a {
  color: #333333;
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.pagination > li > a:hover {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.pagination > .active > a {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #279abc 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #279abc 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff279abc', endColorstr='#ff46acca', GradientType=0);
  background-position: 0px 0px;
  border-color: #46acca;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.pagination > .active > a:hover {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #45aac8 0%, #73bbd6 4%);
  background-image: linear-gradient(to bottom, #45aac8 0%, #73bbd6 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff45aac8', endColorstr='#ff73bbd6', GradientType=0);
  background-position: 0px 0px;
  border-color: #73bbd6;
}
/*Pager*/
.pager .next i {
  padding-left: 6px;
}
.pager .previous i {
  padding-right: 6px;
}
.pager li > a,
.pager li > span {
  color: #333333;
  border-radius: 6px;
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.pager li > a:hover,
.pager li > a:focus {
  color: #333333;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
}
.pager li > a:active {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #dcdcdc 0%, #dddddd 4%);
  background-image: linear-gradient(to bottom, #dcdcdc 0%, #dddddd 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdcdc', endColorstr='#ffdddddd', GradientType=0);
  background-position: 0px 0px;
  border-color: #d4d4d4;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
/*badges */
.badge {
  display: inline-block;
  min-width: 8px;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #ff0000;
  border-radius: 2px;
}
.nav-pills .badge {
  position: relative;
  top: -10px;
  left: -10px;
}
.nav-pills .badge-icon {
  font-size: 22px;
}
/* Alerts */
.alert .fa {
  font-size: 40px;
  padding-right: 15px;
}
.alert h4 {
  margin-bottom: 5px;
}
.alert .bts-message {
  display: table;
}
/*Progress Bar */
.progress-bar {
  background-color: #5bc0de;
}
/*list group */
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  text-shadow: 0 0px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #279abc 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #279abc 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff279abc', endColorstr='#ff46acca', GradientType=0);
  background-position: 0px 0px;
  border-color: #46acca;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
/*panels */
.panel {
  border-radius: 6px;
}
.panel-default > .panel-heading {
  text-shadow: 0 0px 0 #ffffff;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 4%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d4d4d4;
}
.panel-primary > .panel-heading {
  background-color: #46acca;
  background-image: -webkit-linear-gradient(top, #82c7db 0%, #46acca 4%);
  background-image: linear-gradient(to bottom, #82c7db 0%, #46acca 4%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff82c7db', endColorstr='#ff46acca', GradientType=0);
  border-color: #46acca;
}
.panel-primary {
  border-color: #46acca;
}
/* pad font awesome icon in heading (example: collapsible heading) */
.panel > .panel-heading .fa {
  padding-right: 10px;
}
.panel-title {
  font-size: 14px;
}
/* Modals */
.modal-header {
  background-color: #eeeeee;
  padding: 10px;
  min-height: 11.42857143px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-title {
  font-size: 14px;
  font-weight: bold;
}
.modal-body {
  padding: 10px;
}
.modal-footer {
  border-width: 0;
  margin-top: 0;
  padding: 9px 10px 10px;
}