﻿<div class="clearance-container padded-page-container" ng-hide="vm.AppState.PageGenerating">
    <div class="content-header affix">
        <div class="container">
            <div class="pull-left">
                {{(vm.UpdatingApplication) ? 'Existing' : 'New' }} Application{{(vm.SubmissionWorkflow.InsuredName) ? ": " + vm.SubmissionWorkflow.InsuredName : ""}}{{(vm.DisplayedClientId) ? " (" + vm.DisplayedClientId + ")" : ""}}
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary" ng-hide="vm.CurrentStepIsSubmission()" ng-disabled="vm.AppState.Loading || !vm.CanContinue()" ng-click="vm.Continue()">Continue</button>
                <button type="button" class="btn btn-primary" ng-show="vm.CurrentStepIsSubmission()" ng-disabled="vm.AppState.Loading || !vm.SubmissionWorkflow.Cleared" ng-click="vm.Submit()">{{(vm.UpdatingApplication) ? 'Update' : 'Submit' }} Application</button>
                <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.Cancel()">Cancel</button>
            </div>
        </div>
        <div class="content-secondary-header">
            <div class="container">
                <ul class="nav nav-pills">
                    <li ng-class="{active: vm.CurrentStep == 'Client', 'invalid-step': vm.ValidationResults.Client.length > 0}">
                        <a ng-click="vm.TransitionToStep('Client')">Client</a>
                    </li>
                    <li ng-class="{active: vm.CurrentStep == 'Application', 'invalid-step': vm.ValidationResults.Application.length > 0}">
                        <a ng-click="vm.TransitionToStep('Application')">Application</a>
                    </li>
                    <li ng-class="{active: vm.CurrentStep == 'Duplicates'}" ng-show="vm.HasPotentialDuplicates">
                        <a ng-click="vm.TransitionToStep('Duplicates')">Duplicates</a>
                    </li>
                    <li class="disabled" ng-repeat="s in vm.NonEditableSubmissionSummaries track by $index" title="{{s.Description || s}}">
                        <a>
                            {{s.Code || s}}
                        </a>
                    </li>
                    <li ng-class="{active: vm.CurrentStep == 'Submission' + $index, 'invalid-step': vm.ValidationResults.Submissions[$index].length > 0}" ng-repeat="s in vm.SubmissionWorkflow.Submissions" ng-show="vm.SubmissionWorkflow.Cleared">
                        <a ng-click="vm.TransitionToStep('Submission', $index)" title="{{s.StepSummary.Description || s.StepSummary}}">
                            {{s.StepSummary.Code || s.StepSummary}}
                            <button type="button" class="btn btn-delete-submission" ng-show="vm.SubmissionWorkflow.Submissions.length > 1 && !vm.AppState.Loading" ng-click="vm.RemoveSubmission($index)">
                                <i class="fa fa-times"></i>
                            </button>
                        </a>
                    </li>
                    <li ng-show="vm.SubmissionWorkflow.Cleared && vm.SubmissionWorkflow.SubmissionType.AllowMultipleSubmissions.VisibleOnAdd" class="add-policy">
                        <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.TransitionToStep('Submission', vm.SubmissionWorkflow.Submissions.length)"><i class="fa fa-plus-circle"></i><span>Add Submission</span></button>
                    </li>
                    <li ng-show="vm.SubmissionWorkflow.SubmissionType.Notes.VisibleOnAdd" class="pull-right application-notes-container">
                        <button type="button" class="btn btn-default" title="Application Notes" ng-disabled="vm.AppState.Loading" ng-click="vm.OpenNotes()"><i class="fa fa-file-o"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-detail">
        <div class="container">
            <loading-well text="Loading" ng-show="vm.AppState.StillWaiting && !vm.Saving" layout="clearance-saving"></loading-well>
            <loading-well text="{{ vm.SavingMessage }}" ng-show="vm.Saving" layout="clearance-saving"></loading-well>
            <form role="form" name="vm.Forms.Clearance" ng-hide="vm.AppState.StillWaiting || vm.Saving">
                <alert ng-show="vm.ClientGetFailed" type="'danger'">
                    Unable to retreive client from Client System.
                </alert>
                <alert ng-show="vm.Forms.Clearance.ValidationErrors.length > 0" type="'danger'">
                    <ul>
                        <li ng-repeat="v in vm.Forms.Clearance.ValidationErrors">{{v.Message}}</li>
                    </ul>
                </alert>
                <div ng-switch="vm.CurrentStep" ng-hide="vm.ClientGetFailed">
                    <div ng-switch-when="Client">
                        <clearance-client client="vm.Client" company-settings="vm.CompanySettings"></clearance-client>
                        <div class="row continue-button-container">
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading" ng-click="vm.Continue()">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="Application">
                        <clearance-application submission-workflow="vm.SubmissionWorkflow" client="vm.Client"></clearance-application>
                        <div class="row continue-button-container">
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading" ng-click="vm.Continue()">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="Duplicates">
                        <clearance-duplicates submission-workflow="vm.SubmissionWorkflow"></clearance-duplicates>
                        <div class="row continue-button-container">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.Cancel()" ng-show="vm.SubmissionWorkflow.HasExactDuplicate">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading || !vm.CanContinue()" ng-click="vm.Continue()">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-default>
                        <clearance-submission submission-workflow="vm.SubmissionWorkflow" submission="vm.Submission"></clearance-submission>
                        <div class="row continue-button-container">
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <button type="button" ng-show="vm.SubmissionWorkflow.SubmissionType.AllowMultipleSubmissions.VisibleOnAdd" class="btn btn-link btn-add" ng-disabled="AppState.Loading" ng-click="vm.TransitionToStep('Submission', vm.SubmissionWorkflow.Submissions.length)"><i class="fa fa-plus-circle"></i><span>Add Another Submission</span></button>
                                    <button type="button" class="btn btn-primary" ng-show="vm.CurrentStepIsSubmission()" ng-disabled="vm.AppState.Loading || !vm.SubmissionWorkflow.Cleared" ng-click="vm.Submit()">{{(vm.UpdatingApplication) ? 'Update' : 'Submit' }} Application</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>