﻿.clearance-container .content-header {
  height: 80px;
}
.clearance-container .content-header .content-secondary-header {
  border-top: 1px dotted #eeeeee;
  margin-top: 4px;
  padding-top: 1px;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills li:not(.pull-right) {
  min-width: 95px;
  text-align: center;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills li:not(.pull-right) a {
  background-color: #f4f4f4;
  padding-left: 20px;
  padding-right: 20px;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills li:not(.pull-right) a:hover {
  background-color: #eee;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills li:not(.pull-right) a .btn-delete-submission {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0 2px;
  position: absolute;
  top: 3px;
  right: 4px;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills li:not(.pull-right) a .btn-delete-submission:hover {
  background-color: white;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills li:not(.pull-right).disabled a {
  background-color: #dddddd;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills li:not(.pull-right).disabled a:hover {
  background-color: none;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills .add-policy {
  margin-top: 6px;
  margin-left: 10px;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills > li + li {
  margin-left: 3px;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills .application-notes-container {
  margin-top: 4px;
}
.clearance-container .content-header .content-secondary-header .nav.nav-pills .application-notes-container i.fa {
  font-size: 16px;
}
.clearance-container .content-detail {
  padding-top: 95px;
  margin-bottom: 100px;
}
.clearance-container .content-detail .form-group {
  margin-bottom: 5px;
  min-height: 27px;
  line-height: 22px;
}
.clearance-container .content-detail .continue-button-container {
  margin-top: 25px;
}
.clearance-container .content-detail .continue-button-container button {
  min-width: 100px;
}
.clearance-container .content-detail .continue-button-container button + button {
  margin-left: 5px;
}
.clearance-container .content-detail .continue-button-container button.btn-add + button {
  margin-left: 15px;
}
.clearance-container .content-detail .clearance-application-container .agency-alert-container .alert {
  margin: 0 0 5px 0;
}
.clearance-container .content-detail .clearance-application-container .validation-column-container {
  line-height: 27px;
}
.clearance-container .content-detail .clearance-duplicates-container .none-applicable-container {
  margin-top: 15px;
  margin-left: 5px;
}
.clearance-container .content-detail .clearance-duplicates-container .none-applicable-container span {
  margin-left: 3px;
}
.clearance-container .content-detail .clearance-policy-container .effective-period-container a {
  margin-left: 7px;
}
.clearance-container .content-detail .clearance-policy-container .radio-input-collection {
  min-height: 22px;
  padding-top: 4px;
}
.clearance-container .content-detail .clearance-policy-container .policy-number-generation-container label {
  display: block;
}
.clearance-container .content-detail .clearance-policy-container .policy-number-generation-container label input[type="radio"] {
  vertical-align: top;
}
.clearance-container .content-detail .clearance-policy-container .policy-number-generation-container .padded-policy-number-container {
  padding-left: 17px;
}
.clearance-container .well.loading-well {
  margin-top: 50px;
}
