﻿@import "../../../styles/variables";

@clearance-header-height: 80px;

.clearance-container {
    .content-header {
        height: @clearance-header-height;

        .content-secondary-header {
            border-top: 1px dotted @medium-gray;
            margin-top: 4px;
            padding-top: 1px;

            .nav.nav-pills {
                li:not(.pull-right) {
                    min-width: 95px;
                    text-align: center;

                    a {
                        background-color: @light-gray;
                        padding-left: 20px;
                        padding-right: 20px;

                        &:hover {
                            background-color: #eee;
                        }

                        .btn-delete-submission {
                            border: none;
                            background: transparent;
                            margin: 0;
                            padding: 0 2px;
                            position: absolute;
                            top: 3px;
                            right: 4px;

                            &:hover {
                                background-color: white;
                            }
                        }
                    }

                    &.disabled {
                        a {
                            background-color: @dark-gray;

                            &:hover {
                                background-color: none;
                            }
                        }
                    }
                }

                .add-policy {
                    margin-top: 6px;
                    margin-left: 10px;
                }

                & > li + li {
                    margin-left: 3px;
                }

                .application-notes-container {
                    margin-top: 4px;

                    i.fa {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .content-detail {
        padding-top: (@clearance-header-height + @content-padding-width);
        margin-bottom: 100px;

        .form-group {
            margin-bottom: 5px;
            min-height: 27px;
            line-height: 22px;
        }

        .continue-button-container {
            margin-top: 25px;

            button {
                min-width: 100px;
            }

            button + button {
                margin-left: 5px;
            }

            button.btn-add + button {
                margin-left: 15px;
            }
        }

        .clearance-application-container {
            .agency-alert-container {
                .alert {
                    margin: 0 0 5px 0;
                }
            }

            .validation-column-container {
                line-height: 27px;
            }
        }

        .clearance-duplicates-container {
            .none-applicable-container {
                margin-top: 15px;
                margin-left: 5px;

                span {
                    margin-left: 3px;
                }
            }
        }

        .clearance-policy-container {
            .effective-period-container {
                a {
                    margin-left: 7px;
                }
            }

            .radio-input-collection {
                min-height: 22px;
                padding-top: 4px;
            }

            .policy-number-generation-container {
                label {
                    display: block;

                    input[type="radio"] {
                        vertical-align: top;
                    }
                }

                .padded-policy-number-container {
                    padding-left: 17px;
                }
            }
        }
    }

    .well.loading-well {
        margin-top: 50px;
    }
}
