﻿<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Application Notes</h2>
    </div>
    <div class="modal-body">
        <h3 class="no-top-margin">Note Message</h3>
        <textarea class="form-control" rows="5" name="application-notes" ng-model="vm.Note"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.Save()">Save Note</button>
        <button class="btn btn-default" ng-click="vm.Close()">Cancel</button>
    </div>
</div>