#DP_MainDiv
{
	border: solid 1px #a0a0a0;
	background-color: White;
}

#DP_MainDiv TABLE
{
	font-family: Arial;
	font-size: 11px;
}

#DP_MainDiv A
{
	color: black;
	text-decoration: none;
}


#DP_CalendarDiv
{
	padding: 2px;
	background-color: White;
}

#DP_CalendarDiv TABLE
{
	font-family: verdana;
	font-size: 10px;
}

#DP_CalendarDiv A.In
{
	color: black;
	text-decoration: none;
}

#DP_CalendarDiv A.Out
{
	color: #909090;
	text-decoration: none;
}

#DP_CalendarDiv A.Today
{
	color: red;
	font-weight: bold;
	text-decoration: none;
}

#DP_CalendarDiv A.SelectedDay
{
	border: solid 1px #A0A0A0;
	background-color: Yellow;
}

#DP_CalendarDiv A.Invalid
{
	text-decoration: line-through;
}


SPAN.DP_controlBox
{
	border: solid 1px #3366ff;
	color: white;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}
SPAN.DP_controlBoxOn
{
	border: solid 1px #88AAFF;
	color: white;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}


#DP_PickListDiv TABLE
{
	border: solid 1px #A0A0A0;
	background-color: #FFFFDD;
	font-family: Arial;
	font-size: 11px;
}

#DP_PickListDiv TD
{
	padding: 1px 10px 1px 10px;
	cursor: pointer;
	cursor: hand;
}

#DP_PickListDiv TD.Hover
{
	background-color: #FFCC99;
}


TABLE.DP_Header
{
	width: 100%;
	background-color: #0000AA;
}


TABLE.DP_Footer
{
	width: 100%;
	background-color: #E0E0E0;
}

TABLE.DP_Footer TD
{
	text-align: center;
}

TABLE.DP_Footer A
{
	color: blue;
	text-decoration: none;
}