﻿<table class="table table-striped table-condensed table-bordered table-curved table-curved-no-footer submission-addresses">
    <thead>
        <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Cd</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="a in vm.SubmissionAddresses">
            <td>
                {{a.Address1}} {{a.Address2}}
            </td>
            <td>
                {{a.City}}
            </td>
            <td>
                {{a.State}}
            </td>
            <td>
                {{a.PostalCode | postalCode}}
            </td>
        </tr>
    </tbody>
</table>