﻿<table class="table table-striped table-condensed table-bordered table-no-margin table-curved table-curved-no-footer submission-addresses">
    <thead>
        <tr>
            <th class="checkbox-column">
                <input type="checkbox" class="checkbox-inline" ng-click="vm.ToggleAllAddresses()" ng-checked="vm.AllAddressesSelected()" />
            </th>
            <th>Type</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Cd</th>
            <th class="primary-column">Primary</th>
            <th class="update-column" ng-if="vm.AddressUpdatable"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="a in vm.AddressGroupings">
            <td class="checkbox-column">
                <input type="checkbox" class="checkbox-inline" ng-click="vm.SelectAddress(a.Client)" ng-checked="vm.IsAddressSelected(a.Client)" />
            </td>
            <td class="type-column" dynamic-name="'AddressTypeSection[' + $index + ']'">
                {{ a.Client.AddressTypes.join(', ') }}
            </td>
            <td>
                {{a.Display.Address1}} {{a.Display.Address2}}
            </td>
            <td>
                {{a.Display.City}}
            </td>
            <td>
                {{a.Display.State}}
            </td>
            <td>
                {{a.Display.PostalCode | postalCode}}
            </td>
            <td class="primary-column">
                <i class="fa fa-check" ng-show="a.Client.IsPrimary"></i>
            </td>
            <td class="update-column" ng-if="vm.AddressUpdatable">
                <span ng-if="!a.AddressIsUpToDate">
                    <a ng-click="vm.RefreshAddress(a)" title="Update to {{a.Client | address}}">Update</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>