﻿<span ng-switch="vm.SubmissionWorkflow.AgencyOptionsAreLimited">
    <span ng-switch-when="true">
        <select class="form-control"
                ng-model="vm.SubmissionWorkflow.TypeAheadAgency"
                ng-change="vm.SubmissionWorkflow.SelectAgency(vm.SubmissionWorkflow.TypeAheadAgency, true, null)"
                name="Agency"
                ng-class="{'ng-invalid-serverwarning': vm.SubmissionWorkflow.AgencyInWarningState}"
                ng-options="i as (i | agencyTooltip) for i in vm.SubmissionWorkflow.LimitedAgencyOptions track by i.Code"
                validated-field>
            <option></option>
        </select>
    </span>
    <span ng-switch-when="false" class="item-select-with-advanced-search">
        <div class="pull-left">
            <span ng-model="vm.SubmissionWorkflow.TypeAheadAgency"
                  ng-change="vm.SubmissionWorkflow.SelectAgency(vm.SubmissionWorkflow.TypeAheadAgency, true, null)"
                  name="Agency"
                  ng-class="{'ng-invalid-serverwarning': vm.SubmissionWorkflow.AgencyInWarningState}"
                  item-select="vm.AgencySelectOptions"
                  validated-field></span>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default" tabindex="-1" ng-disabled="vm.AppState.Loading" ng-click="vm.SubmissionWorkflow.OpenAgencySearchModal()" title="Agency Search"><i class="fa fa-search"></i></button>
        </div>
    </span>
</span>
