﻿<div class="submission-detail padded-page-container" ng-hide="vm.AppState.PageGenerating">
    <form role="form" name="vm.SubmissionForm">
        <div class="content-header with-section-headings affix">
            <div class="container">
                <div class="pull-left">
                    <ul class="list-inline">
                        <li>
                            <label>Submission</label>
                            <div>
                                {{vm.Submission.SubmissionNumber | NA}}
                            </div>
                        </li>
                        <li ng-if="vm.SubmissionWorkflow.SubmissionType.SequenceNumber.Enabled">
                            <label title="Sequence">Seq.</label>
                            <div>
                                {{vm.Submission.SequenceNumber | NA}}
                            </div>
                        </li>
                        <li>
                            <label>Type</label>
                            <div>
                                {{vm.SubmissionWorkflow.SubmissionType.TypeName | NA}}
                            </div>
                        </li>
                        <li ng-show="vm.SubmissionWorkflow.SubmissionType.PolicyNumber.Enabled">
                            <label>Policy</label>
                            <div>
                                {{((vm.Submission.PolicyNumber || '') + ((vm.Submission.PolicyMod) ? ' - ' + vm.Submission.PolicyMod : '' )) | NA}}
                            </div>
                        </li>
                        <li>
                            <label>Status</label>
                            <div>
                                <span ng-class="{'text-danger' : vm.Submission.IsDeleted}">
                                    {{(vm.Submission.IsDeleted) ? 'Deleted' : vm.Submission.StatusAsObject.Code}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading" ng-click="vm.Save()">Save</button>
                </div>
            </div>
        </div>
        <div class="content-detail with-section-headings">
            <div class="container">
                <alert ng-show="vm.Editing && vm.ClientDetails == null" type="'danger'">
                    Unable to retrieve client information from client system.
                </alert>
                <alert ng-show="vm.SubmissionForm.ValidationErrors.length > 0" type="'danger'">
                    <ul>
                        <li ng-repeat="v in vm.SubmissionForm.ValidationErrors">{{v.Message}}</li>
                    </ul>
                </alert>
                <div class="primary-information-container">
                    <div class="form-group property-information">
                        <label>Submitted Date</label>
                        <div title="{{vm.Submission.SubmittedDate | date:'MM/dd/yyyy h:mma'}}">
                            {{vm.Submission.SubmittedDate | date:'MM/dd/yyyy'}} ({{vm.Submission.SubmittedDate | fromNow}})
                        </div>
                    </div>
                    <submission-linear-form submission-workflow="vm.SubmissionWorkflow" submission="vm.Submission" visibility-key="VisibleOnBPM"></submission-linear-form>
                </div>
            </div>
        </div>
    </form>
</div>
