﻿<div ng-switch="vm.SubmissionNames.length">
    <div ng-switch-when="0">This submission does not have any additional names.</div>
    <div ng-switch-default>
        <table class="table table-striped table-condensed table-bordered table-no-margin table-curved table-curved-no-footer">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in vm.SubmissionNames">
                    <td>
                        {{n.BusinessName}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>