﻿<div ng-switch="vm.NameGroupings.length">
    <div ng-switch-when="0">{{null | NA}}</div>
    <div ng-switch-default>
        <table class="table table-striped table-condensed table-bordered table-no-margin table-curved table-curved-no-footer">
            <thead>
                <tr>
                    <th class="checkbox-column">
                        <input type="checkbox" class="checkbox-inline" ng-click="vm.ToggleAllNames()" ng-checked="vm.AllNamesSelected()" />
                    </th>
                    <th>Name</th>
                    <th class="update-column" ng-if="vm.NameUpdatable"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in vm.NameGroupings">
                    <td class="checkbox-column">
                        <input type="checkbox" class="checkbox-inline" ng-click="vm.SelectName(n.Client)" ng-checked="vm.IsNameSelected(n.Client)" />
                    </td>
                    <td>
                        {{n.Display.BusinessName}}
                    </td>
                    <td class="update-column" ng-if="vm.NameUpdatable">
                        <span ng-if="!n.IsUpToDate">
                            <a ng-click="vm.RefreshName(n)" title="Update to {{n.Client.BusinessName}}">Update</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
