﻿<table ng-show="notes.length > 0" class="table table-striped table-condensed table-bordered submission-notes">
    <thead>
        <tr>
            <th class="date-column">Date</th>
            <th>Note</th>
            <th class="author-column">Added By</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="note in notes">
            <td>
                <copyable enabled="isCopyable">{{note.Date | date:'MM/dd/yyyy h:mma'}}</copyable>
            </td>
            <td>
                <copyable enabled="isCopyable">{{note.Text}}</copyable>
            </td>
            <td>
                <copyable enabled="isCopyable">{{note.Author}}</copyable>
            </td>
        </tr>
    </tbody>
</table>
