﻿<div class="editable-collection">
    <table class="table table-striped table-condensed table-bordered table-curved submission-notes">
        <thead>
            <tr>
                <th class="date-column">Date</th>
                <th>Note</th>
                <th class="author-column">Added By</th>
                <th class="delete-button-column"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="note in notes">
                <td>
                    {{note.Date | date:'MM/dd/yyyy h:mma'}}
                </td>
                <td>
                    <span ng-hide="note.IsNew">{{note.Text}}</span>
                    <textarea ng-show="note.IsNew" class="form-control" dynamic-name="'Note[' + $index + ']-Text'" ng-model="note.Text"></textarea>
                </td>
                <td>
                    {{note.Author}}
                </td>
                <td class="delete-button-column">
                    <button type="button" class="btn btn-link" ng-disabled="AppState.Loading || (!AllowDelete && !note.IsNew)" ng-click="DeleteNote(note)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-link btn-add" ng-disabled="AppState.Loading" ng-click="AddNote()">
                        <i class="fa fa-plus-circle"></i><span>{{(notes.length == 0) ? 'Add Notes' : 'Add Note'}}</span>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>