﻿<div ng-switch="vm.PolicySymbols.length > 0">
    <div ng-switch-when="true">
        <div ng-repeat="ps in vm.PolicySymbols">
            {{ps | codeItem}}
        </div>
    </div>
    <div ng-switch-when="false">
        {{null | NA}}
    </div>
</div>