﻿<div class="editable-collection">
    <table class="table table-striped table-condensed table-bordered table-curved table-no-margin package-policy-symbols">
        <thead>
            <tr>
                <th class="code-column">Code</th>
                <th>Description</th>
                <th class="delete-button-column"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in vm.PolicySymbols">
                <td class="code-column">
                    {{p.Code}}
                </td>
                <td>
                    {{p.Description}}
                </td>
                <td class="delete-button-column">
                    <button type="button" tabindex="-1" class="btn btn-link" ng-disabled="vm.AppState.Loading" ng-click="vm.Delete(p)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-switch="vm.ShowInput">
                <td colspan="3" ng-switch-when="false">
                    <button type="button" class="btn btn-link btn-add" ng-disabled="vm.AppState.Loading" ng-click="vm.Add()">
                        <i class="fa fa-plus-circle"></i><span>{{(vm.PolicySymbols.length == 0) ? 'Add Policy Symbols' : 'Add Policy Symbol'}}</span>
                    </button>
                </td>
                <td colspan="3" ng-switch-when="true">
                    <span name="PolicySymbolSearchInput" ng-model="vm.SelectedPolicySymbol" ng-change="vm.AddPolicySymbol(vm.SelectedPolicySymbol)" item-select="{ source: vm.PolicySymbolSearch, multiSelect: true, appendToBody: true, minLength: 0, matchTemplate: 'item-select-code-item', onBlur: vm.InputBlurred}" placeholder="Code or Description Search"></span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>