﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Status Details</h2>
    </div>
    <div class="modal-body">
        <alert type="'info'" ng-show="vm.Submission.IsDeleted">
            This submission was deleted <span title="{{vm.Submission.DeletedDate | date:'MM/dd/yyyy h:mma'}}">{{vm.Submission.DeletedDate | fromNow}}</span> by {{vm.Submission.DeletedBy}}
        </alert>
        <div class="form-group row">
            <label class="col-sm-2 control-label">Status Date</label>
            <div class="col-sm-10">
                {{vm.Submission.StatusDate | date:'MM/dd/yyyy'}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">Reason</label>
            <div class="col-sm-10">
                {{vm.Submission.StatusReason | NA}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">Notes</label>
            <div class="col-sm-10">
                {{vm.Submission.StatusNotes | NA}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">Status History</label>
            <div class="col-sm-10">
                <table class="table table-striped table-condensed table-bordered table-no-margin">
                    <thead>
                        <tr>
                            <th>Status Date</th>
                            <th>Status</th>
                            <th>Changed By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="h in vm.Submission.StatusHistory | orderBy: '-IsActive'" ng-class="{'soft-deleted': !h.IsActive}">
                            <td>
                                {{h.Date | date:'MM/dd/yyyy'}}
                            </td>
                            <td>
                                <div>{{h.Status }}</div>
                                <div class="text-muted" ng-if="h.StatusReason">Reason: {{h.StatusReason}}</div>
                                <div class="text-muted" ng-if="h.StatusNote">Note: {{h.StatusNote}}</div>
                            </td>
                            <td>
                                <div>{{h.ChangeUser }}</div>
                                <div class="text-muted">{{h.ChangeDate | date:'MM/dd/yyyy h:mma'}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.Close()">Close</button>
    </div>
</div>