﻿<div>
    <div class="row form-group">
        <div class="col-md-2">
            <label>Status</label>
        </div>
        <div class="col-md-4">
            <select class="form-control" name="Status" ng-model="vm.Item.StatusAsObject" ng-options="i as i.Code for i in vm.StatusOptions track by i.Code" ng-change="vm.StatusChanged()" validated-field></select>
        </div>
        <div class="col-md-6">
            <validation-message property="Status"></validation-message>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            <label>Status Date</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="StatusDate" class="form-control" placeholder="mm/dd/yyyy" ng-model="vm.Item.StatusDate" date-picker validated-field />
        </div>
        <div class="col-md-6">
            <validation-message property="StatusDate"></validation-message>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            <label>Status Reason</label>
        </div>
        <div class="col-md-4">
            <select class="form-control" name="StatusReason" ng-model="vm.Item.StatusReason" ng-disabled="vm.Item.StatusAsObject == null || vm.Item.StatusAsObject.Reasons.length == 0" ng-options="i.Code as i.Code for i in vm.Item.StatusAsObject.Reasons" ng-change="vm.StatusElementChanged()" validated-field>
                <option></option>
            </select>
        </div>
        <div class="col-md-6">
            <validation-message property="StatusReason"></validation-message>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionType.StatusNotes.VisibleOnAdd">
        <div class="col-md-2">
            <label>Status Notes</label>
        </div>
        <div class="col-md-4">
            <textarea class="form-control" ng-model="vm.Item.StatusNotes" ng-change="vm.StatusElementChanged()"></textarea>
        </div>
    </div>
</div>