﻿<div>
    <div class="form-group" ng-if="vm.Revert">
        <label class="col-sm-3 control-label">Revert To</label>
        <div class="col-sm-9">
            <select class="form-control" ng-model="vm.Item.RevertStatusTo" ng-options="i as (i.Status + ' (' + (i.Date | date:'MM/dd/yyyy' ) + ')') for i in vm.HistoryOptions" ng-change="vm.RevertStatusChanged()"></select>
        </div>
    </div>
    <div class="form-group" ng-if="!vm.Revert">
        <label class="col-sm-3 control-label">Status</label>
        <div class="col-sm-9">
            <select class="form-control" ng-model="vm.Item.StatusAsObject" ng-options="i as i.Code for i in vm.StatusOptions track by i.Code" ng-change="vm.StatusChanged()"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Status Date</label>
        <div class="col-sm-9">
            <input type="text" name="StatusDate" class="form-control date-input" ng-model="vm.Item.StatusDate" ng-disabled="vm.Revert" date-picker />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Reason</label>
        <div class="col-sm-9">
            <select class="form-control" ng-model="vm.Item.StatusReason" ng-disabled="vm.Item.StatusAsObject == null || vm.Item.StatusAsObject.Reasons.length == 0" ng-options="i.Code as i.Code for i in vm.Item.StatusAsObject.Reasons" ng-change="vm.StatusElementChanged()">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="vm.SubmissionType.StatusNotes.Enabled">
        <label class="col-sm-3 control-label">Notes</label>
        <div class="col-sm-9">
            <textarea class="form-control" ng-model="vm.Item.StatusNotes" ng-change="vm.StatusElementChanged()"></textarea>
        </div>
    </div>
</div>