﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Renew Submission</h2>
    </div>
    <div class="modal-body">
        <form role="form" name="vm.SubmissionForm">
            <alert ng-show="vm.SubmissionForm.ValidationErrors.length > 0" type="'danger'">
                <ul>
                    <li ng-repeat="v in vm.SubmissionForm.ValidationErrors">{{v.Message}}</li>
                </ul>
            </alert>
            <div class="primary-information-container">
                <submission-linear-form submission-workflow="vm.SubmissionWorkflow" submission="vm.Submission" visibility-key="VisibleOnRenewal"></submission-linear-form>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.Close()">Close</button>
    </div>
</div>