﻿<div>
    <div class="form-group property-information" ng-show="vm.SubmissionWorkflow.SubmissionType.EffectiveDate[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Required">{{vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Label}}</label>
        <div class="date-input">
            <input type="text" class="form-control" name="EffectiveDate" ng-model="vm.Submission.EffectiveDate" ng-change="vm.SubmissionWorkflow.EffectiveDateChanged(vm.Submission, true)" date-picker validated-field="{icon: true}" />
        </div>
    </div>
    <div class="form-group property-information" ng-show="vm.SubmissionWorkflow.SubmissionType.ExpirationDate[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Required">{{vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Label}}</label>
        <div class="date-input">
            <input type="text" class="form-control" name="ExpirationDate" ng-model="vm.Submission.ExpirationDate" date-picker validated-field="{icon: true}" />
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit.Label}}</label>
        <div>
            <select class="form-control" name="UnderwritingUnit" ng-model="vm.Submission.UnderwritingUnit" ng-change="vm.SubmissionWorkflow.UnderwritingUnitChanged(vm.Submission)" ng-options="i as (i | codeItemEdit) for i in vm.SubmissionWorkflow.UnderwritingUnits track by i.Code" validated-field="{icon: true}">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PolicySymbol[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.PolicySymbol.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicySymbol.Label}}</label>
        <div>
            <select class="form-control" name="PolicySymbol" ng-model="vm.Submission.PolicySymbol" ng-options="i as (i | codeItemEdit) for i in vm.SubmissionWorkflow.PrimaryPolicySymbols track by i.Code" validated-field="{icon: true}">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols.Required">{{vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols.Label}}</label>
        <div>
            <package-policy-symbols-write policy-symbols="vm.Submission.PackagePolicySymbols"></package-policy-symbols-write>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.Underwriter[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.Underwriter.Required">{{vm.SubmissionWorkflow.SubmissionType.Underwriter.Label}}</label>
        <div>
            <select class="form-control" name="Underwriter" ng-model="vm.Submission.Underwriter" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.Underwriters track by i.UserName" validated-field="{icon: true}">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst.Label}}</label>
        <div>
            <select class="form-control" name="UnderwritingAnalyst" ng-model="vm.Submission.UnderwritingAnalyst" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.UnderwritingAnalysts track by i.UserName" validated-field="{icon: true}">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician.Label}}</label>
        <div>
            <select class="form-control" name="UnderwritingTechnician" ng-model="vm.Submission.UnderwritingTechnician" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.UnderwritingTechnicians track by i.UserName" validated-field="{icon: true}">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PolicyPremium[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.PolicyPremium.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicyPremium.Label}}</label>
        <div>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control" name="PolicyPremium" type="text" ng-model="vm.Submission.PolicyPremium" />
            </div>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PriorCarrier[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.PriorCarrier.Required">{{vm.SubmissionWorkflow.SubmissionType.PriorCarrier.Label}}</label>
        <div>
            <span name="PriorCarrier" validated-field="{icon: true}" ng-model="vm.Submission.PriorCarrier" item-select="{ source: vm.SubmissionWorkflow.CarrierSearch, display: 'i.Description', matchTemplate: 'item-select-carrier', appendToBody: true, minLength: 1}"></span>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium.Required">{{vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium.Label}}</label>
        <div>
            <div class="input-group" validated-field="{icon: true, iconOnly: true, names: ['PriorCarrierPremium']}">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="PriorCarrierPremium" ng-model="vm.Submission.PriorCarrierPremium" validated-field />
            </div>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.AcquiringCarrier[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.AcquiringCarrier.Required">{{vm.SubmissionWorkflow.SubmissionType.AcquiringCarrier.Label}}</label>
        <div>
            <span name="AcquiringCarrier" validated-field="{icon: true}" ng-model="vm.Submission.AcquiringCarrier" item-select="{ source: vm.SubmissionWorkflow.CarrierSearch, display: 'i.Description', matchTemplate: 'item-select-carrier', appendToBody: true, minLength: 1}"></span>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.AcquiringCarrierPremium[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.AcquiringCarrierPremium.Required">{{vm.SubmissionWorkflow.SubmissionType.AcquiringCarrierPremium.Label}}</label>
        <div>
            <div class="input-group" validated-field="{icon: true, iconOnly: true, names: ['AcquiringCarrierPremium']}">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="AcquiringCarrierPremium" ng-model="vm.Submission.AcquiringCarrierPremium" validated-field />
            </div>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PolicySystem[vm.VisibilityKey]">
        <label is-required="vm.SubmissionWorkflow.SubmissionType.PolicySystem.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicySystem.Label}}</label>
        <div>
            <select class="form-control" name="PolicySystem" ng-model="vm.Submission.PolicySystem" ng-options="i as (i | codeItemEdit) for i in vm.SubmissionWorkflow.PolicySystems track by i.Code" validated-field>
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group property-information" ng-repeat="b in vm.Submission.CompanyCustomizationBindings" ng-show="b.Customization[vm.VisibilityKey]">
        <label is-required="b.Customization.Required">{{b.Customization.Description}}</label>
        <div>
            <company-customization-write binding="b"></company-customization-write>
        </div>
    </div>
</div>