﻿<div class="submission-detail" ng-hide="vm.AppState.PageGenerating">
    <form role="form" name="vm.SubmissionForm">
        <div class="content-header with-section-headings affix">
            <div class="container">
                <div class="pull-left">
                    <ul class="list-inline">
                        <li>
                            <label is-required="vm.CanEditSubmissionNumber && vm.Editing">Submission</label>
                            <div>
                                <editable-field editing="vm.CanEditSubmissionNumber && vm.Editing">
                                    <read>
                                        <div>{{vm.Submission.SubmissionNumber | NA}}</div>
                                    </read>
                                    <write>
                                        <input type="text" name="SubmissionNumber" class="form-control submission-number-input" ng-model="vm.Submission.SubmissionNumber" validated-field="{icon: true}" />
                                    </write>
                                </editable-field>
                            </div>
                        </li>
                        <li ng-if="vm.SubmissionWorkflow.SubmissionType.SequenceNumber.Enabled">
                            <label title="Sequence" is-required="vm.CanEditSubmissionNumber && vm.Editing">Seq.</label>
                            <div>
                                <editable-field editing="vm.CanEditSubmissionNumber && vm.Editing">
                                    <read>
                                        <div>{{vm.Submission.SequenceNumber | NA}}</div>
                                    </read>
                                    <write>
                                        <input type="text" name="SequenceNumber" class="form-control sequence-number-input" ng-model="vm.Submission.SequenceNumber" validated-field="{icon: true}" />
                                    </write>
                                </editable-field>
                            </div>
                        </li>
                        <li>
                            <label is-required="vm.Editing">Type</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>
                                        <div>{{vm.SubmissionWorkflow.SubmissionType.TypeName | NA}}</div>
                                    </read>
                                    <write>
                                        <select class="form-control" ng-model="vm.SubmissionWorkflow.SubmissionType" ng-change="vm.SubmissionWorkflow.TypeChanged(vm.Submission)" ng-options="i as i.TypeName for i in vm.SubmissionWorkflow.SubmissionTypes track by i.TypeName"></select>
                                    </write>
                                </editable-field>
                            </div>
                        </li>
                        <li ng-show="vm.SubmissionWorkflow.SubmissionType.PolicyNumber.Enabled">
                            <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.PolicyNumber.Required">Policy</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>
                                        <div>{{((vm.Submission.PolicyNumber || '') + ((vm.Submission.PolicyMod) ? ' - ' + vm.Submission.PolicyMod : '' )) | NA}}</div>
                                    </read>
                                    <write>
                                        <div validated-field="{icon: true, iconOnly: true, names: ['PolicyNumber', 'PolicyMod']}">
                                            <input type="text" name="PolicyNumber" class="form-control policy-number-input" ng-model="vm.Submission.PolicyNumber" placeholder="Number" validated-field />
                                            <input type="text" name="PolicyMod" class="form-control policy-number-input" ng-model="vm.Submission.PolicyMod" placeholder="Mod" ng-show="vm.SubmissionWorkflow.SubmissionType.PolicyMod.Enabled" validated-field />
                                        </div>
                                    </write>
                                </editable-field>
                            </div>
                        </li>
                        <li ng-hide="vm.Editing">
                            <label>Status</label>
                            <div>
                                <span class="cursor-pointer" ng-class="{'text-danger' : vm.Submission.IsDeleted}" ng-click="vm.OpenStatusDetails()">
                                    {{(vm.Submission.IsDeleted) ? 'Deleted' : vm.Submission.StatusAsObject.Code}}
                                    <i class="fa fa-info-circle"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div ng-if="vm.ShowActions" class="pull-right">
                    <div ng-if="vm.IsModal">
                        <div ng-show="vm.SearchWorkflow != null">
                            <button type="button" class="btn btn-default" ng-click="vm.SearchWorkflow.ModalSelectItem()">Select Submission</button>
                        </div>
                        <div ng-show="vm.AllowModalEdit">
                            <button type="button" class="btn btn-default" ng-click="vm.RedirectToEdit()">Edit Submission</button>
                        </div>
                    </div>
                    <div ng-if="!vm.IsModal">
                        <editable-field editing="vm.Editing">
                            <read>
                                <button type="button" ng-disabled="vm.AppState.Loading || vm.Submission.IsDeleted" class="btn btn-default" ng-click="vm.Edit()">Edit</button>
                                <div class="btn-group">
                                    <button type="button" ng-disabled="vm.AppState.Loading || vm.Submission.IsDeleted" class="btn btn-default" ng-click="vm.UpdateStatus(false)">Update Status</button>
                                    <button type="button" ng-disabled="vm.AppState.Loading || vm.Submission.IsDeleted" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a ng-click="vm.UpdateStatus(true)">Revert Status</a></li>
                                        <li><a ng-click="vm.Copy()">Copy Submission</a></li>
                                        <li><a ng-click="vm.Renew()">Renew Submission</a></li>
                                        <li ng-show="vm.CanSwitchClient"><a ng-click="vm.SwitchClient()">Switch Client</a></li>
                                        <li ng-show="vm.CanDeleteSubmission"><hr /></li>
                                        <li ng-show="vm.CanDeleteSubmission"><a ng-click="vm.Delete()">Delete Submission</a></li>
                                    </ul>
                                </div>
                            </read>
                            <write>
                                <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading" ng-click="vm.Save()">Save</button>
                                <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.Cancel()">Cancel</button>
                            </write>
                        </editable-field>
                    </div>
                </div>
                <div class="pull-right" ng-hide="vm.IsModal || vm.Editing">
                    <a class="header-link" ng-href="{{vm.SubmissionWorkflow.GetApplicationUrl(vm.Submission)}}">View Application</a>
                </div>
            </div>
        </div>
        <div class="content-detail with-section-headings">
            <alert ng-show="vm.Editing && vm.ClientDetails == null" type="'danger'">
                Unable to retrieve client information from client system.
            </alert>
            <alert ng-show="vm.SubmissionForm.ValidationErrors.length > 0" type="'danger'">
                <ul>
                    <li ng-repeat="v in vm.SubmissionForm.ValidationErrors">{{v.Message}}</li>
                </ul>
            </alert>
            <alert type="'warning'" ng-if="vm.Editing && vm.SubmissionWorkflow.AgencyInWarningState">
                <div ng-if="vm.SubmissionWorkflow.OriginalAgencySelection != null">
                    {{vm.SubmissionWorkflow.OriginalAgencySelection | codeItem}} referred to {{vm.SubmissionWorkflow.Agency | codeItem}}
                    as of {{vm.SubmissionWorkflow.OriginalAgencySelection.ReferralDate | date:'MM/dd/yyyy'}}.
                </div>
                <div ng-if="vm.SubmissionWorkflow.AgencyLicensedStateMessage != null">
                    {{vm.SubmissionWorkflow.AgencyLicensedStateMessage}}
                </div>
            </alert>
            <div class="primary-information-container">
                <div class="row primary-information-grid">
                    <div class="col-md-4">
                        <div class="form-group property-information">
                            <label>Client</label>
                            <div>
                                <div>
                                    <div ng-if="vm.IsModal || vm.Editing">
                                        <span>{{vm.SubmissionWorkflow.InsuredName}}</span>
                                        <span ng-if="vm.ClientDetails.NewInsuredName" class="refresh-insured-name"><a ng-click="vm.RefreshInsuredName()" tooltip="Update Insured Name to {{vm.ClientDetails.NewInsuredName}}">Update</a></span>
                                    </div>
                                    <div ng-if="!vm.IsModal && !vm.Editing">
                                        <a ng-href="{{vm.SubmissionWorkflow.GetClientUrl(vm.Submission)}}" title="{{ { ClientCoreId: vm.Submission.ClientCoreId } | clientTooltip}}">{{vm.SubmissionWorkflow.InsuredName}}</a> ({{vm.Submission.ClientCoreId}})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group property-information">
                            <label>Doing Business As</label>
                            <div>
                                <div>
                                    <div ng-if="vm.Editing">
                                        <select class="form-control" ng-model="vm.SubmissionWorkflow.InsuredDBA" ng-options="i as i for i in vm.ClientDetails.DoingBusinessAsNames" ng-disabled="vm.ClientDetails.DoingBusinessAsNames.length == 0">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div ng-if="!vm.Editing">
                                        {{vm.SubmissionWorkflow.InsuredDBA | NA}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group property-information" ng-show="vm.SubmissionWorkflow.SubmissionType.Agency.Enabled">
                            <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.Agency.Required">{{vm.SubmissionWorkflow.SubmissionType.Agency.Label}}</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>
                                        <div ng-if="vm.Submission.Agency == null">
                                            {{null | NA}}
                                        </div>
                                        <div ng-if="vm.Submission.Agency">
                                            <span ng-switch="vm.IsModal" title="{{vm.Submission.Agency | agencyTooltip}}">
                                                <span ng-switch-when="true">
                                                    {{vm.Submission.Agency.Name}} ({{vm.Submission.Agency.Code}})
                                                </span>
                                                <span ng-switch-default>
                                                    <a ng-href="{{vm.SubmissionWorkflow.GetAgencyUrl(vm.Submission)}}">{{vm.Submission.Agency.Name}}</a> ({{vm.Submission.Agency.Code}})
                                                </span>
                                            </span>
                                        </div>
                                    </read>
                                    <write>
                                        <submission-agency-search submission-workflow="vm.SubmissionWorkflow"></submission-agency-search>
                                    </write>
                                </editable-field>
                            </div>
                        </div>
                        <div class="form-group property-information" ng-show="vm.SubmissionWorkflow.SubmissionType.Agent.Enabled">
                            <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.Agent.Required">{{vm.SubmissionWorkflow.SubmissionType.Agent.Label}}</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>{{((vm.Submission.Agent != null) ? vm.Submission.Agent.FullName : (vm.Submission.AgentUnspecifiedReason != null) ? '(' + vm.Submission.AgentUnspecifiedReason + ')' : '') | NA}}</read>
                                    <write>
                                        <select class="form-control" name="Agent" ng-disabled="vm.SubmissionWorkflow.TypeAheadAgency == null" ng-model="vm.SubmissionWorkflow.Agent" ng-options="i as i.FullName group by i.Type for i in vm.SubmissionWorkflow.Agents" validated-field="{icon: true}">
                                            <option></option>
                                        </select>
                                    </write>
                                </editable-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group property-information" ng-show="vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Enabled">
                            <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Required">{{vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Label}}</label>
                            <div class="date-input">
                                <editable-field editing="vm.Editing">
                                    <read>{{vm.Submission.EffectiveDate | date:'MM/dd/yyyy'}}</read>
                                    <write>
                                        <input type="text" class="form-control" name="EffectiveDate" ng-model="vm.Submission.EffectiveDate" ng-change="vm.SubmissionWorkflow.EffectiveDateChanged(vm.Submission, true)" date-picker validated-field="{icon: true}" />
                                    </write>
                                </editable-field>
                            </div>
                        </div>
                        <div class="form-group property-information" ng-show="vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Enabled">
                            <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Required">{{vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Label}}</label>
                            <div class="date-input">
                                <editable-field editing="vm.Editing">
                                    <read>{{vm.Submission.ExpirationDate | date:'MM/dd/yyyy'}}</read>
                                    <write>
                                        <input type="text" class="form-control" name="ExpirationDate" ng-model="vm.Submission.ExpirationDate" date-picker validated-field="{icon: true}" />
                                    </write>
                                </editable-field>
                            </div>
                        </div>
                        <div class="form-group property-information">
                            <label>Submitted Date</label>
                            <div title="{{vm.Submission.SubmittedDate | date:'MM/dd/yyyy h:mma'}}">
                                {{vm.Submission.SubmittedDate | date:'MM/dd/yyyy'}} ({{vm.Submission.SubmittedDate | fromNow}})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group property-information">
                            <label>Duplicate of</label>
                            <div>
                                <editable-field editing="vm.Editing">
                                    <read>
                                        <div ng-if="vm.Submission.DuplicateOfSubmission == null">
                                            {{null | NA}}
                                        </div>
                                        <div ng-if="vm.Submission.DuplicateOfSubmission">
                                            <div ng-switch="IsModal">
                                                <div ng-switch-when="true">
                                                    Submission #{{vm.Submission.DuplicateOfSubmission.SubmissionNumber}}
                                                    <span ng-if="vm.Submission.Company.CompanyNumber != vm.Submission.DuplicateOfSubmission.Company.CompanyNumber">({{vm.Submission.DuplicateOfSubmission.Company.Abbreviation}})</span>
                                                </div>
                                                <div ng-switch-default>
                                                    <a ng-href="{{vm.SubmissionWorkflow.GetSubmissionUrl(vm.Submission.DuplicateOfSubmission)}}" title="{{vm.Submission.DuplicateOfSubmission | submissionTooltip}}">
                                                        Submission #{{vm.Submission.DuplicateOfSubmission.SubmissionNumber}}
                                                        <span ng-if="vm.Submission.Company.CompanyNumber != vm.Submission.DuplicateOfSubmission.Company.CompanyNumber">({{vm.Submission.DuplicateOfSubmission.Company.Abbreviation}})</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </read>
                                    <write>
                                        <div class="item-select-with-advanced-search">
                                            <div class="pull-left">
                                                <span ng-model="vm.Submission.DuplicateOfSubmission" item-select="{ source: vm.SubmissionWorkflow.DuplicatesAutoCompleteSearch, display: '\'Submission #\' + i.Id', tooltip: 'i | submissionTooltip', matchTemplate: 'item-select-submission', expand: vm.OpenSubmissionModal, minLength: 5}"></span>
                                            </div>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default" tabindex="-1" ng-disabled="vm.AppState.Loading" ng-click="vm.SubmissionWorkflow.OpenDuplicateSubmissionSearchModal()" title="Submission Search"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </write>
                                </editable-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondary-information-tabs" ng-switch="vm.IsModal">
                <div ng-switch-when="true">
                    <div class="nav-tab-bar">
                        <ul class="nav nav-tabs nav-tabs-borderless">
                            <li ng-class="{active: vm.CurrentTab == 0}"><a ng-click="vm.SetTab(0)">Policy Information</a></li>
                            <li ng-class="{active: vm.CurrentTab == 1}"><a ng-click="vm.SetTab(1)">Client Information</a></li>
                            <li ng-show="vm.SubmissionWorkflow.SubmissionType.Notes.Enabled" ng-class="{active: vm.CurrentTab == 2}"><a ng-click="vm.SetTab(2)"><collection-label title="Notes" count="vm.Submission.Notes.length"></collection-label></a></li>
                            <li ng-class="{active: vm.CurrentTab == 3}"><a ng-click="vm.SetTab(3)"><collection-label title="Related Submissions" count="vm.RelatedSubmissionCount"></collection-label></a></li>
                        </ul>
                    </div>
                    <div class="tab-detail">
                        <div ng-include="vm.CurrentTabTemplateUrl"></div>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="nav-tab-bar">
                        <ul class="nav nav-tabs nav-tabs-borderless">
                            <li ui-sref-active="active" validated-tab="{names: ['PolicySymbol','UnderwritingUnit','Underwriter','UnderwritingAnalyst', 'UnderwritingTechnician','PriorCarrier','PriorCarrierPremium','AcquiringCarrier','AcquiringCarrierPremium'], regexs: ['Customization-.*']}">
                                <a ui-sref="cn.search.submission.policyinformation">Policy Information</a>
                            </li>
                            <li ui-sref-active="active" validated-tab="{names: ['Address']}">
                                <a ui-sref="cn.search.submission.clientinformation">Client Information</a>
                            </li>
                            <li ng-show="vm.SubmissionWorkflow.SubmissionType.Notes.Enabled" ui-sref-active="active">
                                <a ui-sref="cn.search.submission.notes"><collection-label title="Notes" count="vm.Submission.Notes.length"></collection-label></a>
                            </li>
                            <li ui-sref-active="active" ng-hide="vm.Editing">
                                <a ui-sref="cn.search.submission.relatedsubmissions"><collection-label title="Related Submissions" count="vm.RelatedSubmissionCount"></collection-label></a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-detail">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
