﻿.submission-detail .content-header [name="SubmissionNumber"] {
  width: 80px;
}
.submission-detail .content-header [name="SequenceNumber"] {
  width: 40px;
}
.submission-detail .content-header [name="PolicyNumber"] {
  width: 100px;
  display: inline-block;
}
.submission-detail .content-header [name="PolicyMod"] {
  width: 45px;
  display: inline-block;
}
.submission-detail .content-header i.fa-info-circle {
  font-size: 16px;
}
.submission-detail .content-detail .secondary-information-tabs {
  margin-top: 15px;
}
.submission-detail .content-detail .refresh-insured-name {
  margin-left: 7px;
}
.submission-detail .content-detail .related-submissions-tab table {
  margin-bottom: 10px;
}
.submission-detail .content-detail .class-codes-container {
  margin-bottom: 275px;
}
