﻿.submission-detail {
    .content-header {
        [name="SubmissionNumber"] {
            width: 80px;
        }

        [name="SequenceNumber"] {
            width: 40px;
        }

        [name="PolicyNumber"] {
            width: 100px;
            display: inline-block;
        }

        [name="PolicyMod"] {
            width: 45px;
            display: inline-block;
        }

        i.fa-info-circle {
            font-size: 16px;
        }
    }

    .content-detail {
        .secondary-information-tabs {
            margin-top: 15px;
        }

        .refresh-insured-name {
            margin-left: 7px;
        }

        .related-submissions-tab {
            table {
                margin-bottom: 10px;
            }
        }

        .class-codes-container {
            margin-bottom: 275px;
        }
    }
}
