﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Submission #{{vm.SubmissionId}}</h2>
    </div>
    <div class="modal-body">
        <div class="menu-layout search-container">
            <div class="menu-layout-detail-pane menu-hidden">
                <submission company-key="vm.CompanyKey" submission-id="vm.SubmissionId" is-modal="true" allow-modal-edit="vm.AllowModalEdit"></submission>
            </div>
        </div>
    </div>
</div>