﻿.administration .administration-company-customizations .primary-actions-container div[name="ExistingCustomizationsContainer"] {
  display: inline-block;
  margin-top: 5px;
  width: 80%;
  max-width: 250px;
}
.administration .administration-company-customizations .primary-view-container ul.options-actions li:first-child {
  width: calc(100% - 100px);
}
.administration .administration-company-customizations .primary-view-container .customization-options {
  max-height: 400px;
  overflow: auto;
}
