﻿.administration {
    .administration-company-customizations {
        .primary-actions-container {
            div[name="ExistingCustomizationsContainer"] {
                display: inline-block;
                margin-top: 5px;
                width: 80%;
                max-width: 250px;
            }
        }

        .primary-view-container {
            ul.options-actions {
                li:first-child {
                    width: ~"calc(100% - 100px)";
                }
            }

            .customization-options {
                max-height: 400px;
                overflow: auto;
            }
        }
    }
}