﻿<form role="form" name="vm.CustomizationForm" ng-submit="vm.SaveCustomization()">
    <alert ng-repeat="v in vm.CustomizationForm.ValidationErrors" type="'danger'">{{v.Message}}</alert>
    <div>
        <h3>Details</h3>
        <div class="form-group property-information">
            <label is-required="true">Description</label>
            <div>
                <input type="text" class="form-control" ng-model="vm.SelectedCustomization.Description" ng-disabled="!vm.IsNew" name="Description" />
            </div>
        </div>
        <div class="form-group property-information">
            <label is-required="true">Customization Usage</label>
            <div>
                <select class="form-control" ng-model="vm.SelectedCustomization.Usage" ng-disabled="!vm.IsNew" ng-options="ut.Code as ut.Description for ut in vm.UsageTypes"></select>
            </div>
        </div>
        <div class="form-group property-information">
            <label is-required="true">Customization Type</label>
            <div>
                <select class="form-control" ng-model="vm.SelectedCustomization.DataType" ng-options="dt.Code as dt.Description for dt in vm.DataTypes"></select>
            </div>
        </div>
        <div class="form-group property-information">
            <label><abbr title="If a date is entered, this will no longer show on {{vm.SelectedCustomization.Usage}}s past that date">Expiration Date</abbr></label>
            <div>
                <input type="text" class="form-control date-input" ng-model="vm.SelectedCustomization.ExpirationDate" date-picker />
            </div>
        </div>
        <div class="form-group property-information">
            <label>Required</label>
            <div>
                <select class="form-control" ng-model="vm.SelectedCustomization.Required" ng-options="i.value as i.text for i in [{ value: true, text: 'Yes' }, { value: false, text: 'No' }]"></select>
            </div>
        </div>
        <div class="form-group property-information">
            <label><abbr title="Show when a new {{vm.SelectedCustomization.Usage}} is being created (it will always be shown when editing an existing {{vm.SelectedCustomization.Usage}})">Visible on Add</abbr></label>
            <div>
                <select class="form-control" ng-model="vm.SelectedCustomization.VisibleOnAdd" ng-options="i.value as i.text for i in [{ value: true, text: 'Yes' }, { value: false, text: 'No' }]"></select>
            </div>
        </div>
        <div class="form-group property-information" ng-show="vm.SelectedCustomization.DataType != 'List'">
            <label>Read Only</label>
            <div>
                <select class="form-control" ng-model="vm.SelectedCustomization.ReadOnly" ng-options="i.value as i.text for i in [{ value: true, text: 'Yes' }, { value: false, text: 'No' }]"></select>
            </div>
        </div>
        <div class="form-group property-information" ng-show="vm.SelectedCustomization.Usage == 'Submission'">
            <label><abbr title="Setting this to 'Yes' will allow this customization to appear on the shortened submission screen used via BPM">Visible on BPM Screen</abbr></label>
            <div>
                <select class="form-control" ng-model="vm.SelectedCustomization.VisibleOnBPM" ng-options="i.value as i.text for i in [{ value: true, text: 'Yes' }, { value: false, text: 'No' }]"></select>
            </div>
        </div>
        <div class="form-group property-information" ng-show="vm.SelectedCustomization.Usage == 'Submission'">
            <label><abbr title="Occurs during Create Application process (Add Policy) and when adding a new submission to an existing application">Allow Value to be Copied</abbr></label>
            <div>
                <select class="form-control" ng-model="vm.SelectedCustomization.ExcludeValueOnCopy" ng-options="i.value as i.text for i in [{ value: false, text: 'Yes' }, { value: true, text: 'No' }]"></select>
            </div>
        </div>
        <div class="form-group property-information" ng-show="vm.SelectedCustomization.DataType == 'List' && !vm.IsNew">
            <label><abbr title="On new {{vm.SelectedCustomization.Usage}}s, this will be the default selected option">Default List Option</abbr></label>
            <div>
                <select class="form-control" ng-model="vm.SelectedCustomization.DefaultOption" ng-options="i as (i.Code + (((i.Description || '') == '') ? '' : ' - ' + i.Description)) for i in vm.SelectedCustomization.Options track by i.Code">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-right">
                <input type="submit" ng-disabled="vm.SavingCustomization" class="btn btn-primary" value="{{ vm.AddingNewCustomization ? 'Create Customization' : 'Save Customization' }}" />
            </div>
        </div>
        <div ng-show="vm.SelectedCustomization.DataType == 'List' && vm.OriginalDataType == 'List'">
            <h3>List Options</h3>
            <ul class="list-float options-actions">
                <li><input type="text" class="form-control" ng-model="vm.OptionsFilter" placeholder="Filter List" /></li>
                <li><button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.OpenOptionModal()">New Option</button></li>
            </ul>
            <div class="customization-options">
                <table class="table table-striped table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Expiration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in vm.SelectedCustomization.Options | filter: vm.OptionsFilter" class="cursor-pointer" ng-click="vm.OpenOptionModal(i)" ng-class="{'soft-deleted': i.ExpirationDate != null}">
                            <td>{{i.Code}}</td>
                            <td>{{i.Description}}</td>
                            <td>{{i.ExpirationDate | date:'MM/dd/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>