﻿<div>
    <p>Drag the table rows vertically to rearrange the order of the custom fields</p>
    <div ng-if="vm.SortClientList.length > 0" class="clearfix">
        <h3>Client</h3>
        <table class="table table-striped table-condensed table-outlined">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody data-ui-sortable="vm.SortSettings" ng-model="vm.SortClientList">
                <tr ng-class="{'soft-deleted': c.ExpirationDate != null}" ng-repeat="c in vm.SortClientList" class="cursor-pointer">
                    <td>{{c.Description}}</td>
                    <td>{{c.DataType}}</td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading" ng-click="vm.SaveOrder('Client', vm.SortClientList)">Save Changes</button>
        </div>
    </div>
    <div ng-if="vm.SortClassCodeList.length > 0" class="clearfix">
        <h3>Class Code</h3>
        <table class="table table-striped table-condensed table-outlined">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody data-ui-sortable="vm.SortSettings" ng-model="vm.SortClassCodeList">
                <tr ng-class="{'soft-deleted': c.ExpirationDate != null}" ng-repeat="c in vm.SortClassCodeList" class="cursor-pointer">
                    <td>{{c.Description}}</td>
                    <td>{{c.DataType}}</td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading" ng-click="vm.SaveOrder('Class Code', vm.SortClassCodeList)">Save Changes</button>
        </div>
    </div>
    <div ng-if="vm.SortSubmissionList.length > 0" class="clearfix">
        <h3>Submission</h3>
        <table class="table table-striped table-condensed table-outlined">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody data-ui-sortable="vm.SortSettings" ng-model="vm.SortSubmissionList">
                <tr ng-class="{'soft-deleted': c.ExpirationDate != null}" ng-repeat="c in vm.SortSubmissionList" class="cursor-pointer">
                    <td>{{c.Description}}</td>
                    <td>{{c.DataType}}</td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-disabled="vm.AppState.Loading" ng-click="vm.SaveOrder('Submission', vm.SortSubmissionList)">Save Changes</button>
        </div>
    </div>
</div>