﻿<form class="form-horizontal" role="form" name="vm.OptionForm" ng-submit="vm.SaveOption()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">List Option</h2>
    </div>
    <div class="modal-body">
        <alert ng-repeat="v in vm.OptionForm.ValidationErrors" type="'danger'">{{v.Message}}</alert>
        <div class="form-group">
            <label class="col-sm-3 control-label">Code</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="vm.Option.Code" name="Code" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="vm.Option.Description" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><abbr title="If a date is entered, this option will no longer show past that date">Expiration Date</abbr></label>
            <div class="col-sm-9">
                <input type="text" class="form-control date-input" ng-model="vm.Option.ExpirationDate" date-picker />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" ng-disabled="vm.SavingOption" class="btn btn-primary" value="{{ vm.IsNew ? 'Create Option' : 'Save Option' }}" />
        <button type="button" class="btn btn-default" ng-disabled="vm.SavingOption" ng-click="vm.Close()">Cancel</button>
    </div>
</form>