﻿<div class="administration-company-customizations row" ng-hide="vm.AppState.PageGenerating">
    <div class="col-md-4 primary-actions-container">
        <div>
            Select an existing custom field to edit:
            <div name="ExistingCustomizationsContainer">
                <select class="form-control" ng-model="vm.DropDownSelectedCustomization" ng-disabled="vm.AppState.Loading" ng-change="vm.SelectCustomization(vm.DropDownSelectedCustomization.Description)" ng-options="i as i.Description group by i.Usage for i in vm.CustomizationList">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="or-container">
            or
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.SelectCustomization('new')">Create New Customization</button>
        </div>
        <div class="or-container">
            or
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.NavigateToSort()">Sort Existing Customizations</button>
        </div>
    </div>
    <div class="col-md-8 primary-view-container">
        <div ui-view></div>
    </div>
</div>