﻿<div class="panel panel-default">
    <div class="panel-heading">
        User Roles
    </div>
    <div class="panel-body">
        <div class="single-row-form">
            <div class="form-row">
                <label>Existing Roles</label>
                <div>
                    <select class="form-control" ng-model="vm.SelectedUserRole" ng-options="i as i.Name for i in vm.UserRoles">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <div ng-show="vm.SelectedUserRole">
            <hr />
            <div class="single-row-form">
                <div class="form-row">
                    <label>Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="vm.SelectedUserRole.Name" />
                    </div>
                </div>
                <div class="form-row">
                    <label>Description</label>
                    <div>
                        <textarea class="form-control" ng-model="vm.SelectedUserRole.Description"></textarea>
                    </div>
                </div>
            </div>

            <h4 class="animate-slider-header" ng-click="vm.ToggleShowGeneralPermission()">
                <span class="pull-left">General Permissions</span>
                <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowGeneralPermissions, 'fa-chevron-down': !vm.ShowGeneralPermissions}"></i></span>
            </h4>
            <div animate-slider="vm.ShowGeneralPermissions">
                <table class="table table-striped table-condensed table-header-condensed table-outlined width-auto">
                    <thead>
                        <tr>
                            <th class="width-180">Name</th>
                            <th class="width-60">Granted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ViewCompanySummary</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.ViewCompanySummary" /></td>
                        </tr>
                        <tr>
                            <td>SearchSurveys</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.SearchSurveys" /></td>
                        </tr>
                        <tr>
                            <td>CreateSurveys</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.CreateSurveys" /></td>
                        </tr>
                        <tr>
                            <td>CreateServicePlans</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.CreateServicePlans" /></td>
                        </tr>
                        <tr>
                            <td>ViewSurveyReviewQueues</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.ViewSurveyReviewQueues" /></td>
                        </tr>
                        <tr>
                            <td>ViewLinks</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.ViewLinks" /></td>
                        </tr>
                        <tr>
                            <td>ViewSurveyHistory</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.ViewSurveyHistory" /></td>
                        </tr>
                        <tr>
                            <td>RequireSavedSearch</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.RequireSavedSearch" /></td>
                        </tr>
                        <tr>
                            <td>AdminUserRoles</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminUserRoles" /></td>
                        </tr>
                        <tr>
                            <td>AdminUserAccounts</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminUserAccounts" /></td>
                        </tr>
                        <tr>
                            <td>AdminFeeCompanies</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminFeeCompanies" /></td>
                        </tr>
                        <tr>
                            <td>AdminTerritories</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminTerritories" /></td>
                        </tr>
                        <tr>
                            <td>AdminRules</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminRules" /></td>
                        </tr>
                        <tr>
                            <td>AdminLetters</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminLetters" /></td>
                        </tr>
                        <tr>
                            <td>AdminReports</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminReports" /></td>
                        </tr>
                        <tr>
                            <td>AdminServicePlanTemplates</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminServicePlanTemplates" /></td>
                        </tr>
                        <tr>
                            <td>AdminResultsDisplay</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminResultsDisplay" /></td>
                        </tr>
                        <tr>
                            <td>AdminRecommendations</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminRecommendations" /></td>
                        </tr>
                        <tr>
                            <td>AdminLinks</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminLinks" /></td>
                        </tr>
                        <tr>
                            <td>AdminUnderwriters</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminUnderwriters" /></td>
                        </tr>
                        <tr>
                            <td>AdminClients</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminClients" /></td>
                        </tr>
                        <tr>
                            <td>AdminActivityTimes</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminActivityTimes" /></td>
                        </tr>
                        <tr>
                            <td>AdminHelpfulHints</td>
                            <td class="text-center"><input type="checkbox" ng-checked="vm.SelectedUserRole.GeneralPermissions.AdminHelpfulHints" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="animate-slider-header" ng-click="vm.ToggleShowSurveyPermissions()">
                <span class="pull-left">Survey Permissions</span>
                <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowSurveyPermissions, 'fa-chevron-down': !vm.ShowSurveyPermissions}"></i></span>
            </h4>
            <div animate-slider="vm.ShowSurveyPermissions">
                <table class="table table-striped table-condensed table-header-condensed table-outlined width-auto">
                    <thead>
                        <tr>
                            <th rowspan="2" class="width-160">Action</th>
                            <th colspan="3">Survey</th>
                            <th colspan="3">Service Visits</th>
                        </tr>
                        <tr>
                            <th class="width-60">Self</th>
                            <th class="width-60">Employees</th>
                            <th class="width-60">Vendors</th>
                            <th class="width-60">Self</th>
                            <th class="width-60">Employees</th>
                            <th class="width-60">Vendors</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="p in vm.SelectedUserRole.SurveyStatusPermissions">
                        <tr>
                            <td colspan="7"><h6>{{p.Status.Description}}</h6></td>
                        </tr>
                        <tr ng-repeat="a in p.Actions">
                            <td>{{a.Action.Description}}</td>
                            <td class="text-center"><input type="checkbox" ng-show="a.Survey != null" ng-checked="a.Survey.Self" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="a.Survey != null" ng-checked="a.Survey.Employee" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="a.Survey != null" ng-checked="a.Survey.Vendor" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="a.ServiceVisit != null" ng-checked="a.ServiceVisit.Self" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="a.ServiceVisit != null" ng-checked="a.ServiceVisit.Employee" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="a.ServiceVisit != null" ng-checked="a.ServiceVisit.Vendor" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="animate-slider-header" ng-click="vm.ToggleShowServicePlanPermissions()">
                <span class="pull-left">Service Plan Permissions</span>
                <span class="pull-right"><i class="fa" ng-class="{'fa-chevron-up': vm.ShowServicePlanPermissions, 'fa-chevron-down': !vm.ShowServicePlanPermissions}"></i></span>
            </h4>
            <div animate-slider="vm.ShowServicePlanPermissions">
                <table class="table table-striped table-condensed table-header-condensed table-outlined width-auto">
                    <thead>
                        <tr>
                            <th rowspan="2" class="width-160">Action</th>
                            <th colspan="3">Permissions</th>
                        </tr>
                        <tr>
                            <th class="width-60">Self</th>
                            <th class="width-60">Employees</th>
                            <th class="width-60">Vendors</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="p in vm.SelectedUserRole.ServicePlanStatusPermissions">
                        <tr>
                            <td colspan="4"><h6>{{p.Status.Description}}</h6></td>
                        </tr>
                        <tr ng-repeat="a in p.Actions">
                            <td>{{a.Action.Description}}</td>
                            <td class="text-center"><input type="checkbox" ng-checked="a.Permission.Self" /></td>
                            <td class="text-center"><input type="checkbox" ng-checked="a.Permission.Employee" /></td>
                            <td class="text-center"><input type="checkbox" ng-checked="a.Permission.Vendor" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>