﻿<script type="text/ng-template" id="item-select-code-item">
    <div>{{ i | codeItemEdit }}</div>
</script>
<script type="text/ng-template" id="item-select-agency">
    <div>{{ i.Code }} - {{ i.Name }}</div>
    <div class="secondary-data text-muted">
        <small>
            <address-view address="i.Address"></address-view>
        </small>
    </div>
</script>
<script type="text/ng-template" id="item-select-class-code">
    <div>{{ i.GLCodeValue || i.CodeValue }} - {{ i.Description }}</div>
    <div class="secondary-data text-muted small">
        <div ng-if="i.SicCode != null">SIC: {{ i.SicCode | codeItem }}</div>
        <div ng-if="i.NaicsCode != null">NAICS: {{ i.NaicsCode | codeItem }}</div>
    </div>
</script>
<script type="text/ng-template" id="item-select-sic-code">
    <div>{{ i.Code }} - {{ i.Description }}</div>
    <div class="secondary-data text-muted small">
        {{ i.Group }}
    </div>
</script>
<script type="text/ng-template" id="item-select-naics-code">
    <div>{{ i.Code }} - {{ i.Description }}</div>
    <div class="secondary-data text-muted small">
        {{ i.Group }}
    </div>
</script>
<script type="text/ng-template" id="item-select-user">
    <div>{{ i.UserName }}</div>
    <div class="secondary-data text-muted small">
        Active: {{ i.Active | YesNo }}
    </div>
</script>
<script type="text/ng-template" id="item-select-submission">
    <div>{{ i.Id }} - {{i.SubmissionType}}</div>
    <div class="secondary-data text-muted">
        <small>
            <div>{{i.Company.Abbreviation}} <span ng-if="i.PolicyNumber">Policy #{{ i.PolicyNumber }}</span></div>
            <div>Effective {{ i.EffectivePeriod }}</div>
            <div ng-if="i.Agency">Agency {{ i.Agency.Name }}</div>
        </small>
    </div>
</script>
<script type="text/ng-template" id="item-select-carrier">
    <div>{{ i.Description }}</div>
</script>