﻿<div class="panel">
    <div class="panel-heading">
        <h1>Manage Links</h1>
        <div class="pull-right">
            <button type="button" class="btn btn-info btn-xs" ng-click="vm.NewLink()"> [+] Add a Link</button>
        </div>
    </div>
    <div class=" panel-body">

        <div class="form-group">
            [Filter Input]
        </div>

        <hr />

        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="link in vm.Links" ng-click="vm.SelectLink(link)" style="cursor:pointer">
                    <td>{{link.DisplayOrder}}</td>
                    <td><a href="{{link.URL}}" target="_blank">{{link.Description}}</a></td>
                    <td>
                        <a href="" ng-click="vm.EditLink()"><i class="fa fa-pencil fa-lg"></i></a> <a href="" ng-click="vm.DeleteLink()"><i class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                </tr>
                <!--<tr>
                    <td>[seq]</td>
                    <td>[desc]</td>
                    <td><a href="" target="_blank">[url]</a></td>
                    <td>
                        <a href="" ng-click="vm.EditLink()"><i class="fa fa-pencil fa-lg"></i></a> <a href="" ng-click="vm.DeleteLink()"><i class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>[seq]</td>
                    <td>[desc]</td>
                    <td><a href="" target="_blank">[url]</a></td>
                    <td>
                        <a href="" ng-click="vm.EditLink()"><i class="fa fa-pencil fa-lg"></i></a> <a href="" ng-click="vm.DeleteLink()"><i class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                </tr>-->
                <!--
                <tr ng-repeat="link in Links.DisplayItems()" ng-click="SelectLink(link)" style="cursor:pointer">
                    <td>{{((Links.CurrentPage-1)*Links.ItemsPerPage) + $index + 1 }}</td>
                    <td>{{link.Description}}</td>
                    <td><a href="{{link.URL}}" target="_blank">{{link.URL}}</a></td>
                </tr>
                -->
            </tbody>
            <tfoot .ng-show="Links.ShowPager">
                <tr>
                    <td colspan="2" class="text-center">
                        [Pagination Control]
                        <!--<pagination on-select-page="Links.ChangePage(page)" boundary-links="true" total-items="Links.TotalItemCount" max-size="5" page="Links.CurrentPage" items-per-page="Links.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>-->
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
