﻿<div class="application-detail padded-page-container" ng-hide="vm.AppState.PageGenerating || vm.Submissions == null">
    <div class="content-header affix">
        <div class="container">
            <div class="pull-left">
                Application
            </div>
            <div class="pull-right">
                <div ng-switch="vm.AllowsMultipleSubmissions">
                    <div ng-switch-when="true" class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="vm.AddNewSubmission()">Add New Submission</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="vm.ManageSubmissions()">Manage Submissions</a></li>
                            <li><a ng-click="vm.UpdateStatus()">Update Status</a></li>
                        </ul>
                    </div>
                    <div ng-switch-default>
                        <button type="button" class="btn btn-default" ng-click="vm.UpdateStatus()">Update Status</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-detail">
        <div class="container">
            <alert type="'warning'" ng-show="vm.HasOFACHit">
                Potential OFAC match found for this client.  Please check with compliance before proceeding with this account.
            </alert>
            <div class="row form-group">
                <div class="col-md-2">
                    Client
                </div>
                <div class="col-md-10">
                    <div ng-if="vm.Clients.length == 0">{{null | NA}}</div>
                    <div ng-repeat="c in vm.Clients">
                        <a ng-href="{{c.Url}}" title="{{c | clientTooltip}}">{{c.Name}}</a>
                        <copyable text="c.Name"><i class="fa fa-files-o"></i></copyable>
                        &nbsp;&nbsp;(<copyable>{{c.ClientCoreId}}</copyable>)
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    Additional Names
                </div>
                <div class="col-md-10">
                    <div ng-if="vm.AdditionalNames.length == 0">{{null | NA}}</div>
                    <div ng-repeat="n in vm.AdditionalNames">
                        <copyable>{{n}}</copyable>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    Addresses
                </div>
                <div class="col-md-10">
                    <div ng-if="vm.Addresses.length == 0">{{null | NA}}</div>
                    <div ng-repeat="a in vm.Addresses">
                        <copyable>{{a}}</copyable>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    Type
                </div>
                <div class="col-md-10">
                    <div ng-if="vm.SubmissionTypes.length == 0">{{null | NA}}</div>
                    <div ng-repeat="t in vm.SubmissionTypes">
                        <copyable>{{t}}</copyable>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    Effective
                </div>
                <div class="col-md-10">
                    <div ng-if="vm.EffectivePeriods.length == 0">{{null | NA}}</div>
                    <div ng-repeat="p in vm.EffectivePeriods">
                        <copyable>{{p}}</copyable>
                    </div>
                </div>
            </div>
            <div class="row form-group" ng-if="vm.ShowAgency">
                <div class="col-md-2">
                    Agency
                </div>
                <div class="col-md-10">
                    <div ng-if="vm.Agencies.length == 0">{{null | NA}}</div>
                    <div ng-repeat="a in vm.Agencies">
                        <a ng-href="{{a.AgencyUrl}}" title="{{a | agencyTooltip}}">{{a.Name}}</a>
                        <copyable text="a.Name"><i class="fa fa-files-o"></i></copyable>
                        &nbsp;&nbsp;(<copyable>{{a.Code}}</copyable>)
                    </div>
                </div>
            </div>
            <div class="row form-group" ng-if="vm.ShowAgent">
                <div class="col-md-2">
                    Agent
                </div>
                <div class="col-md-10">
                    <div ng-if="vm.Agents.length == 0">{{null | NA}}</div>
                    <div ng-repeat="a in vm.Agents">
                        <copyable>{{a}}</copyable>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{(vm.AllowsMultipleSubmissions) ? 'Submissions': 'Submission'}}
                </div>
                <div class="col-md-10">
                    <submissions fields="vm.ApplicationSubmissionFields" submissions="vm.Submissions" copy-all="true"></submissions>
                </div>
            </div>
            <hr />
            <div class="row form-group">
                <div class="col-md-2">
                    {{(vm.Clients.length > 1) ? "Clients'" : "Client's"}} Other <br /> Submissions
                </div>
                <div class="col-md-10">
                    <div ng-repeat="c in vm.Clients">
                        <h3 ng-if="vm.Client.length > 1">c.Name</h3>
                        <div ng-show="c.Submissions.length == 0">
                            This client does not have any other submissions.
                        </div>
                        <div ng-hide="c.Submissions.length == 0">
                            <submissions fields="vm.ClientSubmissionFields" source="c.Submissions" copy-all="true"></submissions>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>