﻿<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Manage Submissions</h2>
    </div>
    <div class="modal-body">
        <div class="manage-submissions-modal editable-collection">
            <table class="table table-striped table-condensed table-bordered table-curved">
                <thead>
                    <tr>
                        <th class="number-column">Sub #</th>
                        <th class="number-column">Policy #</th>
                        <th>Type</th>
                        <th>Effective Period</th>
                        <th class="delete-button-column"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in vm.Submissions">
                        <td>{{s.Id}}</td>
                        <td>{{s.PolicyNumber}}</td>
                        <td>{{s.SubmissionType}}</td>
                        <td>{{s.EffectivePeriod}}</td>
                        <td class="delete-button-column">
                            <button type="button" class="btn btn-link" ng-disabled="vm.Submissions.length == 1" ng-click="vm.RemoveSubmission(s)"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <span ng-switch="vm.ShowInput">
                                <span ng-switch-when="false">
                                    <button type="button" class="btn btn-link btn-add" ng-disabled="vm.Loading || vm.ShowInput" ng-click="vm.ShowAddInput()">
                                        <i class="fa fa-plus-circle"></i><span>Add Submission</span>
                                    </button>
                                </span>
                                <span ng-switch-when="true">
                                    <span name="SubmissionSearchInput" ng-model="vm.SubmissionToAdd" ng-change="vm.Selected()" item-select="{ source: vm.SubmissionSearch, multiSelect: true, matchTemplate: 'item-select-submission', minLength: 0, onBlur: vm.HideAddInput}" placeholder="Submission or Policy #"></span>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-disabled="vm.Loading" ng-click="vm.Update()">Update</button>
        <button type="button" class="btn btn-default" ng-disabled="vm.Loading" ng-click="vm.Close()">Cancel</button>
    </div>
</div>