﻿<div class='alert clearfix' ng-class='"alert-" + alertType'>
    <button ng-show='closeable' type='button' class='close' ng-click='close()'>&times;</button>
    <div class="alert-icon" ng-switch="alertType">
        <div ng-switch-when="warning"><i class="fa fa-warning"></i></div>
        <div ng-switch-when="danger"><i class="fa fa-exclamation"></i></div>
        <div ng-switch-when="success"><i class="fa fa-check"></i></div>
        <div ng-switch-when="info"><i class="fa fa-info"></i></div>
    </div>
    <div class="alert-content" ng-transclude></div>
</div>
