﻿.alert .alert-content {
  margin-left: 35px;
}
.alert .alert-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.alert .alert-icon {
  float: left;
  width: 35px;
  text-align: center;
}
.alert .alert-icon .fa {
  font-size: 20px;
}
.alert.alert-sm {
  margin: 0;
  padding: 4px 10px 3px 10px;
}
.alert.alert-sm .alert-content {
  margin-left: 15px;
}
.alert.alert-sm .alert-icon {
  float: left;
  width: auto;
  text-align: center;
}
.alert.alert-sm .alert-icon .fa {
  font-size: 15px;
  padding: 0;
}
