﻿.item-select {
  position: relative;
  display: block;
  width: 100%;
}
.item-select > a {
  cursor: default;
  color: #333333;
  text-decoration: none;
  height: 27px;
  display: block;
  border: solid 1px #cccccc;
  border-radius: 4px;
  background-color: #eeeeee;
  width: 100%;
}
.item-select > a:focus {
  border-color: #46acca;
  outline: 0;
}
.item-select > a span {
  display: block;
  width: calc(100% - 25px);
  margin: 5px 0 0 10px;
  height: 16px;
  line-height: 14px;
  vertical-align: top;
}
.item-select > a span label {
  margin: 0;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.item-select > a span label.expand-link {
  cursor: pointer;
  color: #00a3d8;
}
.item-select > a span label.expand-link:hover {
  text-decoration: underline;
}
.item-select > a button {
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
  border-radius: 0;
  padding: 4px 6px 4px 6px;
  background: transparent;
}
.item-select > a button:last-child {
  border-radius: 0 4px 4px 0;
}
/*This may not be in an .item-select if it was moved to the body*/
.item-select-menu {
  max-height: 250px;
  overflow: auto;
}
.item-select-menu .item-select-option .secondary-data {
  margin-left: 5px;
}
