﻿@import "../../styles/variables";

.item-select {
    position: relative;
    display: block;
    width: 100%;

    & > a {
        cursor: default;
        color: @bts-black;
        text-decoration: none;
        height: 27px;
        display: block;
        border: solid 1px @border-gray;
        border-radius: @border-radius;
        background-color: @medium-gray;
        width: 100%;

        &:focus {
            border-color: @bts-blue;
            outline: 0;
        }

        span {
            display: block;
            width: ~"calc(100% - 25px)";
            margin: 5px 0 0 10px;
            height: 16px;
            line-height: 14px;
            vertical-align: top;

            label {
                margin: 0;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &.expand-link {
                    cursor: pointer;
                    color: @link-blue;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        button {
            position: absolute;
            top: 1px;
            right: 1px;
            border: none;
            border-radius: 0;
            padding: 4px 6px 4px 6px;
            background: transparent;
        }

        button:last-child {
            border-radius: 0 @border-radius @border-radius 0;
        }
    }
}

/*This may not be in an .item-select if it was moved to the body*/
.item-select-menu {
    max-height: 250px;
    overflow: auto;

    .item-select-option {
        .secondary-data {
            margin-left: 5px;
        }
    }
}
