﻿.well.loading-well {
  width: 200px;
  height: 150px;
  margin: auto;
  text-align: center;
}
.well.loading-well .loading-loader {
  font-size: 50px;
  color: #999999;
  width: 52px;
}
.well.loading-well .loading-txt {
  padding-top: 20px;
}
.well.loading-well .loading-txt p {
  margin-top: 5px;
}
.well.loading-well .loading-txt a {
  display: block;
  margin-top: 15px;
}
.well.loading-well.search-loading-well {
  position: fixed;
  height: auto;
  left: 50%;
  top: calc(50% - 97px);
}
.well.loading-well.search-loading-well .loading-txt {
  padding-top: 10px;
}
.well.loading-well.loading-well-sm {
  width: 140px;
  height: 70px;
  padding: 10px;
}
.well.loading-well.loading-well-sm .loading-loader {
  font-size: 25px;
  width: 26px;
}
.well.loading-well.loading-well-sm .loading-txt {
  padding-top: 5px;
}
.well.loading-well.loading-well-sm .loading-txt h2 {
  font-size: 12px;
}
.well.loading-well.logging-in-well {
  position: fixed;
  height: auto;
  left: calc(50% - 100px);
  top: calc(33% - 65px);
}
.well.loading-well.logging-in-well .loading-txt {
  padding-top: 10px;
}
.well.loading-well.clearance-saving .loading-txt h2 {
  font-size: 16px;
}
