﻿<div class="loading-indicator progress-bar-animate" ng-show="vm.PendingRequests.length > 0">
    <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar">
        </div>
    </div>
</div>