﻿.loading-indicator {
    position: fixed;
    z-index: 10000;
    top: 0;
    height: 3px;
    width: 100%;

    .progress.progress-striped.active {
        height: 3px;

        .progress-bar {
            width: 100%;
        }
    }
}