﻿.well.loading-well {
    width: 200px;
    height: 150px;
    margin: auto;
    text-align: center;


    .loading-loader {
        font-size: 50px;
        color: #999999;
        width: 52px;
    }

    .loading-txt {
        padding-top: 20px;

        p {
            margin-top: 5px;
        }

        a {
            display: block;
            margin-top: 15px;
        }
    }

    &.search-loading-well {
        position: fixed;
        height: auto;
        left: 50%;
        top: ~"calc(50% - 97px)";

        .loading-txt {
            padding-top: 10px;
        }
    }

    &.loading-well-sm {
        width: 140px;
        height: 70px;
        padding: 10px;

        .loading-loader {
            font-size: 25px;
            width: 26px;
        }

        .loading-txt {
            padding-top: 5px;

            h2 {
                font-size: 12px;
            }
        }
    }

    &.logging-in-well {
        position: fixed;
        height: auto;
        left: ~"calc(50% - 100px)";
        top: ~"calc(33% - 65px)";

        .loading-txt {
            padding-top: 10px;
        }
    }

    &.clearance-saving {
        .loading-txt {
            h2 {
                font-size: 16px;
            }
        }
    }
}