﻿<div ng-show="vm.TotalPages > 1 || vm.Source.count > vm.Source.pageSizeOptions[0]" class="table-pager clearfix">
    <div class="pull-left" ng-show="vm.TotalPages > 1">
        <ul class="pagination">
            <li ng-class="{disabled: vm.Source.page == 1}"><a href ng-click="vm.SelectPage(1)"><i class="fa fa-caret-left"></i></a></li>
            <li ng-repeat="p in vm.Pages track by $index" ng-class="{active: p == vm.Source.page}"><a href ng-click="vm.SelectPage(p)">{{p}}</a></li>
            <li ng-class="{disabled: vm.Source.page == vm.TotalPages}"><a href ng-click="vm.SelectPage(vm.TotalPages)"><i class="fa fa-caret-right"></i></a></li>
        </ul>
    </div>
    <div class="pull-right">
        <ul class="pagination">
            <li ng-repeat="i in vm.Source.pageSizeOptions track by $index" ng-class="{active: i == vm.Source.pageSize}"><a href ng-click="vm.ChangePageSize(i)">{{i}}</a></li>
        </ul>
        per page
    </div>
</div>