﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <h2 class="modal-title">{{vm.Title}}</h2>
    </div>
    <div class="modal-body">
        <span ng-bind-html="vm.Message"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="vm.Close()">Ok</button>
    </div>
</div>