﻿<div class="modal-warning">
    <div class="modal-header">
        <h2 class="modal-title"><i class="fa fa-warning"></i> You have unsaved changes</h2>
    </div>
    <div class="modal-body">
        Are you sure you want to leave this page?  Your changes will be lost.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.Close()">Stay on this page</button>
        <button type="button" class="btn btn-default" ng-click="vm.Continue()">Leave this page</button>
    </div>
</div>