﻿@inherits System.Web.Mvc.WebViewPage
<!doctype html>
<html>
<head>
    <base href="/">
    <title>Workflow Applications</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/styles/jquery-ui/jquery-ui-2014.8.8.css" rel="stylesheet" />
    <link href="/styles/bts-bootstrap/bts-bootstrap.v1.5.0.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/bundles/app-styles")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="~/scripts/angular-ui/angular-ui-router-0.2.13.js"></script>
    <script src="~/scripts/moment-2.8.3.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/app-scripts")
    <link rel="shortcut icon" type="image/png" href="/images/ryan.png" />
</head>
<body ng-app="wfa">
    <loading-indicator></loading-indicator>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <img src="/images/ryan.png" />
            <a class="navbar-brand" ui-sref="index">
                Workflow Applications
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="exceptions">Exceptions</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" ui-view></div>
</body>
</html>
