
/* This file hides items that are not suitable for printing */

/* Change link text decoration */
a
{ 
	text-decoration: none;
	color: Black;
} 

Div.insuredscreen
{
	background-color: White;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 11px;
}

span.surveyHeader
{
	display:inline;
	font-size: 23px;
	font-weight: bold;
}

/* Make the box "Headers" bold */
td.TC 
{ 
	display: inline; 
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
}

div.surveyDetails
{
	display:inline;
}

span.logoCompany
{
	font-size: 15px;
	font-weight: bold;
}

span#lblName_lbl
{
	font-weight:bold;
	font-size:12px;
}
span#lblName_lblValue
{
	font-weight:bold;
	font-size:12px;
}

span.headingForPrint
{
	display: inline; 
	font-size: 15px;
	font-weight: bold;
}

hr.boxBreak
{
	display: inline; 
	border: 1px solid black;
}

/* Hide UI Input widgets and non-informational items */
textarea { display: none; }
ul { display: none; }
li { display: none; }
img { display: none; }
img.sep { display: inline; }


/* Hide by ID */
A#BackToSurvey { display: none; }
A#BackToLocations { display: none; }

/* Hide by Class */
TD.tabTextOff { display: none; }
Div.logout { display: none; }
input.btn { display: none; }
span.chk { display: none; }
span.lblView { display: none; }
a.footerLink { display: none; }
TD.footerLine { display: none; }
Div.footerBorder { display: none; }
Div.view { display: none; }
a.lnkPolicy { display: none; }
span.heading  { display: none; }


