﻿<div class="row" ng-show="!PageLoading">
    <div class="col-md-2">   
    </div>
    <div class="col-md-10">

        <div class="panel panel-default" ng-show="!PageLoading">
            <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
                <h3 class="panel-title pull-left" style="margin-top: 3px">Insured Details</h3>
            </div>
            <div class="panel-body">
                <div>
                    <h4>Insured</h4>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Client ID</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.ClientID}}</label>
                        <label class="col-sm-2 control-label">Name</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Name}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Name 2</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Name2}}</label>
                        <label class="col-sm-2 control-label">Address</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.StreetLine1}}&nbsp;{{ServicePlan.Insured.StreetLine2}}&nbsp;{{ServicePlan.Insured.City}}, {{ServicePlan.Insured.StateCode}}&nbsp;{{ServicePlan.Insured.ZipCode}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Business Operations</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.BusinessOperations}}</label>
                        <label class="col-sm-2 control-label">Company Website</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.CompanyWebsite}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">SIC</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.SIC.Description}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Underwriter</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Underwriter.Name}}</label>
                        <label class="col-sm-2 control-label">Underwriter Phone</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Underwriter.PhoneNumber | tel}}</label>
                    </div>
                </div>
                <div>
                    <h4>Primary Contact</h4>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Location[0].LocationContact[0].Name}}</label>
                        <label class="col-sm-2 control-label">Name</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Location[0].LocationContact[0].Title}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Phone Number</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Location[0].LocationContact[0].PhoneNumber | tel}}</label>
                        <label class="col-sm-2 control-label">Alt Phone Number</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Location[0].LocationContact[0].AlternatePhoneNumber | tel}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Fax Number</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Location[0].LocationContact[0].FaxNumber}}</label>
                        <label class="col-sm-2 control-label">Email Address</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Location[0].LocationContact[0].EmailAddress}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Address</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Location[0].LocationContact[0].StreetLine1}}&nbsp;{{ServicePlan.Insured.Location[0].LocationContact[0].StreetLine2}}&nbsp;{{ServicePlan.Insured.Location[0].LocationContact[0].City}}, {{ServicePlan.Insured.Location[0].LocationContact[0].StateCode}}&nbsp;{{ServicePlan.Insured.Location[0].LocationContact[0].ZipCode}}</label>
                    </div>                    
                </div>
                <div>
                    <h4>Agency</h4>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Agency Number</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Agency.Number}}</label>
                        <label class="col-sm-2 control-label">Agency Name</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Agency.Name}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Address</label>
                        <label class="col-sm-10 control-label">{{ServicePlan.Insured.Agency.StreetLine1}}&nbsp;{{ServicePlan.Insured.Agency.StreetLine2}}&nbsp;{{ServicePlan.Insured.Agency.City}}, {{ServicePlan.Insured.Agency.StateCode}}&nbsp;{{ServicePlan.Insured.Agency.ZipCode}}</label>                        
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Phone Number</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Agency.PhoneNumber | tel}}</label>
                        <label class="col-sm-2 control-label">Fax Number</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.Agency.FaxNumber}}</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Agent Contact Name</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.AgentContactName}}</label>
                        <label class="col-sm-2 control-label">Agent Contact Phone Number</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.AgentContactPhoneNumber | tel}}</label>                        
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-2 control-label">Agent Contact Email</label>
                        <label class="col-sm-4 control-label">{{ServicePlan.Insured.AgentEmail.EmailAddress}}</label>
                    </div>
                <div>
                    <h4>Policies</h4>                    
                    <table class="table table-striped table-condensed table-hover">
                        <tbody>
                        <thead>
                            <tr>
                                <th>Policy#</th>
                                <th>Mod</th>
                                <th>Symbol</th>
                                <th>LOB</th>
                                <th>Effective</th>
                                <th>Expiration</th>
                                <th>Premium</th>
                                <th>Profit Center</th>
                                <th>Primary State</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="policy in Policies.DisplayItems()">
                            <td>{{policy.Number}}</td>
                            <td>{{policy.Mod}}</td>
                            <td>{{policy.Symbol}}</td>
                            <td>{{policy.LineOfBusiness.Name}}</td>
                            <td>{{policy.EffectiveDate | date:'MM/dd/yyyy'}}</td>
                            <td>{{policy.ExpireDate | date:'MM/dd/yyyy'}}</td>
                            <td>{{policy.Premium}}</td>
                            <td>{{policy.ProfitCenter}}</td>
                            <td>{{policy.StateCode}}</td>
                        </tr>
                        </tbody>
                        <tfoot ng-show="Policies.ShowPager">
                            <tr>
                                <td colspan="6" class="text-center">
                                    <pagination on-select-page="Policies.ChangePage(page)" boundary-links="true" total-items="Policies.TotalItemCount" max-size="5" page="Policies.CurrentPage" items-per-page="Policies.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div>
                    <h4>Locations</h4>
                    <table class="table table-striped table-condensed table-hover">
                        <tbody>
                        <thead>
                            <tr>
                                <th>Location#</th>
                                <th>Address Line 1</th>
                                <th>Address Line 2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Buildings</th>                              
                            </tr>
                        </thead>
                        <tr ng-repeat="location in Locations.DisplayItems()">
                            <td>{{location.Number}}</td>
                            <td>{{location.StreetLine1}}</td>
                            <td>{{location.StreetLine2}}</td>
                            <td>{{location.City}}</td>
                            <td>{{location.StateCode}}</td>
                            <td>{{location.ZipCode}}</td>                                                      
                        </tr>
                        </tbody>
                        <tfoot ng-show="Locations.ShowPager">
                            <tr>
                                <td colspan="6" class="text-center">
                                    <pagination on-select-page="Locations.ChangePage(page)" boundary-links="true" total-items="Locations.TotalItemCount" max-size="5" page="Locations.CurrentPage" items-per-page="Locations.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div>
                    <h4>Claims</h4>
                    <table class="table table-striped table-condensed table-hover">
                        <tbody>
                        <thead>
                            <tr>
                                <th>Policy#</th>
                                <th>Sym</th>
                                <th>Policy Exp</th>
                                <th>Loss Date</th>
                                <th>Amount</th>
                                <th>Claimant</th>
                                <th>Status</th>
                                <th>Loss Type</th>
                                <th>Claim Comment</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="claim in Claims.DisplayItems()">
                            <td>{{claim.PolicyNumber}}</td>
                            <td>{{claim.PolicyMod}}</td>
                            <td>{{claim.PolicySymbol}}</td>
                            <td>{{claim.LossDate | date:'MM/dd/yyyy'}}</td>
                            <td>{{claim.Amount}}</td>
                            <td>{{claim.Claimant}}</td>
                            <td>{{claim.Status}}</td>
                            <td>{{claim.LossType}}</td>
                            <td>{{claim.Comment}}</td>                            
                        </tr>
                        </tbody>
                        <tfoot ng-show="Claims.ShowPager">
                            <tr>
                                <td colspan="6" class="text-center">
                                    <pagination on-select-page="Claims.ChangePage(page)" boundary-links="true" total-items="Claims.TotalItemCount" max-size="5" page="Claims.CurrentPage" items-per-page="Claims.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                
            </div>

        </div>
    </div>
