﻿<div>
    <div class="page-header">
        <div class="page-title">
            <h2>Administration</h2>
        </div>
        <div id="list-navigation-arrow"></div>
        <ul class="list-inline list-navigation">
            <li active-page-menu-item="{{l.state}}" ng-repeat="l in vm.User.AdministratorLinks"><a ui-sref="{{l.state}}">{{l.name}}</a></li>
        </ul>
    </div>
    <div class="page-content" ui-view>
        <div class="panel panel-default">
            <div class="panel-body">
                Select a link above to start.
            </div>
        </div>
    </div>
</div>