﻿.alert {
    .alert-content {
        margin-left: 35px;

        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
        }
    }

    .alert-icon {
        float: left;
        width: 35px;
        text-align: center;

        .fa {
            font-size: 20px;
        }
    }

    &.alert-sm {
        margin: 0;
        padding: 4px 10px 3px 10px;

        .alert-content {
            margin-left: 15px;
        }

        .alert-icon {
            float: left;
            width: auto;
            text-align: center;

            .fa {
                font-size: 15px;
                padding: 0;
            }
        }
    }
}