﻿<span>
    <button type="button" class="btn btn-checkbox" ng-class="{'active': i.Included}" ng-repeat="i in vm.DisplayItems" ng-click="vm.ToggleItemInclusion(i)">
        <span>{{i.Display}}</span>
        <i class="fa" ng-class="{'fa-check-square': i.Included, 'fa-square-o': !i.Included}"></i>
    </button>
</span>