﻿<div class="well loading-well {{layout}}">
    <i class="loading-loader fa fa-circle-o-notch fa-spin"></i>
    <div class="loading-txt">
        <h2>{{ text || "Loading" }}</h2>
        <p ng-if="subText">{{subText}}</p>
        <a ng-if="HasCancel" ng-click="onCancel()">Cancel</a>
    </div>
</div>