﻿<div class="modal-error">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title"><i class="fa fa-exclamation"></i> System Error</h2>
    </div>
    <div class="modal-body">
        <br />
        <p>An error occurred while processing your request.  The support team has been notified of the issue.</p>
        <br />
        <p class="text-muted small">{{vm.Message}}<br />{{vm.RequestUrl}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.Close()">Ok</button>
    </div>
</div>
