﻿<div class="modal-warning">
    <div class="modal-header">
        <h2 class="modal-title"><i class="fa fa-warning"></i> System Out of Date</h2>
    </div>
    <div class="modal-body">
        This system has been updated.  Please refresh the page to use the new version.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.RefreshPage()">Refresh</button>
    </div>
</div>