﻿<div class="modal-warning">
    <div class="modal-header">
        <h2 class="modal-title"><i class="fa fa-warning"></i> {{vm.Title}}</h2>
    </div>
    <div class="modal-body">
        <span ng-bind-html="vm.Message"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.Close()">Ok</button>
    </div>
</div>