<%@ Control Language="C#" AutoEventWireup="false" CodeFile="HelpfulHintHeader.ascx.cs" Inherits="Berkley.BLC.Web.Internal.Template.HelpfulHintHeader" %>
<%if (!_pageHint.AlwaysVisible) { %>
<!-- BEGIN HELPFUL HINT HEADER -->
<table cellspacing="0" cellpadding="0" border="0">
    <tr valign="top">
    <td>
<!-- END PAGE HEADER -->
<% } %>
