
/* This file hides items that are not suitable for printing */

/* Change link text decoration */
a
{ 
	text-decoration: none;
	color: Black;
} 

Div.surveyscreen
{
	background-color: White;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 11px;
}

span.surveyHeader
{
	display:inline;
	font-size: 23px;
	font-weight: bold;
}

/* Make the box "Headers" bold */
td.TC 
{ 
	display: inline; 
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
}

div.servicePlanObjectives
{
	display:inline;
}

span.heading
{
	display: inline; 
	font-size: 15px;
	font-weight: bold;
}

/* Hide UI Input widgets and non-informational items */
textarea { display: none; }
ul { display: none; }
li { display: none; }
img { display: none; }

/* Hide by ID */
A#lnkAddNote { display: none; }
A#lnkAddDoc { display: none; }
A#lnkHistory { display: none; }
A#BackToQueue { display: none; }
Table#boxActions { display: none; }
Table#boxLinks { display: none; }
Div#divAddNote { display: none; }
Div#divUploadDoc { display: none; }
Div#divObjectivesNotForPrint { display: none; }
Div#divObjectivesForPrint { display: inline; }

/* Hide by Class */
TD.tabTextOff { display: none; }
Div.logout { display: none; }
input.btn { display: none; }
span.chk { display: none; }
a.footerLink { display: none; }
TD.footerLine { display: none; }
TD.tdRemoveDoc { display: none; }
Div.footerBorder { display: none; }
TD.columnHint { display: none; }
