/* --- HTML Element Styles --- */
BODY
{
    margin: 0px;
    background-color: White;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
}

A:link, A:visited
{
    color: #0040BF;
    text-decoration: none;
}
A:hover
{
    text-decoration: underline;
}

A.info
{
    position:relative;
}

A.info:hover
{
    z-index:25; 
    background-color:Transparent;
}

A.info span
{
    display: none;
}

A.info:hover span
{
    display: block;
    position: absolute;
    top: 2em;
    left: 2em;
    width: 20em;
    border: 1px solid black;
    background-color: #cccccc;
    color:Black;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
}

A.nav
{
    font-size:12px;
    margin-left:20px;
    font-weight:bold;
}

UL
{
    padding-left: 15px; 
    margin-left: 5px; 
    margin-top: 1px; 
    margin-bottom: 1px;
}
LI
{
    margin-top: 2px;
    margin-bottom: 2px;
}

H1
{
    color: black;
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    font-weight: normal;
}

H2
{
    margin-bottom: 5px;
    color: black;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
}

H3
{
    color: black;
    font-weight: normal;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
}

div.blockMsg {
    width:  250px;
    top:    40%;
    left:   40%;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); 
    -moz-opacity:.70;
    opacity:.70;
    color: #fff;
    padding-top:3px;
    /* ---padding: 15px 5px 0px 5px;--- */
}

/* --- HTML Element Styles --- */



/* --- Page Content Styles --- */
.pageBody
{
    background-image: url(images/body_gradient.gif);
    background-repeat: repeat-x;
    background-color: #F5E8C5;
    padding: 20px 20px 20px 20px;
    color: black;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
}

.pageBody TABLE
{
    color: black;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
}

.pageBody .heading
{
    color: black;
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    font-weight: normal;
}

.pageBody .headingForPrint
{
    display: none;
}

.pageBody .subheading
{
    margin-bottom: 5px;
    color: black;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
}

.pageBody .pageText
{
    color: black;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
}

.pageBody .errorText
{
    color: Red;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
}

.ListSearchExtenderPrompt
{
    font-weight: bold;
    font-size: 10px;
    color: #A9A9A9;
    margin-left: 5px;
}

hr.boxBreak
{
    display: none; 
}

td .buttons
{
    padding-top: 15px
}

TABLE.fields TD.label
{
    text-align: right;
    padding-right: 10px;
}

/* --- Page Content Styles --- */



/* ---ASP.NET Control Styles --- */
.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #44947f), color-stop(1, #1f5747) );
    background:-moz-linear-gradient( center top, #44947f 5%, #1f5747 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44947f', endColorstr='#1f5747');
    background-color:#44947f;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #5c5c50;
    display:inline-block;
    color:white;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size:11px;
    padding:4px 14px;
    text-decoration:none;
    margin-right:5px;
}.btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f5747), color-stop(1, #44947f) );
    background:-moz-linear-gradient( center top, #1f5747 5%, #44947f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f5747', endColorstr='#44947f');
    background-color:#1f5747;
}.btn:active {
    position:relative;
    top:1px;
}

.counter
{
    height: 21px;
    width: 21px;
}

.cbo
{
    background-color: #FFFFE5;
    color: black;
    border: solid 1px #7F9DB9;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    font-style:	normal;
}

.cbo_active
{
    border: solid 3px #7F9DB9;
}

.chk
{
    color: black;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    font-style:	normal;
}

LABEL
{
    padding-left: 5px;
    padding-right: 5px;
}

.lbl
{
    color: black;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    font-style:	normal;
}

.lnk
{
    color: #2765CF;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    font-style:	normal;
}

.rdo
{
    color: black;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    font-style:	normal;
}

.txt
{
    padding-left: 2px;
    border: solid 1px #7F9DB9;
    background-color: #FFFFE5;
    color: black;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    font-style:	normal;
}

.txt_active
{
    border: solid 3px #7F9DB9;
}

.grid
{
    margin: 5px 0px 5px 0px;
    border: solid 1px black;
    border-collapse: collapse;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
}
.grid TD
{
    padding: 2px 4px 2px 4px;
    border: solid 1px black;
}
.grid .header TD
{
    background: #0A664C;
    color: #FCFCFC;
    text-align: center;
}
.grid .header A:link, .grid .header A:visited
{
    color: #FCFCFC;
    text-decoration: underline;
}
.grid .header A:hover
{
    text-decoration: underline;
}
.grid .item TD
{
    background-color: white;
    color: black;
}
.grid .altItem TD
{
    background-color: #E5E5E5;
    color: black;
}
.grid .selectedItem TD
{
    background-color: #adff2f;
    color: black;
}
.grid .footer TD
{
    background-color: white;
    color: black;
}
.grid .pager TD
{
    padding-left: 15px;
    background: #0A664C;
    color: white;
    font-weight: bold;
    text-align: left;
}
.grid .pager A:link, .grid .pager A:visited
{
    color: #D0D0D0;
    text-decoration: none;
}
.grid .pager A:hover
{
    text-decoration: underline;
}

.box
{
    margin-bottom: 15px;
}
.box .TL
{
    background-image: url(images/Box_TL.gif);
    background-repeat: no-repeat;
}
.box .TL div
{
    width: 15px;
    height: 30px;
}
.box .TC
{
    background-image: url(images/Box_TC.gif);
    background-repeat: repeat-x;
    padding: 4px 10px 4px 4px;
    color: #F3F3F3;
    font-family: Tahoma, Arial, Sans-Serif;
    font-weight: bold;
    vertical-align: top;
}
.box .TCRight
{
    background-image: url(images/Box_TC.gif);
    background-repeat: repeat-x;
    padding: 4px 10px 4px 4px;
    color: #F3F3F3;
    font-family: Tahoma, Arial, Sans-Serif;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
}
.box .TCRight .chk
{
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 7px 0px 0px;
}
.box .TR
{
    background-image: url(images/Box_TR.gif);
    background-repeat: no-repeat;
}
.box .TR div
{
    width: 15px;
    height: 30px;
}
.box .ML
{
    width: 15px;
    background-image: url(images/Box_ML.gif);
    background-repeat: repeat-y;
}
.box .MC
{
    background-color: White;
}
.box .MR
{
    width: 15px;
    background-image: url(images/Box_MR.gif);
    background-repeat: repeat-y;
}
.box .BL
{
    background-image: url(images/Box_BL.gif);
    background-repeat: no-repeat;
}
.box .BL div
{
    width: 15px;
    height: 15px;
}
.box .BC
{
    background-image: url(images/Box_BC.gif);
    background-repeat: repeat-x;
}
.box .BR
{
    background-image: url(images/Box_BR.gif);
    background-repeat: no-repeat;
}
.box .BR div
{
    width: 15px;
    height: 15px;
}
/* ---ASP.NET Control Styles --- */


/* --- Template-Only Styles --- */
TD.logoLine
{
    background-color: #0A664C;
}
TD.logoLine TABLE
{
    color: #F3F3F3;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
}
.logout
{
    margin-top: 5px;
    margin-right: 10px;
    font-weight: normal;
}
.logout A:link, .logout A:visited
{
    color: #F3F3F3;
    text-decoration: none;
}
.logout A:hover
{
    text-decoration: underline;
}

TD.tabsLine
{
    height: 20px;
    padding-left: 10px;
    border-bottom: solid 1px #F7F2E4;
    background-image: url(images/Title_Gradient.gif);
    background-repeat: repeat-y;
    background-color: #0A664C;
}

TD.footerLine
{
    border-bottom: white 1px solid;
    background-color: #00563F;
}
.pageFooter TD
{
    padding: 5px 10px 0px 10px;
    color: #B0B0B0;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10px;
    text-decoration: none;
}
.footerLink, A.footerLink:link, A.footerLink:visited
{
    color: #B0B0B0;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
A.footerLink:hover
{
    text-decoration: underline;
}
span.surveyHeader
{
    display:none;
}

div.surveyDetails
{
    display:none;
}

div.servicePlanObjectives
{
    display:none;
}
/* --- Template-Only Styles --- */



/* --- Tab Control Styles --- */
.tabControl TD
{
    color: White;
    font-family: Arial, Sans-Serif;
    font-size: 11px;
}
.tabControl .tabText
{
    padding: 1px 5px 1px 5px;
}
.tabControl .tabTextOn
{
    padding: 1px 4px 1px 4px;
    background-image: url(images/TabCenter_on.gif);
    background-repeat: repeat-x;
    color: #BAA57F;
    font-weight:bold;
    font-size:13px;
}
.tabControl .tabTextOff
{
    padding: 1px 5px 1px 5px;
    background-image: url(images/TabCenter_off.gif);
    background-repeat: repeat-x;
    color: #F7F4EB;
}
.tabControl .tabTextOn A:link, .tabControl .tabTextOn A:visited
{
    color: #BAA57F;
    text-decoration: none;
}
.tabControl .tabTextOff A:link, .tabControl .tabTextOff A:visited
{
    color: white;
    text-decoration: none;
}
.tabControl A:hover
{
    text-decoration: none;
}
/* --- Tab Control Styles --- */

/* --- BEGIN: jQuery Form Prompt Styles --- */
.jqifade{
      position: absolute; 
      background-color: Black;
}
div.jqi{ 
      width: 500px; 
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
      position: absolute; 
      background-color: #F5E8C5;
      font-size: 11px; 
      text-align: left; 
      border: solid 2px black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 7px;
}
div.jqi .jqicontainer{ 
      font-weight: bold; 
}
div.jqi .jqiclose{ 
      position: absolute;
      top: 4px; right: -2px; 
      width: 18px; 
      cursor: default; 
      color: #bbbbbb; 
      font-weight: bold; 
}
div.jqi .jqimessage{ 
      padding: 10px; 
      line-height: 20px; 
      color: #444444; 
}
div.jqi .jqibuttons{ 
      text-align: left; 
      padding: 5px 0 5px 0; 
      background-color: #F5E8C5;
}
div.jqi button{ 
      background-color: #00563F;
    color: white;
    border-style: none;
    padding: 3px 10px;
    margin: 0 8px; 
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    font-style:	normal;
    vertical-align: middle;
}
div.jqi button:hover{ 
      background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{ 
      background-color: #00563F;
}
.jqiwarning .jqi .jqibuttons{ 
      background-color: #BF5E26;
}
/* --- END: jQuery Form Prompt Styles --- */

/* --- BEGIN: jQuery Multi Select Styles --- */
.multiSelect {
    width: 182px;
    background: #FFF url(javascripts/images/cbo_arrow.gif) right center no-repeat;
    padding: 2px 4px;
    padding-right: 20px;
    display: inline;
    height: 11px;

    background-color: #FFFFE5;
    color: black;
    border: solid 1px black;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    font-style:	normal;
}

.multiSelect .hover {
    background: url(javascripts/images/cbo_arrow_hover.gif) right center no-repeat;
    background-color: #FFFFE5;
}

.multiSelect .active, 
.multiSelect .focus {
    border: inset 1px #000;
}

.multiSelect .active {
    background: url(javascripts/images/cbo_arrow.gif) right center no-repeat;
    background-color: #FFFFE5;
}

.multiSelectOptions {
    width: 206px;
    max-height: 150px;
    margin-top: -1px;
    overflow: auto;
    border: solid 1px #B2B2B2;
    background-color: #FFFFE5;
}

.multiSelectOptions LABEL {
    padding: 2px 5px;
    display: block;
}

.multiSelectOptions LABEL.checked {
    background: #E6E6E6;
}

.multiSelectOptions LABEL.selectAll {
    border-bottom: dotted 1px #CCC;
}

.multiSelectOptions LABEL.hover {
    background: #CFCFCF
}
/* --- END: jQuery Multi Select Styles --- */


Div#divObjectivesForPrint { display: none; }

.modalBackground 
{      
    background-color: Black;     
    filter: alpha(opacity=40);       
    opacity: 0.4;      
    z-index: 10000;   
} 

div.comment, tr.comment td {
    padding: 5px 5px 10px 5px;
}

.comment-int {
    background-color: #E8E8E8;
}

.comment-admin {
    background-color: #FFBFBF;
}