﻿@import "../../../styles/variables";

.agency-detail {
    .agent-contact-column {
        & > div {
            &:after {
                .clearfix();
            }

            & > div:nth-child(1) {
                float: left;
                width: 60px;
            }

            & > div:nth-child(2) {
                margin-left: 60px;
            }
        }
    }
}
