﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">{{vm.Agency.Name}}</h2>
    </div>
    <div class="modal-body">
        <div class="menu-layout search-container">
            <div class="menu-layout-detail-pane menu-hidden">
                <agency agency-code="vm.Agency.Code" is-modal="true"></agency>
            </div>
        </div>
    </div>
</div>