﻿.agency-detail .agent-contact-column > div:after {
  content: "";
  display: table;
  clear: both;
}
.agency-detail .agent-contact-column > div > div:nth-child(1) {
  float: left;
  width: 60px;
}
.agency-detail .agent-contact-column > div > div:nth-child(2) {
  margin-left: 60px;
}
