﻿<div class="agency-detail" ng-hide="vm.AppState.Loading">
    <div class="content-header with-section-headings affix">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline">
                    <li>
                        <label>Agency</label>
                        <div>{{vm.Agency.Code}}</div>
                    </li>
                    <li>
                        <label>Name</label>
                        <div>{{vm.Agency.Name}}</div>
                    </li>
                </ul>
            </div>
            <div class="pull-right" ng-show="vm.ShowActions && vm.IsModal && vm.SearchWorkflow != null">
                <button type="button" class="btn btn-default" ng-click="vm.SearchWorkflow.ModalSelectItem()">Select Agency</button>
            </div>
            <div class="pull-right" ng-show="vm.ShowActions && vm.APSAgencyUrl != null">
                <a class="header-link" ng-href="{{vm.APSAgencyUrl + vm.Agency.Code}}" target="_blank">View in APS <i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
    <div class="content-detail with-section-headings">
        <div class="primary-information-container">
            <div class="row primary-information-grid">
                <div class="col-md-4">
                    <div class="form-group property-information">
                        <label>Address</label>
                        <div>
                            <address-view address="vm.Agency.Address"></address-view>
                        </div>
                    </div>
                    <div class="form-group property-information">
                        <label>Effective Date</label>
                        <div>{{vm.Agency.EffectiveDate | date:'MM/dd/yyyy' | NA}}</div>
                    </div>
                    <div class="form-group property-information">
                        <label>Branch</label>
                        <div>
                            {{vm.Agency.BranchesAsString | NA }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group property-information">
                        <label>Cancel Date</label>
                        <div>{{vm.Agency.CancelDate | date:'MM/dd/yyyy' | NA}}</div>
                    </div>
                    <div class="form-group property-information">
                        <label>Renewal Cancel Date</label>
                        <div>{{vm.Agency.RenewalCancelDate | date:'MM/dd/yyyy' | NA}}</div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group property-information">
                        <label>Referral Date</label>
                        <div>{{vm.Agency.ReferralDate | date:'MM/dd/yyyy' | NA}}</div>
                    </div>
                    <div class="form-group property-information">
                        <label>Referral Agency</label>
                        <div>
                            <a ng-href="{{vm.Agency.AgencyReferralUrl}}" ng-click="vm.SearchWorkflow.ModalViewItem(vm.ReferralAgency)" title="{{ vm.ReferralAgency | agencyTooltip}}">{{ (vm.ReferralAgency) ? vm.ReferralAgency.Name : '' | NA }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.Agency.Note">
                <hr />
                <div class="property-information">
                    <label>Note</label>
                    <div>{{vm.Agency.Note}}</div>
                </div>
            </div>
        </div>
        <div class="secondary-information-tabs" ng-switch="vm.IsModal">
            <div ng-switch-when="true">
                <div class="nav-tab-bar">
                    <ul class="nav nav-tabs nav-tabs-borderless">
                        <li ng-class="{active: vm.CurrentTab == 0}"><a ng-click="vm.SetTab(0)">Linked Agencies</a></li>
                        <li ng-class="{active: vm.CurrentTab == 1}"><a ng-click="vm.SetTab(1)"><collection-label title="Underwriting Units" count="vm.Agency.UnderwritingUnits.length"></collection-label></a></li>
                        <li ng-class="{active: vm.CurrentTab == 2}"><a ng-click="vm.SetTab(2)"><collection-label title="Licensed States" count="vm.Agency.LicensedStates.length"></collection-label></a></li>
                        <li ng-if="vm.AgentsEnabled" ng-class="{active: vm.CurrentTab == 3}"><a ng-click="vm.SetTab(3)"><collection-label title="Agents" count="vm.Agency.Agents.length"></collection-label></a></li>
                        <li ng-class="{active: vm.CurrentTab == 4}"><a ng-click="vm.SetTab(4)"><collection-label title="Submissions" count="vm.SubmissionDataSource.count"></collection-label></a></li>
                    </ul>
                </div>
                <div class="tab-detail">
                    <div ng-include="vm.CurrentTabTemplateUrl"></div>
                </div>
            </div>
            <div ng-switch-default>
                <div class="nav-tab-bar">
                    <ul class="nav nav-tabs nav-tabs-borderless">
                        <li ui-sref-active="active"><a ui-sref="cn.search.agency.linkedagencies">Linked Agencies</a></li>
                        <li ui-sref-active="active"><a ui-sref="cn.search.agency.underwritingunits"><collection-label title="Underwriting Units" count="vm.Agency.UnderwritingUnits.length"></collection-label></a></li>
                        <li ui-sref-active="active"><a ui-sref="cn.search.agency.licensedstates"><collection-label title="Licensed States" count="vm.Agency.LicensedStates.length"></collection-label></a></li>
                        <li ng-if="vm.AgentsEnabled" ui-sref-active="active"><a ui-sref="cn.search.agency.agents"><collection-label title="Agents" count="vm.Agency.Agents.length"></collection-label></a></li>
                        <li ui-sref-active="active"><a ui-sref="cn.search.agency.submissions"><collection-label title="Submissions" count="vm.SubmissionDataSource.count"></collection-label></a></li>
                    </ul>
                </div>
                <div class="tab-detail">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>

