﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">{{vm.Description}}</h2>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="primary-column">Primary</th>
                    <th>Cancel Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in vm.Personnel" ng-class="{'soft-deleted': p.RetirementDate}">
                    <td>
                        {{p.FullName }}
                    </td>
                    <td class="primary-column">
                        <i class="fa fa-check" ng-show="p.IsPrimary"></i>
                    </td>
                    <td>
                        {{p.RetirementDate | date:'MM/dd/yyyy'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.Close()">Close</button>
    </div>
</div>