﻿HTML,BODY
{
	margin: 0px 0px 0px 0px;
	background-image: url(/BCS/images/gray_angle_background.png);
	height: 100%;
}

h1
{
	padding: 0;
	border-bottom: 0;
	margin: 0;
}

#container
{
	background-color: #fff;
	width: 770px;
	margin: 0px auto;
	height: 100%;
	padding: 0px;
}

#header
{
	height: 80px;
	margin-top: 0px;
	margin-right: 0px;
	padding-top: 0px;
}

	#header h1
	{
		position: relative;
		top: 20px;
		left: 20px;
	}
	
	#header #adminTab
	{
		position: relative;
		top: 40px;
		right: 20px;
		float: right;
		height: 30px;
	}
	
	#header #adminTab li
	{
	}

#contents
{
	padding: 20px;
}

	#contents h1
	{
		padding-top: 0px;
		margin-top: 7px;
		display:block;
	}

#footer
{
	padding: 8px 5px 5px 20px;
	height: 20px;
}

	#footer p
	{
		margin: 0px;
	}

		#footer p a:link
		{
		}
		
		#footer p a:active
		{
		}
		
		#footer p a:visited
		{
		}
		
		#footer p a:hover
		{
		}
		
	