/* --- HTML Element Styles --- */
BODY
{
	margin: 0px;
	background-color: White;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 11px;
}

A:link, A:visited
{
	color: #0040BF;
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}
/*
UL
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
LI
{
	margin-top: 2px;
	margin-bottom: 2px;
}
*/
H1
{
	color: black;
	font-family: Arial, Sans-Serif;
	font-size: 18px;
	font-weight: normal;
}

H2
{
	margin-bottom: 5px;
	color: black;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
}

INPUT
{
	font-size: 11px;
}

FIELDSET
{
	margin: 0;
}

SELECT
{
	font-size: 11px;
}

TEXTAREA
{
	font-size: 11px;
}
/* --- HTML Element Styles --- */



/* --- Page Content Styles --- */
.pageBody
{
	background-image: url(body_gradient.gif);
	background-repeat: repeat-x;
	background-color: #F5E8C5;
	padding: 20px 20px 20px 20px;
	color: black;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
}

.pageBody TABLE
{
	color: black;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
}

.pageBody .heading
{
	color: black;
	font-family: Arial, Sans-Serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	margin-bottom: 15px;
}

.pageBody .subHeading
{
	margin-bottom: 5px;
	color: black;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
}

.pageBody .pageText
{
	color: black;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
}

.pageBody .errorText
{
	color: Red;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
}

td .buttons
{
	padding-top: 15px
}

TABLE.fields TD.label
{
	text-align: right;
	padding-right: 10px;
}

.sectionGroupHeader
{
	color: black;
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	font-weight: normal;
	border-bottom: black 1px solid;
}

.searchCriteriaSection
{	
	margin: 15px;
}

.no_border_grid td
{
	border:none !important;
}

.Error
{
	color: Red;
	border: none;
	width: 80%;
	font-size: 12px;
	background-color: Transparent;
	font-weight: bold;
	overflow: hidden;
	min-height: 35px;		
}

.Warning
{	
	color:#FF5500;
}

.ImpInfo
{
	background-color: Yellow;
	padding: 2px 2px 2px 2px;
	display:block;
}

.ListSearchExtenderPrompt
{
	font-weight: bold;
	font-size: 10px;
	color: #A9A9A9;
}
.ListSearchExtenderPrompt4Footer
{
	font-weight: bold;
	font-size: 10px;
	color: #0A664C;
}
.ListSearchExtenderPromptWithMargin
{
	font-weight: bold;
	font-size: 10px;
	color: #A9A9A9;
	margin-left: 40px;
}


.disabled
{
	color: #ccc;
}

.compact_list
{
	margin-left: 0;
	padding-left: 25px;
}

.compact_list li
{
	padding-left: 0;
	list-style-type: square;
}
/* --- Page Content Styles --- */


/* --- ajax tab section --- */

/* bcstabs1 for tab without a header so that we can leverage update progress*/

.bcstabs1 .ajax__tab_header
{
	background-color:White;
	display:none;
}
.bcstabs1 .ajax__tab_outer
{	
}
.bcstabs1 .ajax__tab_inner
{
}
.bcstabs1 .ajax__tab_active .ajax__tab_tab
{
	color: White;
	background-color: White;
	border: none;
	
}
.bcstabs1 .ajax__tab_body
{
	border:none;
}
.bcstabs1 .ajax__tab_hover
{
}
.bcstabs1 .ajax__tab_tab
{
	background-color: #eee;
	font-weight: bold;
	/* TODO :: font size 8pt leaves a small gap between the tab and tab panel */
	border: solid 1px black;
	padding: 3pt;
	outline-style: none;
	font-size: 11px;
}

.bcstabs .ajax__tab_header
{
	background-color:White;
}
.bcstabs .ajax__tab_outer
{	
}
.bcstabs .ajax__tab_inner
{
}
.bcstabs .ajax__tab_active .ajax__tab_tab
{
	color:White;
	background-color:#00563F;
}
.bcstabs .ajax__tab_body
{
	border:solid 1px black;
}
.bcstabs .ajax__tab_hover
{
}
.bcstabs .ajax__tab_tab
{
	background-color: #eee;
	font-weight: bold;
	/* TODO :: font size 8pt leaves a small gap between the tab and tab panel */
	border: solid 1px black;
	padding: 3pt;
	outline-style: none;
	font-size: 11px;
}

.tabcontent
{
	padding: 10px 3px 3px 10px;		
}

/* --- end ajax tab section --- */

/* --- ajax autocomplete section --- */

/*AutoComplete flyout */

.autocomplete_completionListElement 
{  
	visibility : hidden;
	margin : 0px!important;
	padding-left: 1px!important;
	background-color : white;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left; 
    list-style-type : none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem
{
	background-color: #ffff99;
	color: black;
	padding: 1px;
}

/* AutoComplete item */

.autocomplete_listItem 
{
	background-color : window;
	color : windowtext;
	padding : 1px;
}

/* --- end ajax autocomplete section --- */

/* --- ajax modalBackground ---*/
.modalBackground
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

/* ---ASP.NET Control Styles --- */
.btn
{
	background-color: #00563F;
	color: white;
	border-style: none;
	padding: 2px 5px 2px 5px;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	font-style:	normal;
}

.cbo
{
	background-color: #FFFFE5;
	color: black;
	border: solid 1px black;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	font-style:	normal;
}

.chk
{
	color: black;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	font-style:	normal;
}

LABEL
{
	padding-left: 5px;
	padding-right: 5px;
}

.lbl
{
	color: black;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	font-style:	normal;
}

.lnk
{
	color: #2765CF;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	font-style:	normal;
}

.rdo
{
	color: black;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	font-style:	normal;
}

.txt
{
	padding-left: 2px;
	border: solid 1px #7F9DB9;
	background-color: #FFFFE5;
	color: black;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	font-style:	normal;
}

.grid
{
	margin: 5px 0px 5px 0px;
	border: solid 1px black;
	border-collapse: collapse;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
}
.grid TD
{
	padding: 2px 4px 2px 4px;
	border: solid 1px black;	
}
.grid .header TD
{
	background: #0A664C;
	color: #FCFCFC;
	text-align: center;
}
.grid .header A:link, .grid .header A:visited
{
	color: #FCFCFC;
	text-decoration: underline;
}
.grid .header A:hover
{
	text-decoration: underline;
}
.grid .item TD
{
	background-color: white;
	color: black;
}
.grid .altItem TD
{
	background-color: #E5E5E5;
	color: black;
}
.grid .footer TD
{
	background-color: white;
	color: black;
}
.grid .pager TD
{
	padding-left: 15px;
	background: #0A664C;
	color: white;
	font-weight: bold;
	text-align: left;
}
.grid .pager A:link, .grid .pager A:visited
{
	color: #D0D0D0;
	text-decoration: none;
}
.grid .pager A:hover
{
	text-decoration: underline;
}
.gridPager a, .gridPager a:link, .gridPager a:visited
{
	color:Black;
	text-decoration: underline;
}

.box
{
	margin-bottom: 15px;
}
.box .TL
{
	background-image: url(Box_TL.gif);
	background-repeat: no-repeat;
}
.box .TL div
{
	width: 15px;
	height: 30px;
}
.box .TC
{
	background-image: url(Box_TC.gif);
	background-repeat: repeat-x;
	padding: 4px 10px 4px 4px;
	color: #F3F3F3;
	font-family: Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	vertical-align: top;
}
.box .TR
{
	background-image: url(Box_TR.gif);
	background-repeat: no-repeat;
}
.box .TR div
{
	width: 15px;
	height: 30px;
}
.box .ML
{
	width: 15px;
	background-image: url(Box_ML.gif);
	background-repeat: repeat-y;
}
.box .MC
{
	background-color: White;
}
.box .MR
{
	width: 15px;
	background-image: url(Box_MR.gif);
	background-repeat: repeat-y;
}
.box .BL
{
	background-image: url(Box_BL.gif);
	background-repeat: no-repeat;
}
.box .BL div
{
	width: 15px;
	height: 15px;
}
.box .BC
{
	background-image: url(Box_BC.gif);
	background-repeat: repeat-x;
}
.box .BR
{
	background-image: url(Box_BR.gif);
	background-repeat: no-repeat;
}
.box .BR div
{
	width: 15px;
	height: 15px;
}
/* ---ASP.NET Control Styles --- */


/* --- Template-Only Styles --- */
TD.logoLine
{
	background-color: #0A664C;
}
TD.logoLine TABLE
{
	color: #F3F3F3;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
}
.logout
{
	margin-top: 5px;
	margin-right: 10px;
	font-weight: normal;
}
.logout A:link, .logout A:visited
{
	color: #F3F3F3;
	text-decoration: none;
}
.logout A:hover
{
	text-decoration: underline;
}

TD.tabsLine
{
	height: 20px;
	padding-left: 10px;
	border-bottom: solid 1px #F7F2E4;
	background-image: url(Title_Gradient.gif);
	background-repeat: repeat-y;
	background-color: #0A664C;
}

TD.footerLine
{
	border-bottom: white 1px solid;
	background-color: #00563F;
}
.pageFooter TD
{
	padding: 5px 10px 0px 10px;
	color: #B0B0B0;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 10px;
	text-decoration: none;
}
.footerLink, A.footerLink:link, A.footerLink:visited
{
	color: #B0B0B0;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
A.footerLink:hover
{
	text-decoration: underline;
}
/* --- Template-Only Styles --- */



/* --- Tab Control Styles --- */
.tabControl TD
{
	color: White;
	font-family: Arial, Sans-Serif;
	font-size: 11px;
}
.tabControl .tabText
{
	padding: 1px 5px 1px 5px;
}
.tabControl .tabTextOn
{
	padding: 1px 4px 1px 4px;
	background-image: url(TabCenter_on.gif);
	background-repeat: repeat-x;
	color: #BAA57F;
	font-weight: bold;
}
.tabControl .tabTextOff
{
	padding: 1px 5px 1px 5px;
	background-image: url(TabCenter_off.gif);
	background-repeat: repeat-x;
	color: #F7F4EB;
}
.tabControl .tabTextOn A:link, .tabControl .tabTextOn A:visited
{
	color: #BAA57F;
	text-decoration: none;
}
.tabControl .tabTextOff A:link, .tabControl .tabTextOff A:visited
{
	/*color: #F7F4EB;*/
	color: #333;
	text-decoration: none;
}
.tabControl A:hover
{
	text-decoration: none;
}
.tabControl .tabTextOn A:hover
{
	color: #BAA57F;
	text-decoration: underline;
}
.tabControl .tabTextOff A:hover
{
	/*color: #F7F4EB;*/
	color: #333;
	text-decoration: underline;
}
/* --- Tab Control Styles --- */



/* --- Company Selector Styles --- */
#companySelector
{
	position: absolute;
	right: 5px;
	top: 80px;
	font-size: 9px;
}
/* --- End Company Selector Styles --- */



/* --- Main Navigation (SUB) Styles --- */
.sub_navigation
{
	margin: 0;
	padding: 5px;
	background-color: White;
	border: solid 1px #0A664C;
	position: absolute;
}

.sub_navigation ul 
{
	margin: 0;
	padding: 0;
	border: none;
}

.sub_navigation ul li
{
	margin: 0;
	list-style-type: none;
	padding: 2px;
}

.sub_navigation ul li a:link, .sub_navigation ul li a:active, .sub_navigation ul li a:visited
{
	color: #0A664C !important;
}

#sub_search_nav
{
	/*left: 4px;*/
	top: 75px;
	display: none;
	width: 60px;
}

#sub_submission_nav
{
	top: 75px;
	display:none;
	width: 128px;
}

#sub_agency_nav
{
	top: 75px;
	display:none;
	width: 91px;
}

#sub_underwritingunits_nav
{
	top: 75px;
	display:none;
	width: 78px;
}

#sub_assignments_nav
{
	top: 75px;
	display:none;
	width: 78px;
}

#sub_administration_nav
{
	top: 75px;
	display:none;
	width: 78px;
}
/* --- End Main Navigation (SUB) Styles --- */

.tree a
{
	padding: 5px;
}
.tree a:hover
{
	color: White;
}
/* Lock Screen-related CSS Classes */
.LockOff {
    visibility: hidden;
    display: none;
    position: absolute;
    top: -100px;
    left: -100px;
}
.LockBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: visible;
    display: block;
    width: 105%;
    height: 105%;
    background-color: #666;
    z-index: 999;
    filter: alpha(opacity=75);
    opacity:0.75;
    padding-top: 20%;
}
.LockPane {
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 25%;
    visibility: visible;
    display: block;
    text-align: center;
    width: 100%;
}
.LockPane div {
    width: 400px;
    background-color: white;
    color: black;
    border: solid 2px Black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.displayedNone
{
	/* to be made display as none */
	border : dashed 1px black;
	display: none;
}
.wizStepStyle
{
	margin: 10px;
	padding: 10px;
}
.wizSideBarStyle
{
}

.selectedWizardStep
{
	/*background-color: #F7F6F3;
	border-color:#F7F6F3;
	border-collapse: collapse;
	margin: 1px;
	padding: 1px;
	text-indent: 2px;
	text-align: right;*/
	background-color: #F7F6F3; width:100%; border-color:#F7F6F3; margin:0px; padding: 0px;
                             background: url(Images/setnext.gif) no-repeat fixed right;
                             color: red !important;  
}

/*Reorder List*/
.dragHandle {
	width:10px;
	height:15px;
	/*background-color:Blue;*/
	background-image:url(body_gradient.gif);
	cursor:move;
	border:outset thin white;
}

.callbackStyle {
	border:thin blue inset;		
}

.callbackStyle table {
	background-color:#5377A9;	
	color:Black;
}


.reorderListDemo li {
	list-style:none;
	margin:2px;
	background: gainsboro;
	/*background-image: url(Box_ML.gif);
	background-repeat:repeat-x;*/
	color: gainsboro;
}

.reorderListDemo li a {color:#FFF !important; font-weight:bold;}

.reorderCue {
	border:dashed thin black;
	width:100%;
	height:25px;
}

.itemArea {
	margin-left:15px;
	font-family:Arial, Verdana, sans-serif;
	font-size:1em;
	text-align:left;
}
/*End Reorder List*/

.notyetsearched
{
	vertical-align:middle;
	width: 9px;
	height: 9px;
}
.success
{
	vertical-align:middle;
	width: 9px;
	height: 9px;
	background: green;
}
.failure
{
	vertical-align:middle;
	width: 9px;
	height: 9px;
	background: red;
}
.empty
{
	vertical-align:middle;
	width: 9px;
	height: 9px;
	background: orange;
}
