﻿HTML,BODY
{
	font-family: "Lucida Grande", Arial, Sans-Serif;
	text-align: center;
}

h1
{

}

#header
{
	text-align: left;
}

	#header h1
	{
		font-weight: normal;
		font-size: 30px;
	}
	
	#header #adminTab
	{
		list-style-type: none;
	}
	
	#header #adminTab li
	{
	}

#contents
{
	text-align: left;
}

	#contents h1
	{
		font-size: 24px;
	}
	
#footer
{
	text-align: left;
}

	#footer p
	{
		font-size: 10pt;
	}
	
		#footer p a:link
		{
		}
		
		#footer p a:active
		{
		}
		
		#footer p a:visited
		{
		}
		
		#footer p a:hover
		{
		}