<%@ Control Language="C#" AutoEventWireup="false" CodeFile="FilterEditor.ascx.cs" Inherits="Berkley.BLC.Web.Internal.Controls.FilterEditor" %>
<%@ Register TagPrefix="cc" Namespace="Berkley.BLC.Web.Internal.Controls" %>
<cc:DynamicControlsPlaceholder id="phConditions" Runat="Server" />
<tr>
	<td>&nbsp;</td>
	<td colspan="4">
	<asp:LinkButton id="btnAdd" Text="Add Condition" Runat="Server" CausesValidation="False" />
	</td>
</tr>