﻿<div class="clearance-application-container">
    <alert type="'warning'" ng-if="vm.SubmissionWorkflow.AgencyInWarningState">
        <div ng-if="vm.SubmissionWorkflow.OriginalAgencySelection != null">
            {{vm.SubmissionWorkflow.OriginalAgencySelection | codeItem}} referred to {{vm.SubmissionWorkflow.Agency | codeItem}}
            as of {{vm.SubmissionWorkflow.OriginalAgencySelection.ReferralDate | date:'MM/dd/yyyy'}}.
        </div>
        <div ng-if="vm.SubmissionWorkflow.AgencyLicensedStateMessage != null">
            {{vm.SubmissionWorkflow.AgencyLicensedStateMessage}}
        </div>
    </alert>
    <h3 class="no-top-margin">Insured</h3>
    <div class="row form-group">
        <div class="col-md-2">
            <label>Doing Business As</label>
        </div>
        <div class="col-md-4">
            <div ng-switch="vm.DoingBusinessAsNames.length">
                <div ng-switch-when="0">{{null | NA}}</div>
                <div ng-switch-default>
                    <select class="form-control" ng-model="vm.SubmissionWorkflow.DbaAsObject" ng-options="i as i.BusinessName for i in vm.DoingBusinessAsNames">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            <label>Additional Names</label>
        </div>
        <div class="col-md-4">
            <submission-names-write client-names="vm.AdditionalNames" submission-names="vm.SubmissionWorkflow.AdditionalNames" name-updatable="false"></submission-names-write>
        </div>
        <div class="col-md-6">
            <validation-message property="AdditionalNames"></validation-message>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            <label is-required="true">Address(es)</label>
        </div>
        <div class="col-md-6">
            <submission-addresses-write client-addresses="vm.ClientAddresses" submission-addresses="vm.SubmissionWorkflow.Addresses" on-selected-address-change="vm.SubmissionWorkflow.SelectedAddressesChanged" address-updatable="false"></submission-addresses-write>
        </div>
        <div class="col-md-4">
            <validation-message property="Addresses"></validation-message>
        </div>
    </div>
    <h3 class="no-top-margin">Application</h3>
    <div class="row form-group">
        <div class="col-md-2">
            <label is-required="true">Type</label>
        </div>
        <div class="col-md-4">
            <select class="form-control" name="SubmissionType" ng-model="vm.SubmissionWorkflow.SubmissionType" ng-change="vm.SubmissionWorkflow.TypeChanged(vm.Submission)" ng-options="i as i.TypeName for i in vm.SubmissionWorkflow.SubmissionTypes track by i.TypeName"></select>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.EffectiveDate.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Required">{{vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Label}}</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="EffectiveDate" placeholder="mm/dd/yyyy" ng-model="vm.Submission.EffectiveDate" ng-change="vm.SubmissionWorkflow.EffectiveDateChanged(vm.Submission, true)" date-picker="{numberOfMonths: 3}" validated-field />
        </div>
        <div class="col-md-6">
            <validation-message property="EffectiveDate"></validation-message>
            <div class="validation-column-container" ng-if="vm.SubmissionWorkflow.FutureEffectiveDate != null">
                <a ng-click="vm.SubmissionWorkflow.SetFutureEffectiveDate(vm.Submission)" ng-hide="vm.SubmissionWorkflow.EffectiveDateIsFutureDate(vm.Submission)" title="Set the Effective Date to be {{vm.SubmissionWorkflow.CompanySettings.FutureEffectiveDateDayCount}} days from today">set {{vm.SubmissionWorkflow.CompanySettings.FutureEffectiveDateDayCount}} days out</a>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.ExpirationDate.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Required">{{vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Label}}</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="ExpirationDate" placeholder="mm/dd/yyyy" ng-model="vm.Submission.ExpirationDate" date-picker validated-field />
        </div>
        <div class="col-md-6">
            <validation-message property="ExpirationDate"></validation-message>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.Agency.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.SubmissionWorkflow.SubmissionType.Agency.Required">{{vm.SubmissionWorkflow.SubmissionType.Agency.Label}}</label>
        </div>
        <div class="col-md-4">
            <submission-agency-search submission-workflow="vm.SubmissionWorkflow"></submission-agency-search>
        </div>
        <div class="col-md-6">
            <validation-message property="Agency"></validation-message>
            <warning-message message="{{vm.SubmissionWorkflow.AgencyShortWarningMessage}}">></warning-message>
        </div>
    </div>
    <div class="row agency-alert-container" ng-if="vm.SubmissionWorkflow.Agency.Note">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <alert type="'info'">
                <h4>Agency Notes</h4>
                <span>{{vm.SubmissionWorkflow.Agency.Note}}</span>
            </alert>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.Agent.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.SubmissionWorkflow.SubmissionType.Agent.Required">{{vm.SubmissionWorkflow.SubmissionType.Agent.Label}}</label>
        </div>
        <div class="col-md-4">
            <select class="form-control" name="Agent" ng-disabled="vm.SubmissionWorkflow.TypeAheadAgency == null" ng-model="vm.SubmissionWorkflow.Agent" ng-options="i as i.FullName group by i.Type for i in vm.SubmissionWorkflow.Agents" validated-field>
                <option></option>
            </select>
        </div>
        <div class="col-md-6">
            <validation-message property="Agent"></validation-message>
        </div>
    </div>
</div>