﻿<div class="clearance-client-container">
    <div class="row form-group" ng-if="vm.ShowSegment">
        <div class="col-md-2">
            <label is-required="true">{{vm.CompanySettings.ClientFields.ClientCoreSegment.Label}}</label>
        </div>
        <div class="col-md-4">
            <select name="ClientCoreSegment" class="form-control" ng-model="vm.Client.ClientCoreSegment" ng-options="c as c.Description for c in vm.CompanySettings.ClientCoreSegments | orderBy:'Description'" validated-field></select>
        </div>
        <div class="col-md-6">
            <validation-message property="ClientCoreSegment"></validation-message>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            <label is-required="true">Business Name</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="BusinessName" ng-model="vm.Client.PrimaryName.BusinessName" class="form-control" validated-field />
        </div>
        <div class="col-md-6">
            <validation-message property="BusinessName"></validation-message>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>{{vm.CompanySettings.UsesCms ? 'Doing Business As' : 'Additional Names'}}</label>
        </div>
        <div class="col-md-4">
            <client-names-write additional-names="vm.Client.AdditionalNames"></client-names-write>
        </div>
    </div>
    <h3 class="no-top-margin no-bottom-margin">&nbsp;</h3>
    <div class="row form-group" ng-show="vm.CompanySettings.ClientFields.FEIN.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.CompanySettings.ClientFields.FEIN.Required">{{vm.CompanySettings.ClientFields.FEIN.Label}}</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="FEIN" class="form-control" ng-model="vm.Client.FEIN" validated-field />
        </div>
        <div class="col-md-6">
            <validation-message property="FEIN"></validation-message>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.CompanySettings.ClientFields.BusinessDescription.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.CompanySettings.ClientFields.BusinessDescription.Required">{{vm.CompanySettings.ClientFields.BusinessDescription.Label}}</label>
        </div>
        <div class="col-md-4">
            <textarea name="BusinessDescription" class="form-control" ng-model="vm.Client.BusinessDescription" validated-field></textarea>
        </div>
        <div class="col-md-6">
            <validation-message property="BusinessDescription"></validation-message>
        </div>
    </div>
    <div class="row form-group" ng-repeat="b in vm.Client.CompanyCustomizationBindings">
        <div class="col-md-2">
            <label is-required="b.Customization.Required">{{b.Customization.Description}}</label>
        </div>
        <div class="col-md-4">
            <div validated-field="{names: ['Customization-' + b.Customization.Description]}">
                <company-customization-write binding="b"></company-customization-write>
            </div>
        </div>
        <div class="col-md-6">
            <validation-message property="{{'Customization-' + b.Customization.Description}}"></validation-message>
        </div>
    </div>
    <div class="form-group" ng-show="vm.CompanySettings.ClientFields.SicCode.VisibleOnAdd">
        <div class="row">
            <div class="col-md-2">
                <label is-required="vm.CompanySettings.ClientFields.SicCode.Required">{{vm.CompanySettings.ClientFields.SicCode.Label}}</label>
            </div>
            <div class="col-md-4">
                <span ng-model="vm.Client.SicCode" item-select="{ source: vm.SicCodeSearch, display: 'i.Code + \' - \' + i.Description', matchTemplate: 'item-select-sic-code'}"></span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="vm.CompanySettings.ClientFields.NaicsCode.VisibleOnAdd">
        <div class="row">
            <div class="col-md-2">
                <label is-required="vm.CompanySettings.ClientFields.NaicsCode.Required">{{vm.CompanySettings.ClientFields.NaicsCode.Label}}</label>
            </div>
            <div class="col-md-4">
                <span ng-model="vm.Client.NaicsCode" item-select="{ source: vm.NaicsCodeSearch, display: 'i.Code + \' - \' + i.Description', matchTemplate: 'item-select-naics-code'}"></span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="vm.CompanySettings.ClientFields.ContactInformation.VisibleOnAdd">
        <div class="row">
            <div class="col-md-2">
                <label is-required="vm.CompanySettings.ClientFields.ContactInformation.Required">{{vm.CompanySettings.ClientFields.ContactInformation.Label}}</label>
            </div>
            <div class="col-md-4">
                <client-contacts-write contacts="vm.Client.Contacts" uses-cms="vm.CompanySettings.UsesCms"></client-contacts-write>
            </div>
        </div>
    </div>
    <h3 class="no-top-margin">
        Addresses
    </h3>
    <client-addresses-write addresses="vm.Client.Addresses" uses-cms="vm.CompanySettings.UsesCms" is-new="true"></client-addresses-write>
</div>