﻿<div class="clearance-duplicates-container" ng-hide="vm.SubmissionWorkflow.LoadingDuplicates">
    <div class="row">
        <div class="col-xs-12">
            <alert type="'danger'" ng-show="vm.SubmissionWorkflow.HasExactDuplicate">
                This submission already exists.  Click "Cancel" to end processing, or select the application this is a duplicate of (if applicable) and continue.
            </alert>
            <alert ng-hide="vm.SubmissionWorkflow.HasExactDuplicate">
                It appears there may be an application like this that already exists.  Please select the application this is a duplicate of (if applicable) and continue.
            </alert>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <submissions fields="vm.SubmissionWorkflow.DuplicateSubmissionFields" submissions="vm.SubmissionWorkflow.DuplicateMatches" duplicates-submission-workflow="vm.SubmissionWorkflow" disable-links="true"></submissions>
        </div>
    </div>
</div>
