﻿<div class="clearance-policy-container">
    <div>
        <div ng-show="vm.SubmissionWorkflow.SubmissionType.ClassCodes.VisibleOnAdd">
            <h3 class="no-top-margin no-bottom-margin">Class Codes</h3>
            <div class="row form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <class-codes editing="true" class-codes="vm.Submission.ClassCodes" view="submission"></class-codes>
                </div>
            </div>
        </div>
        <h3 class="no-top-margin">Policy & Underwriting</h3>
        <div>
            <div>
                <div ng-hide="vm.EditEffectiveDates">
                    <div class="row form-group effective-period-container" ng-show="vm.SubmissionWorkflow.SubmissionType.EffectiveDate.VisibleOnAdd">
                        <div class="col-md-2">
                            <label>Effective Period</label>
                        </div>
                        <div class="col-md-4">
                            <span>{{vm.Submission.EffectiveDate | date:'MM/dd/yyyy'}} - {{vm.Submission.ExpirationDate | date:'MM/dd/yyyy' | NA}}</span>
                            <a ng-click="vm.EditEffectiveDates = true">edit</a>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <div ng-show="vm.EditEffectiveDates">
                    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.EffectiveDate.VisibleOnAdd">
                        <div class="col-md-2">
                            <label is-required="vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Required">{{vm.SubmissionWorkflow.SubmissionType.EffectiveDate.Label}}</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="EffectiveDate" placeholder="mm/dd/yyyy" ng-model="vm.Submission.EffectiveDate" ng-change="vm.SubmissionWorkflow.EffectiveDateChanged(vm.Submission, false)" date-picker validated-field />
                        </div>
                        <div class="col-md-6">
                            <validation-message property="EffectiveDate"></validation-message>
                        </div>
                    </div>
                    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.ExpirationDate.VisibleOnAdd">
                        <div class="col-md-2">
                            <label is-required="vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Required">{{vm.SubmissionWorkflow.SubmissionType.ExpirationDate.Label}}</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="ExpirationDate" placeholder="mm/dd/yyyy" ng-model="vm.Submission.ExpirationDate" date-picker validated-field />
                        </div>
                        <div class="col-md-6">
                            <validation-message property="ExpirationDate"></validation-message>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit.VisibleOnAdd">
                <div class="col-md-2">
                    <label is-required="vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit.Label}}</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="UnderwritingUnit" ng-model="vm.Submission.UnderwritingUnit" ng-change="vm.SubmissionWorkflow.UnderwritingUnitChanged(vm.Submission)" ng-options="i as (i | codeItemEdit) for i in vm.SubmissionWorkflow.UnderwritingUnits track by i.Code" validated-field>
                        <option></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <validation-message property="UnderwritingUnit"></validation-message>
                </div>
            </div>
            <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.PolicySymbol.VisibleOnAdd">
                <div class="col-md-2">
                    <label is-required="vm.SubmissionWorkflow.SubmissionType.PolicySymbol.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicySymbol.Label}}</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="PolicySymbol" ng-model="vm.Submission.PolicySymbol" ng-options="i as (i.Code + ' - ' + i.Description) for i in vm.SubmissionWorkflow.PrimaryPolicySymbols track by i.Code" validated-field>
                        <option></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <validation-message property="PolicySymbol"></validation-message>
                </div>
            </div>
            <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols.VisibleOnAdd">
                <div class="col-md-2">
                    <label is-required="vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols.Required">{{vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols.Label}}</label>
                </div>
                <div class="col-md-4">
                    <package-policy-symbols-write policy-symbols="vm.Submission.PackagePolicySymbols"></package-policy-symbols-write>
                </div>
                <div class="col-md-6">
                    <validation-message property="PackagePolicySymbols"></validation-message>
                </div>
            </div>
            <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.Underwriter.VisibleOnAdd">
                <div class="col-md-2">
                    <label is-required="vm.SubmissionWorkflow.SubmissionType.Underwriter.Required">{{vm.SubmissionWorkflow.SubmissionType.Underwriter.Label}}</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="Underwriter" ng-model="vm.Submission.Underwriter" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.Underwriters track by i.UserName" validated-field>
                        <option></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <validation-message property="Underwriter"></validation-message>
                </div>
            </div>
            <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst.VisibleOnAdd">
                <div class="col-md-2">
                    <label is-required="vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst.Label}}</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="UnderwritingAnalyst" ng-model="vm.Submission.UnderwritingAnalyst" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.UnderwritingAnalysts track by i.UserName" validated-field>
                        <option></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <validation-message property="UnderwritingAnalyst"></validation-message>
                </div>
            </div>
            <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician.VisibleOnAdd">
                <div class="col-md-2">
                    <label is-required="vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician.Label}}</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="UnderwritingTechnician" ng-model="vm.Submission.UnderwritingTechnician" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.UnderwritingTechnicians track by i.UserName" validated-field>
                        <option></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <validation-message property="UnderwritingTechnician"></validation-message>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-repeat="b in vm.Submission.CompanyCustomizationBindings">
        <div class="col-md-2">
            <label is-required="b.Customization.Required">{{b.Customization.Description}}</label>
        </div>
        <div class="col-md-4">
            <div>
                <company-customization-write binding="b"></company-customization-write>
            </div>
        </div>
        <div class="col-md-6">
            <validation-message property="{{'Customization-' + b.Customization.Description}}"></validation-message>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.PriorCarrier.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.SubmissionWorkflow.SubmissionType.PriorCarrier.Required">{{vm.SubmissionWorkflow.SubmissionType.PriorCarrier.Label}}</label>
        </div>
        <div class="col-md-4">
            <span name="PriorCarrier" validated-field="{icon: true}" ng-model="vm.Submission.PriorCarrier" item-select="{ source: vm.SubmissionWorkflow.CarrierSearch, display: 'i.Description', matchTemplate: 'item-select-carrier', minLength: 1}"></span>
        </div>
        <div class="col-md-6">
            <validation-message property="PriorCarrier"></validation-message>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium.Required">{{vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium.Label}}</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" name="PriorCarrierPremium" class="form-control" ng-model="vm.Submission.PriorCarrierPremium" validated-field />
            </div>
        </div>
        <div class="col-md-6">
            <validation-message property="PriorCarrierPremium"></validation-message>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.PolicySystem.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.SubmissionWorkflow.SubmissionType.PolicySystem.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicySystem.Label}}</label>
        </div>
        <div class="col-md-4">
            <select class="form-control" name="PolicySystem" ng-model="vm.Submission.PolicySystem" ng-options="i as (i | codeItemEdit) for i in vm.SubmissionWorkflow.PolicySystems track by i.Code" validated-field>
                <option></option>
            </select>
        </div>
        <div class="col-md-6">
            <validation-message property="PolicySystem"></validation-message>
        </div>
    </div>
    <div class="row form-group" ng-show="vm.SubmissionWorkflow.SubmissionType.PolicyNumber.VisibleOnAdd">
        <div class="col-md-2">
            <label is-required="vm.SubmissionWorkflow.SubmissionType.PolicyNumber.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicyNumber.Label}}</label>
        </div>
        <div class="col-md-4 policy-number-generation-container">
            <div ng-if="vm.SubmissionWorkflow.CompanySettings.PolicyNumberGeneratable" class="radio-input-collection">
                <label>
                    <input type="radio" class="radio-inline" name="GeneratePolicyNumberSelection" ng-model="vm.Submission.ViewState.GeneratePolicyNumber" ng-value="true" ng-change="vm.SubmissionWorkflow.PolicyNumberGenerationChanged(vm.Submission)" />
                    Generate upon completion
                </label>
                <label>
                    <input type="radio" class="radio-inline" name="GeneratePolicyNumberSelection" ng-model="vm.Submission.ViewState.GeneratePolicyNumber" ng-value="false" ng-change="vm.SubmissionWorkflow.PolicyNumberGenerationChanged(vm.Submission)" />
                    Enter my own
                </label>
            </div>
            <div class="row" ng-if="!vm.Submission.ViewState.GeneratePolicyNumber" ng-class="{'padded-policy-number-container': vm.SubmissionWorkflow.CompanySettings.PolicyNumberGeneratable}">
                <div ng-class="{'col-xs-8': vm.SubmissionWorkflow.SubmissionType.PolicyMod.VisibleOnAdd, 'col-md-12': !vm.SubmissionWorkflow.SubmissionType.PolicyMod.VisibleOnAdd}">
                    <input type="text" name="PolicyNumber" class="form-control" ng-model="vm.Submission.PolicyNumber" validated-field />
                </div>
                <div class="col-xs-4" ng-show="vm.SubmissionWorkflow.SubmissionType.PolicyMod.VisibleOnAdd">
                    <input type="text" name="PolicyMod" class="form-control mod-input" ng-model="vm.Submission.PolicyMod" placeholder="Mod" validated-field />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <validation-message property="PolicyNumber"></validation-message>
            <validation-message property="PolicyMod"></validation-message>
        </div>
    </div>
    <div ng-show="vm.SubmissionWorkflow.SubmissionType.Status.VisibleOnAdd">
        <h3 class="no-top-margin">Status Details</h3>
        <submission-status item="vm.Submission" view="clearance" submission-type="vm.SubmissionWorkflow.SubmissionType"></submission-status>
    </div>
</div>
