﻿<div id="body-container">
    <div id="body-header">
        <div class="row">
            <div class="col-xs-12">
                <div id="header-container">
                    <div class="page-heading">
                        <h1>{{vm.pageHeading}}</h1>
                    </div>
                    <div class="row page-controls-container">
                        <div class="col-xs-6 page-subheading">{{vm.pageSubheading}}</div>
                        <div class="col-xs-6 page-controls">{RIGHT}</div>
                    </div>
                    <div class="page-navigation">
                        <!--<ul id="" class="list-inline">
                            <li><a href="#">Page Section1</a></li>
                            <li><a href="#">Page Section2</a></li>
                            <li><a href="#">Page Section3</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="body-content" ng-show="!PageLoading">

        <div class="row">
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ligula arcu, ornare eu sollicitudin ac, facilisis aliquet nulla. Aenean mattis arcu ut finibus semper. Nam a lacus at sem tempor aliquam in tincidunt eros. Etiam sapien nunc, accumsan ac pellentesque sed, interdum efficitur enim. Donec quam nulla, auctor non efficitur et, feugiat in metus. Mauris egestas, arcu at malesuada tincidunt, magna elit pharetra justo, et maximus justo lacus a augue. Vestibulum pulvinar neque at elit varius tempus. Etiam et augue ligula.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                left column
            </div>
            <div class="col-md-10">
                <div ui-view></div>
            </div>
        </div>

    </div>
</div>
<!--
<div class="panel panel-default" ng-show="!PageLoading">
    <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
        <h3 ng-show="!isFeeCompany" class="panel-title pull-left" style="margin-top: 3px">Users</h3>
        <h3 ng-show="isFeeCompany" class="panel-title pull-left" style="margin-top: 3px">Fee Companies</h3>
        <div class="pull-right">
            <button ng-show="!isFeeCompany" type="button" class="btn btn-info btn-xs" ng-click="NewUser()">New User</button>            
            <button ng-show="isFeeCompany"  type="button" class="btn btn-info btn-xs" ng-click="NewUser()">New Fee Company</button>            
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input class="col-sm-6" type="text" ng-model="NameFilter" ng-change="UserList.FilterChanged()" placeholder="Search Name" />
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">Account Disabled</label>
                <input class="col-sm-8 pull-left" type="checkbox"  ng-change="UserList.FilterChanged()" ng-model="AccountDisabledFilter" />
            </div>
        </div>
        <div>
            <label class="col-sm-12 control-label"><br /></label>
        </div>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
            <thead>
                <tr>
                    <th>Name</th>
                    <th ng-click="order('Username', reverse);reverse=!reverse;" ng-show="!isFeeCompany">UserName</th>
                    <th ng-show="isFeeCompany">City</th>
                    <th ng-show="isFeeCompany">State</th>
                    <th>Work Phone</th>
                    <th ng-show="!isFeeCompany">Fax Number</th>
                    <th>Email Address</th>
                    <th ng-show="!isFeeCompany">Security Role</th>
                </tr>
            </thead>
            <tr ng-repeat="user in UserList.DisplayItems() " class="cursor-pointer">
                <td><a ng-click="SelectUser(user)" style="cursor:pointer">{{user.Name}}</a></td>
                <td ng-show="!isFeeCompany">{{user.Username}}</td>
                <td ng-show="isFeeCompany">{{user.City}}</td>
                <td ng-show="isFeeCompany">{{user.StateCode}}</td>
                <td>{{user.WorkPhone | tel}}</td>
                <td ng-show="!isFeeCompany">{{user.FaxNumber}}</td>
                <td><a href="mailto:{{user.EmailAddress}}">{{user.EmailAddress}}</a></td>
                <td ng-show="!isFeeCompany"><select disabled class="col-sm-12" ng-model="user.RoleID" ng-options="s.ID as s.Name for s in UserRoles"></select></td>
            </tr>
            </tbody>
            <tfoot ng-show="UserList.ShowPager">
                <tr>
                    <td colspan="2" class="text-center">
                        <pagination on-select-page="UserList.ChangePage(page)" boundary-links="true" total-items="UserList.TotalItemCount" max-size="10" page="UserList.CurrentPage" items-per-page="UserList.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<script type="text/ng-template" id="user-item-modal">
    <div class="modal-header">
        <h3 ng-show="!isFeeCompany">User</h3>
        <h3 ng-show="isFeeCompany">Fee Company</h3>
    </div>
    <form class="form-horizontal" role="form" name="Form.User" ng-submit="Update()">
        <div class="modal-body">
            <alert ng-repeat="v in ValidationErrors" type="'danger'">{{v.Message}}</alert>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Name" ng-model="Item.Name" />
                </div>
                <label ng-show="!isFeeCompany" class="col-sm-2 control-label">Domain Name</label>
                <div ng-show="!isFeeCompany" class="col-sm-4">
                    <input type="text" class="form-control" name="DomainName" ng-model="Item.DomainName" />
                </div>
            </div>
            <div class="form-group">
                <label ng-show="!isFeeCompany" class="col-sm-2 control-label">Username</label>
                <div ng-show="!isFeeCompany" class="col-sm-4">
                    <input type="text" class="form-control" name="Username" ng-model="Item.Username" />
                </div>
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Title" ng-model="Item.Title" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Certifications</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Certifications" ng-model="Item.Certifications" />
                </div>
                <label class="col-sm-2 control-label">EmailAddress</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="EmailAddress" ng-model="Item.EmailAddress" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">WorkPhone</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="WorkPhone" ng-model="Item.WorkPhone" />
                </div>
                <label ng-show="!isFeeCompany" class="col-sm-2 control-label">HomePhone</label>
                <div ng-show="!isFeeCompany" class="col-sm-4">
                    <input type="text" class="form-control" name="HomePhone" ng-model="Item.HomePhone" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">MobilePhone</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="MobilePhone" ng-model="Item.MobilePhone" />
                </div>
                <label class="col-sm-2 control-label">FaxNumber</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="FaxNumber" ng-model="Item.FaxNumber" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Manager</label>
                <div class="col-sm-4"><select class="col-sm-12" ng-model="Item.ManagerID" ng-options="m.ID as m.Name for m in Item.Managers"></select></div>
                <label class="col-sm-2 control-label">Profit Center</label>
                <div class="col-sm-4"><select class="col-sm-12" ng-model="Item.ProfitCenter.Code" ng-options="c.Code as c.Description for c in Item.ProfitCenters"></select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Street Line 1</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="StreetLine1" ng-model="Item.StreetLine1" />
                </div>
                <label class="col-sm-2 control-label">Street Line 2</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="StreetLine2" ng-model="Item.StreetLine2" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="City" ng-model="Item.City" />
                </div>
                <label class="col-sm-2 control-label">State</label>
                <div class="col-sm-4"><select class="col-sm-12" ng-model="Item.StateCode" ng-options="s.Code as s.Name for s in Item.States"></select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Zip</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="ZipCode" ng-model="Item.ZipCode" />
                </div>
                <label class="col-sm-2 control-label">Account Disabled</label>
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" name="AccountDisabled" ng-model="Item.AccountDisabled" />
                </div>
            </div>
            <div ng-show="!isFeeCompany" class="form-group">
                <label class="col-sm-2 control-label">Security Role</label>
                <div class="col-sm-10"><select class="col-sm-12" ng-model="Item.RoleID" ng-options="s.ID as s.Name for s in Item.UserRoles"></select></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" ng-disabled="SavingItem" ng-click="Delete()" ng-show="ShowDelete">Delete</button>
                <input type="submit" ng-disabled="SavingItem" class="btn btn-primary" value="{{SaveButtonText}}" />
                <button type="button" class="btn btn-default" ng-disabled="SavingItem" ng-click="Cancel()">Cancel</button>
            </div>
    </form>
</script>
-->