﻿<div class="administration-class-codes row">
    <div class="col-md-4 primary-actions-container">
        <div>
            Search for an existing class code to edit:
            <div name="ExistingClassCodesContainer">
                <span ng-model="vm.SelectedClassCode" ng-change="vm.SelectClassCode(vm.SelectedClassCode)" item-select="{ source: vm.ClassCodeSearch, multiSelect: true, matchTemplate: 'item-select-class-code'}"></span>
            </div>
        </div>
        <div class="or-container">
            or
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-disabled="vm.AppState.Loading" ng-click="vm.SelectClassCode()">Create New Class Code</button>
        </div>
    </div>
    <div class="col-md-8 primary-view-container">
        <div ui-view></div>
    </div>
</div>
