﻿.administration {
    .administration-class-codes {
        .hazard-grades-container {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }

        .primary-actions-container {
            div[name="ExistingClassCodesContainer"] {
                display: inline-block;
                margin-top: 5px;
                width: 80%;
                max-width: 250px;
            }
        }
    }
}
