﻿<form role="form" name="vm.ClassCodeForm" ng-submit="vm.Save()" class="administration-class-codes" ng-hide="vm.AppState.PageGenerating">
    <alert ng-show="vm.ClassCodeForm.ValidationErrors.length > 0" type="'danger'">
        <ul>
            <li ng-repeat="v in vm.ClassCodeForm.ValidationErrors">{{v.Message}}</li>
        </ul>
    </alert>
    <div>
        <h3>Details</h3>
        <div class="form-group property-information">
            <label is-required="true">Code</label>
            <div>
                <input type="text" class="form-control" name="CodeValue" ng-model="vm.Item.CodeValue" validated-field />
            </div>
        </div>
        <div class="form-group property-information">
            <label is-required="true">Description</label>
            <div>
                <input type="text" class="form-control" name="Description" ng-model="vm.Item.Description" validated-field />
            </div>
        </div>
        <div class="form-group property-information">
            <label>GL Code</label>
            <div>
                <input type="text" class="form-control" name="GLCodeValue" ng-model="vm.Item.GLCodeValue" validated-field />
            </div>
        </div>
        <div class="form-group property-information">
            <label>SIC Code</label>
            <div>
                <span ng-model="vm.Item.SicCode" item-select="{ source: vm.SicCodeSearch, display: 'i.Code + \' - \' + i.Description', matchTemplate: 'item-select-sic-code'}"></span>
            </div>
        </div>
        <div class="form-group property-information">
            <label>NAICS Code</label>
            <div>
                <span ng-model="vm.Item.NaicsCode" item-select="{ source: vm.NaicsCodeSearch, display: 'i.Code + \' - \' + i.Description', matchTemplate: 'item-select-naics-code'}"></span>
            </div>
        </div>
        <div class="form-group property-information" ng-repeat="b in vm.Item.CompanyCustomizationBindings">
            <label>{{b.Customization.Description}}</label>
            <div>
                <company-customization-write binding="b"></company-customization-write>
            </div>
        </div>
    </div>
    <div>
        <h3>Hazard Grades</h3>
        <div class="hazard-grades-container">
            <div ng-repeat="h in vm.Item.HazardGrades" class="form-group property-information">
                <label>{{h.Code}}</label>
                <div>
                    <input type="text" class="form-control" ng-model="h.Description" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="clearfix">
        <div class="pull-left">
            <button type="button" class="btn btn-danger" ng-disabled="vm.AppState.Loading" ng-click="vm.Delete()" ng-show="!vm.IsNew">Delete</button>
        </div>
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" ng-disabled="vm.AppState.Loading" value="{{(vm.IsNew) ? 'Create Class Code' : 'Update Class Code'}}" />
        </div>
    </div>
</form>