﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Agency Search <span ng-show="vm.EffectiveDate != null">(Effective {{vm.EffectiveDate | date:'MM/dd/yyyy'}})</span></h2>
    </div>
    <div class="modal-body">
        <search workflow="vm.Workflow"></search>
    </div>
</div>