﻿<form role="form" class="search-form" ng-submit="vm.Workflow.SubmissionSearch()">
    <div class="input-container">
        <h4></h4>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Submission or Policy Number</label>
                    <input type="text" name="submissionNumber" class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.EntityNumber" />
                </div>
                <div class="form-group">
                    <label>Submitted Date</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="From" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmittedStart" date-picker />
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="To" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmittedEnd" date-picker />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Effective Date</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="From" ng-model="vm.Workflow.SubmissionSearchCriteria.EffectiveStart" date-picker />
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="To" ng-model="vm.Workflow.SubmissionSearchCriteria.EffectiveEnd" date-picker />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmissionType" ng-options="i.TypeName as i.TypeName for i in vm.Workflow.SubmissionTypes">
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.SubmissionStatus" ng-options="i.Code as i.Code for i in vm.Workflow.SubmissionStatuses">
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Underwriting Unit</label>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.UnderwritingUnit" ng-options="i.Description as i.Description for i in vm.Workflow.UnderwritingUnits">
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Underwriter</label>
                    <select class="form-control" ng-model="vm.Workflow.SubmissionSearchCriteria.Underwriter" ng-options="i.FullName as i.FullName for i in vm.Workflow.Underwriters">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-show="vm.Workflow.UsesPolicySymbol">
                    <label>{{vm.Workflow.PolicySymbolLabel}}</label>
                    <select class="form-control" tabindex="{{(vm.Workflow.MenuState == 2) ? null : -1}}" ng-model="vm.Workflow.SubmissionSearchCriteria.PolicySymbol" ng-options="i.Code as (i.Code + ' - ' + i.Description) for i in vm.Workflow.PolicySymbols">
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Agency</label>
                    <span name="Agency" tabindex="{{(vm.Workflow.MenuState == 2) ? null : -1}}" ng-model="vm.Workflow.SubmissionSearchCriteria.Agency" item-select="{ source: vm.Workflow.AgencyAutoCompleteSearch, display: 'i.Code + \' - \' + i.Name', tooltip: 'i | agencyTooltip', matchTemplate: 'item-select-agency', appendToBody: true}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a ng-click="vm.Workflow.ResetSubmissionSearchCriteria()">Reset</a>
        <input type="submit" class="btn btn-primary" value="Search" ng-disabled="vm.Workflow.Searching" />
    </div>
</form>