﻿<div>
    <div class="content-header affix">
        <div class="container">
            <div class="pull-left">Search Results</div>
        </div>
    </div>
    <div class="content-detail">
        <div class="text-muted" ng-show="(vm.Workflow.AgencyDataSource == null || vm.Workflow.AgencyDataSource.count == 0) && (vm.Workflow.AgentDataSource == null || vm.Workflow.AgentDataSource.count == 0)">
            There were no matches for your search criteria.
        </div>
        <div ng-show="vm.Workflow.AgencyDataSource.count">
            <table class="table table-striped-double table-condensed table-outlined table-no-margin agency-search-results">
                <thead>
                    <tr>
                        <th class="expand-column"></th>
                        <th>Agency</th>
                        <th>Code</th>
                        <th>Branch</th>
                        <th>Dates</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="m in vm.Workflow.AgencyDataSource.items">
                        <td ng-click="m.Expand()" ng-class="{'cursor-pointer': m.Expandable }">
                            <i class="fa" ng-class="{ 'fa-caret-right': m.Expandable && !m.Expanded, 'fa-caret-down': m.Expandable && m.Expanded }"></i>
                        </td>
                        <td>
                            <div>
                                <a ng-href="{{m.AgencyUrl}}" ng-click="vm.Workflow.ModalViewItem(m)" class="primary-link">{{m.Name}}</a>
                                <span class="icon-container">
                                    <i class="fa fa-file-o" ng-show="m.Note.length > 0" title="Note"></i>
                                    <span ng-show="m.Parent != null" title="Child Agency"><i class="fa fa-link"></i>(C)</span>
                                    <span ng-show="m.Children.length > 0" title="Parent Agency"><i class="fa fa-link"></i>(P)</span>
                                </span>
                            </div>
                            <div>
                                <address-view address="m.Address"></address-view>
                            </div>
                        </td>
                        <td class="agency-number-column">
                            {{m.Code}}
                        </td>
                        <td>
                            <div ng-repeat="b in m.Branches">
                                {{b.Name}}
                            </div>
                            <div ng-if="m.Branches.length == 0">{{null | NA}}</div>
                        </td>
                        <td class="date-column">
                            <div ng-if="m.Dates.length == 0">
                                {{null | NA}}
                            </div>
                            <div class="dotted-divider" ng-repeat="d in m.Dates">
                                <div>{{d.Name}}</div>
                                <div>{{d.Date | date:'MM/dd/yyyy' }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="m.Expanded">
                        <td ng-click="m.Expand()" class="cursor-pointer"></td>
                        <td colspan="4">
                            <div ng-show="m.Note.length > 0" class="note">
                                <div>Note: </div>
                                <div>{{m.Note | NA}}</div>
                            </div>
                            <div class="clearfix"></div>
                            <div ng-show="m.Parent != null" class="col-md-8">
                                <table class="table table-striped table-condensed table-outlined">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-8">Parent Agency</th>
                                            <th class="col-sm-4">Agency Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <a ng-href="{{m.ParentAgencyUrl}}" ng-click="vm.Workflow.AgencySelected(m.Parent.Code)" class=" primary-link">{{m.Parent.Name}}</a>
                                                </div>
                                                <address-view address="m.Parent.Address"></address-view>
                                            </td>
                                            <td>{{m.Parent.Code}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="m.Children.length > 0" class="col-md-8">
                                <table class="table table-striped table-condensed table-outlined">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-8">Child Agencies</th>
                                            <th class="col-sm-4">Agency Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="c in m.Children">
                                            <td>
                                                <div>
                                                    <a ng-href="{{c.ChildAgencyUrl}}" ng-click="vm.Workflow.AgencySelected(c.Code)" class="primary-link">{{c.Name}}</a>
                                                </div>
                                                <address-view address="c.Address"></address-view>
                                            </td>
                                            <td>{{c.Code}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination source="vm.Workflow.AgencyDataSource"></pagination>
        </div>
        <div ng-show="vm.Workflow.AgentDataSource.count">
            <table class="table table-striped table-condensed table-outlined table-no-margin agent-search-results">
                <thead>
                    <tr>
                        <th>Agent</th>
                        <th>Agent Number</th>
                        <th>Contact Info</th>
                        <th>Cancel Date</th>
                        <th>Agency</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in vm.Workflow.AgentDataSource.items" ng-class="{'soft-deleted': m.RetirementDate}">
                        <td>
                            {{m.FirstName }} {{m.MiddleName }} {{m.LastName }}
                        </td>
                        <td>
                            {{m.BrokerNo }}
                        </td>
                        <td class="agent-contact-column">
                            <div ng-if="m.Contacts.length == 0">
                                {{null | NA}}
                            </div>
                            <div class="dotted-divider" ng-repeat="c in m.Contacts">
                                <div>{{c.Name}}</div>
                                <div>{{c.Value}}</div>
                            </div>
                        </td>
                        <td>
                            {{m.RetirementDate | date:'MM/dd/yyyy' | NA }}
                        </td>
                        <td>
                            <a ng-href="{{m.AgencyUrl}}" ng-click="vm.Workflow.AgencySelected(m.Agency.Code)" title="{{m.Agency | agencyTooltip}}">{{m.Agency.Name}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination source="vm.Workflow.AgentDataSource"></pagination>
        </div>
    </div>
</div>