﻿<div class="container menu-layout search-container">
    <div class="menu-container affix" ng-class="{ 'closed': vm.Workflow.MenuState == 0, 'opened': vm.Workflow.MenuState == 1, 'expanded': vm.Workflow.MenuState == 2 }">
        <div class="menu-content">
            <div class="closed-menu" ng-show="vm.Workflow.MenuState == 0">
                <ul>
                    <li><a ng-click="vm.Workflow.OpenMenu()"><i class="fa fa-search"></i></a></li>
                    <li ng-show="vm.Workflow.HasSearched()"><a ng-click="vm.Workflow.NavigateToSearchResults()">RESULTS</a></li>
                </ul>
            </div>
            <div class="open-menu" ng-show="vm.Workflow.MenuState > 0">
                <div class="menu-header">
                    <span>SEARCH</span>
                    <a ng-click="vm.Workflow.CloseMenu()" ng-hide="vm.Workflow.MenuFixed"><i class="fa fa-chevron-left"></i></a>
                </div>
                <ul class="nav nav-stacked" ng-if="!vm.IsModal">
                    <li ng-class="{active: vm.Workflow.SearchType == 0 }"><a ng-click="vm.Workflow.ChangeSearchType(1)">Client</a></li>
                    <li ng-class="{active: vm.Workflow.SearchType == 1 }"><a ng-click="vm.Workflow.ChangeSearchType(2)">Submission</a></li>
                    <li ng-if="vm.ShowAgencySearch" ng-class="{active: vm.Workflow.SearchType == 2 }"><a ng-click="vm.Workflow.ChangeSearchType(3)">{{'Agency' + ((vm.Workflow.AgentsEnabled) ? ' and Agent' : '')}}</a></li>
                </ul>
                <hr />
                <div class="advanced-link">
                    <a class="btn-link" ng-click="vm.Workflow.ToggleAdvancedMenu()">
                        <i class="fa fa-angle-left" ng-show="vm.Workflow.MenuState == 2"></i>
                        <span>Advanced</span>
                        <i class="fa fa-angle-right" ng-show="vm.Workflow.MenuState == 1"></i>
                    </a>
                </div>
                <div ng-switch="vm.Workflow.SearchType">
                    <div ng-switch-when="0">
                        <client-search-form></client-search-form>
                    </div>
                    <div ng-switch-when="1">
                        <submission-search-form></submission-search-form>
                    </div>
                    <div ng-switch-when="2">
                        <agency-search-form></agency-search-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-divider"></div>
    </div>
    <div class="menu-layout-detail-pane" ng-class="{ 'menu-fixed': vm.Workflow.MenuFixed }">
        <div ng-show="vm.Workflow.DisplayPreSearchPane || vm.Workflow.Searching">
            <div class="content-header affix">
                <div class="container">
                    <div class="pull-left">Search Results</div>
                </div>
            </div>
            <div class="content-detail">
                <span ng-show="vm.Workflow.DisplayPreSearchPane">You have not searched for anything yet.</span>
                <span ng-show="vm.Workflow.Searching"><loading-well text="Searching" sub-text="This may take a moment" layout="search-loading-well" on-cancel="vm.Workflow.CancelSearch()"></loading-well></span>
            </div>
        </div>
        <div ng-hide="vm.Workflow.DisplayPreSearchPane || vm.Workflow.Searching">
            <div ng-if="!vm.IsModal">
                <div ui-view>
                    <div ng-switch="vm.Workflow.SearchType">
                        <div ng-switch-when="0">
                            <client-search-results></client-search-results>
                        </div>
                        <div ng-switch-when="1">
                            <submission-search-results></submission-search-results>
                        </div>
                        <div ng-switch-when="2">
                            <agency-search-results></agency-search-results>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.IsModal">
                <div ng-switch="vm.Workflow.SearchType">
                    <div ng-switch-when="0">
                        <client-search-results></client-search-results>
                    </div>
                    <div ng-switch-when="1">
                        <div ng-show="vm.Workflow.SelectedModalItem == null">
                            <submission-search-results></submission-search-results>
                        </div>
                        <div ng-if="vm.Workflow.SelectedModalItem">
                            <submission company-key="vm.Workflow.SelectedModalItem.Company.Abbreviation" submission-id="vm.Workflow.SelectedModalItem.Id" is-modal="true" search-workflow="vm.Workflow"></submission>
                        </div>
                    </div>
                    <div ng-switch-when="2">
                        <div ng-show="vm.Workflow.SelectedModalItem == null">
                            <agency-search-results></agency-search-results>
                        </div>
                        <div ng-if="vm.Workflow.SelectedModalItem">
                            <agency agency-code="vm.Workflow.SelectedModalItem.Code" is-modal="true" search-workflow="vm.Workflow"></agency>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>