﻿<form role="form" class="search-form" ng-submit="vm.Workflow.AgencySearch()">
    <div class="input-container">
        <div>
            <h4>Agency</h4>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="vm.Workflow.AgencySearchCriteria.AgencyName" name="agencyName" />
                    </div>
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" ng-model="vm.Workflow.AgencySearchCriteria.AgencyCode" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" tabindex="{{(vm.Workflow.MenuState == 2) ? null : -1}}" class="form-control" ng-model="vm.Workflow.AgencySearchCriteria.AgencyCity" />
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <select class="form-control state-input" tabindex="{{(vm.Workflow.MenuState == 2) ? null : -1}}" ng-model="vm.Workflow.AgencySearchCriteria.AgencyState" ng-options="i.Abbreviation as i.Abbreviation for i in vm.Workflow.States">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.Workflow.AgentsEnabled">
            <h4>Agent</h4>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" ng-model="vm.Workflow.AgencySearchCriteria.AgentFirstName" />
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" ng-model="vm.Workflow.AgencySearchCriteria.AgentLastName" />
                    </div>
                    <div class="form-group">
                        <label>Number</label>
                        <input type="text" class="form-control" ng-model="vm.Workflow.AgencySearchCriteria.AgentNumber" />
                    </div>
                </div>
                <div class="col-xs-6">
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a ng-click="vm.Workflow.ResetAgencySearchCriteria()">Reset</a>
        <input type="submit" class="btn btn-primary" value="Search" ng-disabled="vm.Workflow.Searching" />
    </div>
</form>