﻿@import "../../../styles/variables";

@search-column-padding: 5px;
@search-row-padding: 10px;

.search-container.menu-layout {
    .menu-container {
        .closed-menu {
            ul {
                li:nth-child(1) {
                    font-size: 2em;
                    padding-top: 3px;
                }

                li:nth-child(2) {
                    font-size: .75em;
                    padding-top: 15px;
                }
            }
        }

        .open-menu {
            .advanced-link {
                position: relative;

                a {
                    position: absolute;
                    right: @search-column-padding;
                }
            }

            .search-form {
                padding: 0 @search-column-padding;
                overflow: hidden;

                .input-container {
                    width: @menu-expanded-width - @menu-divider-width - (@search-column-padding * 2);

                    h4:first-child {
                        margin: 0;
                        padding: 0;
                        height: 20px;
                    }

                    h4 {
                        margin-bottom: 5px;
                        font-weight: normal;
                    }

                    label {
                        margin-bottom: 0;
                    }

                    .row {
                        .form-group {
                            margin-bottom: 8px;
                        }

                        div:nth-child(1) .form-group {
                            margin-left: @search-row-padding;
                        }

                        div:nth-child(2) .form-group {
                            margin-right: @search-row-padding;
                        }
                    }

                    .state-input {
                        width: 75px;
                    }
                }

                .button-container {
                    margin-top: 7px;
                    height: 40px;
                    position: relative;

                    a {
                        position: absolute;
                        left: @search-row-padding;
                        top: 4px;
                    }

                    input {
                        position: absolute;
                        right: @search-row-padding;
                    }
                }
            }
        }
    }

    .menu-layout-detail-pane {
        .primary-link {
            font-size: 14px;
        }

        .content-detail {
            .secondary-information-tabs {
                margin-top: 30px;

                .tab-detail {
                    margin: 30px 0 0 17px;
                }
            }
        }
    }
}
