﻿<div class="client-search">
    <div class="content-header affix">
        <div class="container">
            <div class="pull-left">Search Results</div>
            <div class="pull-right" ng-show="vm.Workflow.ClientDataSource.count > 0">
                <div ng-include="'new-client-submission'"></div>
            </div>
        </div>
    </div>
    <div class="content-detail">
        <alert ng-if="vm.Workflow.ClientDataSource.CriteriaNotSpecific" type="'info'">
            The search could not be performed because the criteria was not specific enough
        </alert>
        <alert ng-if="vm.Workflow.ClientDataSource.SearchFailure" type="'danger'">
            The search could not be completed
            <span ng-switch="vm.Workflow.ClientDataSource.SearchFailure">
                <span ng-switch-when="TooManyResults">(Too many results).  Please try narrowing your search criteria.</span>
                <span ng-switch-when="TimedOut">(Timed out).  Please try narrowing your search criteria.</span>
                <span ng-switch-default>(Unspecified Error).  The client system may be temporarily unavailable.</span>
            </span>
        </alert>
        <div ng-if="!vm.Workflow.ClientDataSource.CriteriaNotSpecific">
            <div ng-show="vm.Workflow.ClientDataSource.count == 0 && vm.Workflow.ClientDataSource.SearchFailure == null" class="no-results">
                No Clients were found that meet your Criteria.
                <div class="action-container" ng-show="vm.ShowActions">
                    <div ng-include="'new-client-submission'"></div>
                </div>
            </div>
            <div ng-show="vm.Workflow.ClientDataSource.count > 0" class="search-results-content">
                <table class="table table-striped-double table-condensed table-outlined table-no-margin" ng-show="vm.Workflow.ClientDataSource.count > 0">
                    <thead>
                        <tr>
                            <th class="expand-column"></th>
                            <th>Client</th>
                            <th>FEIN</th>
                            <th>Phone Number</th>
                            <th>Client Number</th>
                            <th ng-if="vm.Workflow.ClientSegmentEnabled">Segment</th>
                            <th class="action-column" ng-show="vm.ShowActions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="m in vm.Workflow.ClientDataSource.items">
                            <td ng-click="m.Expand()" class="cursor-pointer">
                                <i class="fa" ng-class="{ 'fa-caret-right': !m.Expanded, 'fa-caret-down': m.Expanded }"></i>
                            </td>
                            <td>
                                <div>
                                    <a href="{{ m.ClientUrl }}" class="primary-link">{{m.PrimaryName.BusinessName}}</a>
                                    <span class="icon-container"></span>
                                </div>
                                <div ng-show="m.MatchingAddress != null">
                                    <address-view address="m.MatchingAddress" single-line></address-view>
                                </div>
                                <em ng-show="m.Addresses.length > 0 && !m.Expanded" ng-click="m.Expand()" class="cursor-pointer text-muted">
                                    {{m.Addresses.length}} more {{ 'address' + ((m.Addresses.length == 1) ? '' : 'es') }}...
                                </em>
                                <div ng-show="m.Expanded" ng-repeat="a in m.Addresses">
                                    <address-view address="a" single-line></address-view>
                                </div>
                            </td>
                            <td>{{m.FEIN | FEIN | NA}}</td>
                            <td>{{m.PhoneNumber | phoneNumber | NA}}</td>
                            <td>
                                {{ m.ClientCoreId | NA }}
                            </td>
                            <td ng-if="vm.Workflow.ClientSegmentEnabled">{{m.ClientCoreSegment.Description}}</td>
                            <td ng-show="vm.ShowActions">
                                <button type="button" class="btn btn-link btn-add" ng-click="m.NavigateToClientSubmission()">
                                    <i class="fa fa-plus-circle"></i><span>Application</span>
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td ng-click="m.Expand()" class="cursor-pointer"></td>
                            <td colspan="{{5 + ((vm.Workflow.ClientSegmentEnabled) ? 1 : 0)}}">
                                <div class="client-results-expanded-content" ng-show="m.MatchingNames.length > 0 || m.Expanded">
                                    <hr />
                                    <div class="additional-names clearfix" ng-show="m.MatchingNames.length > 0 || m.AdditionalNames.length > 0">
                                        <div>Additional Names:</div>
                                        <div>
                                            <div ng-repeat="n in m.MatchingNames">
                                                <a href="{{m.ClientNamesUrl}}">{{n.BusinessName}}</a>
                                            </div>
                                            <em ng-switch="m.MatchingNames.length" ng-show="m.AdditionalNames.length > 0 && !m.Expanded" ng-click="m.Expand()" class="cursor-pointer text-muted">
                                                <span ng-switch-when="0">{{m.AdditionalNames.length}} additional names exist</span>
                                                <span ng-switch-default>
                                                    {{m.AdditionalNames.length}} more {{ 'name' + ((m.AdditionalNames.length == 1) ? '' : 's') }}...
                                                </span>
                                            </em>
                                            <div ng-show="m.Expanded" ng-repeat="n in m.AdditionalNames" class="text-muted">
                                                <a href="{{m.ClientNamesUrl}}">{{n.BusinessName}}</a>
                                            </div>
                                        </div>
                                        <div ng-if="m.Expanded"></div>
                                    </div>
                                    <div ng-show="m.Expanded" class="client-submission-container">
                                        <div ng-show="m.Submissions.count == null">
                                            <loading-well text="Loading Submissions" layout="loading-well-sm"></loading-well>
                                        </div>
                                        <div ng-show="m.Submissions.count != null">
                                            <submissions fields="vm.Workflow.ClientSearchSubmissionFields" source="m.Submissions"></submissions>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination source="vm.Workflow.ClientDataSource"></pagination>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="new-client-submission">
        <button type="button" class="btn btn-default" ng-click="vm.NavigateToNewClientSubmission()">Create Client</button>
    </script>
</div>