﻿.agency-search-results .agency-number-column {
  max-width: 100px;
  width: 15%;
}
.agency-search-results .date-column {
  min-width: 210px;
  width: 20%;
}
.agency-search-results .date-column > div > div:nth-child(1) {
  float: left;
  width: 110px;
}
.agency-search-results .date-column > div > div:nth-child(2) {
  margin-left: 110px;
}
.agency-search-results .note {
  margin-bottom: 10px;
}
.agency-search-results .note > div:nth-child(1) {
  float: left;
  width: 125px;
}
.agency-search-results .note > div:nth-child(2) {
  margin-left: 125px;
}
.agent-search-results .agent-contact-column > div > div:nth-child(1) {
  float: left;
  width: 60px;
}
.agent-search-results .agent-contact-column > div > div:nth-child(2) {
  margin-left: 60px;
}
.client-search .no-results .action-container {
  margin-top: 20px;
}
.client-search .table-striped-double > tbody > tr:nth-child(4n+1) > td,
.client-search .table-striped-double > tbody > tr:nth-child(4n+3) > td {
  padding-bottom: 0;
}
.client-search .table-striped-double > tbody > tr:nth-child(4n) > td,
.client-search .table-striped-double > tbody > tr:nth-child(4n+2) > td {
  padding-top: 0;
}
.client-search .table-striped-double hr {
  margin: 4px 0;
}
.client-search .table-striped-double .additional-names > div:nth-child(1) {
  float: left;
}
.client-search .table-striped-double .additional-names > div:nth-child(2) {
  margin-left: 110px;
}
.client-search .table-striped-double .additional-names > div:nth-child(3) {
  margin-bottom: 10px;
}
.client-search .search-results-content .client-results-expanded-content .client-submission-container {
  margin-bottom: 5px;
}
.client-search .search-results-content .client-results-expanded-content .client-submission-container table {
  margin-bottom: 0;
}
.client-search .action-column {
  width: 100px;
}
