﻿.search-container.menu-layout .menu-container .closed-menu ul li:nth-child(1) {
  font-size: 2em;
  padding-top: 3px;
}
.search-container.menu-layout .menu-container .closed-menu ul li:nth-child(2) {
  font-size: .75em;
  padding-top: 15px;
}
.search-container.menu-layout .menu-container .open-menu .advanced-link {
  position: relative;
}
.search-container.menu-layout .menu-container .open-menu .advanced-link a {
  position: absolute;
  right: 5px;
}
.search-container.menu-layout .menu-container .open-menu .search-form {
  padding: 0 5px;
  overflow: hidden;
}
.search-container.menu-layout .menu-container .open-menu .search-form .input-container {
  width: 430px;
}
.search-container.menu-layout .menu-container .open-menu .search-form .input-container h4:first-child {
  margin: 0;
  padding: 0;
  height: 20px;
}
.search-container.menu-layout .menu-container .open-menu .search-form .input-container h4 {
  margin-bottom: 5px;
  font-weight: normal;
}
.search-container.menu-layout .menu-container .open-menu .search-form .input-container label {
  margin-bottom: 0;
}
.search-container.menu-layout .menu-container .open-menu .search-form .input-container .row .form-group {
  margin-bottom: 8px;
}
.search-container.menu-layout .menu-container .open-menu .search-form .input-container .row div:nth-child(1) .form-group {
  margin-left: 10px;
}
.search-container.menu-layout .menu-container .open-menu .search-form .input-container .row div:nth-child(2) .form-group {
  margin-right: 10px;
}
.search-container.menu-layout .menu-container .open-menu .search-form .input-container .state-input {
  width: 75px;
}
.search-container.menu-layout .menu-container .open-menu .search-form .button-container {
  margin-top: 7px;
  height: 40px;
  position: relative;
}
.search-container.menu-layout .menu-container .open-menu .search-form .button-container a {
  position: absolute;
  left: 10px;
  top: 4px;
}
.search-container.menu-layout .menu-container .open-menu .search-form .button-container input {
  position: absolute;
  right: 10px;
}
.search-container.menu-layout .menu-layout-detail-pane .primary-link {
  font-size: 14px;
}
.search-container.menu-layout .menu-layout-detail-pane .content-detail .secondary-information-tabs {
  margin-top: 30px;
}
.search-container.menu-layout .menu-layout-detail-pane .content-detail .secondary-information-tabs .tab-detail {
  margin: 30px 0 0 17px;
}
