﻿<div>
    <div class="content-header affix">
        <div class="container">
            <div class="pull-left">Search Results</div>
        </div>
    </div>
    <div class="content-detail">
        <div class="text-muted" ng-show="(vm.Workflow.SubmissionDataSource == null || vm.Workflow.SubmissionDataSource.count == 0)">
            There were no matches for your search criteria.
        </div>
        <div ng-show="vm.Workflow.SubmissionDataSource.count">
            <submissions fields="vm.Workflow.SubmissionSearchSubmissionFields" data-source="vm.Workflow.SubmissionDataSource" disable-links="vm.Workflow.IsModal" search-workflow="vm.Workflow"></submissions>
        </div>
    </div>
</div>
