﻿.agency-search-results {
    .agency-number-column {
        max-width: 100px;
        width: 15%;
    }

    .date-column {
        min-width: 210px;
        width: 20%;

        & > div > div:nth-child(1) {
            float: left;
            width: 110px;
        }

        & > div > div:nth-child(2) {
            margin-left: 110px;
        }
    }

    .note {
        margin-bottom: 10px;

        & > div:nth-child(1) {
            float: left;
            width: 125px;
        }

        & > div:nth-child(2) {
            margin-left: 125px;
        }
    }
}

.agent-search-results {
    .agent-contact-column {
        & > div > div:nth-child(1) {
            float: left;
            width: 60px;
        }

        & > div > div:nth-child(2) {
            margin-left: 60px;
        }
    }
}

.client-search {
    .no-results {
        .action-container {
            margin-top: 20px;
        }
    }

    .table-striped-double {
        & > tbody > tr:nth-child(4n+1) > td,
        & > tbody > tr:nth-child(4n+3) > td {
            padding-bottom: 0;
        }

        & > tbody > tr:nth-child(4n) > td,
        & > tbody > tr:nth-child(4n+2) > td {
            padding-top: 0;
        }

        hr {
            margin: 4px 0;
        }

        .additional-names {
            & > div:nth-child(1) {
                float: left;
            }

            & > div:nth-child(2) {
                margin-left: 110px;
            }

            & > div:nth-child(3) {
                margin-bottom: 10px;
            }
        }
    }

    .search-results-content {
        .client-results-expanded-content {
            .client-submission-container {
                margin-bottom: 5px;

                table {
                    margin-bottom: 0;
                }
            }
        }
    }

    .action-column {
        width: 100px;
    }
}
