﻿<form role="form" class="search-form" ng-submit="vm.Workflow.ClientSearch()">
    <div class="input-container">
        <h4>&nbsp;</h4>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Business Name</label>
                    <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.BusinessName" name="businessName" />
                </div>
                <div class="form-group">
                    <label>FEIN</label>
                    <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.FEIN" />
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.PhoneNumber" />
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.Address" />
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.City" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>State</label>
                            <select class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.State" ng-options="i.Abbreviation as i.Abbreviation for i in vm.Workflow.States">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label>Postal</label>
                            <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.PostalCode" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Client Id</label>
                    <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.ClientId" character-filter="[^0-9]" />
                </div>
            </div>
            <div class="col-xs-6">
                <div ng-if="vm.Workflow.ClientPortfolioEnabled">
                    <div class="form-group">
                        <label>Portfolio Id</label>
                        <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.PortfolioId" />
                    </div>
                    <div class="form-group">
                        <label>Portfolio Name</label>
                        <input type="text" class="form-control" ng-model="vm.Workflow.ClientSearchCriteria.PortfolioName" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a ng-click="vm.Workflow.ResetClientSearchCriteria()">Reset</a>
        <input type="submit" class="btn btn-primary" value="Search" ng-disabled="vm.Workflow.Searching" />
    </div>
</form>