﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.Close()">×</button>
        <h2 class="modal-title">Submission Search</h2>
    </div>
    <div class="modal-body">
        <search workflow="vm.Workflow" cross-company="vm.CrossCompany"></search>
    </div>
</div>