﻿<ul class="pagination" ng-show="vm.TotalPages > 1">
    <li ng-class="{disabled: vm.Source.page == 1}"><a href ng-click="vm.SelectPage(1)"><i class="fa fa-caret-left"></i></a></li>
    <li ng-repeat="p in vm.Pages track by $index" ng-class="{active: p == vm.Source.page}"><a href ng-click="vm.SelectPage(p)">{{p}}</a></li>
    <li ng-class="{disabled: vm.Source.page == vm.TotalPages}"><a href ng-click="vm.SelectPage(vm.TotalPages)"><i class="fa fa-caret-right"></i></a></li>
</ul>