<%@ Control Language="c#" Inherits="BCS.WebApp.UserControls.CompanySelector" CodeFile="CompanySelector.ascx.cs" %>
<div id="companySelector">
	Filter:&nbsp;
	<UserControls:CompanyDropDownList id="CompanyDropDownList1" runat="server" AutoPostBack="True" onselectedindexchanged="CompanyDropDownList1_SelectedIndexChanged" TabIndex="800" Font-Size="9px"></UserControls:CompanyDropDownList>
	<UserControls:CompanyNumberDropDownList id="CompanyNumberDropDownList1" runat="server" AutoPostBack="True" OnSelectedIndexChanged="CompanyNumberDropDownList1_SelectedIndexChanged" TabIndex="800" Font-Size="9px"></UserControls:CompanyNumberDropDownList>
</div>
