﻿.form-group {
  margin-bottom: 5px;
}
select.form-control {
  padding-left: 6px;
}
a[ng-click] {
  cursor: pointer;
}
button + button,
button + .btn-group,
.btn-group + button {
  margin-left: 5px;
}
button.btn .fa.fa-plus-circle {
  color: #5cb85c;
}
button.btn.btn-checkbox {
  background-color: transparent;
  border-color: #cccccc;
  color: #999999;
  margin: 0 5px 5px 0;
}
button.btn.btn-checkbox + button.btn-checkbox {
  margin-left: 0;
}
button.btn.btn-checkbox:focus {
  outline: none;
}
button.btn.btn-checkbox.active {
  color: #333333;
  background-color: #dddddd;
}
button.btn.btn-checkbox.active i {
  color: #428bca;
}
button.btn.btn-checkbox span + i {
  margin-left: 5px;
}
button.btn.btn-checkbox i {
  width: 10px;
}
button.btn.btn-switch {
  height: 27px;
  border: solid 1px transparent;
  background-color: transparent;
  cursor: pointer;
  color: #00a3d8;
}
button.btn.btn-switch:focus {
  outline: none;
}
button.btn.btn-switch:hover {
  border-color: #cccccc;
}
button.btn.btn-switch.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: white;
}
table.table.table-double-click td {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
table.table.table-header-condensed thead tr th {
  background-color: #2c3e50;
  color: white;
  padding: 4px 4px;
  font-size: 10px;
  border-bottom: none;
}
table.table.table-outlined {
  border-collapse: separate;
  /*bottom border disappears in webkit browsers w/o this */
  border: solid 1px #dddddd;
}
table.table.table-outlined > thead > tr > th {
  border-bottom-width: 1px;
}
table.table.table-hover-double > tbody > tr:nth-child(2n+1):hover > td {
  background-color: #f5f5f5;
}
table.table tr.tr-padding-0 > td {
  padding: 0;
}
table.table tr.selected-row td {
  background-color: #bfe6f5 !important;
}
div.panel {
  border-radius: 0;
  margin: 0;
}
div.panel + .panel {
  margin-top: 10px;
}
div.panel .panel-heading {
  padding: 7px 10px;
}
div.panel .panel-heading:after {
  content: "";
  display: table;
  clear: both;
}
div.panel .panel-heading label {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
div.panel .panel-heading button span + i.fa,
div.panel .panel-heading button i.fa + span {
  margin-left: 5px;
}
div.panel .panel-body.table-panel-with-detail {
  position: relative;
}
div.panel .panel-body.table-panel-with-detail:after {
  content: "";
  display: table;
  clear: both;
}
div.panel .panel-body.table-panel-with-detail > table {
  float: left;
  border-bottom: solid 1px #dddddd;
}
div.panel .panel-body.table-panel-with-detail > div:nth-child(2) {
  position: absolute;
  border-left: solid 1px #cccccc;
  width: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 3px 0 5px -1px rgba(0, 0, 0, 0.1);
}
div.panel .panel-body.table-panel-with-detail > div:nth-child(2).item-detail-visible {
  width: 10px;
}
div.panel .panel-body.table-panel-with-detail > div:nth-child(3) {
  float: right;
  display: none;
}
div.panel .panel-body.table-panel-with-detail > div:nth-child(3).item-detail-visible {
  display: block;
}
div.panel .panel-body.table-panel-with-detail > div:nth-child(3) .item-detail-heading {
  background-color: #f2f2f0;
  border-bottom: solid 1px #cccccc;
  padding: 7px 10px;
}
div.panel .panel-body.table-panel-with-detail > div:nth-child(3) .item-detail-heading:after {
  content: "";
  display: table;
  clear: both;
}
div.panel .panel-body.table-panel-with-detail > div:nth-child(3) .item-detail-heading label {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
div.panel .panel-body.table-panel-with-detail > div:nth-child(3) .item-detail-body {
  margin: 25px 25px 15px 10px;
  border-bottom: solid 1px #cccccc;
}
div.single-row-form .form-row {
  min-height: 27px;
}
div.single-row-form .form-row > label:nth-child(1) {
  font-weight: normal;
  float: left;
  width: 150px;
}
div.single-row-form .form-row > div:nth-child(2) {
  margin-left: 150px;
}
div.single-row-form .form-row > div:nth-child(2) input[type="text"],
div.single-row-form .form-row > div:nth-child(2) textarea,
div.single-row-form .form-row > div:nth-child(2) select {
  margin-bottom: 5px;
}
div.single-row-form .form-row:after {
  content: "";
  display: table;
  clear: both;
}
h4.animate-slider-header {
  cursor: pointer;
  border-top: solid 1px #cccccc;
  padding: 7px 10px;
  margin-top: 0;
  font-weight: normal;
}
h4.animate-slider-header:after {
  content: "";
  display: table;
  clear: both;
}
.modal-md .modal-dialog {
  width: 400px;
}
