﻿@import "variables";

.form-group {
    margin-bottom: 5px;
}

select.form-control {
    padding-left: 6px;
}

a[ng-click] {
    cursor: pointer;
}

button + button,
button + .btn-group,
.btn-group + button {
    margin-left: 5px;
}

button.btn {
    .fa.fa-plus-circle {
        color: @brand-success;
    }

    &.btn-checkbox {
        background-color: transparent;
        border-color: @border-gray;
        color: @text-muted;
        margin: 0 5px 5px 0;

        & + button.btn-checkbox {
            margin-left: 0;
        }

        &:focus {
            outline: none;
        }

        &.active {
            color: @bts-black;
            background-color: @dark-gray;

            i {
                color: @brand-primary;
            }
        }

        span + i {
            margin-left: 5px;
        }

        i {
            width: 10px;
        }
    }

    &.btn-switch {
        height: 27px;
        border: solid 1px transparent;
        background-color: transparent;
        cursor: pointer;
        color: @link-blue;

        &:focus {
            outline: none;
        }

        &:hover {
            border-color: @border-gray;
        }

        &.active {
            background-color: @application-color;
            border-color: @application-color;
            color: white;
        }
    }
}

table.table {
    &.table-double-click {
        td {
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
    }

    &.table-header-condensed {
        thead tr th {
            background-color: @application-color;
            color: white;
            padding: 4px 4px;
            font-size: 10px;
            border-bottom: none;
        }
    }

    &.table-outlined {
        border-collapse: separate; /*bottom border disappears in webkit browsers w/o this */
        border: solid 1px @dark-gray;

        & > thead > tr > th {
            border-bottom-width: 1px;
        }
    }

    &.table-hover-double {
        & > tbody > tr:nth-child(2n+1):hover > td {
            background-color: #f5f5f5;
        }
    }

    tr.tr-padding-0 {
        & > td {
            padding: 0;
        }
    }

    tr.selected-row {
        td {
            background-color: @selected !important;
        }
    }
}

div.panel {
    border-radius: 0;
    margin: 0;

    & + .panel {
        margin-top: 10px;
    }

    .panel-heading {
        padding: 7px 10px;

        &:after {
            .clearfix();
        }

        label {
            font-weight: bold;
            font-size: 16px;
            margin: 0;
        }

        button {
            span + i.fa,
            i.fa + span {
                margin-left: 5px;
            }
        }
    }

    .panel-body {
        &.table-panel-with-detail {
            position: relative;

            &:after {
                .clearfix();
            }

            & > table {
                float: left;
                border-bottom: solid 1px @dark-gray;
            }

            & > div:nth-child(2) {
                position: absolute;
                border-left: solid 1px @border-gray;
                width: 0;
                top: 0;
                bottom: 0;
                box-shadow: inset 3px 0 5px -1px rgba(0,0,0,0.1);

                &.item-detail-visible {
                    width: 10px;
                }
            }

            & > div:nth-child(3) {
                float: right;
                display: none;

                &.item-detail-visible {
                    display: block;
                }

                .item-detail-heading {
                    background-color: @light-gray;
                    border-bottom: solid 1px @border-gray;
                    padding: 7px 10px;

                    &:after {
                        .clearfix();
                    }

                    label {
                        font-size: 16px;
                        font-weight: normal;
                        margin: 0;
                    }
                }

                .item-detail-body {
                    margin: 25px 25px 15px 10px;
                    border-bottom: solid 1px @border-gray;
                }
            }
        }
    }
}

div.single-row-form {
    .form-row {
        min-height: 27px;

        & > label:nth-child(1) {
            font-weight: normal;
            float: left;
            width: 150px;
        }

        & > div:nth-child(2) {
            margin-left: 150px;

            input[type="text"], textarea, select {
                margin-bottom: 5px;
            }
        }

        &:after {
            .clearfix();
        }
    }
}

h4.animate-slider-header {
    cursor: pointer;
    border-top: solid 1px @border-gray;
    padding: 7px 10px;
    margin-top: 0;
    font-weight: normal;

    &:after {
        .clearfix();
    }
}

.modal-md .modal-dialog {
    width: 400px;
}
