﻿/*HTML Element Adjustments*/
html {
    overflow-y: scroll;
}

/*Property Adjustments*/
.padding-0 {
    padding: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.width-auto {
    width: auto !important;
}

.width-40 {
    width: 40px;
}

.width-50 {
    width: 50px;
}

.width-60 {
    width: 60px;
}

.width-70 {
    width: 70px;
}

.width-80 {
    width: 80px;
}

.width-90 {
    width: 90px;
}

.width-100 {
    width: 100px;
}

.width-110 {
    width: 110px;
}

.width-120 {
    width: 120px;
}

.width-130 {
    width: 130px;
}

.width-140 {
    width: 140px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.width-170 {
    width: 170px;
}

.width-180 {
    width: 180px;
}

.width-190 {
    width: 190px;
}

.width-200 {
    width: 200px;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-upper-case {
    text-transform: uppercase;
}
