﻿@import "variables.less";

@top-level-z-index: 100;
@dark-application-color: darken(@application-color, 5%);
@light-application-color: lighten(@application-color, 5%);
@side-bar-width: 180px;
@side-bar-collapsed-width: 50px;

@top-bar-height: 40px;
@page-header-height: 100px;
@top-fixed-section-height: @top-bar-height + @page-header-height;

body {
    background-color: @light-gray;
    cursor: default;
}

.side-nav {
    z-index: @top-level-z-index;
    position: fixed;
    background-color: @application-color;
    height: 100%;
    width: @side-bar-width;
    transition: 0.25s ease-in all;

    &.side-nav-collapsed {
        width: @side-bar-collapsed-width;
    }

    .side-nav-company {
        position: relative;
        height: @top-fixed-section-height;
        border-bottom: solid 1px @dark-application-color;

        div.company-image {
            transition: 0.25s linear all;
            display: inline-block;
            width: ~"calc(100% - 10px)";
            height: ~"calc(100% - 10px)";
            margin: 5px;
            background: url('') no-repeat center;
            background-size: contain;

            &.rotated {
                margin: 0;
                width: @top-fixed-section-height;
                height: @side-bar-collapsed-width;
                transform: translate(-45px, 40px) rotate(90deg);
            }
        }

        &:after {
            position: absolute;
            bottom: -2px;
            left: 0;
            border-top: solid 1px @light-application-color;
            width: 100%;
            content: ' ';
        }
    }

    .side-nav-menu {
        margin: 20px 0 0 0;
        padding: 0;
        overflow: hidden;

        li {
            width: @side-bar-width;
            border-left: 5px solid transparent;

            a {
                display: block;
                height: 40px;
                line-height: 40px;
                vertical-align: middle;

                i {
                    color: @brand-primary;
                    width: @side-bar-collapsed-width;
                    font-size: 18px;
                    padding: 11px 0 0 15px;
                }

                span {
                    color: white;
                    font-size: 13px;
                }
            }

            a:hover, a:focus {
                text-decoration: none;
            }

            &.active {
                border-left-color: @brand-primary;
                background-color: @light-gray;

                a {
                    i {
                        color: @application-color;
                    }

                    span {
                        color: @application-color;
                    }
                }
            }
        }
    }

    .side-nav-application {
        position: absolute;
        bottom: 0;
        background-color: @dark-application-color;
        border-top: solid 1px @light-application-color;
        height: 50px;
        width: 100%;
        color: white;
        padding: 10px;
        overflow: hidden;

        i {
            position: absolute;
            display: inline-block;
            font-size: 30px;
            padding-left: 5px;
        }

        span {
            display: block;
            margin-left: @side-bar-collapsed-width;
        }
    }
}

.page-container {
    margin-left: @side-bar-width;
    transition: 0.25s ease-in all;

    &.side-nav-collapsed {
        margin-left: @side-bar-collapsed-width;

        .top-header {
            left: @side-bar-collapsed-width;
        }

        .page-header {
            left: @side-bar-collapsed-width;
        }
    }

    .top-header {
        z-index: @top-level-z-index - 1;
        transition: 0.25s ease-in all;
        position: fixed;
        height: @top-bar-height;
        margin: 0;
        left: @side-bar-width;
        right: 0;
        background-color: white;

        & > table {
            tr {
                td {
                    border-bottom: solid 1px @border-gray;
                    padding: 0;

                    & > select {
                        background-color: transparent;
                        border-color: transparent;
                        margin-top: 6px;
                    }

                    .fa.fa-bars {
                        font-size: 22px;
                        padding: 8px 10px;
                    }

                    .add-request-input-container {
                        display: block;
                        font-weight: normal;
                        margin: 0;

                        .fa-stack {
                            position: absolute;
                            font-size: 16px;

                            .fa.fa-plus-circle {
                                top: 9px;
                                left: 8px;
                            }
                        }

                        input {
                            border: solid 1px transparent;
                            margin: 6px 5px 0 35px;
                            width: ~"calc(100% - 40px)";

                            &:focus {
                                border-color: @border-gray;
                            }
                        }
                    }

                    button.btn {
                        outline: none;
                        margin-top: 6px;
                        background-color: transparent;

                        .fa.fa-search {
                            padding: 0 15px;
                            color: @brand-primary;
                        }
                    }

                    .dropdown-menu {
                        width: 300px;
                        padding: 0;

                        & > div {
                            padding: 6px;
                        }

                        .bordered-section {
                            border-bottom: 1px solid @border-gray;
                        }

                        .notification-list {
                            padding: 10px;

                            & > a {
                                display: block;

                                & > img {
                                    position: absolute;
                                    width: 35px;
                                    height: 35px;
                                }

                                & > div {
                                    margin-left: 45px;
                                    min-height: 35px;
                                    padding-top: 3px;

                                    h6 {
                                        margin: 0;
                                    }

                                    div {
                                        font-size: 12px;
                                        color: @bts-black;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                    }
                                }
                            }

                            & > a + a {
                                margin-top: 10px;
                            }
                        }

                        .impersonation-form {
                            padding: 10px 5px;

                            .form-row {
                                & > label:nth-child(1) {
                                    width: 70px;
                                    font-size: 11px;
                                }

                                & > div:nth-child(2) {
                                    margin-left: 70px;
                                }
                            }
                        }
                    }
                }

                td + td {
                    border-left: solid 1px @border-gray;
                }
            }
        }
    }

    .page-header {
        z-index: @top-level-z-index - 2;
        transition: 0.25s ease-in all;
        position: fixed;
        margin: 0;
        padding: 0 20px;
        height: @page-header-height;
        top: @top-bar-height;
        background-color: white;
        left: @side-bar-width;
        right: 0;
        border-bottom: solid 1px @border-gray;

        #list-navigation-arrow {
            display: none;
            transition: 0.25s ease-in all;
            position: absolute;
            bottom: 0;

            &:before {
                position: absolute;
                z-index: @top-level-z-index - 2;
                border-top: 9px solid #CCC;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                content: '';
            }

            &:after {
                position: absolute;
                left: 2px;
                z-index: @top-level-z-index - 2;
                border-top: 7px solid white;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                content: '';
            }
        }

        .page-title {
            margin-top: 15px;

            ul.list-inline {
                margin-left: 0;

                li {
                    padding: 0;
                }

                li + li:before {
                    padding: 5px;
                    content: '|';
                }
            }
        }

        .list-navigation {
            position: absolute;
            margin: 0;
            bottom: 2px;

            & > li {
                padding-right: 25px;

                a:hover, a:focus {
                    text-decoration: none;
                }

                &.active {
                    font-weight: bold;

                    a {
                        color: @bts-black;
                    }
                }
            }
        }

        .page-actions {
            position: absolute;
            right: 10px;
            bottom: 10px;

            i.fa {
                margin-left: 3px;
            }
        }
    }

    .page-content {
        position: relative;
        padding: (@top-fixed-section-height + 10px) 10px 20px 10px;

        &:before {
            position: fixed;
            top: @top-fixed-section-height;
            left: 0;
            border-top: solid 1px white;
            width: 100%;
            content: ' ';
            z-index: @top-level-z-index - 3;
        }
    }
}
