﻿body {
  background-color: #f2f2f0;
  cursor: default;
}
.side-nav {
  z-index: 100;
  position: fixed;
  background-color: #2c3e50;
  height: 100%;
  width: 180px;
  transition: 0.25s ease-in all;
}
.side-nav.side-nav-collapsed {
  width: 50px;
}
.side-nav .side-nav-company {
  position: relative;
  height: 140px;
  border-bottom: solid 1px #233140;
}
.side-nav .side-nav-company div.company-image {
  transition: 0.25s linear all;
  display: inline-block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  background: url('') no-repeat center;
  background-size: contain;
}
.side-nav .side-nav-company div.company-image.rotated {
  margin: 0;
  width: 140px;
  height: 50px;
  transform: translate(-45px, 40px) rotate(90deg);
}
.side-nav .side-nav-company:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  border-top: solid 1px #354b60;
  width: 100%;
  content: ' ';
}
.side-nav .side-nav-menu {
  margin: 20px 0 0 0;
  padding: 0;
  overflow: hidden;
}
.side-nav .side-nav-menu li {
  width: 180px;
  border-left: 5px solid transparent;
}
.side-nav .side-nav-menu li a {
  display: block;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.side-nav .side-nav-menu li a i {
  color: #428bca;
  width: 50px;
  font-size: 18px;
  padding: 11px 0 0 15px;
}
.side-nav .side-nav-menu li a span {
  color: white;
  font-size: 13px;
}
.side-nav .side-nav-menu li a:hover,
.side-nav .side-nav-menu li a:focus {
  text-decoration: none;
}
.side-nav .side-nav-menu li.active {
  border-left-color: #428bca;
  background-color: #f2f2f0;
}
.side-nav .side-nav-menu li.active a i {
  color: #2c3e50;
}
.side-nav .side-nav-menu li.active a span {
  color: #2c3e50;
}
.side-nav .side-nav-application {
  position: absolute;
  bottom: 0;
  background-color: #233140;
  border-top: solid 1px #354b60;
  height: 50px;
  width: 100%;
  color: white;
  padding: 10px;
  overflow: hidden;
}
.side-nav .side-nav-application i {
  position: absolute;
  display: inline-block;
  font-size: 30px;
  padding-left: 5px;
}
.side-nav .side-nav-application span {
  display: block;
  margin-left: 50px;
}
.page-container {
  margin-left: 180px;
  transition: 0.25s ease-in all;
}
.page-container.side-nav-collapsed {
  margin-left: 50px;
}
.page-container.side-nav-collapsed .top-header {
  left: 50px;
}
.page-container.side-nav-collapsed .page-header {
  left: 50px;
}
.page-container .top-header {
  z-index: 99;
  transition: 0.25s ease-in all;
  position: fixed;
  height: 40px;
  margin: 0;
  left: 180px;
  right: 0;
  background-color: white;
}
.page-container .top-header > table tr td {
  border-bottom: solid 1px #cccccc;
  padding: 0;
}
.page-container .top-header > table tr td > select {
  background-color: transparent;
  border-color: transparent;
  margin-top: 6px;
}
.page-container .top-header > table tr td .fa.fa-bars {
  font-size: 22px;
  padding: 8px 10px;
}
.page-container .top-header > table tr td .add-request-input-container {
  display: block;
  font-weight: normal;
  margin: 0;
}
.page-container .top-header > table tr td .add-request-input-container .fa-stack {
  position: absolute;
  font-size: 16px;
}
.page-container .top-header > table tr td .add-request-input-container .fa-stack .fa.fa-plus-circle {
  top: 9px;
  left: 8px;
}
.page-container .top-header > table tr td .add-request-input-container input {
  border: solid 1px transparent;
  margin: 6px 5px 0 35px;
  width: calc(100% - 40px);
}
.page-container .top-header > table tr td .add-request-input-container input:focus {
  border-color: #cccccc;
}
.page-container .top-header > table tr td button.btn {
  outline: none;
  margin-top: 6px;
  background-color: transparent;
}
.page-container .top-header > table tr td button.btn .fa.fa-search {
  padding: 0 15px;
  color: #428bca;
}
.page-container .top-header > table tr td .dropdown-menu {
  width: 300px;
  padding: 0;
}
.page-container .top-header > table tr td .dropdown-menu > div {
  padding: 6px;
}
.page-container .top-header > table tr td .dropdown-menu .bordered-section {
  border-bottom: 1px solid #cccccc;
}
.page-container .top-header > table tr td .dropdown-menu .notification-list {
  padding: 10px;
}
.page-container .top-header > table tr td .dropdown-menu .notification-list > a {
  display: block;
}
.page-container .top-header > table tr td .dropdown-menu .notification-list > a > img {
  position: absolute;
  width: 35px;
  height: 35px;
}
.page-container .top-header > table tr td .dropdown-menu .notification-list > a > div {
  margin-left: 45px;
  min-height: 35px;
  padding-top: 3px;
}
.page-container .top-header > table tr td .dropdown-menu .notification-list > a > div h6 {
  margin: 0;
}
.page-container .top-header > table tr td .dropdown-menu .notification-list > a > div div {
  font-size: 12px;
  color: #333333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page-container .top-header > table tr td .dropdown-menu .notification-list > a + a {
  margin-top: 10px;
}
.page-container .top-header > table tr td .dropdown-menu .impersonation-form {
  padding: 10px 5px;
}
.page-container .top-header > table tr td .dropdown-menu .impersonation-form .form-row > label:nth-child(1) {
  width: 70px;
  font-size: 11px;
}
.page-container .top-header > table tr td .dropdown-menu .impersonation-form .form-row > div:nth-child(2) {
  margin-left: 70px;
}
.page-container .top-header > table tr td + td {
  border-left: solid 1px #cccccc;
}
.page-container .page-header {
  z-index: 98;
  transition: 0.25s ease-in all;
  position: fixed;
  margin: 0;
  padding: 0 20px;
  height: 100px;
  top: 40px;
  background-color: white;
  left: 180px;
  right: 0;
  border-bottom: solid 1px #cccccc;
}
.page-container .page-header #list-navigation-arrow {
  display: none;
  transition: 0.25s ease-in all;
  position: absolute;
  bottom: 0;
}
.page-container .page-header #list-navigation-arrow:before {
  position: absolute;
  z-index: 98;
  border-top: 9px solid #CCC;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: '';
}
.page-container .page-header #list-navigation-arrow:after {
  position: absolute;
  left: 2px;
  z-index: 98;
  border-top: 7px solid white;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: '';
}
.page-container .page-header .page-title {
  margin-top: 15px;
}
.page-container .page-header .page-title ul.list-inline {
  margin-left: 0;
}
.page-container .page-header .page-title ul.list-inline li {
  padding: 0;
}
.page-container .page-header .page-title ul.list-inline li + li:before {
  padding: 5px;
  content: '|';
}
.page-container .page-header .list-navigation {
  position: absolute;
  margin: 0;
  bottom: 2px;
}
.page-container .page-header .list-navigation > li {
  padding-right: 25px;
}
.page-container .page-header .list-navigation > li a:hover,
.page-container .page-header .list-navigation > li a:focus {
  text-decoration: none;
}
.page-container .page-header .list-navigation > li.active {
  font-weight: bold;
}
.page-container .page-header .list-navigation > li.active a {
  color: #333333;
}
.page-container .page-header .page-actions {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.page-container .page-header .page-actions i.fa {
  margin-left: 3px;
}
.page-container .page-content {
  position: relative;
  padding: 150px 10px 20px 10px;
}
.page-container .page-content:before {
  position: fixed;
  top: 140px;
  left: 0;
  border-top: solid 1px white;
  width: 100%;
  content: ' ';
  z-index: 97;
}
