﻿.form-invalid,
.ng-invalid-servererror.form-control {
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
}
.ng-invalid-servererror.item-select > a {
  background-color: #f2dede;
  border-color: #ebccd1;
}
.ng-invalid-servererror.item-select > a > span {
  background-color: #f2dede;
}
.ng-invalid-servererror.item-select > input {
  background-color: #f2dede;
  border-color: #ebccd1;
}
.ng-invalid-serverwarning:not(.ng-invalid-servererror).item-select > a {
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.ng-invalid-serverwarning:not(.ng-invalid-servererror).item-select > a > span {
  background-color: #fcf8e3;
}
.ng-invalid-serverwarning:not(.ng-invalid-servererror).item-select > input {
  background-color: #fcf8e3;
  border-color: #faebcc;
}
li.invalid-step::after {
  position: absolute;
  top: -4px;
  right: -6px;
  z-index: 2;
  color: #a94442;
  font-family: fontawesome;
  content: "\f06a";
  font-size: 18px;
  background-color: white;
  border-radius: 10px;
  line-height: 10px;
}
.warning-message {
  line-height: 27px;
}
.warning-message i {
  color: #8a6d3b;
  font-size: 18px;
  vertical-align: middle;
}
.warning-message span {
  color: #8a6d3b;
  padding-left: 3px;
}
.validation-message {
  line-height: 27px;
}
.validation-message i {
  color: #a94442;
  font-size: 18px;
  vertical-align: middle;
}
.validation-message span {
  color: #a94442;
  padding-left: 3px;
}
.validation-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.validation-icon-wrapper .validation-icon {
  position: absolute;
  color: #a94442;
  font-size: 18px;
  background-color: white;
  border-radius: 10px;
  line-height: 10px;
  right: -18px;
  top: 9px;
}
