﻿@import "variables.less";

.form-invalid,
.ng-invalid-servererror.form-control {
    background-color: @alert-error-background !important;
    border-color: @alert-error-border !important;
}

.ng-invalid-servererror.item-select {
    & > a {
        background-color: @alert-error-background;
        border-color: @alert-error-border;

        & > span {
            background-color: @alert-error-background;
        }
    }

    & > input {
        background-color: @alert-error-background;
        border-color: @alert-error-border;
    }
}

.ng-invalid-serverwarning:not(.ng-invalid-servererror) {
    &.item-select {
        & > a {
            background-color: @alert-warning-background;
            border-color: @alert-warning-border;

            & > span {
                background-color: @alert-warning-background;
            }
        }

        & > input {
            background-color: @alert-warning-background;
            border-color: @alert-warning-border;
        }
    }
}

li.invalid-step::after {
    position: absolute;
    top: -4px;
    right: -6px;
    z-index: 2;
    color: @alert-error-color;
    font-family: fontawesome;
    content: "\f06a";
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    line-height: 10px;
}

.warning-message {
    line-height: 27px;

    i {
        color: @alert-warning-color;
        font-size: 18px;
        vertical-align: middle;
    }

    span {
        color: @alert-warning-color;
        padding-left: 3px;
    }
}

.validation-message {
    line-height: 27px;

    i {
        color: @alert-error-color;
        font-size: 18px;
        vertical-align: middle;
    }

    span {
        color: @alert-error-color;
        padding-left: 3px;
    }
}

.validation-icon-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    .validation-icon {
        position: absolute;
        color: @alert-error-color;
        font-size: 18px;
        background-color: white;
        border-radius: 10px;
        line-height: 10px;
        right: -18px;
        top: 9px;
    }
}
