﻿@import "variables";

.progress-bar-animate {
    &.ng-hide-add {
        -moz-transition: 0.25s linear all;
        -o-transition: 0.25s linear all;
        -webkit-transition: 0.25s linear all;
        transition: 0.25s linear all;
        opacity: 1;
    }

    &.ng-hide {
        opacity: 0;
    }
}

.menu-layout {
    .closed-add, .closed-remove, .expanded-add, .expanded-remove {
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
        -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
        -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    }

    .closed-remove {
        .input-container {
            /*Browsers aren't handling this correctly when expanding from collapsed to open due to the overflow: hidden tag */
            visibility: hidden;
        }
    }
}

.copy-animation {
    background-color: transparent;

    &.zeroclipboard-is-hover {
        background-color: fade(@text-muted, 17%);
    }

    &.copying-add {
        -moz-transition: all .15s linear;
        -o-transition: all .15s linear;
        -webkit-transition: all .15s linear;
        transition: all .15s linear;
        background-color: fade(@text-muted, 50%);
    }
}
