﻿.progress-bar-animate.ng-hide-add {
  -moz-transition: 0.25s linear all;
  -o-transition: 0.25s linear all;
  -webkit-transition: 0.25s linear all;
  transition: 0.25s linear all;
  opacity: 1;
}
.progress-bar-animate.ng-hide {
  opacity: 0;
}
.menu-layout .closed-add,
.menu-layout .closed-remove,
.menu-layout .expanded-add,
.menu-layout .expanded-remove {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.menu-layout .closed-remove .input-container {
  /*Browsers aren't handling this correctly when expanding from collapsed to open due to the overflow: hidden tag */
  visibility: hidden;
}
.copy-animation {
  background-color: transparent;
}
.copy-animation.zeroclipboard-is-hover {
  background-color: rgba(153, 153, 153, 0.17);
}
.copy-animation.copying-add {
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  background-color: rgba(153, 153, 153, 0.5);
}
