﻿.tri-column-grid {
  /*This will prevent padding to start new rows in chrome*/
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.tri-column-grid > div {
  width: 100%;
  display: inline-block;
}
@media (min-width: 480px) {
  .tri-column-grid {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 992px) {
  .tri-column-grid {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  .tri-column-grid.column-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    width: 66.66666667%;
  }
  .tri-column-grid.column-1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    width: 33.33333333%;
  }
}
