﻿@import "variables.less";

.tri-column-grid {
    /*This will prevent padding to start new rows in chrome*/
    & > div {
        width: 100%;
        display: inline-block;
    }

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

@media (min-width: @screen-xs) {
    .tri-column-grid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: @screen-md) {
    .tri-column-grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;

        &.column-2 {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
            
            width: 66.66666667%;
        }

        &.column-1 {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
            
            width: 33.33333333%;
        }
    }
}
