﻿@import "variables";

.dropdown-menu > li {
    &.active .text-muted,
    a:hover .text-muted {
        color: @light-gray;
    }

    &[ng-click],
    a[ng-click] {
        cursor: pointer;
    }
}

.btn {
    &.btn-link {
        color: @bts-black;
    }

    &.btn-add {
        padding: 4px 0;

        i {
            color: @brand-success;
            font-size: 1.3em;
            vertical-align: middle;
        }

        span {
            padding-left: 5px;
            vertical-align: middle;
        }
    }
}

.badge {
    background-color: @link-blue;

    &.empty-collection {
        background-color: @dark-gray;
    }

    &.loading-collection:after {
        content: "\f1ce";
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
    }
}

select.form-control {
    padding-left: 6px;
}

.table {
    .delete-button-column {
        width: 44px;
    }

    .checkbox-column {
        width: 25px;
        text-align: center;

        input[type="checkbox"].form-control {
            height: 14px;
        }
    }

    .update-column {
        width: 55px;
        text-align: center;
    }

    .primary-column {
        width: 50px;
        text-align: center;

        input[type="radio"] {
            margin-top: 6px;
        }
    }
    /* for table rows that are selected */
    .active > td {
        background-color: lighten(@bts-blue, 15%) !important;
    }
    /* for table rows that can be expanded */
    .expand-column {
        width: 25px;
    }
    /* space out icons in tables */
    .icon-container {
        i, span {
            padding-left: 3px;
        }
    }

    &.table-striped-double {
        & > tbody > tr:nth-child(4n) > td,
        & > tbody > tr:nth-child(4n+2) > td {
            border-top: none;
        }
    }

    &.table-curved-no-header {
        & > tbody {
            & > tr:first-child {
                td {
                    border-top-width: 0;
                }

                td:first-child {
                    border-top-left-radius: @border-radius;
                }

                td:last-child {
                    border-top-right-radius: @border-radius;
                }
            }
        }
    }

    &.table-curved-no-footer {
        & > tbody {
            & > tr:last-child {
                td:first-child {
                    border-bottom-left-radius: @border-radius;
                }

                td:last-child {
                    border-bottom-right-radius: @border-radius;
                }
            }
        }
    }

    &.table-curved {
        border-radius: @border-radius;

        & > thead {
            tr {
                th {
                    border-bottom-width: 1px;
                }
            }

            & > tr:first-child {

                th:first-child {
                    border-top-left-radius: @border-radius;
                }

                th:last-child {
                    border-top-right-radius: @border-radius;
                }
            }
        }

        & > tfoot {
            tr {
                td:first-child {
                    border-left-width: 0;
                }

                td {
                    border-width: 1px 0 0 1px;
                }
            }
        }
    }

    &.table-outlined {
        border-collapse: separate; /*bottom border disappears in webkit browsers w/o this */
        border: solid 1px @dark-gray;

        & > thead > tr > th {
            border-bottom-width: 1px;
            text-align: left;
        }
    }

    &.table-no-margin {
        margin-bottom: 0;
    }
}
