﻿.dropdown-menu > li.active .text-muted,
.dropdown-menu > li a:hover .text-muted {
  color: #f4f4f4;
}
.dropdown-menu > li[ng-click],
.dropdown-menu > li a[ng-click] {
  cursor: pointer;
}
.btn.btn-link {
  color: #333333;
}
.btn.btn-add {
  padding: 4px 0;
}
.btn.btn-add i {
  color: #5cb85c;
  font-size: 1.3em;
  vertical-align: middle;
}
.btn.btn-add span {
  padding-left: 5px;
  vertical-align: middle;
}
.badge {
  background-color: #00a3d8;
}
.badge.empty-collection {
  background-color: #dddddd;
}
.badge.loading-collection:after {
  content: "\f1ce";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
select.form-control {
  padding-left: 6px;
}
.table {
  /* for table rows that are selected */
  /* for table rows that can be expanded */
  /* space out icons in tables */
}
.table .delete-button-column {
  width: 44px;
}
.table .checkbox-column {
  width: 25px;
  text-align: center;
}
.table .checkbox-column input[type="checkbox"].form-control {
  height: 14px;
}
.table .update-column {
  width: 55px;
  text-align: center;
}
.table .primary-column {
  width: 50px;
  text-align: center;
}
.table .primary-column input[type="radio"] {
  margin-top: 6px;
}
.table .active > td {
  background-color: #81c7db !important;
}
.table .expand-column {
  width: 25px;
}
.table .icon-container i,
.table .icon-container span {
  padding-left: 3px;
}
.table.table-striped-double > tbody > tr:nth-child(4n) > td,
.table.table-striped-double > tbody > tr:nth-child(4n+2) > td {
  border-top: none;
}
.table.table-curved-no-header > tbody > tr:first-child td {
  border-top-width: 0;
}
.table.table-curved-no-header > tbody > tr:first-child td:first-child {
  border-top-left-radius: 4px;
}
.table.table-curved-no-header > tbody > tr:first-child td:last-child {
  border-top-right-radius: 4px;
}
.table.table-curved-no-footer > tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
.table.table-curved-no-footer > tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
.table.table-curved {
  border-radius: 4px;
}
.table.table-curved > thead tr th {
  border-bottom-width: 1px;
}
.table.table-curved > thead > tr:first-child th:first-child {
  border-top-left-radius: 4px;
}
.table.table-curved > thead > tr:first-child th:last-child {
  border-top-right-radius: 4px;
}
.table.table-curved > tfoot tr td:first-child {
  border-left-width: 0;
}
.table.table-curved > tfoot tr td {
  border-width: 1px 0 0 1px;
}
.table.table-outlined {
  border-collapse: separate;
  /*bottom border disappears in webkit browsers w/o this */
  border: solid 1px #dddddd;
}
.table.table-outlined > thead > tr > th {
  border-bottom-width: 1px;
  text-align: left;
}
.table.table-no-margin {
  margin-bottom: 0;
}
