﻿/* HTML Elements */
html {
  overflow-y: scroll;
}
body {
  height: calc(100% -  90px );
}
a {
  cursor: pointer;
}
a:not([href]):not([ng-click]):not([click-event]):not(.item-select-option) {
  cursor: default;
  color: #333333;
}
a:not([href]):not([ng-click]):not([click-event]):not(.item-select-option):hover {
  text-decoration: none;
}
h3 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  cursor: default;
}
ol.list-no-margin,
ul.list-no-margin {
  margin-bottom: 0;
}
ol.list-float,
ul.list-float {
  list-style: none;
  padding: 0;
}
ol.list-float:after,
ul.list-float:after {
  content: "";
  display: table;
  clear: both;
}
ol.list-float > li,
ul.list-float > li {
  float: left;
}
ol.list-float > li + li,
ul.list-float > li + li {
  padding-left: 10px;
}
p {
  display: inline-block;
}
label {
  font-weight: normal;
}
label.inline-radio-selection {
  min-height: 22px;
  padding-top: 4px;
}
label.inline-radio-selection input[type="radio"] {
  vertical-align: top;
}
label.inline-radio-selection + label.inline-radio-selection {
  padding-left: 15px;
}
/* Custom Classes */
.date-input {
  width: 90px;
}
.item-select-with-advanced-search:after {
  content: "";
  display: table;
  clear: both;
}
.item-select-with-advanced-search .pull-left {
  width: calc(100% - 40px);
}
.async-search {
  background-color: #f4f4f4;
}
.no-top-margin {
  margin-top: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}
.cursor-pointer {
  cursor: pointer !important;
}
.default-pointer {
  cursor: default !important;
}
.overflow-auto {
  overflow: auto;
}
.auto-height {
  height: auto;
}
.text-bold {
  font-weight: bold;
}
.inline-block {
  display: inline-block;
}
.soft-deleted {
  color: #999999;
  font-style: italic;
}
.dotted-divider + .dotted-divider {
  border-top: dotted 1px #dddddd;
}
.editable-collection > button {
  margin: 3px 0 0 8px;
}
.editable-collection > table tfoot td {
  padding: 3px 8px 2px 8px;
}
.property-information > label:nth-child(1) {
  float: left;
  width: 150px;
}
.property-information > div:nth-child(2) {
  margin-left: 150px;
}
.property-information:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  margin-left: 0;
}
.content-header {
  background-color: white;
  cursor: default;
  z-index: 48;
  border-bottom: 1px dotted #eeeeee;
  height: 40px;
  width: 100%;
  left: 0;
}
.content-header .form-control {
  width: auto;
}
.content-header a.header-link {
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
.content-header a.header-link:hover,
.content-header a.header-link:active,
.content-header a.header-link:focus {
  background-color: #eeeeee;
  text-decoration: none;
  color: #00a3d8;
}
.content-header a.header-link i.fa.fa-external-link {
  margin-left: 2px;
  vertical-align: middle;
}
.content-header .container > .pull-left {
  font-size: 20px;
  padding-top: 7px;
}
.content-header .container > .pull-right {
  padding-left: 10px;
  padding-top: 7px;
}
.content-header .container > .pull-right button:not(.dropdown-toggle):not(.btn-icon) {
  min-width: 100px;
}
.content-header .container > .pull-right .dropdown-menu {
  left: inherit;
  right: 0;
}
.content-header.with-section-headings {
  height: 60px;
}
.content-header.with-section-headings .container > .pull-left {
  padding-top: 10px;
}
.content-header.with-section-headings .container > .pull-left ul li {
  vertical-align: top;
  min-height: 45px;
}
.content-header.with-section-headings .container > .pull-left ul li > label {
  font-size: 12px;
  margin-bottom: 2px;
  display: block;
}
.content-header.with-section-headings .container > .pull-left ul li > div {
  font-size: 20px;
  line-height: 20px;
}
.content-header.with-section-headings .container > .pull-left ul li + li {
  border-left: 1px dotted #eeeeee;
  padding-left: 10px;
}
.content-header.with-section-headings .container > .pull-right {
  padding-top: 17px;
}
.content-detail {
  margin-bottom: 25px;
  padding-top: 55px;
  padding-right: 15px;
}
.content-detail.with-section-headings {
  padding-top: 75px;
}
.content-detail .primary-information-container {
  margin: 0 0 0 17px;
}
.content-detail .primary-information-container hr {
  margin-top: 0;
}
.menu-layout {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.menu-layout .menu-container {
  background-color: #f4f4f4;
  z-index: 49;
  height: 100%;
}
.menu-layout .menu-container.closed {
  width: 60px;
}
.menu-layout .menu-container.opened {
  width: 235px;
}
.menu-layout .menu-container.expanded {
  width: 450px;
}
.menu-layout .menu-container .menu-content {
  position: absolute;
  width: calc(100% -  10px );
}
.menu-layout .menu-container .menu-content .menu-header {
  height: 40px;
  overflow: hidden;
  background-color: #46acca;
  color: white;
  font-size: 1.2em;
  padding: 10px;
}
.menu-layout .menu-container .menu-content .menu-header > span {
  float: left;
}
.menu-layout .menu-container .menu-content .menu-header > a {
  float: right;
  color: white;
}
.menu-layout .menu-container .menu-content .closed-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.menu-layout .menu-container .menu-content .closed-menu ul li {
  height: 40px;
  background-color: #46acca;
  margin: 0 auto 4px;
}
.menu-layout .menu-container .menu-content .closed-menu ul li a {
  color: white;
}
.menu-layout .menu-container .menu-content .open-menu ul.nav-stacked li a {
  color: #333333;
  padding: 5px 15px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.menu-layout .menu-container .menu-content .open-menu ul.nav-stacked > li + li {
  margin-top: 0;
}
.menu-layout .menu-container .menu-content .open-menu ul.nav-stacked li.active {
  background-color: #333333;
}
.menu-layout .menu-container .menu-content .open-menu ul.nav-stacked li.active::after {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 2;
  display: inline-block;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #333333;
  content: '';
}
.menu-layout .menu-container .menu-content .open-menu ul.nav-stacked li.active a {
  color: white;
}
.menu-layout .menu-container .menu-content .open-menu ul.nav-stacked li.active a:hover {
  background-color: inherit;
}
.menu-layout .menu-container .menu-divider {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 10px;
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  background-color: #f4f4f4;
  height: 100%;
}
.menu-layout .menu-layout-detail-pane {
  padding: 0 0 0 15px;
  margin-left: 60px;
}
.menu-layout .menu-layout-detail-pane.menu-hidden {
  margin-left: 0;
}
.menu-layout .menu-layout-detail-pane.menu-hidden .content-header .container {
  padding-left: 10px;
}
.menu-layout .menu-layout-detail-pane .content-header .container {
  padding-left: 70px;
}
.menu-layout .menu-layout-detail-pane.menu-fixed {
  margin-left: 235px;
}
.menu-layout .menu-layout-detail-pane.menu-fixed .content-header .container {
  padding-left: 245px;
}
.sub-menu-container .nav.nav-sub-menu {
  content: "";
  display: table;
  clear: both;
}
.sub-menu-container .nav.nav-sub-menu > li {
  float: left;
}
.sub-menu-container .nav.nav-sub-menu > li > a:hover,
.sub-menu-container .nav.nav-sub-menu > li > a:focus {
  background-color: white;
}
.sub-menu-container .nav.nav-sub-menu > li > a {
  padding: 0;
  margin: 12px 15px 8px 15px;
  border-bottom: 2px solid white;
}
.sub-menu-container .nav.nav-sub-menu > li.active > a {
  border-bottom: 2px solid #46acca;
  color: #333333;
}
