﻿@import "variables.less";
@fixed-header-with-section-headings-height: @fixed-header-height + 20px;

/* HTML Elements */
html {
    overflow-y: scroll;
}

body {
    height: ~"calc(100% - " @site-header-height ~")";
}

a {
    cursor: pointer;

    &:not([href]):not([ng-click]):not([click-event]):not(.item-select-option) {
        cursor: default;
        color: @bts-black;

        &:hover {
            text-decoration: none;
        }
    }
}

h3 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: default;
}

ol, ul {
    &.list-no-margin {
        margin-bottom: 0;
    }

    &.list-float {
        list-style: none;
        padding: 0;

        &:after {
            .clearfix();
        }

        & > li {
            float: left;
        }

        & > li + li {
            padding-left: 10px;
        }
    }
}

p {
    display: inline-block;
}

label {
    font-weight: normal;

    &.inline-radio-selection {
        min-height: 22px;
        padding-top: 4px;

        input[type="radio"] {
            vertical-align: top;
        }
    }

    &.inline-radio-selection + &.inline-radio-selection {
        padding-left: 15px;
    }
}

/* Custom Classes */
.date-input {
    width: 90px;
}

.item-select-with-advanced-search {
    &:after {
        .clearfix();
    }

    .pull-left {
        width: ~"calc(100% - 40px)";
    }
}

.async-search {
    background-color: @light-gray;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.cursor-pointer {
    cursor: pointer !important;
}

.default-pointer {
    cursor: default !important;
}

.overflow-auto {
    overflow: auto;
}

.auto-height {
    height: auto;
}

.text-bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.soft-deleted {
    color: @text-muted;
    font-style: italic;
}

.dotted-divider + .dotted-divider {
    border-top: dotted 1px @dark-gray;
}

.editable-collection {
    & > button {
        margin: 3px 0 0 8px;
    }

    & > table {
        tfoot {
            td {
                padding: 3px 8px 2px 8px;
            }
        }
    }
}

.property-information {
    & > label:nth-child(1) {
        float: left;
        width: 150px;
    }

    & > div:nth-child(2) {
        margin-left: 150px;
    }

    &:after {
        .clearfix();
    }
}

.container {
    margin-left: 0;
}

.content-header {
    background-color: white;
    cursor: default;
    z-index: @fixed-z-index - 2;
    border-bottom: 1px dotted @medium-gray;
    height: @fixed-header-height;
    width: 100%;
    left: 0;

    .form-control {
        width: auto;
    }

    a.header-link {
        font-size: 14px;
        padding: 3px 10px;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;

        &:hover, &:active, &:focus {
            background-color: @medium-gray;
            text-decoration: none;
            color: @link-blue;
        }

        i.fa.fa-external-link {
            margin-left: 2px;
            vertical-align: middle;
        }
    }

    .container {
        & > .pull-left {
            font-size: 20px;
            padding-top: 7px;
        }

        & > .pull-right {
            padding-left: 10px;
            padding-top: 7px;

            button:not(.dropdown-toggle):not(.btn-icon) {
                min-width: 100px;
            }

            .dropdown-menu {
                left: inherit;
                right: 0;
            }
        }
    }

    &.with-section-headings {
        height: @fixed-header-with-section-headings-height;

        .container {
            & > .pull-left {
                padding-top: 10px;

                ul {
                    li {
                        vertical-align: top;
                        min-height: 45px;

                        & > label {
                            font-size: 12px;
                            margin-bottom: 2px;
                            display: block;
                        }

                        & > div {
                            font-size: 20px;
                            line-height: 20px;
                        }
                    }

                    li + li {
                        border-left: 1px dotted @medium-gray;
                        padding-left: 10px;
                    }
                }
            }

            & > .pull-right {
                padding-top: 17px;
            }
        }
    }
}

.content-detail {
    margin-bottom: 25px;
    padding-top: @content-padding-width + @fixed-header-height;
    padding-right: @content-padding-width;

    &.with-section-headings {
        padding-top: @content-padding-width + @fixed-header-with-section-headings-height;
    }

    .primary-information-container {
        margin: 0 0 0 17px;

        hr {
            margin-top: 0;
        }
    }
}

.menu-layout {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    .menu-container {
        background-color: @light-gray;
        z-index: @fixed-z-index - 1;
        height: 100%;

        &.closed {
            width: @menu-closed-width;
        }

        &.opened {
            width: @menu-open-width;
        }

        &.expanded {
            width: @menu-expanded-width;
        }

        .menu-content {
            position: absolute;
            width: ~"calc(100% - " @menu-divider-width ~")";

            .menu-header {
                height: 40px;
                overflow: hidden;
                background-color: @bts-blue;
                color: white;
                font-size: 1.2em;
                padding: 10px;

                & > span {
                    float: left;
                }

                & > a {
                    float: right;
                    color: white;
                }
            }

            .closed-menu {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    text-align: center;

                    li {
                        height: 40px;
                        background-color: @bts-blue;
                        margin: 0 auto 4px;

                        a {
                            color: white;
                        }
                    }
                }
            }

            .open-menu {
                ul.nav-stacked {
                    li {
                        a {
                            color: @bts-black;
                            padding: 5px 15px;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 100%;
                        }
                    }

                    & > li + li {
                        margin-top: 0;
                    }

                    li.active {
                        background-color: @bts-black;

                        &::after {
                            position: absolute;
                            top: 0;
                            right: @menu-divider-width * -1px;
                            z-index: 2;
                            display: inline-block;
                            border-top: 13px solid transparent;
                            border-bottom: 13px solid transparent;
                            border-left: 10px solid @bts-black;
                            content: '';
                        }

                        a {
                            color: white;

                            &:hover {
                                background-color: inherit;
                            }
                        }
                    }
                }
            }
        }

        .menu-divider {
            position: absolute;
            right: 0;
            z-index: 1;
            width: @menu-divider-width;
            border-left: solid 1px @dark-gray;
            border-right: solid 1px @dark-gray;
            background-color: @light-gray;
            height: 100%;
        }
    }

    .menu-layout-detail-pane {
        padding: 0 0 0 @content-padding-width;
        margin-left: @menu-closed-width;

        &.menu-hidden {
            margin-left: 0;

            .content-header .container {
                padding-left: 10px;
            }
        }

        .content-header .container {
            padding-left: @menu-closed-width + 10px;
        }

        &.menu-fixed {
            margin-left: @menu-open-width;

            .content-header .container {
                padding-left: @menu-open-width + 10px;
            }
        }
    }
}

.sub-menu-container {
    .nav.nav-sub-menu {
        .clearfix();

        & > li {
            float: left;

            & > a:hover, & > a:focus {
                background-color: white;
            }

            & > a {
                padding: 0;
                margin: 12px 15px 8px 15px;
                border-bottom: 2px solid white;
            }

            &.active {
                & > a {
                    border-bottom: 2px solid @bts-blue;
                    color: @bts-black;
                }
            }
        }
    }
}
