﻿.bpm-view {
  min-width: 750px;
}
.standard-view {
  min-width: 1000px;
  min-height: 600px;
}
.standard-view .site-header {
  min-width: 1000px;
}
.standard-view .container {
  min-width: 1000px;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li a {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 1000px), (max-height: 600px) {
  .affix {
    position: absolute;
  }
}
