﻿@import "variables";

.bpm-view {
    min-width: 750px;

    .site-header {
        min-width: 750px;
    }

    .container {
        min-width: 750px;
    }
}

.standard-view {
    min-height: 600px;
    min-width: 1000px;

    .site-header {
        min-width: 1000px;
    }

    .container {
        min-width: 1000px;
    }
}

//Fixing bootstrap min-size issues
.navbar-nav {
    float: left;
    margin: 0;

    & > li {
        float: left;

        a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: @min-page-width), (max-height: @min-page-height) {
    .affix {
        position: absolute;
    }
}