﻿@import "variables";

.modal-no-padding .modal-dialog .modal-body {
    padding: 0;
}

.max-height-500px .modal-dialog {
    max-height: 500px;
}

.modal-content-wrapper {
    height: 100%;
}

.modal-tall .modal-dialog {
    height: 80%;

    .modal-content {
        height: 100%;

        .modal-header {
            height: 41px;
        }

        .modal-body {
            height: ~"calc(100% - 87px)";
            overflow: auto;
        }

        .modal-footer {
            height: 46px;
        }
    }
}

.modal-tall-no-footer .modal-dialog {
    min-height: 500px;
    height: 80%;

    .modal-content {
        height: 100%;

        .modal-header {
            height: 41px;
        }

        .modal-body {
            height: ~"calc(100% - 41px)";

            .container.menu-layout {
                width: auto;
            }

            .content-header {
                /*Allow scroll bar to be visible*/
                width: ~"calc(100% - 20px)";
            }
        }
    }
}

.modal-warning {
    .modal-header {
        background-color: @alert-warning-background;

        i {
            font-size: 18px;
            vertical-align: middle;
            padding-right: 5px;
        }
    }

    .modal-body {
        padding: 15px 10px;
    }
}

.modal-error {
    .modal-header {
        background-color: @alert-error-background;

        i {
            font-size: 18px;
            vertical-align: middle;
            padding-left: 3px;
            padding-right: 5px;
        }
    }
}

.modal-body {
    .menu-layout {
        .menu-container {
            border-radius: 6px;
            position: absolute;
        }

        .menu-layout-detail-pane {
            padding-right: @content-padding-width;
            height: 100%;
            overflow: auto;

            .content-header {
                position: absolute;

                .container {
                    width: ~"calc(100% - 20px)"; /*Give the scroll bar some room*/
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .modal-wide .modal-dialog {
        width: 732px;
    }
}

@media (min-width: 992px) {
    .modal-wide .modal-dialog {
        width: 952px;
    }
}

@media (min-width: 1200px) {
    .modal-wide .modal-dialog {
        width: 1152px;
    }
}
