﻿.modal-no-padding .modal-dialog .modal-body {
  padding: 0;
}
.max-height-500px .modal-dialog {
  max-height: 500px;
}
.modal-content-wrapper {
  height: 100%;
}
.modal-tall .modal-dialog {
  height: 80%;
}
.modal-tall .modal-dialog .modal-content {
  height: 100%;
}
.modal-tall .modal-dialog .modal-content .modal-header {
  height: 41px;
}
.modal-tall .modal-dialog .modal-content .modal-body {
  height: calc(100% - 87px);
  overflow: auto;
}
.modal-tall .modal-dialog .modal-content .modal-footer {
  height: 46px;
}
.modal-tall-no-footer .modal-dialog {
  min-height: 500px;
  height: 80%;
}
.modal-tall-no-footer .modal-dialog .modal-content {
  height: 100%;
}
.modal-tall-no-footer .modal-dialog .modal-content .modal-header {
  height: 41px;
}
.modal-tall-no-footer .modal-dialog .modal-content .modal-body {
  height: calc(100% - 41px);
}
.modal-tall-no-footer .modal-dialog .modal-content .modal-body .container.menu-layout {
  width: auto;
}
.modal-tall-no-footer .modal-dialog .modal-content .modal-body .content-header {
  /*Allow scroll bar to be visible*/
  width: calc(100% - 20px);
}
.modal-warning .modal-header {
  background-color: #fcf8e3;
}
.modal-warning .modal-header i {
  font-size: 18px;
  vertical-align: middle;
  padding-right: 5px;
}
.modal-warning .modal-body {
  padding: 15px 10px;
}
.modal-error .modal-header {
  background-color: #f2dede;
}
.modal-error .modal-header i {
  font-size: 18px;
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 5px;
}
.modal-body .menu-layout .menu-container {
  border-radius: 6px;
  position: absolute;
}
.modal-body .menu-layout .menu-layout-detail-pane {
  padding-right: 15px;
  height: 100%;
  overflow: auto;
}
.modal-body .menu-layout .menu-layout-detail-pane .content-header {
  position: absolute;
}
.modal-body .menu-layout .menu-layout-detail-pane .content-header .container {
  width: calc(100% - 20px);
  /*Give the scroll bar some room*/
}
@media (min-width: 768px) {
  .modal-wide .modal-dialog {
    width: 732px;
  }
}
@media (min-width: 992px) {
  .modal-wide .modal-dialog {
    width: 952px;
  }
}
@media (min-width: 1200px) {
  .modal-wide .modal-dialog {
    width: 1152px;
  }
}
