﻿@import "variables";

@logo-height: @site-header-height - 10px;

.site-header {
    height: @site-header-height;
    top: 0;
    width: 100%;
    z-index: @fixed-z-index;
    background-color: @light-gray;

    .branding-container {
        position: absolute;
        z-index: 1;
        right: 0;
        padding-top: 5px;

        select {
            font-size: 11px;
            width: auto;
            height: 22px;
            padding: 2px 10px;
            display: inline-block;
            background-position-y: 4px;
        }

        .brand {
            color: @bts-brand;
            font-size: 14px;
            padding-right: 3px;
        }

        .brand, select {
            margin-right: 3px;
            vertical-align: middle;
        }
    }

    .navbar.navbar-default {
        height: @site-header-height;
        border: none;
        background-color: transparent;

        .nav.navbar-nav {
            height: 100%;
            width: 100%;
            border-bottom: 1px solid @dark-gray;

            .tab-link {
                padding-top: @site-header-height - 51px;
            }

            .pull-right {
                margin-top: @site-header-height - 31px;
                height: 25px;

                &.divider {
                    margin-top: @site-header-height - 28px;
                    border-left: 1px solid @dark-gray;
                    width: 1px;
                }

                &.dropdown {
                    a {
                        padding: 5px 10px;

                        i {
                            color: #AAAAAA;
                            font-size: 18px;
                            vertical-align: middle;
                        }

                        span.caret {
                            border-top-color: #AAAAAA;
                            border-width: 3px;
                            margin-left: 4px;
                        }
                    }
                }
            }

            .side-nav-company {
                position: relative;
                height: @site-header-height;
                width: @menu-open-width;
                margin-right: 40px;

                div.company-image {
                    display: inline-block;
                    width: ~"calc(100% - 10px)";
                    height: ~"calc(100% - 10px)";
                    margin: 5px;
                    background: url('') no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
}

.view-container {
    margin-top: @site-header-height;
    height: 100%;

    @padding-amount: @menu-closed-width + 10px;

    .padded-page-container {
        .content-header {
            & > .container {
                padding-left: @padding-amount;
            }

            .content-secondary-header .container {
                padding-left: @padding-amount;
            }
        }


        .content-detail .container {
            padding-left: @padding-amount;
        }
    }
}

.bpm-view {
    .view-container {
        margin-top: 0;
    }
}
