﻿.site-header {
  height: 90px;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: #f4f4f4;
}
.site-header .branding-container {
  position: absolute;
  z-index: 1;
  right: 0;
  padding-top: 5px;
}
.site-header .branding-container select {
  font-size: 11px;
  width: auto;
  height: 22px;
  padding: 2px 10px;
  display: inline-block;
  background-position-y: 4px;
}
.site-header .branding-container .brand {
  color: #5e5e5e;
  font-size: 14px;
  padding-right: 3px;
}
.site-header .branding-container .brand,
.site-header .branding-container select {
  margin-right: 3px;
  vertical-align: middle;
}
.site-header .navbar.navbar-default {
  height: 90px;
  border: none;
  background-color: transparent;
}
.site-header .navbar.navbar-default .nav.navbar-nav {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
.site-header .navbar.navbar-default .nav.navbar-nav .tab-link {
  padding-top: 39px;
}
.site-header .navbar.navbar-default .nav.navbar-nav .pull-right {
  margin-top: 59px;
  height: 25px;
}
.site-header .navbar.navbar-default .nav.navbar-nav .pull-right.divider {
  margin-top: 62px;
  border-left: 1px solid #dddddd;
  width: 1px;
}
.site-header .navbar.navbar-default .nav.navbar-nav .pull-right.dropdown a {
  padding: 5px 10px;
}
.site-header .navbar.navbar-default .nav.navbar-nav .pull-right.dropdown a i {
  color: #AAAAAA;
  font-size: 18px;
  vertical-align: middle;
}
.site-header .navbar.navbar-default .nav.navbar-nav .pull-right.dropdown a span.caret {
  border-top-color: #AAAAAA;
  border-width: 3px;
  margin-left: 4px;
}
.site-header .navbar.navbar-default .nav.navbar-nav .side-nav-company {
  position: relative;
  height: 90px;
  width: 235px;
  margin-right: 40px;
}
.site-header .navbar.navbar-default .nav.navbar-nav .side-nav-company div.company-image {
  display: inline-block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  background: url('') no-repeat center;
  background-size: contain;
}
.view-container {
  margin-top: 90px;
  height: 100%;
}
.view-container .padded-page-container .content-header > .container {
  padding-left: 70px;
}
.view-container .padded-page-container .content-header .content-secondary-header .container {
  padding-left: 70px;
}
.view-container .padded-page-container .content-detail .container {
  padding-left: 70px;
}
.bpm-view .view-container {
  margin-top: 0;
}
