﻿@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@bts-blue: #46acca;
@bts-brand: #5e5e5e;
@border-gray: #cccccc;
@dark-gray: #dddddd;
@medium-gray: #eeeeee;
@light-gray: #f4f4f4;
@text-muted: #999;
@bts-black: #333;
@link-blue: #00a3d8;

@alert-warning-color: #8a6d3b;
@alert-warning-background: #fcf8e3;
@alert-warning-border: #faebcc;

@alert-error-color: #a94442;
@alert-error-background: #f2dede;
@alert-error-border: #ebccd1;

@site-header-height: 90px;
@fixed-header-height: 40px;

@menu-closed-width: 60px;
@menu-open-width: 235px;
@menu-expanded-width: 450px;
@menu-divider-width: 10px;

@action-button-min-width: 100px;
@content-padding-width: 15px;
@border-radius: 4px;

@fixed-z-index: 50;
@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

.clearfix() {
    content: "";
    display: table;
    clear: both;
}
