﻿<div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="no-top-margin">Addresses</h3>
            <div>
                <editable-field editing="vm.Editing">
                    <read>
                        <submission-addresses-read submission-addresses="vm.Submission.Addresses"></submission-addresses-read>
                    </read>
                    <write>
                        <div name="Address" validated-field="{icon: true}">
                            <submission-addresses-write client-addresses="vm.ClientDetails.Addresses" submission-addresses="vm.Submission.Addresses" address-updatable="true"></submission-addresses-write>
                        </div>
                    </write>
                </editable-field>
            </div>
        </div>
    </div>
    <div>
        <h3>Additional Names</h3>
        <div class="row">
            <div class="col-sm-4">
                <editable-field editing="vm.Editing">
                    <read>
                        <submission-names-read submission-names="vm.SubmissionWorkflow.AdditionalNames"></submission-names-read>
                    </read>
                    <write>
                        <submission-names-write client-names="vm.ClientDetails.AdditionalNames" submission-names="vm.SubmissionWorkflow.AdditionalNames" name-updatable="true"></submission-names-write>
                    </write>
                </editable-field>
            </div>
        </div>
    </div>
</div>