﻿<div class="row">
    <div class="col-md-8">
        <editable-field editing="vm.Editing">
            <read>
                <div ng-show="vm.Submission.Notes.length == 0">
                    This submission does not have any notes.
                </div>
                <div ng-hide="vm.Submission.Notes.length == 0">
                    <submission-notes-read notes="vm.Submission.Notes" is-copyable="false"></submission-notes-read>
                </div>
            </read>
            <write>
                <submission-notes-write notes="vm.Submission.Notes"></submission-notes-write>
            </write>
        </editable-field>
    </div>
</div>