﻿<div ng-class="{'tri-column-grid': vm.PolicyInformationFieldCount() > 8, 'tri-column-grid column-2': vm.PolicyInformationFieldCount() <= 8 && vm.PolicyInformationFieldCount() > 4 }">
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingUnit.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.UnderwritingUnit | codeItem | NA}}</div>
                </read>
                <write>
                    <select class="form-control" name="UnderwritingUnit" ng-model="vm.Submission.UnderwritingUnit" ng-change="vm.SubmissionWorkflow.UnderwritingUnitChanged(vm.Submission)" ng-options="i as (i | codeItemEdit) for i in vm.SubmissionWorkflow.UnderwritingUnits track by i.Code" validated-field="{icon: true}">
                        <option></option>
                    </select>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PolicySymbol.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.PolicySymbol.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicySymbol.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.PolicySymbol | codeItem | NA}}</div>
                </read>
                <write>
                    <select class="form-control" name="PolicySymbol" ng-model="vm.Submission.PolicySymbol" ng-options="i as (i | codeItemEdit) for i in vm.SubmissionWorkflow.PrimaryPolicySymbols track by i.Code" validated-field="{icon: true}">
                        <option></option>
                    </select>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols.Required">{{vm.SubmissionWorkflow.SubmissionType.PackagePolicySymbols.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <package-policy-symbols-read policy-symbols="vm.Submission.PackagePolicySymbols"></package-policy-symbols-read>
                </read>
                <write>
                    <package-policy-symbols-write policy-symbols="vm.Submission.PackagePolicySymbols"></package-policy-symbols-write>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.Underwriter.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.Underwriter.Required">{{vm.SubmissionWorkflow.SubmissionType.Underwriter.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.Underwriter.FullName | NA}}</div>
                </read>
                <write>
                    <select class="form-control" name="Underwriter" ng-model="vm.Submission.Underwriter" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.Underwriters track by i.UserName" validated-field="{icon: true}">
                        <option></option>
                    </select>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingAnalyst.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.UnderwritingAnalyst.FullName | NA}}</div>
                </read>
                <write>
                    <select class="form-control" name="UnderwritingAnalyst" ng-model="vm.Submission.UnderwritingAnalyst" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.UnderwritingAnalysts track by i.UserName" validated-field="{icon: true}">
                        <option></option>
                    </select>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician.Required">{{vm.SubmissionWorkflow.SubmissionType.UnderwritingTechnician.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.UnderwritingTechnician.FullName | NA}}</div>
                </read>
                <write>
                    <select class="form-control" name="UnderwritingTechnician" ng-model="vm.Submission.UnderwritingTechnician" ng-options="i as i.FullName group by i.Assignment for i in vm.Submission.ViewState.UnderwritingTechnicians track by i.UserName" validated-field="{icon: true}">
                        <option></option>
                    </select>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PolicyPremium.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.PolicyPremium.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicyPremium.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.PolicyPremium | currency | NA}}</div>
                </read>
                <write>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" name="PolicyPremium" type="text" ng-model="vm.Submission.PolicyPremium" />
                    </div>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PriorCarrier.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.PriorCarrier.Required">{{vm.SubmissionWorkflow.SubmissionType.PriorCarrier.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.PriorCarrier.Description | NA}}</div>
                </read>
                <write>
                    <span name="PriorCarrier" validated-field="{icon: true}" ng-model="vm.Submission.PriorCarrier" item-select="{ source: vm.SubmissionWorkflow.CarrierSearch, display: 'i.Description', matchTemplate: 'item-select-carrier', appendToBody: true, minLength: 1}"></span>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium.Required">{{vm.SubmissionWorkflow.SubmissionType.PriorCarrierPremium.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.PriorCarrierPremium | currency | NA }}</div>
                </read>
                <write>
                    <div class="input-group" validated-field="{icon: true, iconOnly: true, names: ['PriorCarrierPremium']}">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" name="PriorCarrierPremium" ng-model="vm.Submission.PriorCarrierPremium" validated-field />
                    </div>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.AcquiringCarrier.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.AcquiringCarrier.Required">{{vm.SubmissionWorkflow.SubmissionType.AcquiringCarrier.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.AcquiringCarrier.Description | NA}}</div>
                </read>
                <write>
                    <span name="AcquiringCarrier" validated-field="{icon: true}" ng-model="vm.Submission.AcquiringCarrier" item-select="{ source: vm.SubmissionWorkflow.CarrierSearch, display: 'i.Description', matchTemplate: 'item-select-carrier', appendToBody: true, minLength: 1}"></span>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.AcquiringCarrierPremium.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.AcquiringCarrierPremium.Required">{{vm.SubmissionWorkflow.SubmissionType.AcquiringCarrierPremium.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.AcquiringCarrierPremium | currency | NA }}</div>
                </read>
                <write>
                    <div class="input-group" validated-field="{icon: true, iconOnly: true, names: ['AcquiringCarrierPremium']}">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" name="AcquiringCarrierPremium" ng-model="vm.Submission.AcquiringCarrierPremium" validated-field />
                    </div>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-if="vm.SubmissionWorkflow.SubmissionType.PolicySystem.Enabled">
        <label is-required="vm.Editing && vm.SubmissionWorkflow.SubmissionType.PolicySystem.Required">{{vm.SubmissionWorkflow.SubmissionType.PolicySystem.Label}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <div>{{vm.Submission.PolicySystem | codeItem | NA}}</div>
                </read>
                <write>
                    <select class="form-control" name="PolicySystem" ng-model="vm.Submission.PolicySystem" ng-options="i as (i | codeItemEdit) for i in vm.SubmissionWorkflow.PolicySystems track by i.Code" validated-field>
                        <option></option>
                    </select>
                </write>
            </editable-field>
        </div>
    </div>
    <div class="form-group property-information" ng-repeat="b in vm.Submission.CompanyCustomizationBindings">
        <label is-required="vm.Editing && b.Customization.Required">{{b.Customization.Description}}</label>
        <div>
            <editable-field editing="vm.Editing">
                <read>
                    <company-customization-read binding="b"></company-customization-read>
                </read>
                <write>
                    <company-customization-write binding="b"></company-customization-write>
                </write>
            </editable-field>
        </div>
    </div>
</div>
<div ng-if="vm.SubmissionWorkflow.SubmissionType.ClassCodes.Enabled" ng-class="{'class-codes-container': vm.Editing}">
    <hr class="no-top-margin" />
    <div ng-show="!vm.Editing && vm.Submission.ClassCodes.length == 0">
        This submission does not have any class codes.
    </div>
    <div ng-hide="!vm.Editing && vm.Submission.ClassCodes.length == 0">
        <class-codes editing="vm.Editing" class-codes="vm.Submission.ClassCodes" view="submission"></class-codes>
    </div>
</div>