﻿<div class="related-submissions-tab">
    <div>
        <h3 class="no-top-margin">Application Submissions</h3>
        <div ng-show="vm.ApplicationSubmissions.length == 0">
            <p>This application does not have any other submissions.</p>
        </div>
        <div ng-hide="vm.ApplicationSubmissions.length == 0">
            <submissions fields="vm.RelatedSubmissionFields" submissions="vm.ApplicationSubmissions" disable-links="vm.IsModal"></submissions>
        </div>
    </div>
    <div>
        <div ng-switch="vm.Submission.DuplicateOfSubmission == null">
            <div ng-switch-when="true">
                <h3>Duplicates</h3>
                <p ng-show="vm.RelatedDuplicates.length == 0">
                    There are no duplicates of this submission.
                </p>
            </div>
            <div ng-switch-when="false">
                <h3>Other Duplicates of Submission #{{vm.Submission.DuplicateOfSubmission.Id}}</h3>
                <p ng-show="vm.RelatedDuplicates.length == 0">
                    This is the only submission that is a duplicate of #{{vm.Submission.DuplicateOfSubmission.Id}}.
                </p>
            </div>
        </div>
        <div ng-hide="vm.RelatedDuplicates">
            <loading-well text="Loading Submissions" layout="loading-well-sm"></loading-well>
        </div>
        <div ng-show="vm.RelatedDuplicates.length > 0">
            <submissions fields="vm.RelatedSubmissionFields" submissions="vm.RelatedDuplicates" disable-links="vm.IsModal"></submissions>
        </div>
    </div>
</div>
