﻿<div class="panel panel-default" ng-show="!PageLoading">
    <div class="panel-heading clearfix" style="padding: 8px 15px 7px 15px;">
        <h3 class="panel-title pull-left" style="margin-top: 3px">Activity Times</h3>
        <div class="pull-right">
            <button type="button" class="btn btn-info btn-xs" ng-click="NewActivityTime()">New Activity Time</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <table class="col-sm-12">
                <tr>
                    <td><label class="control-label">Year</label></td>
                    <td><label class="control-label">Month</label></td>
                    <td><label class="control-label">User</label></td>
                </tr>
                <tr>
                    <td>
                        <select ng-model="year" ng-init="year='2011';" ng-change="Activities.FilterChanged()" ng-options="y for y in years"></select>
                    </td>
                    <td>
                        <select ng-model="month" ng-init="month='03';" ng-change="Activities.FilterChanged()" ng-options="m.Code as m.Description for m in months"></select>
                    </td>
                    <td>
                        <select ng-model="user" ng-init="user='a1ded771-65ca-49bf-8580-8b1060ad7e0f';" ng-change="Activities.FilterChanged()" ng-options="u.ID as u.Name for u in Users"></select>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Days</th>
                    <th>CallCount</th>
                    <th>Activity Type</th>
                    <th>AllocatedTo</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tr ng-repeat="activitytime in Activities.DisplayItems()" class="cursor-pointer" ng-click="SelectActivityTime(activitytime)">
                <td>{{activitytime.Date | date : 'MM/dd/yyyy'}}</td>
                <td>{{activitytime.Hours}}</td>
                <td>{{activitytime.Days}}</td>
                <td>{{activitytime.CallCount}}</td>
                <td>{{activitytime.ActivityType.ActivityTypeName}}</td>
                <td>{{activitytime.AllocatedTo.Name}}</td>
                <td>{{activitytime.Comments}}</td>
            </tr>
            </tbody>
            <tfoot ng-show="Activities.ShowPager">
                <tr>
                    <td colspan="6" class="text-center">
                        <pagination on-select-page="Activities.ChangePage(page)" boundary-links="true" total-items="Activities.TotalItemCount" max-size="10" page="Activities.CurrentPage" items-per-page="Activities.ItemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>
</div>
<script type="text/ng-template" id="activitytime-item-modal">
    <div class="modal-header">
        <h3>Activity Time</h3>
    </div>
    <form class="form-horizontal" role="form" name="Form.Activities" ng-submit="Update()">
        <div class="modal-body">
            <alert ng-repeat="v in ValidationErrors" type="'danger'">{{v.Message}}</alert>
            <div class="form-group">
                <label class="col-sm-2 control-label">Activity Type</label>
                <div class="col-sm-4">
                    <select class="col-sm-12" ng-model="Item.ActivityType.ActivityTypeID" ng-options="a.ActivityTypeID as a.ActivityTypeName for a in Item.ActivityTypes"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Allocated To</label>
                <div class="col-sm-4">
                    <select class="col-sm-12" ng-model="Item.AllocatedTo.ID" ng-options="u.ID as u.Name for u in Item.Users"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input type="text" value="" class="form-control"  name="Date" datepicker-popup="MM/dd/yyyy" ng-model="Item.Date"  />
                    <!--<input type="date" class="form-control" name="Date" ng-model="Item.Date" />-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hours</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Hours" ng-model="Item.Hours" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Days</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Days" ng-model="Item.Days" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Comments</label>
                <div class="col-sm-10">
                    <textarea rows="5" class="form-control" name="Comments" ng-model="Item.Comments" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" ng-disabled="SavingItem" ng-click="Delete()" ng-show="ShowDelete">Delete</button>
                <input type="submit" ng-disabled="SavingItem" class="btn btn-primary" value="{{SaveButtonText}}" />
                <button type="button" class="btn btn-default" ng-disabled="SavingItem" ng-click="Cancel()">Cancel</button>
            </div>
        </div>       
    </form>
</script>

