﻿<div class="single-row-form impersonation-form">
    <div class="form-row">
        <label>Company:</label>
        <div>
            <select class="form-control" ng-model="vm.SelectedImpersonatableCompany" ng-options="i as i.Company.CompanyName for i in vm.ImpersonatableCompanies" ng-change="vm.SelectedImpersonatableCompanyChanged()" ng-disabled="vm.ImpersonatableCompanies == null" stop-click-propagation></select>
        </div>
    </div>
    <div class="form-row">
        <label>User:</label>
        <div>
            <select class="form-control" ng-model="vm.SelectedImpersonatableUser" ng-options="i as i.Description for i in vm.SelectedImpersonatableCompany.Users" ng-disabled="vm.SelectedImpersonatableCompany == null" stop-click-propagation></select>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-primary" ng-click="vm.Impersonate()" ng-disabled="vm.SelectedImpersonatableUser == null">Impersonate</button>
    </div>
</div>