﻿<div>
    <div class="side-nav" ng-class="{'side-nav-collapsed': vm.SideBarCollapsed}">
        <div class="side-nav-company">
            <div class="company-image" ng-class="{ 'rotated': vm.SideBarCollapsed}" style="background-image: url('/images/company/{{vm.User.Company.Abbreviation}}.svg')"></div>
        </div>
        <ul class="side-nav-menu">
            <li ng-repeat="link in vm.Links" ng-class="{active: link.IsActive()}">
                <a ui-sref="{{ link.RouteUrl }}" title="{{ link.Title }}">
                    <i class="{{ link.Icon }}"></i>
                    <span>{{ link.Title }}</span>
                </a>
            </li>
        </ul>
        <div class="side-nav-application">
            <i class="fa fa-shield"></i>
            <span>LOSS<br />CONTROL</span>
        </div>
    </div>
    <div class="page-container" ng-class="{'side-nav-collapsed': vm.SideBarCollapsed}">
        <div class="top-header">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="cursor-pointer width-40" ng-click="vm.ToggleSideBar()" title="{{(vm.SideBarCollapsed) ? 'Expand' : 'Collapse'}} Menu">
                            <i class="fa fa-bars"></i>
                        </td>
                        <td class="width-110">
                            <select class="form-control" ng-model="vm.NewRequestType" ng-options="item as item.Description for item in vm.RequestTypeCodes"></select>
                        </td>
                        <td>
                            <form ng-submit="vm.SubmitRequest()">
                                <label class="add-request-input-container">
                                    <span class="fa-stack">
                                        <i class="fa fa-file-text-o fa-stack-1x"></i>
                                        <i class="fa fa-plus-circle fa-stack-1x"></i>
                                    </span>
                                    <input type="text" class="form-control pull-left" placeholder="Add New Request by {{vm.NewRequestType.Description}}" ng-model="vm.NewRequestValue" ng-disabled="vm.CreatingNewRequest" />
                                </label>
                            </form>
                        </td>
                        <td class="width-80 text-center">
                            <button type="button" class="btn" ng-click="vm.OpenSearch()"><i class="fa fa-search fa-lg"></i></button>
                        </td>
                        <td class="width-150 text-center">
                            <button type="button" class="btn" ng-click="vm.OpenHelp()"><i class="fa fa-question-circle fa-lg"></i></button>
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="bordered-section text-center text-upper-case">Notifications</div>
                                    <div class="bordered-section notification-list">
                                        <a href>
                                            <img src="/images/avatar.png">
                                            <div>
                                                <h6>Item Title One</h6>
                                                <div>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                </div>
                                            </div>
                                        </a>
                                        <a href>
                                            <img src="/images/avatar.png">
                                            <div>
                                                <h6>Item Title Two</h6>
                                                <div>
                                                    I belive that. Lorem Ipsum is simply dummy text.
                                                </div>
                                            </div>
                                        </a>
                                        <a href>
                                            <img src="/images/avatar.png">
                                            <div>
                                                <h6>Item Title Three</h6>
                                                <div>
                                                    Lorem ipsum unknown printer took a galley.
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <small><a>View All</a></small>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" ng-click="vm.OpenProfile()"><i class="fa fa-user fa-lg"></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="bordered-section text-center text-upper-case">
                                        <div>{{vm.User.Name}}</div>
                                        <small>{{vm.User.Role.Name}}</small>
                                    </div>
                                    <div ng-if="vm.User.IsSystemAdministrator || vm.IsImpersonating">
                                        <div class="text-center text-upper-case">
                                            Impersonatation
                                        </div>
                                        <company-impersonation company-key="vm.companyKey"></company-impersonation>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ui-view></div>
    </div>
</div>