﻿<div class="modal-content-wrapper">
    <div class="modal-header">
        <h2 class="modal-title">Impersonation</h2>
    </div>
    <div class="modal-body">
        <company-impersonation company-key="companyKey" modal="modal"></company-impersonation>
    </div>
</div>