.inlineTB{
	font-family: Arial, Helvetica, Sans-serif ; 
	font-size: 10pt;
	color:	black;
}

.RS_MultiLineTB{
	margin:0px;
	padding:0px;
	font-family: 'Microsoft Sans Serif';
	font-size: 10pt;
	word-wrap: break-word;

}

.RS_MultiLineTB p{
	margin:0px;
}


.RS_SingleLineTB{
	margin:0px;
	padding:0px;

	font-family: 'Microsoft Sans Serif';
	font-size: 10pt;
	OVERFLOW: hidden;
	white-space: nowrap;
}


.RS_SingleLineTB_Disabled{
	margin:0px;
	padding:0px;
	font-family: 'Microsoft Sans Serif';
	font-size: 10pt;
	color: #ACA899;
		OVERFLOW: hidden;
	white-space: nowrap;
	
}
.RS_MultiLineTB_Disabled{
	margin:0px;
	padding:0px;
	font-family: 'Microsoft Sans Serif';
	font-size: 10pt;
	color: #ACA899;
		OVERFLOW: hidden;
	
	word-wrap: break-word;
}


.oldBrowserBox{
	/*OVERFLOW: scroll !important;*/
	border:1px solid #7F9DB9 !important; 
	/*padding: 2px !important;*/
	Z-INDEX: 900 !important;
	background-color: White !important;
	resize: none !important;
/*	margin:1px;*/
}

    .oldBrowserBox p
    {
        margin:0px;
    }

.rs_err_hl
{
	background-image: url(underline.png) !important;
	background-position: bottom !important;
	background-repeat: repeat-x !important;
	cursor: pointer !important;
	cursor: hand !important;
}

